@page "/user-page"
@using System.Security.Claims
@using GxShared.Sess
@using GxShared.Others
@using GxTie.Services

@inject IHttpClientFactory httpfacClient
@inject MyAuthStateProvider _myauthProvider
@inject NavigationManager _navmanager
@inject SessionContextService _sessionContext

<PageTitle>Private Page</PageTitle>

@if (errors == true)
{
    foreach (var error in errorList)
    {
        <div class="alert alert-danger">@error</div>
    }
}
@if (success == true)
{
    <div class="alert alert-success">@successmsg</div>
}
@if (peutSortir == true)
{
    <div>
        <button class="btn btn-danger" @onclick="vaReload">
            Sortir
        </button>
    </div>
}
<AuthorizeView>
    <Authorized>
        <h2>Attributs</h2>
        @if (_claims.Any())
        {
            <ul>
                @foreach (var claim in _claims)
                {
                    <li><b>@claim.Type:</b> @claim.Value</li>
                }
            </ul>
        }
        @if (isSet == 1)
        {
            //mot de passe oublie
            <h2>Mot de passe</h2>
            <div>
                <label for="oldpass">Ancien Mot de passe:</label>
                <InputText id="oldpass" @bind-Value="APassword" required
                           placeholder="Enter his-her nom" />
            </div>
            <div>
                <label for="nwpass">Nouveau Mot de passe:</label>
                <InputText id="nwpass" name="tiepnomInput" @bind-Value="NPassword" required
                           placeholder="Enter his-her prenom" />
            </div>
            <div>
                <label for="nwpassconf">Confirm nouveau Mot de passe:</label>
                <InputText id="flhpnom" name="tiepnomInput" @bind-Value="NPassconfirm" required
                           placeholder="Enter his-her prenom" />
            </div>
            <button type="button" class="btn btn-primary" @onclick="vaNwPassword">Demander</button>
        }
            @if (isSubmitting == false)
            {
                
            } else
            {
                <p>@submitmess</p>
            }
            @*mot de passe oublie *@
            <h2>Mot de passe</h2>
            <div>
                <label for="oldpass">Ancien Mot de passe:</label>
                <InputText id="oldpass" @bind-Value="APassword" required
                           placeholder="Enter his-her nom" />
            </div>
            <div>
                <label for="nwpass">Nouveau Mot de passe:</label>
                <InputText id="nwpass" name="tiepnomInput" @bind-Value="NPassword" required
                           placeholder="Enter his-her prenom" />
            </div>
            <div>
                <label for="nwpassconf">Confirm nouveau Mot de passe:</label>
                <InputText id="flhpnom" name="tiepnomInput" @bind-Value="NPassconfirm" required
                           placeholder="Enter his-her prenom" />
            </div>
            <button type="button" class="btn btn-primary" @onclick="vaNwPassword">Demander</button>
    </Authorized>
</AuthorizeView>

@code {
    private bool isLoading = false;
    private bool isSubmitting = false, errors = false, success = false;
    private string successmsg = "", submitmess="";
    private List<string> errorList = new List<string>();

    private bool isSent = false, peutSortir = false;
    private string _UserId = "", _curUname = "", _curEmail = "";
    private string APassword = "", NPassword = "", NPassconfirm = "";
    private int _UorgId = 0;
    private int isSet = 0, isDrap = 0;
    private Userbag _usrBag = new Userbag();

    private ResgnModel rspModel = new ResgnModel();

    private HttpClient _apiClient;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    public ClaimsPrincipal authUser;
    public bool isAuthenticated = false;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    //private int xiqmax = 2, xothogs = 2;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Astreintes Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Astreintes SUCCESS");
        }
        _usrBag = await _sessionContext.GetUserbagAsync();
        if (AuthState == null)
        {
            return;
        }

        peutSortir = false;

        _claims = authUser.Claims;
        _UserId = authUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        Console.WriteLine($"User PRIS : {_UserId}");
        _curUname = authUser.Identity.Name; //or _claims
        Console.WriteLine($"UserName PRIS {_curUname}");
        _curEmail = authUser.FindFirst(ClaimTypes.Email)?.Value;
        var uoan = _claims.FirstOrDefault(c => c.Type == "Gx.Orgid")?.Value;
        _UorgId = Convert.ToInt16(uoan);

        
        //await GetPrivData();

        StateHasChanged();
        Console.WriteLine($"orgid : {_UorgId}");
    } 
    private async Task vaReload()
    {//logout
        await _myauthProvider.NotifyUserLogout();
        _navmanager.NavigateTo("/");
    }
    private async Task vaNwPassword()
    {

        return;
    }
}