@page "/rtv11fic"
@layout EnrolMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using Components.Opera
@using GxShared.Sess
@using GxTie.ClieModels
@using GxTie.Services
@using GxTie.ClieModels
@using GxTie.Services
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject IJSRuntime _JsRun

<PageTitle>RtSFiche</PageTitle>

<div class="my-container">
    @if (toChild != null)
    {
        @ChildContent
    }
</div>
<Button Color="ButtonColor.Success" @onclick="PrintFiche">
    ❎ ImprimerRecepisse
</Button>
<Card class="print-area shadow-lg border-0 my-3">
    <CardHeader class="text-center bg-light">
        <h3>@toChild.curOrga.Raison</h3>
        <h2>@toChild.curProg.Liba</h2>
        @* <h1>@toChild.curSesio.Datses/@toChild.curSesio.Dseq</h1> *@
        <span>---</span>
        <div class="d-flex flex-row">
            <label class="fw-bold">Identity no :</label>
            <span>@curTier.Smatri</span>
            <label class="fw-bold ms-4">nom:</label>
            <span> @curTier.Nom @curTier.Pnom </span>
        </div>
        <div class="d-flex flex-row">
            <label class="fw-bold">Date Inscription :</label>
            <span>@curTier.Datc?.ToString("dd/MM/yyyy : HH:mm")</span>
            <label class="fw-bold ms-4">Date naissance :</label>
            <span> @curTier.Dnais?.ToString("dd/MM/yyyy") </span>
        </div>
        @* <small>Date: @DateTime.Now.ToShortDateString()</small> *@
    </CardHeader>

    <CardBody>
        <div class="row">
            <div class="col-1">Rang</div>
            <div class="col-1">Identity no</div>
            <div class="col-3">nom-pnoms</div>
            <div class="col-1">statut</div>
            <div class="col-1">sexe</div>
            <div class="col-2">date</div>
            <div class="col-3">rowId</div>
        </div>
        @foreach(var atie in curTier.Tieafls)
        {
            <div class="row">
                <div class="col-1">@atie.Irang</div>
                <div class="col-1">@atie.Xmatri</div>
                <div class="col-3">@atie.Nom @atie.Pnom</div>
                <div class="col-1">
                    <InputSelect @bind-Value="atie.Tyafl">
                        @foreach(var fx in LsFixes.Where(ut => ut.Gvars == 11))
                        {
                            <option value="@fx.Gp1">@fx.Liba</option>
                        }
                    </InputSelect>    
                </div>
                <div class="col-1">
                    <InputSelect @bind-Value="atie.Sexe">
                        @foreach (var fx in LsFixes.Where(ut => ut.Gvars == 11))
                        {
                            <option value="@fx.Gp1">@fx.Liba</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-2">@atie.Datc?.ToString("dd/MM")</div>
                <div class="col-3">@atie.Rowguid</div>
            </div>
        }
    </CardBody>

    <CardFooter class="text-center">
        <small>Thank you for your business!</small>
        <Paragraph>Generated on @DateTime.Now.ToString("g")</Paragraph>
    </CardFooter>
</Card>
@code 
{
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int ChxMenu { get; set; }
    [Parameter]
    public Tiersp curTier { get; set; } = new();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
   
    private string _UserId = "", plnDom = "", atrTitle = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();
    private List<Gpfixe> LsFixes = new();
    private List<Gpvar> LsVars = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpfixe> LsAtrs = new();
    private List<Gpfixe> LsVues = new();

    private async Task PrintFiche()
    {
        await _JsRun.InvokeVoidAsync("printForm", ".print-area");
    }
}
