@page "/atest"
@using GxShared.Formulas.ForaModels
@using GxShared.Formulas.ForaContext

<h3>Atest</h3>

<div class="text-center">
    <div class="row">
        <div class="col-2">
            <label>Formule :</label>
        </div>
        <div class="col-4">
            <InputText @bind-Value="InFormula" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Partie :</label>
        </div>
        <div class="col-3">
            <label>Position :</label>
        </div>
        <div class="col-3">
            <label>Type :</label>
        </div>
    </div>
            @foreach(var res in OutResulta)
            {
                <div class="row">
                    <div class="col-2">
                        @res.Value -->
                    </div>
                    <div class="col-3">
                        @res.Position
                    </div>
                    <div class="col-3">
                        @res.Type
                    </div>
                </div>        
            }
    </div>
    
    <div class="row">
        <div class="col-12">
        @foreach (var rt in resolvedTokens)
        {
            <div class="row flex-row">
                <div>
                    Token Value :@rt.Token.Value
                </div>
                <div>
                    Type: @rt.Token.Type
                </div>
                <div>
                    Resolved: @rt.IsResolved
                </div>
                <div>
                    Value: @rt.Value
                </div>
                <div>
                    Trust: @rt.Trust"
                </div>
            </div>
        }
        </div>
    </div>
<div class="row">
    <div class="col-6">
        result value : @wResultat.Value
    </div>
    <div class="col-6">
        result.Type : @wResultat.Type
    </div>
</div>
<div class="row">
    <div class="col-6">
        result value : @kResultat.GetType()
    </div>
    <div class="col-6">
        result.Type : @kResultat.ToString()
    </div>
</div>
<div class="row">
    <div class="col-2">
        <Button class="btn btn-primary btn-sm" @onclick="VaTester6">
            Calculer
        </Button>
    </div>
</div>
@code {
    private bool isLoading = true;
    private bool allEnable = false;
    private string InFormula = "";
    private List<FormulaToken> OutResulta = new();
    private List<InDataLineStream> inputData = new();
    private List<ResolvedToken> resolvedTokens = new();
    private FormulaResult wResultat = new();
    private object kResultat = new();
    protected override async Task OnInitializedAsync()
    {

    }
    private void VaTester1()
    {
        InFormula = "s130*3+v128";
        OutResulta = FormulaTokenizer.Tokenize(InFormula);
    }
    private void VaTester2()
    {
        var tokens = FormulaTokenizer.Tokenize("s130*3+if(p127=\"A1E1\";10;20)");
        var resolver = new FormulaSemanticResolver(tokens, inputData);
        resolvedTokens = resolver.Resolve();
        foreach (var rt in resolvedTokens)
        {
            Console.WriteLine($"Token: {rt.Token.Value}, Type: {rt.Token.Type}, Resolved: {rt.IsResolved}, Value: {rt.Value}, Trust: {rt.Trust}");
        }
    }
    private void VaTester3()
    {
        var formula = "s130*3+if(p127=\"A1E1\";10;20)";
        var tokens = FormulaTokenizer.Tokenize(formula);

        var inputData = new List<InDataLineStream>
{
    new InDataLineStream {
        Scdrub = "s130",
        Vtyp = LineType.Decimal,
        Result = new FormulaResult { Raw = "45.5", Type = LineType.Decimal, Value = 45.5m },
        Trust = TrustLevel.Valid
    },
    new InDataLineStream {
        Scdrub = "v128",
        Vtyp = LineType.Int,
        Result = new FormulaResult { Raw = "12", Type = LineType.Int, Value = 12 },
        Trust = TrustLevel.Valid
    }
};

        var resolver = new FormulaSemanticResolver(tokens, inputData);
        var resolvedTokens = resolver.Resolve();
    }

    private void VaTester4()
    {
        var formula = "s130*3+if(p127=\"A1E1\";10;20)";
        var tokens = FormulaTokenizer.Tokenize(formula);
        var resolver = new FormulaSemanticResolver(tokens, inputData);
        var resolved = resolver.Resolve();

        var evaluator = new FormulaEvaluator(resolved);
        var result = evaluator.Evaluate();
        wResultat = result;
        Console.WriteLine($"Result: {result.Value} ({result.Type})");
    }
    private void VaTester5()
    {
        var formula = "(v100+v120)*15/if(p127=\"A1E1\";10;20)";
        var tokens = FormulaTokenizer.Tokenize(formula);
        var resolved = new FormulaSemanticResolver(tokens, inputData).Resolve();

        // var parser = new FormulaExpressionParser(resolved);
        // var tree = parser.Parse();

        // var result = tree.Evaluate();
        // kResultat = result;
        // Console.WriteLine($"Result: {result} ({tree.Type})");
    }
    private void VaTester6()
    {
        var formula = "sum(i120..i123)";
        var tokens = FormulaTokenizer.Tokenize(formula);
        var resolved = new FormulaSemanticResolver(tokens, inputData).Resolve();

        // var parser = new FormulaExpressionParser(resolved);
        // var tree = parser.Parse();

        // var result = tree.Evaluate();
        // kResultat = result;
        // Console.WriteLine($"Result: {result} ({tree.Type})");
    }
}
