@page "/register"
@using System
@using System.Text
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using GxAdm.Services
@using GxWapi.DaModels
@using GxShared.Services
@using GxShared.Sess
@using GxShared.Regis
@using GxShared.Others
@using GxShared.Auth
@using GxAdm.Helpers
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json

@inject IHttpClientFactory httpfacClient
@inject LinkSerialiser _linkSerialiser
@inject IJSRuntime _jsRun
@inject TblJsonRender _tableService
@inject NavigationManager _navmanager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

@if (errors == true)
{
    foreach (var error in errorList)
    {
        <div class="alert alert-danger">@error</div>
    }
}
@* <Toast prefix="DK" position="right">
    jesuis
</Toast> *@
@if (success == true)
{
    <div class="alert alert-success">@successmsg</div>
}
<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        <EditForm Context="regform" Model="uogModel">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <label for="raison">Raison:</label>
                @if (_siProprio)
                {
                    <InputText id="raison" required @bind-Value="uogModel.Raison" />
                } else
                {
                    <label class="bg-danger bg-opacity-10">@uogModel.Raison</label>
                }
            </div>
            <div>
                <label for="sigle">Sigle:</label>
                @if (_siProprio)
                {
                    <InputText id="sigle" required @bind-Value="uogModel.Sigle" />
                } else
                {
                    <label class="bg-danger bg-opacity-10">@uogModel.Sigle</label>
                }
            </div>

            <div>
                <label>-----</label>
            </div>
            @if (success == false) {
                <div>
                    <label>Pseudo(caract.minus. : 6min15maxi):</label>
                </div>
                <div>
                    <InputText id="ouname" required @bind-Value="uogModel.Username" />
                    <ValidationMessage For="@(() => uogModel.Username)" />
                </div>
                <div>
                    <label for="phone">Phonenumber:</label>
                    <InputText id="phone" required @bind-Value="uogModel.Phonenumber" placeholder="phonenumber" />
                    <ValidationMessage For="@(() => uogModel.Phonenumber)" />
                </div>
                <div>
                    <label for="email">Email:</label>
                    @if (_siAllManager)
                    {
                        <label class="bg-danger bg-opacity-10">@uogModel.Email</label>
                    }
                    else
                    {
                        <InputText id="email" @bind-Value="uogModel.Email" placeholder="email" />
                        <ValidationMessage For="@(() => uogModel.Email)" />
                    }
                </div>
                <div>
                    <label>-----</label>
                </div>
                <div>
                    <label for="onom">Nom:</label>
                    <InputText id="onom" required @bind-Value="uogModel.Nom" />
                </div>
                <div>
                    <label for="opnoms">Prenom(s):</label>
                    <InputText id="opnoms" required @bind-Value="uogModel.Pnom" />
                </div>
                <div>
                    <label for="Srole">Role:</label>
                    <label class="bg-danger  bg-opacity-10" id="Toqsrole">@uogModel.Srole</label>
                </div>
                <div>
                    <label for="ppays">Pays:</label>
                    @if (_myCatal != null)
                    {
                        if (_myCatal.Countries != null && _myCatal.Countries.Count > 0)
                        {
                            <select id="ppays" @bind="uogModel.Ipays" disabled>
                                @foreach (var utp in _myCatal.Countries)
                                {
                                    <option value="@utp.Elea">@utp.Liba</option>
                                }
                            </select>
                        }
                        else
                        {
                            <p>pas de pays</p>
                        }
                    }
                    else
                    {
                        <p>Loading...</p>
                    }
                </div>
                <div>
                    <label for="plang">Langue:</label>
                    @if (_myCatal != null)
                    {
                        if (_myCatal.Langues != null && _myCatal.Langues.Count > 0)
                        {
                            <select id="plang" @bind="uogModel.Ilang">
                                @foreach (var utp in _myCatal.Langues)
                                {
                                    <option value="@utp.Elea">@utp.Liba</option>
                                }
                            </select>
                        } else
                        {
                            <p>pas de langue</p>
                        }
                    }
                    else
                    {
                        <p>Loading...</p>
                    }
                </div>
                <div>
                    <label for="password">Password:</label>
                    <InputText id="password" required @bind-Value="_password" />
                </div>
                <div>
                    <label for="confirmpassword">Confirm Password:</label>
                    <InputText id="confirmpassword" required  @bind-Value="_confirmPassword" />
                </div>
                <div>
                    @if (isLoading)
                    {
                        <p>Registring (PATIENCE!...)</p>
                    } else
                    {
                    <div>Enregistrez-vous pour @uogModel.Sigle</div>
                        <button class="btn btn-primary" type="submit" @onclick="DoRegisterAsync">
                            Register
                        </button>    
                    }
                </div>
            }else
            {
                <div class="alert alert-success">@successmsg</div>
            }
        </EditForm>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string cdlink { get; set; }

    private bool isLoading = false, errors = false, success = false;
    private string successmsg = "";
    private List<string> errorList = new List<string>();

    private string _password = "", _confirmPassword="";
    private string UserLogged = "";
    private TableSet _myCatal = new();

    private UsrOgSetModel uogModel = new();
    private HttpClient _logClient;
    private HttpClient _dftClient;
    private bool _siAllManager = false;
    private bool _siProprio = false;

    protected override async Task OnInitializedAsync()
    {
        var testbaseAddress = _navmanager.BaseUri.TrimEnd('/');
        Console.WriteLine($"BASEURI is {testbaseAddress}");
        errors = false; success = false; successmsg = ""; isLoading = false;
        if (!string.IsNullOrEmpty(cdlink))
        {
            //var _LinkSerialiser = new LinkSerialiser(_jsRun);
            uogModel = _linkSerialiser.DecodeAndDeserialize<UsrOgSetModel>(cdlink);
            //tests
        }
        _logClient = httpfacClient.CreateClient("OFFLClient");
        _dftClient = httpfacClient.CreateClient("DefaultClient");
        Console.Write("Zone table");
    }
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _myCatal = await _tableService.rendTables();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Tables loading issue : {ex.Message}");
            // Log or handle error, e.g. show toast notification with BlazorBootstrap.Toast
        }
    }
    public async Task DoRegisterAsync()
    {
        errors = false; success = false; isLoading = true;
        //email required//owner-siset/free others
        if (_siAllManager)
        {
            if (string.IsNullOrWhiteSpace(uogModel.Email))
            {
                errors = true;
                errorList.Add("Email is required.");
                isLoading = false;
                return;
            } else
            {
                var normalizedEmail = uogModel.Email.ToUpperInvariant();
                if (normalizedEmail == null)
                {
                    errors = true;
                    errorList.Add("Email contains inacceptable characters.");
                    isLoading = false;
                    return;
                }
            }
        }
        //uogModel.Username = uogModel.Email ?? uogModel.Phonenumber;
        //si par email ou phonenumber
        if (string.IsNullOrWhiteSpace(_password))
        {
            errors = true;
            errorList.Add("Password is required.");
            isLoading = false;
            return;
        }
        if (string.IsNullOrWhiteSpace(uogModel.Username))
        {
            errors = true;
            errorList.Add("Username is required.");
            isLoading = false;
            return;
        }
        if (string.IsNullOrWhiteSpace(_confirmPassword))
        {
            errors = true;
            errorList.Add("Please confirm your password.");
            isLoading = false;
            return;
        }

        if (_password != _confirmPassword)
        {
            errors = true;
            errorList.Add("Passwords don't match.");
            isLoading = false;
            return;
        }
        if (string.IsNullOrWhiteSpace(uogModel.Raison))
        {
            errors = true;
            errorList.Add("Raison est obligatoire.");
            isLoading = false;
            return;
        }
        uogModel.Password = _password;
        uogModel.ConfirmPassword = _confirmPassword;
        if (string.IsNullOrEmpty(uogModel.HlpEmail))
        {
            errors = true;
            errorList.Add("Probleme a la commande Email vendeur.");
            isLoading = false;
            return;   
        }
        bool sibien = await VerifConcordances(uogModel); //IsPret
        if (sibien)
        {// tout Ok declenche enregistrement par Acct
            try
            {
                Console.WriteLine("PARTI POUR ENREGISTREMENT");
                //recuperer baseAddress of the blazor
                var baseAddress = _navmanager.BaseUri.TrimEnd('/');
                //?????
                uogModel.FbackUrl = baseAddress;
                var response = await _logClient.PostAsJsonAsync("regis/stdtregis", uogModel, CancellationToken.None);
                if (response.IsSuccessStatusCode)
                {
                    var usrdata = await response.Content.ReadFromJsonAsync<LoginResult>();
                    if (usrdata != null)
                    {
                        Console.WriteLine($"retour Email Enreg : {usrdata.Succeeded}");
                        Console.WriteLine($"all returned userdata : {usrdata}");
                        UserLogged = uogModel.Email;
                        // SndmModel sdmInfo = new SndmModel();
                        // sdmInfo.TypMail = 2;
                        // sdmInfo.MailTo = uogModel.DeqEmail; //email inviteur
                        // sdmInfo.MailSubject = "Achat ou Inscription";
                        // sdmInfo.MailBody = "nouveau acheteur, un acheteur/" + uogModel.Email;

                        //errorList = [];
                        successmsg = "SUCCES...Consultez votre boite email pour confirmation de votre enregistrement sur le siteweb du logiciel."; 
                        success = true; isLoading = false; errors = false;
                        return;
                        //_navmanager.NavigateTo("/");
                    }
                    else
                    {
                        successmsg = "";
                        errorList.Add("31ECHEC ENREGISTREMENT!... (le mot de passe : au moins 6 caracteres, au moins un caractere en minuscule, un caractere special comme @, un caractere majuscule, un chiffre...) Re-essayez/support.");
                        errors = true; success = false;
                        Console.WriteLine("VERS VERS 17");
                        isLoading = false;
                        return;
                    }
                }
                else
                {
                    successmsg = "";
                    errorList.Add("32ECHEC ENREGISTREMENT!... (le mot de passe : au moins 6 caracteres, au moins un caractere en minuscule, un caractere special comme @, un caractere majuscule, un chiffre...) Re-essayez/support.");
                    var usrdata = await response.Content.ReadFromJsonAsync<LoginResult>();
                    if (usrdata != null)
                    {
                        foreach (var era in usrdata.ErrList)
                        {
                            errorList.Add(era);
                        }
                    }
                    errors = true; success = false;
                    Console.WriteLine($"VERS VERS 18 {errorList}");
                    isLoading = false;
                    return; 
                }
            }catch(Exception ex)
            {
                successmsg = "";
                errorList.Add($"Remplissage formulaire peu concordant. {ex.Message}");
                errors = true; success = false;
                Console.WriteLine("VERS VERS 19");
                isLoading = false;
                return;
            }
        } else
        {
            successmsg = "";
            errorList.Add($"3z!... Error.");
            errors = true; success = false;
            isLoading = false;
            return;
        }
        //StateHasChanged();
    }

    // public async Task RendsQueryString()
    // {
    //     var niv = 0;
    //     try {
    //         var uri = _navmanager.ToAbsoluteUri(_navmanager.Uri);
    //         uogModel.CodInvit = uri.ToString();
    //         var inqry = uri.Query;
    //         //decode A

    //         var outquery = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
    //         Console.WriteLine($" query out : {outquery}");
    //         Dictionary<string, string> queryParams = new Dictionary<string, string>();
    //         if (outquery.TryGetValue("cdlnk", out var encodlnk))
    //         {
    //             var bytes = WebEncoders.Base64UrlDecode(encodlnk);
    //             var query = Encoding.UTF8.GetString(bytes);
    //             queryParams = query
    //                 .Split('&')
    //                 .Select(pair => pair.Split('='))
    //                 .Where(keyValue => keyValue.Length == 2)
    //                 .ToDictionary(keyValue => Uri.UnescapeDataString(keyValue[0]), keyValue => Uri.UnescapeDataString(keyValue[1]));

    //             Console.WriteLine($" query in : {query} queryParams : {queryParams}");
    //             //>>??????
    //             //uogModel.ICoda = queryParams["icoda"];
    //             //Console.WriteLine($"RECU CODE : {uogModel.ICoda}");
    //             DateTime.TryParse(queryParams["datcde"], out DateTime cddate);
    //             uogModel.Datope = cddate;
    //             int.TryParse(queryParams["orig"], out int IntQry);
    //             uogModel.Orig = IntQry;
    //             uogModel.Srole = queryParams["tqsrole"];
    //             uogModel.Nom = queryParams["toqnom"];
    //             uogModel.Pnom = queryParams["toqpnoms"];
    //             uogModel.Raison = queryParams["straison"];
    //             uogModel.Weburl = queryParams["stsite"];
    //             uogModel.Sdoma = queryParams["stdoma"];
    //             uogModel.Sigle = queryParams["stsigle"];
                
    //             //uogModel.Deqid = queryParams["deqid"];
    //             //uogModel.DeqEmail = queryParams["deqmail"];
    //             //uogModel.DeqPhone = queryParams["deqphone"];
    //             //uogModel.DeqUname = queryParams["dequname"];
    //             //uogModel.DeqNom = queryParams["deqnom"];
    //             //uogModel.DeqPnom = queryParams["deqpnom"];
                
    //             uogModel.Email = queryParams["toqmail"];
    //             uogModel.Phonenumber = queryParams["phone"];
    //             //uogModel.lang = queryParams["toqlang"];
    //             uogModel.Srole = queryParams["dqsrole"];

    //             int.TryParse(queryParams["ivorga"], out IntQry);
    //             uogModel.Idorg = IntQry;
    //             int.TryParse(queryParams["dequi"], out IntQry);
    //             uogModel.Dequi = IntQry;
    //             _siAllManager = false;
    //             if (uogModel.Dequi <= 3)
    //             {
    //                 _siAllManager = true;
    //             }
    //             int.TryParse(queryParams["toqui"], out IntQry);
    //             uogModel.Toqui = IntQry;
    //             uogModel.Utyp = IntQry;
    //             //int.TryParse(queryParams["typadm"], out IntQry);
    //             ///uogModel.Atyp = IntQry;
    //             niv = 2;
    //             //uogModel.Toqid = query["toqid"];
    //             int.TryParse(queryParams["opays"], out IntQry);
    //             uogModel.Ipays = IntQry;
    //             int.TryParse(queryParams["typtie"], out IntQry);
    //             uogModel.Utyp = IntQry;
    //             int.TryParse(queryParams["tqirole"], out IntQry);
    //             uogModel.Irole = IntQry;
    //             //uogModel.Siowner = false;
    //             // _siProprio = false;
    //             // int.TryParse(queryParams["isowner"], out IntQry);
    //             // if (IntQry == 1)
    //             // {
    //             //     uogModel.Siowner = true;
    //             //     _siProprio = true;
    //             // }
    //             int.TryParse(queryParams["tysite"], out IntQry);
    //             uogModel.Iwurl = IntQry;

    //             int.TryParse(queryParams["tydoma"], out IntQry);
    //             uogModel.Idoma = IntQry;
    //             niv = 3;
    //             int.TryParse(queryParams["methp"], out IntQry);
    //             uogModel.Imethp = IntQry;
    //             int.TryParse(queryParams["isowner"], out IntQry);
    //             //uogModel.Siowner = false;
    //             //uogModel.Atyp = 0;
    //             // if (IntQry == 1)
    //             // {
    //             //     uogModel.Siowner = true;
    //             //     //uogModel.Atyp = 1;
    //             // }
    //             int.TryParse(queryParams["hiera"], out IntQry);
    //             uogModel.Idhie = IntQry;
    //             int.TryParse(queryParams["nbalea"], out IntQry);
    //             uogModel.Iqmax = IntQry; //nbalea = 11013946 & verif = kUlrubRm
    //             niv = 4;
    //         }
    //     } catch(Exception ex)
    //     {
    //         Console.Write("mon ex erreur");
    //         Console.WriteLine(ex.Message);
    //         isLoading = false;
    //     }
    //     finally
    //     {
    //         Console.Write("fin");
    //         Console.WriteLine(niv);
    //         isLoading = false;
    //     }
    // }
    private async Task<bool> VerifConcordances(UsrOgSetModel uogModel)
    {
        //uogModel.IsPret = true;
        
        return true;
    }
    //dqirole
    //dqsrole
    //tqirole
    //tosrole;
    //toqlang
    //typtie
    //straison
    //ivorga
    //tydoma
    //stdoma
    //verif
}
