@page "/mutatio"
@layout CarriMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxShared.Sess
@using GxTie.ClieModels
@using GxTie.Services
@using GxTie.Components.Paccu.RtPer
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject SessionContextService _sessionContext
@inject RendAgres _rendAgres

<!-- InscTiewComponent.razor -->
<PageTitle>Saisie.Carriere</PageTitle>
<PageTitle>Saisie.Enrollement</PageTitle>
<div>
    @Imessage
</div>
@if (isLoading)
{
    <div class="text-center">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Medium" />
        <p>Saisie.Enrollement Loading...</p>
    </div>
}

<div class="my-container">
    @if (toChild != null)
    {
        @ChildContent
    }
</div>

<!--VISIBLE SAISIE-->
@if (isFicheVisible)
{
    <RtV11Fic @ref="myftie"
              curOrga="@curOrga"
              toChild="@toChild"
              curODContext="@curODContext"
              curTier="@curTier">
        <ChildContent>
            <h2 class="child-box">Fiche d'Inscription</h2>
        </ChildContent>
    </RtV11Fic>
}
@if (isLoading)
{
    <div class="text-center">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Medium" />
        <p>Saisie.Carriere Loading...</p>
    </div>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                @* <label class="me-2">Domaine :</label>
                                <InputSelect @bind-Value="ITMyDom" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?domaine</option>
                                    @foreach (var tob in LsDoms) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                                    {
                                        <option value="@tob.Gp2" @onclick="() => SelPlanDom(tob.Gp2)">@tob.Liba</option>
                                    }
                                </InputSelect> *@
                                <label>Session : </label>
                                <div class="text-center">
                                    <InputSelect id="sesId" @bind-Value="IMySes">
                                        <option value="0">session?</option>
                                        @foreach (var oses in toChild.LsSess)
                                        {
                                            <option value="@oses.Id">@oses.Sref</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (!String.IsNullOrEmpty(Kmessage))
                            {
                                <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                            }
                        </div>
                        <div class="row">
                            @* @if (IMySes != 0)
                            { *@
                                <Tabs @bind-ActiveTabIndex="activeTabIndex" EnableFadeEffect="true">
                                    <Tab Title="Tiers">
                                        <Content>
                                            <!--Contenu des Tiers-->
                                            <div class="form-group">
                                                <label class="fw-bold">Organigramme :</label>
                                                <InputSelect @bind-Value="ITMyDiv" class="me-3" style="width:auto">
                                                    <option class="jchx" value="0">?div</option>
                                                    @foreach (var idv in _lsDivs.Where(dv => dv.Pdom == 6))
                                                    {
                                                        <option value="@idv.Ipln">@idv.Liba</option>
                                                    }
                                                </InputSelect>
                                                    <button class="btn btn-info btn-sm" @onclick="ToggleTieFiltering">
                                                        @(isTieFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                    </button>
                                            </div>
                                            <Grid TItem="Tiersp"
                                                  Data="@MyDaTies"
                                                  AllowDetailView="true"
                                                  AllowRowClick="true"
                                                  OnRowClick="@OnTierRowClick"
                                                  AllowPaging="true"
                                                  AllowFiltering="@isTieFilteringEnabled"
                                                  Responsive="true">
                                                <GridColumns>
                                                    <GridColumn TItem="Tiersp" HeaderText="No" Filterable="false">
                                                        <ChildContent Context="item">
                                                            @if (item.Xadd1 == -2)
                                                            {
                                                                <span>?@jtie</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="plnpoint">@item?.Iele</span>
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Tiersp" HeaderText="Nom-Prenom(s)">
                                                        <ChildContent Context="item">
                                                            @item.Nom @item.Pnom
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Tiersp" HeaderText="Matricule">
                                                        <ChildContent Context="item">
                                                            @if (editingTiwRowGuid == item.Rowguid)
                                                            { // show draftTiw inputs
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Tiersp" Class="col-md-2" HeaderText="ActuelDivision">
                                                        <ChildContent Context="item">
                                                            <InputSelect class="standard-width" id="TypDiv" @bind-Value="item.Ihie" disabled>
                                                                <option value="0">Aucun</option>
                                                                @foreach (var divo in _lsDivs)
                                                                {
                                                                    <option value="@divo.Ihie">@divo.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Tiersp" Class="col-md-1" HeaderText="ActuelPoste">
                                                        <ChildContent Context="item">
                                                            <InputSelect class="standard-width" id="TypPst" @bind-Value="item.Ipst" disabled>
                                                                <option value="0">Aucun</option>
                                                                @foreach (var divo in _lsDivs.FirstOrDefault(d => d.Ihie == item.Ihie)?.Divpsts ?? Enumerable.Empty<Divpst>())
                                                                {
                                                                    <option value="@divo.Ipst">@divo.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Tiersp" Class="col-md-2" HeaderText="NewDivision">
                                                        <ChildContent Context="item">
                                                            @if (isEditing)
                                                            { // show draftTiw inputs
                                                              <InputSelect class="standard-width" id="TypDiv" @bind-Value="item.Nwhie">
                                                                  <option value="0">Aucun</option>
                                                                    @foreach (var divo in _lsDivs)
                                                                    {
                                                                        <option value="@divo.Ihie">@divo.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                            else
                                                            {
                                                                <InputSelect class="standard-width" id="TypDiv" @bind-Value="item.Nwpst" disabled>
                                                                    <option value="0">Aucun</option>
                                                                    @foreach (var divo in _lsDivs)
                                                                    {
                                                                        <option value="@divo.Ipst">@divo.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Tiersp" Class="col-md-1" HeaderText="NewPoste">
                                                        <ChildContent Context="item">
                                                            @if (isEditing)
                                                            { // show draftTiw inputs
                                                              <InputSelect class="standard-width" id="TypPst" @bind-Value="item.Nwpst">
                                                                  <option value="0">Aucun</option>
                                                                    @foreach (var divo in _lsDivs.FirstOrDefault(d => d.Ihie == item.Ihie)?.Divpsts ?? Enumerable.Empty<Divpst>())
                                                                    {
                                                                        <option value="@divo.Ipst">@divo.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                            else
                                                            {
                                                                <InputSelect class="standard-width" id="TypPst" @bind-Value="item.Nwpst" disabled>
                                                                    <option value="0">Aucun</option>
                                                                    @foreach (var divo in _lsDivs.FirstOrDefault(d => d.Ihie == item.Ihie)?.Divpsts ?? Enumerable.Empty<Divpst>())
                                                                    {
                                                                        <option value="@divo.Ipst">@divo.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                <GridColumn TItem="Tiersp" HeaderText="Actions" Filterable="false" Class="xcol2 actions-col">
                                                    <ChildContent Context="item">
                                                        @switch (GetRowState(item.Rowguid))
                                                        {
                                                            case RowState.Locked:
                                                                <span class="text-muted">—</span>
                                                                break;

                                                            case RowState.DeletePending:
                                                                <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                        @onclick="() => ConfirmDelete(item, EntityLevel.Plan)">
                                                                    ⚠️ Confirm
                                                                </Button>
                                                                <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                        @onclick="() => CancelDelete(item, EntityLevel.Plan)">
                                                                    ❎ Cancel
                                                                </Button>
                                                                break;
                                                            case RowState.EditPending:
                                                                <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                        Disabled="@(item.Xadd1 == -1)"
                                                                        @onclick="() => ConfirmPlnEdit(item)">
                                                                    ✅ Confirm
                                                                </Button>
                                                                <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                        Disabled="@(item.Xadd1 == -1)"
                                                                        @onclick="() => CancelPlnEdit(item)">
                                                                    ❌ Cancel
                                                                </Button>
                                                                break;
                                                            default:
                                                                <Button Color="ButtonColor.Warning" Size="ButtonSize.Small"
                                                                        @onclick="() => StartTiwEdit(item, item.Rowguid)">
                                                                    ✏️ Edit
                                                                </Button>
                                                                <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                        @onclick="() => StartRowDelete(item.Rowguid, EntityLevel.Plan)">
                                                                    🗑 Delete
                                                                </Button>
                                                                break;
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                </GridColumns>
                                            </Grid>
                                        </Content>
                                    </Tab>
                                    <Tab Title="Matiere">
                                        <Content>
                                            <!--Contenu des matieres-->
                                            <div class="form-group">
                                                <label class="fw-bold">Schema :</label>
                                                <InputSelect @bind-Value="IKMyDom" class="me-3" style="width:auto">
                                                    <option class="jchx" value="0">?dom</option>
                                                    @foreach (var idv in _lsDivs.Where(ud => ud.Pdom == 7))
                                                    {
                                                        <option value="@idv.Ihie">@idv.Liba</option>
                                                    }
                                                </InputSelect>
                                            @* <label class="fw-bold">Produit :</label>
                                            <InputSelect @bind-Value="curProd" class="me-3" style="width:auto">
                                                <option class="jchx" value="0">?prod</option>
                                                @foreach (var ipd in LsProds)
                                                {
                                                    <option value="@ipd.Id">@ipd.Liba</option>
                                                }
                                            </InputSelect> *@
                                            @if (!isEditing)
                                            {
                                                <button class="btn btn-info btn-sm" @onclick="ToggleArtFiltering">
                                                    @(isArtFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                </button>
                                            }
                                            </div>
                                            @* <Grid TItem="Stkart"
                                                  Data="@MyDaArts"
                                                  AllowDetailView="true"
                                                  AllowRowClick="true"
                                                  OnRowClick="@OnArtRowClick"
                                                  AllowPaging="true"
                                                  AllowFiltering="@isArtFilteringEnabled"
                                                  Responsive="true">
                                                <GridColumns>
                                                    <GridColumn TItem="Stkart" HeaderText="No" Filterable="false">
                                                        <ChildContent Context="item">
                                                            @if (item.Xadd1 == -2)
                                                            {
                                                                <span>?@jtie</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="plnpoint">@item?.Tseq</span>
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                </GridColumns>
                                            </Grid> *@
                                        </Content>
                                    </Tab>
                                </Tabs>
                            @* } *@
                        </div>
                    </EditForm>
                }
            </div>
        </Authorized>
    </AuthorizeView>
}
<style>
    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }

    .rubModal-wide .modal-dialog {
        max-width: 65vw;
        width: auto;
        margin: auto;
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }

    .formul.button {
        pointer-events: none;
        opacity: 0.5;
        heignt: btn btn-success btn-sm
    }

    .plnpoint {
        font-weight: bold;
        background-color: blue;
        color: white;
    }

    .rubpoint {
        font-weight: bold;
        background-color: yellow;
        color: black;
    }

    .fmtpoint {
        font-weight: bold;
        background-color: darkolivegreen;
        color: black;
    }
</style>
@code {
    private bool isLoading = true;
    private bool isFicheVisible = false;
    // private AccuAfil myafl;

    private string Imessage = "", Jmessage = "", Kmessage = "", stopenFich = "OuvrirRecepisse";

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int? Tgpe { get; set; }
    [Parameter]
    public int? Ugpe { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    //guard
    [Parameter]
    public PendingChangesGuard _guard { get; set; }
    [Parameter]
    public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter]
    public int NbChanges { get; set; }
    [Parameter]
    public EventCallback<int> NbChangesChanged { get; set; }  // 🔥 CRITICAL
    //private Tiersp gridTier = new Tiersp();
    //private Plngen curTier = new Plngen();
    //private List<Rubvar> LsRubs = new List<Rubvar>();
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;

    private int activeTabIndex = 0;
    private RtV11Fic myftie { get; set; }
    private string plnDom = "", atrTitle = "";

    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();
    private Dictionary<Guid, RowState> _rowStates = new();
    private Dictionary<Guid, bool> _isLightBg = new();  // Track light background
    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();

    //private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpvar> LsVars = new();

    //Global
    private int ITMyDom = 6, IKMyDom = 7;
    //private int IMyPlan = 0, ITMyDom = 0;
    private int IMySes, ITMyDiv = 0, IKMyDiv = 0;
    private int IMyPln = 0, IMyVue = 0, IMyGtie = 0, IMyAtr = 0;
    private int? tiwMax = 0, jtie = 0;

    private List<Gpfixe> LsDoms = new();
    private List<Gpfixe> LsPTyps = new();
    private List<Gpfixe> LsPDoms = new();
    private List<Gpfixe> LsAtrs = new();
    private List<Gpfixe> LsGties = new();
    private List<Gpfixe> LsVues = new();
    private List<Gpdivh> _lsDivs = new List<Gpdivh>();

    private Guid? _activeEditRowguid = null;
    private EntityLevel? _activeEditLevel = null;
    private bool IsAnyRowEditing => _activeEditRowguid != null;

    public GridMode GtieMode = GridMode.None;
    public GridMode GaflMode = GridMode.None;

    private Gpdivh _curDiv => _lsDivs.FirstOrDefault(ud => ud.Ihie == ITMyDiv);
    private List<Gplan> LsPlans => toChild.LsPlans.Where(pl => pl.Ptyp == 4 && pl.Todom == ITMyDom).ToList();
    //private List<Stkpdt> LsProds => curOrga.Stkpdts.ToList();


    private string atrDest = "Programmes de Saisie :";
    private Tiersp curTier = new();
    //private Stkpdt curProd = new();
    //private Stkart curArt = new();
    // private Rubvar curRubr = new();
    // private Rubfmt curFmat = new();
    private bool siTiwAdding = false;// siRubAdding = false, siFmtAdding = false;
    private Modal plnModal; // rubModal, fmtModal;

    //pere-editing/adding/deleting
    //private Guid? addingTiwRowGuid;
    //private Guid? addingTiwRowGuid;
    //private Guid? ConfirmingTieDeleteRowGuid;

    //private Dictionary<int, Plngen> _originalFixSnapshots = new();
    //Dictionary<int, Plngen> fxpaterMapByIdpln = new();

    //fils-editing/adding/deleting
    private bool isEditing = true;

    //private Guid? AddingRubRowGuid; //cmodal
    //private Guid? EditingRubRowGuid;
    //private Guid? ConfirmingRubDeleteRowGuid;

    private Dictionary<Guid, EditContext> rowEditContexts = new();
    private Tiewel curTie = new();
    private Tiwafl curAfl = new();

    private Dictionary<int, List<Tiersp>> gTiwsMap = new();
    //Grid Data feed management Accepted (accorde, non rejeter et non integre
    public List<Tiersp> MyDaTies => curOrga.Tiersps
        .Where(tie => tie.Ihie == 0) //stade inscr tie.Wlcstat >= 4
        .ToList();
    public List <Tiersp> MyDaTiesAtt => curOrga.Tiersps
       .Where(tie => tie.Ihie == ITMyDiv) //non mute
        .ToList();
    // public List<Stkart> MyDaArts => curProd.Stkarts
    //     .Where(art => art.Ihie == 0) //stade inscr tie.Wlcstat >= 4
    //     .ToList();
    // public List<Stkart> MyDaArtsAtt => curProd.Stkarts
    //    .Where(art => art.Ihie == ITMyDiv) //non mute
    //     .ToList();
    // enum Scenario { None, Yaeche, Yagrill, Yaschm }
    // Scenario currentScenario =>
    //     IMyGpln switch
    //     {
    //         2 => Scenario.Yaeche,
    //         3 => Scenario.Yagrill,
    //         4 => Scenario.Yaschm,
    //         _ => Scenario.None
    //     };
    // public List<Plngen> MyDaPlans =>
    // currentScenario switch
    // {
    //     Scenario.Yaeche => ITMyDom > 0
    //         ? curOrga.Plngens
    //             .Where(pl => pl.Ptyp == IMyGpln && pl.Todom == ITMyDom)
    //             .ToList()
    //         : new List<Plngen>(),
    //     Scenario.Yagrill => ITMyDom > 0 && IMyAtr > 0
    //         ? curOrga.Plngens
    //             .Where(pl => pl.Ptyp == IMyGpln && pl.Todom == ITMyDom && pl.Toatr == IMyAtr && pl.Totyp == IMyGtie)
    //             .ToList()
    //         : new List<Plngen>(),
    //     Scenario.Yaschm => ITMyDom > 0 && IMyVue > 0
    //         ? curOrga.Plngens
    //             .Where(pl => pl.Ptyp == IMyGpln && pl.Todom == ITMyDom && pl.Tovue == IMyVue)
    //             .ToList()
    //         : new List<Plngen>(),
    //     _ => new List<Plngen>()
    // };

    private Guid? addingTiwRowGuid; //pmodal
    private Guid? editingTiwRowGuid;
    private Guid? ConfirmingTieDeleteRowGuid;
    // private Guid? AddingRubRowGuid; //cmodal
    // private Guid? EditingRubRowGuid;
    // private Guid? ConfirmingRubDeleteRowGuid;
    // private Guid? AddingFmtRowGuid; //cmodal
    // private Guid? EditingFmtRowGuid;
    // private Guid? ConfirmingFmtDeleteRowGuid;
    //pere
    private List<Tiersp> TieNewRows => gTiwsMap.TryGetValue(curOrga.Idorg, out var rows)
    ? new List<Tiersp>(rows)
     : new List<Tiersp>();
    // // //fils
    // private List<Rubvar> GrubNewRows => gRubsMap.TryGetValue(curTier.Idpln, out var rows)
    // ? new List<Rubvar>(rows)
    // : new List<Rubvar>();
    // // //petit-fils
    // private List<Rubfmt> GfmtNewRows => gFmtsMap.TryGetValue(curRubr.Idrub, out var rows)
    // ? new List<Rubfmt>(rows)
    // : new List<Rubfmt>();

    //PLAN
    private Guid? TiwRenderKey = null;
    private Dictionary<Guid, Tiersp> _edPlnOriginals = new();
    private Tiersp? draftTiw = null;
    private bool isAddTiw = false;
    private bool isEdtTiw = false;
    private Guid? AdTiwRowguid = null;
    private Guid? EdTiwRowguid = null;// Currently editing row ID
    private Guid? DlTiwRowguid = null;
    //filters
    private bool isTieFilteringEnabled = false;
    private bool isArtFilteringEnabled = false;
    private Tiwafl? curAfil = new();
    //add/edit options
    private bool AllowMultipleEdits { get; set; } = false;
    private bool isFiltre { get; set; } = false;
    private bool isRubCodeValid = false; //child

    // private bool isRubFilteringEnabled = false;
    //Modals formule
    //Modal pForuModal = new(); //plans
    // Modal rForuModal = new(); //rubriques
    // Modal gForuModal = new(); //formats
    private string patTitle = "";
    private string patInitTitle = "";
    //private string pstrFormu = "";


    //variables Plan
    Tiersp? editingTiw = null;
    // //variables Rub
    // Rubvar draftRub = new();
    // Rubvar? editingRub = null;
    // //variable fmt
    // Rubfmt draftFmt = new();
    // Rubfmt? editingFmt = null;
    bool IsTiwRowLocked(Guid rowGuid) =>
        !AllowMultipleEdits &&
        (EdTiwRowguid.HasValue || DlTiwRowguid.HasValue) &&
        EdTiwRowguid != rowGuid &&
        DlTiwRowguid != rowGuid;
    // bool IsRubRowLocked(Guid rowGuid) =>
    //     !AllowMultipleEdits &&
    //     (EdAflRowguid.HasValue || DlAflRowguid.HasValue) &&
    //     EdAflRowguid != rowGuid &&
    //     DlAflRowguid != rowGuid;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        //transmis par 2

        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        LsPTyps = LsFixes.Where(uf => uf.Gvars == 34 && uf.Itb == 4 && uf.Gp2 == 1 && uf.Elea != 0).ToList();
        LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsPDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsAtrs = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 1 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 4 && ut.Elea != 0).ToList();
        _lsDivs = toChild.LsDivs.Where(uh => uh.Sidiv == 1).ToList();
        //_lsPsts = await _rendAgres.LoadOrgaPostes();
        await ChargeParentData();
        isLoading = false;
    }
    private async Task ChargeParentData()
    {
        atrTitle = "Saisie";
        gTiwsMap.Clear();
        // gRubsMap.Clear();
        // gFmtsMap.Clear();
        gTiwsMap[curOrga.Idorg] = new List<Tiersp>(curOrga.Tiersps.Where(uf => uf.Idorg == curOrga.Idorg));
        // foreach (var uta in curOrga.Plngens)
        // {
        //     List<Rubvar> tbcols = curTier.Rubvars.Where(ln => ln.Idpln == uta.Idpln).ToList();
        //     gRubsMap[uta.Id] = new List<Rubvar>(tbcols);
        //     //Console.WriteLine($"Parent Xseq: {uta.Xseq}, Children count: {tbcols.Count}");
        // }
        //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 5 && pl.Totyp == IMyAtr).ToList();
        //MyDaPlans = wrkplns;
        //LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 1 && ut.Elea != 0).ToList();
    }
    void OnTierRowClick(GridRowEventArgs<Tiersp> args)
    {
        Console.WriteLine($"OnTierRowClick Triggered : {args.Item.Id}");
        curTier = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curTier.Id}");
        if (curTier == null || curTier.Id == 0)
        {
            return;
        }
        StateHasChanged();
    }
    // void OnArtRowClick(GridRowEventArgs<Stkart> args)
    // {
    //     Console.WriteLine($"OnArtRowClick Triggered : {args.Item.Id}");
    //     curArt = args.Item; //get gRubsMap
    //     Console.WriteLine($"X1seq {curArt.Id}");
    //     if (curArt == null || curArt.Id == 0)
    //     {
    //         return;
    //     }
    //     StateHasChanged();
    // }

    private async Task StartTiwEdit(Tiersp item, Guid rowguid)
    {
        var isNew = StaticMethods.IsNew(curODContext, item, e => e.Id);
        if (isNew)
        { //not saved yet
            Imessage = "🚫 Cannot edit new Plan: Please save it first.";
            return;
        }
        if (rowguid == Guid.Empty) return;
        item.Xedt1 = -1;
        if (item.Iele != 0) item.Iui = (int)item.Iele;
        
        draftTiw = (Tiersp)DeepClone(item);
        _edPlnOriginals[rowguid] = (Tiersp)DeepClone(item);
        EdTiwRowguid = AllowMultipleEdits ? null : rowguid;
        GtieMode = GridMode.TiersEditing;
        isAddTiw = false;
        isEdtTiw = true;
        StartRowEdit(rowguid, EntityLevel.Plan);
        SetRowState(rowguid, RowState.EditPending);  // Shows Confirm/Cancel buttons

        //StateHasChanged();
    }
    private async Task TieatSaveAsync()
    {
        foreach (var atr in curTie.Tiwatrs)
        {
            if (atr.AtState == AEntState.NewAdded)
            {
                curODContext.AddObject("Tiwatrs", atr);  // Tracks + prepares INSERT
                Console.WriteLine($"➕ NEW {typeof(Tiwatr).Name} → AddObject");
            }
            else
            {
                curODContext.SafeAttachOrUpdate(atr, "Tiwatrs", false);  // Your method!
                Console.WriteLine($"✏️ EXISTING → SafeAttachOrUpdate");
            }
            curODContext.UpdateObject(atr);
            Console.WriteLine($"✅ {typeof(Tiwatr).Name} confirmed → tracked");
        }
    }
    // ✅ 2.1 CONFIRM OPERATIONS
    //private async Task ConfirmPlnEdit(Tiewel item)
    private async Task ConfirmPlnEdit(Tiersp item)
    {
        await UnifiedEditAction(item, true, EntityLevel.Plan);
        await TieatSaveAsync();
    }

    private async Task ConfirmRubEdit(Tiwafl item) =>
        await UnifiedEditAction(item, true, EntityLevel.Rub);
    // ✅ 2.2 CANCEL OPERATIONS
    private async Task CancelPlnEdit(Tiersp item)
    {
        await UnifiedEditAction(item, false, EntityLevel.Plan);
        //TieatCancelAsync();
    }
    private async Task CancelRubEdit(Tiwafl item) =>
        await UnifiedEditAction(item, false, EntityLevel.Rub);

    private async Task UnifiedEditAction(object item, bool isConfirm, EntityLevel level)
    {
        switch (level)
        {
            case EntityLevel.Plan:
               await ProcessPlan((Tiersp)item, isConfirm);
               break;
            // case EntityLevel.Rub:
            //     await ProcessRub((Tiwafl)item, isConfirm);
            //     break;
        }
    }
    private async Task ProcessPlan(Tiersp pln, bool isConfirm)
    {
        await ProcessEntity(pln, isConfirm, "Tiersps", p => ValidatePln(p));
    }
    // private async Task ProcessRub(Tiwafl rub, bool isConfirm)
    // {
    //     await ProcessEntity(rub, isConfirm, "Tiwafls", r => ValidateRub(r));
    // }

    private async Task ProcessEntity<T>(T entity, bool isConfirm, string entitySet, Func<T, bool> validate)
    where T : class
    {
        Console.WriteLine($"🔄 Process{typeof(T).Name}: {(isConfirm ? "CONFIRM" : "CANCEL")}");

        if (entity == null)
        {
            Imessage = "entity nulle";
            StateHasChanged();
            return;
        }

        if (isConfirm)
        {
            // 🔥 1. Copy draft → entity (for validation)
            CopyDraftToGridItem(entity);

            // 🔥 2. VALIDATE (now has updated values)
            if (!validate(entity))
            {
                Console.WriteLine($"❌ Validation failed: {Imessage}");
                StateHasChanged();
                return;
            }

            // 🔥 3. NEW vs EXISTING (SINGLE operation)
            bool isNew = GetXadd1(entity) == -1;  // Assumes GetXadd1<T>
            if (isNew)
            {
                curODContext.AddObject(entitySet, entity);  // Tracks + prepares INSERT
                Console.WriteLine($"➕ NEW {typeof(T).Name} → AddObject");
            }
            else
            {
                curODContext.SafeAttachOrUpdate(entity, entitySet, false);  // Your method!
                Console.WriteLine($"✏️ EXISTING → SafeAttachOrUpdate");
            }

            // 🔥 4. Confirm flags ONCE
            SetFlags(entity, 0, -1, 0);  // Xadd1=0 confirmed

            // 🔥 5. SINGLE UpdateObject (applies flags + changes)
            curODContext.UpdateObject(entity);
            Console.WriteLine($"✅ {typeof(T).Name} confirmed → tracked");

            // 🔥 6. UI + notify
            var rowguid = GetRowguid(entity);  // Generic helper
            ResetRowState(rowguid);
            SetLightBackground(rowguid, false);
            ResetEntityUIState<T>();
            await NotifyPendingChanges();
            Imessage = $"✅ {typeof(T).Name} confirmed";
        }
        else  // CANCEL (unchanged - perfect)
        {
            if (GetXadd1(entity) == -1)  // New only
            {
                if (curODContext.IsEntityTracked(entity))
                    curODContext.Detach(entity);
                RemoveFromParentCollection(entity);
            }
            else
            {
                ClearDraft<T>();
            }
            var rowguid = GetRowguid(entity);
            ResetRowState(rowguid);
            ResetEntityUIState<T>();
            Imessage = "";
        }
        StateHasChanged();
    }
    private async Task NotifyPendingChanges()
    {
        await OnPendingStateChanged.InvokeAsync(new PendingState(
            _guard.HasPendingChanges(),
            _guard.GetPendingChangesCount()
        ));

        NbChanges = _guard.GetPendingChangesCount();
        Console.WriteLine($"🔔 Pending changes: {NbChanges}");
        await NbChangesChanged.InvokeAsync(NbChanges);
        StateHasChanged();
    }
    
    private void StartDelete<T>(T item, string entitySet) where T : class
    {
        var rowguid = ((dynamic)item).Rowguid;
        SetDeleteFlags(item); // e.g. Xdel1 = -1
        SetRowState(rowguid, RowState.DeletePending);  // Triggers
        Console.WriteLine($"🗑 {typeof(T).Name} {rowguid} marked as pending delete");
        StateHasChanged();
    }
    private void StartRowDelete(Guid rowguid, EntityLevel level)
    {
        // 🔥 1. Set DeletePending → triggers your @switch
        SetRowState(rowguid, RowState.DeletePending);

        // 🔥 2. Enable single-row editing (CSS)
        StartRowEdit(rowguid, level);

        StateHasChanged();
    }
    private async Task ConfirmDelete<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedDeleteAction(item, true, level);
        EndRowEdit();  // Close single delete mode
    }
    // SINGLE method - ALL delete cancels
    private async Task CancelDelete<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedDeleteAction(item, false, level);
        EndRowEdit();  // Close single delete mode
    }

    private void SetDeleteFlags(object item) => SetFlags(item, 0, 0, -1);

    // SINGLE method handles ALL confirm operations
    private async Task ConfirmEdit<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedEditAction(item, true, level);
        EndRowEdit();  // Close single edit mode
    }
    // SINGLE method handles ALL cancel operations
    private async Task CancelEdit<T>(T item, EntityLevel level) where T : class
    {
        if (GtieMode == GridMode.TiersAdding)
        { //Adding
            curTie.Xadd1 = 0;
            isAddTiw = false;
        }
        // if (GaflMode == GridMode.AflsAdding)
        // { //Adding
        //     curAfl.Xadd1 = 0;
        //     isAddAfl = false;
        // }
        await UnifiedEditAction(item, false, level);
        EndRowEdit();  // Close single edit mode
    }
    private async Task UnifiedDeleteAction<T>(T item, bool isConfirm, EntityLevel level) where T : class
    {
        switch (level)
        {
            //case EntityLevel.Plan: await ProcessDelete<Tiewel>(item as Tiewel, isConfirm); break;
            case EntityLevel.Rub: await ProcessDelete<Tiwafl>(item as Tiwafl, isConfirm); break;
                //case EntityLevel.Rub: await ProcessDelete<Rubfmt>(item as Rubfmt, isConfirm); break;
        }
    }
    private async Task ProcessDelete<T>(T item, bool isConfirm) where T : class
    {
        if (item == null) return;

        var rowguid = (Guid)typeof(T).GetProperty("Rowguid")!.GetValue(item)!;

        if (isConfirm)
        {
            // 🔥 Generic delete logic
            RemoveFromParentCollection(item);

            if (!curODContext.IsEntityTracked(item))
                curODContext.Context.AttachTo(GetEntitySetName<T>(), item);

            curODContext.Context.DeleteObject(item);
            SetDeleteFlags(item);
            SetRowState(rowguid, RowState.Normal);
            await NotifyPendingChanges();
        }
        else
        {
            SetRowState(rowguid, RowState.Normal);
        }

        StateHasChanged();
    }
    private string GetEntitySetName<T>() where T : class
    {
        return typeof(T) switch
        {
            Type t when t == typeof(Tiersp) => "Tiersps",
            //Type t when t == typeof(Tiwafl) => "Tiwafls",
            //Type t when t == typeof(Rubfmt) => "Rubfmts",
            _ => throw new ArgumentException($"Unknown entity type: {typeof(T).Name}")
        };
    }
    private string GetEntitySet(object entity)
    {
        return entity switch
        {
            Tiewel _ => "Tiersps",
            //Tiwafl _ => "Tiwafls",
            //Rubfmt _ => "Rubfmts",
            _ => throw new ArgumentException("Unknown entity type")
        };
    }
    private object DeepClone(object entity)
    {
        var settings = new JsonSerializerSettings
        {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        };

        var json = JsonConvert.SerializeObject(entity, settings);
        return JsonConvert.DeserializeObject(json, entity.GetType(), settings)!;
    }
    // ✅ 6. VALIDATIONS
    private bool ValidateEntity<T>(T item)
    {
        return item switch
        {
            Tiersp pln => ValidatePln(pln),
            //Tiwafl rub => ValidateRub(rub),
            //Rubfmt fmt => ValidateFmt(fmt),
            _ => true
        };
    }
    private bool ValidatePln(Tiersp? mytiw)
    {
        Console.WriteLine($"A verifier {mytiw.Nom}");
        //liba
        if (string.IsNullOrEmpty(mytiw.Nom)
            || mytiw.Nom.Length < 4)
        {
            Imessage = "designation obligatoire/longueur";
            return false;
        }
        //abrege
        if (string.IsNullOrEmpty(mytiw.Pnom)
            || mytiw.Pnom.Length < 4)
        {
            Imessage = "abrege obligatoire/longueur";
            return false;
        }
        // //etat
        // if (mytiw.Eta < 0)
        // {
        //     Imessage = "etat obligatoire";
        //     return false;
        // }
        return true;
    }
    // private bool ValidateRub(Tiwafl myrub)
    // {
    //     //liba
    //     if (string.IsNullOrEmpty(myrub.Nom)
    //         || myrub.Nom.Length < 4)
    //     {
    //         Imessage = "designation obligatoire/longueur";
    //         return false;
    //     }
    //     //abrege
    //     if (string.IsNullOrEmpty(myrub.Pnom)
    //         || myrub.Pnom.Length < 4)
    //     {
    //         Imessage = "abrege obligatoire/longueur";
    //         return false;
    //     }
    //     //scdrub
    //     // if (string.IsNullOrEmpty(myrub.Scdrub)
    //     //     || myrub.Scdrub.Length != _lgcdu)
    //     // {
    //     //     Imessage = "code obligatoire/longueur";
    //     //     return false;
    //     // }
    //     // //etat
    //     // if (myrub.Eta < 0)
    //     // {
    //     //     Imessage = "etat obligatoire";
    //     //     return false;
    //     // }
    //     return true;
    // }
    // ✅ 6. ROW Management
    private string GetRowCss(RowState state, bool isLight, Guid rowguid,
                        bool isActiveEdit, bool isOtherRowEditing)
    {
        var css = new List<string>();

        if (isLight) css.Add("bg-light");

        // 🔥 YOUR EXISTING: NEW ADD detection (Xadd1 == -1)
        var isNewAdd = ((dynamic)MyDaTies.FirstOrDefault(p => p.Rowguid == rowguid))?.Xadd1 == -1;

        // 🔥 HIGHEST PRIORITY: Single Row Editing
        if (isActiveEdit)
        {
            css.Add("row-active-edit");  // Thick yellow border + highlight
            return string.Join(" ", css);  // EARLY RETURN - editing overrides all
        }

        // 🔥 NEXT: Other rows when editing active → READONLY
        if (isOtherRowEditing)
        {
            css.Add("row-readonly");
            css.Add("opacity-65");
            css.Add("cursor-not-allowed");
        }

        // 🔥 YOUR EXISTING RowState logic
        switch (state)
        {
            case RowState.AddPending:

            case RowState.EditPending when isNewAdd:
                css.Add("border-start border-warning border-3");
                //css.Add("new-add-indicator");
                break;
            case RowState.EditPending:
                css.Add("border-start border-info border-3");
                break;
            case RowState.DeletePending:
                css.Add("bg-danger-subtle");
                break;
            case RowState.Locked:
                css.Add("bg-secondary-subtle opacity-75");
                break;
        }

        return string.Join(" ", css);
    }
    private void SetLightBackground(Guid rowguid, bool isLight)
    {
        _isLightBg[rowguid] = isLight;
    }
    private bool GetLightBackground(Guid rowguid)
    {
        return _isLightBg.GetValueOrDefault(rowguid, false);
    }
    // 🔥 Generic Rowguid (no reflection)
    private static Guid GetRowguid<T>(T entity) where T : class
        => ((dynamic)entity).Rowguid;  // Or property expression


    // Generic flag setter
    private void SetFlags<T>(T entity, int xadd1, int xedt1, int xdel1)
    {
        typeof(T).GetProperty("Xadd1")?.SetValue(entity, xadd1);
        typeof(T).GetProperty("Xedt1")?.SetValue(entity, xedt1);
        typeof(T).GetProperty("Xdel1")?.SetValue(entity, xdel1);
    }
    // Generic Xadd1 getter
    private int GetXadd1<T>(T entity)
    {
        return (int)typeof(T).GetProperty("Xadd1")?.GetValue(entity)!;
    }
    // Remove from parent collection
    private void RemoveFromParentCollection<T>(T entity)
    {
        // Plngen: top-level
        //if (entity is Tiewel pln && MyDaTies.Any(p => p.Rowguid == pln.Rowguid))
        //   MyDaTies.Remove(pln);
        // Rubvar: parent Plngen.Rubvars
        if (entity is Tieafl rub)
        {
            var parent = MyDaTies.FirstOrDefault(p => p.Id == rub.Itie);
            parent?.Tieafls?.Remove(rub);
        }
    }
    private void CopyDraftToGridItem<T>(T gridItem) where T : class
    {
        switch (typeof(T).Name)
        { // ONLY editable UI fields - 5-10x faster than reflection!
            case nameof(Tiewel):
                if (draftTiw == null) return;
                var pln = (Tiewel)(object)gridItem;
                pln.Smatri = draftTiw.Smatri; //designation
                pln.Xmatri = draftTiw.Xmatri; //abrege
                pln.Nom = draftTiw.Nom; //formule-non valider
                pln.Pnom = draftTiw.Pnom;
                pln.Raison = draftTiw.Raison;
                pln.Eta = draftTiw.Eta; //etat
                pln.Xadd1 = draftTiw.Xadd1;
                pln.Xedt1 = draftTiw.Xedt1;
                break;
            // case nameof(Tiwafl):
            //     if (draftAfl == null) return;
            //     var rub = (Tiwafl)(object)gridItem;
            //     rub.Irang = draftAfl.Irang;
            //     rub.Smatri = draftAfl.Smatri; //designation
            //     rub.Xmatri = draftAfl.Xmatri; //abrege
            //     rub.Nom = draftAfl.Nom; //formule-non valider
            //     rub.Pnom = draftAfl.Pnom;
            //     rub.Raison = draftAfl.Raison;
            //     rub.Eta = draftAfl.Eta; //etat
            //     rub.Xadd1 = draftAfl.Xadd1;
            //     rub.Xedt1 = draftAfl.Xedt1;
            //     break;
                // case nameof(Rubfmt):
                //     if (draftFmt == null) return;
                //     var fmt = (Rubfmt)(object)gridItem;
                //     fmt.Liba = draftFmt.Liba; //designation
                //     fmt.Abg = draftFmt.Abg; //abrege
                //     fmt.Zcdrub = draftFmt.Zcdrub; //code
                //     fmt.Xcod = draftFmt.Xcod; //refer
                //     fmt.Ztyp = draftFmt.Ztyp; //ztyp
                //     fmt.Ftsrc = draftFmt.Ftsrc; //formule
                //     fmt.Col = draftFmt.Col; //col
                //     fmt.Lne = draftFmt.Lne; //lne
                //     fmt.Lgtf = draftFmt.Lgtf; //lgtf
                //     fmt.Eta = draftFmt.Eta; //etat
                //     fmt.Xadd1 = draftFmt.Xadd1;
                //     fmt.Xedt1 = draftFmt.Xedt1;
                //     break;
        }
    }
    private void ClearDraft<T>()
    {
        switch (typeof(T).Name)
        {
            case nameof(Tiersp):
                draftTiw = null;
                Console.WriteLine("EdTiwRowguid is become null");
                EdTiwRowguid = null;
                break;
            // case nameof(Tiwafl):
            //     draftAfl = null;
            //     EdAflRowguid = null;
            //     break;
            // case nameof(Rubfmt):
            //     draftFmt = null;
            //     EdFmtRowguid = null;
            //     break;
        }
    }
    // ROWS MANAGEMENT
    private void StartRowEdit(Guid rowguid, EntityLevel level)
    {
        _activeEditRowguid = rowguid;
        _activeEditLevel = level;
        StateHasChanged();
    }
    private void EndRowEdit()
    {
        _activeEditRowguid = null;
        _activeEditLevel = null;
        StateHasChanged();
    }
    private string GetRubRowClass(Tiwafl rub)
    {
        var state = GetRowState(rub.Rowguid);
        var isLight = IsLightBackground(rub.Rowguid);  // 🔥 Uses your existing

        // 🔥 NEW: Single Active Row Editing
        var isActiveEdit = _activeEditRowguid == rub.Rowguid;
        var isOtherRowEditing = _activeEditRowguid != null && !isActiveEdit;

        return GetRowCss(state, isLight, rub.Rowguid, isActiveEdit, isOtherRowEditing);
    }
    private RowState GetRowState(Guid rowguid, object? parent = null)
    {
        if (_rowStates.TryGetValue(rowguid, out var state)) return state;

        // Context-aware lookup
        if (parent is Tiewel mytiw)
        {
            if (mytiw.Rowguid == rowguid && IsTiwRowLocked(rowguid)) return RowState.Locked;
            var rub = mytiw.Tiwafls?.FirstOrDefault(r => r.Rowguid == rowguid);
            //if (rub != null && IsRubRowLocked(rowguid)) return RowState.Locked;
        }
        return _rowStates.TryGetValue(rowguid, out var cachedState) ? cachedState : RowState.Normal;
    }
    private void SetRowState(Guid rowguid, RowState state)  // Remove <T>
    {
        _rowStates[rowguid] = state;
    }
    private void ResetRowState(Guid rowguid)  // Reset specific row
    {
        _rowStates.Remove(rowguid);  // Back to Normal
    }
    private bool IsLightBackground(Guid rowguid)
    {
        return _isLightBg.ContainsKey(rowguid) && _isLightBg[rowguid];
    }

    private void ResetEntityUIState<T>()
    {
        switch (typeof(T).Name)
        {
            case nameof(Tiewel): ResetPlnUI(); break;
            //case nameof(Tiwafl): ResetRubUI(); break;
            //case nameof(Rubfmt): ResetFmtUI(); break;
        }
    }
    private void ResetPlnUI()
    {
        Console.WriteLine("🔄 ResetPlnUI");

        // 🔥 CLEAR ALL MODES
        isEdtTiw = false;
        isAddTiw = false;  // ← CRITICAL - Exits add mode

        draftTiw = null;
        EdTiwRowguid = null;
        DlTiwRowguid = null;

        TiwRenderKey = Guid.NewGuid();  // Force grid refresh
        StateHasChanged();
    }
    // void OnRubRowClick(GridRowEventArgs<Rubvar> args)
    // {
    //     Console.WriteLine($"OnChildRowClick Triggered : {args.Item.Id}");
    //     curRubr = args.Item; //get gRubsMap
    //     Console.WriteLine($"X1seq {curRubr.Idrub}");
    //     if (curRubr == null || curRubr.Idrub == 0)
    //     {
    //         return;
    //     }
    //     StateHasChanged();
    // }

    //manage SAVING
    public async Task EdtAll()
    {
        editingTiwRowGuid = Guid.Empty;
        // EditingRubRowGuid = Guid.Empty;
        // EditingFmtRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        editingTiwRowGuid = Guid.Empty;
        // EditingRubRowGuid = Guid.Empty;
        // EditingFmtRowGuid = Guid.Empty;
        foreach (var enty in curODContext.Context.Entities.ToList())
        {
            if (curODContext.GetEntityState(enty) == EntityStates.Added)
            {
                curODContext.Detach(enty);
            }
        }
        Imessage = "";
    }
    public async Task SavAll()
    {
        foreach (var tie in MyDaTies)
        {
            if (tie.Ihie != tie.Nwhie)
            {
                if (tie.Nwhie != 0)
                {
                    tie.Ihie = tie.Nwhie;
                }
            }
            if (tie.Ipst != tie.Nwpst)
            {
                if (tie.Nwpst != 0)
                {
                    tie.Ipst = tie.Nwpst;
                }
            }
            try
            {
                //update
                curODContext.UpdateObject(tie);
                //mark the mvt
                var wstses = toChild.LsSess.FirstOrDefault(us => us.Id == IMySes);
                string ustses = "";
                if (wstses != null) ustses = wstses.Liba;
                Console.WriteLine("In Adding");
                Tiemvt nwMvt = new Tiemvt
                    {
                    //Rowguid = Guid.NewGuid(),
                        Tymvt = 1, //1mutation2affect3promo4sanct
                        Itie = tie.Id,
                        Ihie = tie.Ihie, //mutation
                        Ipst = tie.Ipst, // mutation
                        Usrid = tie.Usrid,//concerne
                        Usrope = _sessionContext?.CurrentSession?.Userid,///operator
                        Idses = IMySes,
                        Stses = ustses,
                        Datope = DateTime.Now
                    };
                curODContext.AddRelatedObject(tie, "Tiemvts", nwMvt);
            } catch(Exception ex)
            {
                Console.WriteLine($"erreur mutation {ex.Message}");
            }
        }
        editingTiwRowGuid = Guid.Empty;
        // EditingRubRowGuid = Guid.Empty;
        // EditingFmtRowGuid = Guid.Empty;
        StateHasChanged();
    }

    //FILTRES
    private void ToggleTieFiltering()
    {
        isTieFilteringEnabled = !isTieFilteringEnabled;
    }
    private void ToggleArtFiltering()
    {
        isArtFilteringEnabled = !isArtFilteringEnabled;
    }
    private async Task OuvrirFiche()
    {
        isFicheVisible = !isFicheVisible;
        if (isFicheVisible)
        {
            stopenFich = "FermerRecepisse";
        }
        else
        {
            stopenFich = "OuvrirRecepisse";
        }
    }
    private bool IsPaterValid(Plngen mypl)
    {
        int ercpt = 0;
        patTitle = patInitTitle;
        if (string.IsNullOrEmpty(mypl.Liba))
        {
            patTitle = patTitle + "Obligatoire Designation";
            ercpt = ercpt + 1;
        }
        if (mypl.Idorg == 0)
        {
            patTitle = patTitle + "Obligatoire Institution";
            ercpt = ercpt + 1;
        }
        if (ercpt > 0)
        {
            patTitle = "!%2.REFUS, erreur saisie Plan(s)%! " + patTitle;
            return false;
        }
        return true;
    }
    // private bool IsChildValid(Rubvar myrb)
    // {
    //     int ercpt = 0;
    //     chlTitle = chlInitTitle;
    //     if (string.IsNullOrEmpty(myrb.Liba))
    //     {
    //         chlTitle = chlTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (isRubCodeValid = false) //verifie scdrub
    //     {
    //         chlTitle = chlTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myrb.Idpln == 0)
    //     {
    //         chlTitle = chlTitle + "Obligatoire programme";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         chlTitle = "!%2.REFUS, erreur saisie Rubrique(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }
    // private bool IsGsonValid(Rubfmt myft)
    // {
    //     int ercpt = 0;
    //     gsnTitle = gsnInitTitle;
    //     if (string.IsNullOrEmpty(myft.Liba))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (string.IsNullOrEmpty(myft.Zcdrub))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myft.Idrub == 0)
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire rubrique";
    //         ercpt = ercpt + 1;
    //     }
    //     int existsrow = GfmtNewRows.Where(ur => ur.Idzon == myft.Idzon).Count();
    //     if (existsrow > 0)
    //     {
    //         gsnTitle = gsnTitle + "Code existe deja";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         gsnTitle = "!%2.REFUS, erreur saisie Format(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }
    // private bool IsChildValid(Rubvar myrb)
    // {
    //     int ercpt = 0;
    //     chlTitle = chlInitTitle;
    //     if (string.IsNullOrEmpty(myrb.Liba))
    //     {
    //         chlTitle = chlTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (isRubCodeValid = false) //verifie scdrub
    //     {
    //         chlTitle = chlTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myrb.Idpln == 0)
    //     {
    //         chlTitle = chlTitle + "Obligatoire programme";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         chlTitle = "!%2.REFUS, erreur saisie Rubrique(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }
    // private bool IsGsonValid(Rubfmt myft)
    // {
    //     int ercpt = 0;
    //     gsnTitle = gsnInitTitle;
    //     if (string.IsNullOrEmpty(myft.Liba))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (string.IsNullOrEmpty(myft.Zcdrub))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myft.Idrub == 0)
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire rubrique";
    //         ercpt = ercpt + 1;
    //     }
    //     int existsrow = GfmtNewRows.Where(ur => ur.Idzon == myft.Idzon).Count();
    //     if (existsrow > 0)
    //     {
    //         gsnTitle = gsnTitle + "Code existe deja";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         gsnTitle = "!%2.REFUS, erreur saisie Format(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }

    // private void SelDomPlan(int orig)
    // {
    //     if (orig == 1) //doms
    //     {
    //         if (ITMyDom != 0)
    //         {
    //             if (ITMyDom == 7) //matiere
    //             {
    //                 LsGties = LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 6 && ut.Gp1 == 1 && ut.Gp2 != 1 && ut.Elea != 0).ToList();
    //                 LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 6 && ut.Gp1 == 2 && ut.Elea != 0).ToList();
    //             }
    //             else //tiers
    //             {
    //                 LsGties = LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 6 && ut.Gp1 == 1 && ut.Gp2 != 2 && ut.Elea != 0).ToList();
    //                 LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 6 && ut.Gp1 == 1 && ut.Elea != 0).ToList();
    //             }
    //         }
    //         else
    //         {
    //             LsVues = new List<Gpfixe>();
    //         }
    //     }
    //     if (orig == 2) //gtiers
    //     {
    //         if (IMyGtie != 0 && ITMyDom != 0)
    //         {
    //             if (ITMyDom != 0)
    //             {
    //                 //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == ITMyDom && pl.Totyp == IMyGtie));
    //             }
    //         }
    //         else
    //         {
    //             //MyDaPlans = new();
    //         }
    //     }
    //     if (orig == 4)
    //     {
    //         if (IMyGpln != 0)
    //         {
    //             if (IMyGtie != 0 && ITMyDom != 0)
    //             {
    //                 //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == ITMyDom && pl.Totyp == IMyGtie));
    //             }
    //         }
    //         else
    //         {
    //             //MyDaPlans = new();
    //         }
    //     }
    // }
    private void SelTypPlan(int xtyp)
    {
        // switch(xtyp)
        // {
        //     case 2:
        //     case 3:
        //     case 4:

        // }
    }
    private void SelPlanAtr(int xatr)
    {

    }
    private void SelPlanDom(int xdom)
    {
        if (xdom != 0)
        {
            LsGties = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == xdom && ut.Elea != 0 && ut.Elea != 9).ToList();
        }
        else
        {
            LsGties = new();
        }
    }
    void GetSelectedPlan(Gplan mypln)
    {
        toChild.MainOptsOk = false;
        if (IMyPln != 0)
        {
            toChild.MainOptsOk = true;
            //toChild.curExo = EnsExos.Where(ue => ue.Iexo == froMenu.Uexo).FirstOrDefault();
            StateHasChanged();
        }
    }
    // if (IMyGtie != 0 && ITMyDom != 0)
    // {
    //     if (ITMyDom != 0)
    //     {
    //         //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == ITMyDom && pl.Totyp == IMyGtie));
    //     }
    // }
    // else
    // {
    //     //MyDaPlans = new();
    // }
    // if (IMyGpln != 0)
    // {
    //     if (IMyGtie != 0 && ITMyDom != 0)
    //     {
    //         //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == ITMyDom && pl.Totyp == IMyGtie));
    //     }
    // }
    // else
    // {
    //     //MyDaPlans = new();
    // }
    //}
    private void SelPlanTier(int xtie)
    {

    }
    private void SelPlanVue(int xvue)
    {

    }
    private void OnInRubPost(GridRowEventArgs<Rubvar> args)
    {
        var mypst = (Rubvar)args.Item;
        //other code
    }

    private string GetCodeStyle()
    {
        return "width:50%;";
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    // private void OnChlBlurHandler(Plngen mypl, Rubvar myvar)
    // {
    //     Console.WriteLine("ATTENTION : En Blur....");
    //     isRubCodeValid = HandleChlInput(mypl, myvar);
    //     Imessage = $"OnBlur active : {isRubCodeValid}";
    //     // Optionally trigger UI refresh or logging
    // }
    // private void OnChlFocusHandler(Plngen mypl, Rubvar myvar)
    // {

    // }

    // private bool HandleChlInput(Plngen mypl, Rubvar myvar)
    // {
    //     var input = myvar.Scdrub?.Trim();
    //     Jmessage = "";
    //     Console.WriteLine($"code entre traiter {input}");
    //     // Basic null/empty check
    //     if (string.IsNullOrEmpty(input))
    //     {
    //         Jmessage = "Le code est requis.";
    //         return false;
    //     }
    //     // Explicit length check
    //     if (input.Length != _lgcdu)
    //     {
    //         Jmessage = $"Le code doit contenir exactement {_lgcdu} chiffres.";
    //         return false;
    //     }
    //     // Digit-only check/No de poste peut ne pas etre numerique
    //     if (!Regex.IsMatch(input, @"^[0-9]+$")) // @"^[a-zA-Z0-9_\-\/\\|{}]+$"))
    //     {
    //         //(!Regex.IsMatch(input, @"^\d+$")) /numeric
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9]+$")) /alphanumeric strict
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]+$") /add some others characters
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{6}$")) //limit number to 6
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{4,10}$")) //limit a range 4-10
    //         Jmessage = "Le code ne doit contenir que des chiffres.";
    //         return false;
    //     }
    //     // Uniqueness check
    //     var exists = mypl.Rubvars?.Any(uva => uva.Scdrub == input) ?? false;
    //     if (exists)
    //     {
    //         Jmessage = "Ce code rubrique existe déjà.";
    //         return false;
    //     }
    //     return true;
    // }
    public void Dispose()  // ← ADD THIS
    {
        Console.WriteLine("🧹 Child Prubsaie cleaning up");
        _guard.DiscardUnconfirmedAdds<Tiersp>();
        _guard.DiscardUnconfirmedAdds<Tieafl>();
    }
}
