@page "/affectation"

@using System.Security.Claims
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxShared.Helpers
@using GxTie.Components.Onlne
@using GxTie.Components.Pcarri
@using GxTie.Services
@using GxTie.StaticHelpers
@using GxShared.Sess
@using Microsoft.EntityFrameworkCore;
@using Simple.OData.Client
@using GxShared.GxDtos
@using GxShared.Others
@using GxShared.Interfaces
@using Newtonsoft.Json

@* @implements IDisposable *@

@inject NavigationManager _navManager
@inject ILocalStorageService _localStorage
@inject HttpClientService _clieManager
@inject SessionContextService _sessionContext
@inject RendAgres _rendAgres
@inject IJSRuntime _JsRUN
@inject IMessageService _messageService

<h3>Affectation</h3>

<!-- Transfer header -->
<div class="mb-3">
    <label>Session:</label>
    <InputSelect id="sesId" @bind-Value="curSES" disabled>
        <option value="0">session?</option>
        @* @foreach (var ses in EnsSess)
            {
                <option value="@ses.Id">@ses.Sref</option>
            } *@
    </InputSelect>
    <label>Affectation en cours</label>
    <InputSelect @bind-Value="IMyAFEC" @onclick="() => SelCurAfec()">
        <option value="0">choisir AFFEC</option>
        @foreach (var dep in LsAfecs)
        {
            <option value="@dep.Id">@dep.Title</option>
        }
    </InputSelect>
    <label>Date</label>
    <InputDate @bind-Value="curAFEC.Tdate" />
    @*<label>Type</label>
    <InputSelect @bind-Value="curAFEC.Mtyp">
        <option value="1">Exter</option>
    </InputSelect> *@
</div>

<div class="mb-3">
    <label>Origin Department</label>
    <InputSelect @bind-Value="origDIV">
        @foreach (var dep in LsDivs.Where(d => d.Tyhie == 1))//adm
        {
            <option value="@dep.Ihie">@dep.Liba</option>
        }
    </InputSelect>
</div>
@* @if (isAdding)
{
    <div class="mt-3">
        <h5>New Transfer Line</h5>
        <InputSelect @bind-Value="draftLine.Itie" @onclick="() => SelDomTie()">
            @foreach (var item in DaItems)
            {
                <option value="@item.Id">@item.Nom - @item.Pnom</option>
            }
        </InputSelect>
        <InputSelect @bind-Value="draftLine.Froloc" disabled>
            @foreach (var loc in OriginLocations)
            {
                <option value="@loc.Ipst">@loc.Liba</option>
            }
        </InputSelect>
        <InputSelect @bind-Value="draftLine.Toloc">
            @foreach (var loc in DestinationLocations)
            {
                <option value="@loc.Ipst">@loc.Liba</option>
            }
        </InputSelect>
        <InputSelect @bind-Value="draftLine.Ifonc" style="font-weight:bold">
            <option value="0">-- Select fonction --</option>
            @foreach (var tob in EnsTbls.FirstOrDefault(t => t.Tref == 14)?.TbItems ?? new List<Gtvar>())
            {
                <option value="@tob.Abg">@tob.Liba</option>
            }
        </InputSelect>
        <Button Color="ButtonColor.Success" @onclick="() => SaveAdd()">Add</Button>
        <Button Color="ButtonColor.Secondary" @onclick="() => CancelAdd()">Cancel</Button>
    </div>
} *@
<Grid TItem="TiemvlneDto" 
    Data="@DaTiemvlnes" 
    AllowPaging="true" 
    AllowSelection="true"
    SelectionMode="GridSelectionMode.Multiple"
    @bind-SelectedItems="@SelDaTiemvs"
    Responsive="true">
    <GridColumns>
        <GridColumn TItem="TiemvlneDto" HeaderText="Matricule" Class="xcol1">
            <ChildContent Context="line">
                @line.Smatri
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="TiemvlneDto" HeaderText="Nom - Prenom(s)" Class="xcol4">
            <ChildContent Context="line">
                @line.Nom - @line.Pnom
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="TiemvlneDto" HeaderText="Ancien Poste" Class="xcol1">
            <ChildContent Context="line">
                <InputSelect @bind-Value="line.Froloc" disabled>
                    @foreach (var loc in OriginLocations.ToList())
                    {
                        <option value="@loc.Ipst">@loc.Liba</option>
                    }
                    </InputSelect>
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="TiemvlneDto" HeaderText="Nouv. Division" Class="xcol2">
            <ChildContent Context="line">
                <InputSelect @bind-Value="line.Nwhie">
                    @foreach (var dep in LsDivs.Where(d => d.Pdom == 1)) //adm
                    {
                        <option value="@dep.Ihie">@dep.Liba</option>
                    }
                </InputSelect>
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="TiemvlneDto" HeaderText="Nouv. Poste" Class="xcol1">
            <ChildContent Context="line">
                <InputSelect @bind-Value="line.Toloc">  
                    @foreach (var loc in DestinationLocations.ToList())
                    {
                       <option value="@loc.Ipst">@loc.Liba</option>
                    }
                </InputSelect>
            </ChildContent>
        </GridColumn>
    </GridColumns>
</Grid>
<div class="mt-3">
    Nb. Selected Persons : @SelDaTiemvs.Count
    @if (SelDaTiemvs.Count > 0)
    {
        <Button Color="ButtonColor.Success" @onclick="() => ConfirmMuta()">Confirmer</Button>
    }
</div>
<style>
    .xcolx {
        width: 40px !important;
    }

    .xcol1 {
        width: 60px;
    }

    .xcol2 {
        width: 120px;
    }

    .xcol3 {
        width: 180px;
    }

    .xcol4 {
        width: 240px;
    }
        /* Ensure inputs inside these columns fill the width */
        .xcol1 input,
        .xcol2 input,
        .xcol3 input,
        .xcol4 input {
            width: 100%;
            box-sizing: border-box; /* prevents overflow due to padding/border */
        }

    .editing-row {
        pointer-events: none; /* Blocks all clicks on row */
    }

        .editing-row * {
            pointer-events: auto; /* Re-enables clicks on buttons/inputs */
        }
</style>

@code {
    [Parameter] 
    public IODataClient _InODaClient { get; set; }
    [Parameter] 
    public GxorgaDto curOrga { get; set; }
    [Parameter]
    public string curSES { get; set; }
    [Parameter]
    public int curEXO { get; set; }
    [Parameter]
    public List<Gpdivh> LsDivs { get; set; }
    [Parameter]
    public List<Gplan> LsPlans { get; set; }
    [Parameter]
    public List<Gtabl> EnsTbls { get; set; }
    [Parameter] public ChildVars toChild { get; set; }
    [Parameter] public int toMenu { get; set; }
    //[Parameter] public StockClientService stockService { get; set; }
    //[Parameter] public ItemClientService itemService { get; set; }
    [Parameter] public IPendingChangesGuard _guard { get; set; }
    [Parameter] public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter] public int NbChanges { get; set; }
    [Parameter] public EventCallback<int> NbChangesChanged { get; set; }

    private TiemvtDto curAFEC = new();
    private TiemvlneDto draftLine = new();
    private int IMyAFEC = 0, origDIV = 0;
    //private
    private List<TiemvtDto> LsAfecs = new();
    private List<TiemvlneDto> DaTiemvlnes = new();
    private HashSet<TiemvlneDto> SelDaTiemvs = new ();

    private Guid? editRowguid;
    private bool isAdding = false;

    //private List<Gpdivh> Departments = new();

    private List<TierspDto> DaItems => curOrga.Tiersps?.Where(t => t.Ihie == origDIV).ToList() ?? new();
    private TierspDto curTie = new();
    //private List<Gpdivh> OriginLocations = new();
    //private List<Gpdivh> DestinationLocations = new();

    private List<Divpst> OriginLocations =>
    LsDivs.Where(d => d.Ihie == origDIV)
          .FirstOrDefault()?
          .Divpsts?.Where(t => t.Ipst == curTie.Ipst).ToList() ?? new List<Divpst>();
    private List<Divpst> DestinationLocations = new();

    //toutes les locations de l-organigramme
    // private List<Divpst> DestinationLocations =>
    //     LsDivs.Where(d => d.Ipln == curAFEC.Ipln)
    //           .FirstOrDefault()?
    //           .Divpsts?.ToList() ?? new List<Divpst>();

    protected override async Task OnInitializedAsync()
    {
        //Departments = LsDivs; //await stockService.GetDepartmentsAsync();
        //Warehouses = await stockService.GetWarehousesAsync();

        //curTransfer.Rowguid = Guid.NewGuid();
        //curTransfer.Tdate = DateTime.Now;
        //curTransfer.Ttype = 1; // Exter
        //curTransfer.Tiemvlnes = new();

        //curTransfer.Fromhie = Departments?.FirstOrDefault()?.Ihie;
        //curTransfer.Tohie = Departments?.FirstOrDefault()?.Ihie;
        LsAfecs = curOrga.Tiemvts.Where(d => d.Todom == 1).ToList(); //affectations
        origDIV = LsDivs.FirstOrDefault(d => d.Tyhie == 1)?.Ihie ?? 0; // Default to first adm division
        PrepListAffecs(origDIV);
    }

    private void PrepListAffecs(int? hie)
    {
        var LsTies = curOrga.Tiersps?.ToList();//.Where(t => t.Ihie == hie).ToList();
        //prepalignes
        DaTiemvlnes = new();
        foreach(var tie in LsTies)
        {
            var tielne = new TiemvlneDto
            {
                Itie = tie.Id,
                Froloc = tie.Ipst ?? 0,
                Ifonc = tie.Ifonc,
                //saisir
                Toloc = 0,
                //IU
                Smatri = tie.Smatri,
                Nom = tie.Nom,
                Pnom = tie.Pnom,
                Nwfonc = tie.Ifonc,
             };
            DaTiemvlnes.Add(tielne);
        }
    }

    private void SelCurAfec()
    {
        if (IMyAFEC != 0)
        {
            curAFEC = LsAfecs.FirstOrDefault(a => a.Id == IMyAFEC) ?? new();

            DestinationLocations = LsDivs
                .Where(d => d.Ipln == curAFEC.Ipln)
                .SelectMany(d => d.Divpsts ?? Enumerable.Empty<Divpst>())
                .ToList();

            Console.WriteLine($"CurAfec ipln {DestinationLocations.Count}");
        }
        else
        {
            Console.WriteLine($"IMyAFEC {IMyAFEC}");
            curAFEC = new();
            DestinationLocations.Clear();
        }
    }
    private async Task ConfirmMuta()
    {
        foreach (var inent in DaTiemvlnes)
        {
            inent.Rowguid = Guid.NewGuid();
            _guard.TrackInsert("Tiemvlnes", inent);
            await NotifyPendingChanges();
        }
    }
    // private void StartAdd() 
    // {
    //     isAdding = true; 
    //     draftLine = new TiemvlneDto(); 
    // }

    // private async Task SaveAdd()
    // {
    //     draftLine.Rowguid = Guid.NewGuid();
    //     //draftLine.Itie = curTransfer.Id;
    //     // Register add with OData
    //     _guard.TrackInsert("Tiemvlnes", draftLine);
    //     //curTransfer.Tiemvlnes.Add(draftLine);
    //     isAdding = false;
    //     await NotifyPendingChanges();
    // }

    private void CancelAdd() => isAdding = false;

    private void StartEdit(TiemvlneDto line)
    {
        editRowguid = line.Rowguid;
        //Qty = line.Qty, Ibtch = line.Ibtch,
        draftLine = new TiemvlneDto { 
            Rowguid = line.Rowguid, 
            Itie = line.Itie, 
            Froloc = line.Froloc, 
            Toloc = line.Toloc 
        };
    }

    private async Task SaveEdit(TiemvlneDto line)
    {
        line.Itie = draftLine.Itie;
        line.Froloc = draftLine.Froloc;
        line.Toloc = draftLine.Toloc;
        // Register update with OData context
        var key = GetEntityKey(line); // helper to extract PK
        _guard.TrackUpdate("Tiemvlnes", key, line);
        editRowguid = null;
        await NotifyPendingChanges();
    }
    private object GetEntityKey<TDto>(TDto entity)
    {
        switch (entity)
        {
            case TiemvtDto pln:
                return pln.Id;
            case TiemvlneDto rub:
                return rub.Id;
            //case RubfmtDto fmt:
            //    return fmt.Id;
            default:
                throw new InvalidOperationException($"Unknown entity type {typeof(TDto).Name}");
        }
    }
    private void CancelEdit() => editRowguid = null;

    private async Task DeleteLine(TiemvlneDto line)
    {
        //curTransfer.Tiemvlnes.Remove(line);
        // Register delete with OData context
        var key = GetEntityKey(line);
        _guard.TrackDelete("Tiemvlnes", key);

        await NotifyPendingChanges();
    }
    private void SelDomTie()
    {
        curTie = DaItems.FirstOrDefault(t => t.Id == draftLine.Itie) ?? new();
    }
    private async Task NotifyPendingChanges()
    {
        await OnPendingStateChanged.InvokeAsync(new PendingState(_guard.HasPendingChanges(), _guard.GetPendingChangesCount()));
        NbChanges = _guard.GetPendingChangesCount();
        await NbChangesChanged.InvokeAsync(NbChanges);
        StateHasChanged();
    }
}
