@page "/invitiw"

@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Security.Claims
@using System.Text
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxTie.Services
@using GxShared.Sess
@using GxShared.Others
@using GxShared.Identity
@using GxShared.Helpers
@using GxShared.ShdServices
@using GxWapi.DaModels
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@* @inject Default.Container _vcontext *@
@* @inject MyAuthStateProvider _authprovider *@
@inject IHttpClientFactory _httpFactorer
@inject ILocalStorageService _localStorage
@inject HttpClientService _cliemanager
@inject IODataContextFactory _contextFactory
@inject LinkSerialiser _linkSerialiser
@inject NavigationManager _navmanager
@inject SessionContextService _sessionContext
@inject IJSRuntime _jsRun
@inject RendAgres _rendAgres

<PageTitle>INVITATION</PageTitle>
<h3>INVITATION</h3>
@* <div>
    @strmeta
</div> *@
@if (!string.IsNullOrEmpty(Imessage))
{
    <div>
        @Imessage
    </div>
}
@if (isLoading)
{
    <div class="text-center">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
        <p>PARAMS/INVITE Loading...</p>
    </div>
} else
{
<div class="my-container">
    @ChildContent
</div>
    <AuthorizeView>
        <Authorized>
            <div class="d-flex flex-row">
                <EditForm Context="invform" Model="@_invModel">
                    @if (!isLoading)
                    {
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <Tabs>
                            <Tab Title="Individuelle">
                                <Content>
                                    <div>
                                        <label for="tiev1">Validite du... :</label>
                                        <InputDate id="tiev1" @bind-Value="_invModel.Datdu">
                                            placeholder="du..."
                                        </InputDate>
                                    </div>
                                    <div>
                                        <label for="tiev2"> au... :</label>
                                        <InputDate id="tiev2" @bind-Value="_invModel.Datau">
                                            placeholder="au..."
                                        </InputDate>
                                    </div>
                                    <div>
                                        <label for="Tiedos">Ref.appel:</label>
                                        <InputText id="tiedos" @bind-Value="_invModel.Refapl" required
                                                   placeholder="Enter call reference" />
                                    </div>
                                    <div>
                                        <label for="tienom">Nom:</label>
                                        <InputText id="tienom" @bind-Value="_invModel.Nom" required
                                                   placeholder="Enter his-her nom" />
                                    </div>
                                    <div>
                                        <label for="tiepnom">Prenom(s):</label>
                                        <InputText id="tiepnom" name="tiepnomInput" @bind-Value="_invModel.Pnom" required
                                                   placeholder="Enter his-her prenom" />
                                    </div>
                                    <div>
                                        <label for="TieIrole">Role:</label>
                                        @if (_invRoles.Count > 0)
                                        {
                                            <InputSelect @bind-Value="_invModel.Irole" id="TieIrole">
                                                @foreach (var uro in _invRoles)
                                                {
                                                    <option value="@uro.Level">@uro.Name</option>
                                                }
                                            </InputSelect>
                                        }
                                    </div>
                                    <div>
                                        <label for="TieIrole">Quality:</label>
                                        <InputSelect @bind-Value="_invModel.Utyp" id="TieUtyp">
                                            @foreach (var ut in LsFixes.Where(uf => uf.Gvars == 36 && uf.Itb == 6))
                                            {
                                                <option value="@ut.Elea">@ut.Liba</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    @if (_invModel.Utyp >= 3 && _invModel.Utyp <= 6)
                                    { //client-fournisseur...
                                      <div>
                                          <label for="tierais">Raison:</label>
                                          <InputText id="tierais" @bind-Value="_invModel.Raison"
                                                     placeholder="Enter his-her raison" />
                                      </div>
                                    }
                                    <div>
                                        <label for="tiemail">Email:</label>
                                        <InputText type="email" id="tiemail" @bind-Value="_invModel.Email" required
                                                   placeholder="Enter his-her email address" />
                                    </div>
                                    <div>
                                        <label for="tiephon3">Telephone:</label>
                                        <InputText id="tiephone" @bind-Value="_invModel.Phonenumber" required
                                                   placeholder="Enter his-her phone number" />
                                    </div>
                                    <div class="input-group">
                                        <label for="TypDiv">Services:</label>
                                        @if (_lsDivs.Count > 0)
                                        {
                                            <InputSelect @bind-Value="_invModel.Ihie" id="TypDiv">
                                                <option value="0">Aucun</option>
                                                @foreach (var divo in _lsDivs)
                                                {
                                                    <option value="@divo.Ipln">@divo.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <p>Loading/ou absent</p>
                                        }
                                    </div>
                                    <div class="input-group">
                                        <label for="TypPst">Poste:</label>
                                        @if (_lsPsts.Count > 0)
                                        {
                                            <InputSelect @bind-Value="_invModel.Ipst" id="TypPst">
                                                <option value="0">Aucun</option>
                                                @foreach (var divo in _lsPsts)
                                                {
                                                    <option value="@divo.Ipst">@divo.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <p>Loading/ou absent</p>
                                        }
                                    </div>
                                    @if (!IsGenerated)
                                    {
                                        <div>
                                            <button type="button" class="btn btn-primary" @onclick="() => PrepareInviteEmailForApi(1)">Envoyer Invitation Individuelle</button>
                                        </div>
                                    }
                                </Content>
                            </Tab>
                            <Tab Title="De groupe">
                                <Content>
                                    @* <div>
                                        <label for="tiev1">Validite du... :</label>
                                        <InputDate id="tiev1" @bind-Value="_invModel.Datdu">
                                            placeholder="du..."
                                        </InputDate>
                                    </div>
                                    <div>
                                        <label for="tiev2"> au... :</label>
                                        <InputDate id="tiev2" @bind-Value="_invModel.Datau">
                                            placeholder="au..."
                                        </InputDate>
                                    </div> *@
                                    <div>
                                        <label for="Tiedos">Ref.appel:</label>
                                        <InputText id="tiedos" @bind-Value="_invModel.Refapl" required
                                                   placeholder="Enter his-her dossier" />
                                    </div>
                                    <div>
                                        <label for="TieBrol">Role:</label>
                                        @if (_invRoles.Count > 0)
                                        {
                                            <InputSelect @bind-Value="_invModel.Irole" id="TieBrol">
                                                @foreach (var uro in _invRoles)
                                                {
                                                    <option value="@uro.Level">@uro.Name</option>
                                                }
                                            </InputSelect>
                                        }
                                    </div>
                                    <div class="input-group">
                                        <label for="TypBDiv">Services:</label>
                                        @if (_lsDivs.Count > 0)
                                        {
                                            <InputSelect @bind-Value="_invModel.Ihie" id="TypBDiv">
                                                <option value="0">Aucun</option>
                                                @foreach (var divo in _lsDivs)
                                                {
                                                    <option value="@divo.Ihie">@divo.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <p>Loading/ou absent</p>
                                        }
                                    </div>
                                    @* @if (!IsGenerated)
                                    { *@
                                        <div>
                                            <button type="button" class="btn btn-primary" @onclick="() => PrepareInviteEmailForApi(2)">Envoyer Invitation de Groupe</button>
                                        </div>
                                    @* } *@
                                </Content>
                            </Tab>
                        </Tabs>
                    }
                    @if (!isLoading)
                    {
                        @* @if (IsGenerated)
                        {
                            <div class="mt-3">
                                <button class="btn btn-outline-secondary ms-2" type="button" @onclick="CopyToClipboard" disabled="@string.IsNullOrWhiteSpace(generatedLink)">
                                    Copy
                                </button>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-outline-secondary ms-2" type="button" @onclick="() => CmdCustSendEmail()" disabled="@string.IsNullOrWhiteSpace(generatedLink)">
                                    Envoyer Email
                                </button>
                            </div>
                        } *@
                    }
                </EditForm>
            </div>
        </Authorized>
        <NotAuthorized>
            <label>Non Autorise</label>
        </NotAuthorized>
    </AuthorizeView>
}
<style>
    .inputfl {
    opacity: 0;
    width: 0.1;
    height: 0.1;
    position: absolute;
    }

    .disabled {
    pointer-events: none; /* Prevents clicking */
    opacity: 0.5; /*visual cue for disabled state */
    }

    .gpe-select {
    font-size: 24px;
    font-weight: bold;
    }

    .gpe-select option {
    font-size: 18px;
    font-weight: bold;
    }

    .my-container {
    background-color: yellow;
    }
</style>

@code {
    private bool isLoading = true;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; } 
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public bool allEnable { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    //guard
    [Parameter]
    public PendingChangesGuard _guard { get; set; }
    [Parameter]
    public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter]
    public int NbChanges { get; set; }
    [Parameter]
    public EventCallback<int> NbChangesChanged { get; set; }  // 🔥 CRITICAL

    private UsrOgSetModel _invModel = new();

    //[Parameter]
    //public Gxorga curOrga { get; set; }
    // [Parameter]
    // public int? Tgpe { get; set; }
    // [Parameter]
    // public int? Ugpe { get; set; }
    //[Parameter]
    public Userbag _usrBag = new();
    public List<Gpfixe> LsFixes = new();

    private bool success, errors, isSubmitting = false;
    private string successmsg = "", searchstr="", strPoint = "", strmeta = "";
    private List<string> errorList = new List<string>();

    private string rolInv = "", isatmsg = "", Imessage="";
    private bool IsGenerated = false;
    private string generatedLink = "";
    //private int Ugpe = 1;

    private string _codVends = "";
    private bool isReadonly = true;
    private bool isDisabled = true;

    //private RegisterModel _invModel = new RegisterModel();
    //private ICollection<MyRolTable> _inRoles = new List<MyRolTable>(); 

    //private UsrMail _usrMail = new UsrMail();
    //Authentication
    private List<Grole> LsRoles = new();
    private List<Grole> _invRoles = new();
    private List<Grole> _usrRoles = new();
    //private string gpeLiba = "";
    //public List<Gpfixe> LsGties = new();

    private HttpClient _apiClient;
    private HttpClient _locClient;
    //private bool isMade, isSent;

    //private Gsapl Curapl = new Gsapl();
    private IEnumerable<Gsapl> InApls = Enumerable.Empty<Gsapl>().AsQueryable();
    private Tiersp mytiers = new Tiersp();
    private List<Tiersp> lsTiers = new List<Tiersp>();
    private List<Gpdivh> _lsDivs = new List<Gpdivh>();
    private List<Divpst> _lsPsts => _lsDivs.Where(dv => dv.Ihie == _invModel.Ihie).SelectMany(dp => dp.Divpsts).ToList();


    protected override async Task OnInitializedAsync()
    {
        //prise utilisateur courant
        isLoading = true;
        int uMinrol = 0;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Enrol Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Enrol SUCCESS");
        }
        _apiClient = _httpFactorer.CreateClient("AUTHClient");
        _locClient = _httpFactorer.CreateClient("DefaultClient");
        _usrBag = await _sessionContext.GetUserbagAsync();
        LsFixes = _usrBag.Ufixes.ToList();
        //_usrRoles = _usrBag.Uroles.ToList();
        //LsVars = _usrBag.Usorga.Uvars.ToList();
        _lsDivs = await _rendAgres.LoadOrgaPostes();
        var json = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Get, "usercontext/session");
        var result = JsonConvert.DeserializeObject<SessionDto>(json);
        if (result != null)
        {
            //Console.WriteLine($"Nb Roles : {result.Count}");
            _usrRoles = result.FullRoles;
        }
        else
        {
            Console.WriteLine("Nb Roles : null");
            return;
        }
        _invModel.Utyp = 1; //dft = cible
        //Imessage = "Donnees Grilles chargees";
        _navmanager.LocationChanged += OnLocationChanged;
        Console.WriteLine("Authentication ENTREE");
        isLoading = false;
    }
    protected override async void OnParametersSet()
    {
        try
        {
            curODContext = await _contextFactory.CreateAsync(); // Use factory
            //var expand = "Tiewels,Tiewels($expand=Tiwafls),Tiersps,Tiersps($expand=Tieafls),Gsglnes";
            var expand = "Tiewels";
            var dxorgas = await curODContext.LoadFilteredAsync<Gxorga>(expand: expand);
            curOrga = dxorgas.FirstOrDefault();
            if (curOrga == null)
            {
                Console.WriteLine("No organization found for the current user.");
                return;
            }
            //prise des colonnes //default/Ugpe = 1;
            _invModel.Idorg = curOrga.Idorg; // convert.toint16(user.findfirst("insidorg")?.value);                                                        //Console.WriteLine(usrBag.Lkorga.Idorg);
            _invModel.Raison = curOrga.Raison;
            //orga all roles
            int uMinrol = 0;
            //Calcul de uMax role de utilisateur +1 si admin/lui-meme
            uMinrol = _usrRoles.Min(ur => ur.Level);
            if (authUser.IsInRole("Owner"))
            {
                uMinrol = uMinrol + 1; //saute en plus owner
            }
            var clcRoles = await _rendAgres.LoadOrgaRoles();
            List<Grole> lsRoles = clcRoles
                .Select(r => new Grole
                {
                    Name = r.Name,
                    Level = r.Level,
                    Description = r.Description,
                    Surname = r.Name.ToUpper() == "CIBLE" ? curOrga.Stcible : r.Name
                })
                .OrderBy(ur => ur.Level)
                .ToList();
            //saute lui-meme
            _invRoles = lsRoles.Where(ur => ur.Level > uMinrol && (ur.Level > 10 || ur.Level < 40))
                .OrderBy(up => up.Level)
                .ToList();
            StateHasChanged();
            //Console.WriteLine($"From Enrol Menu Nb.cols :{LsCols.Count} et tbEle {TbElems.Count}");
            Console.WriteLine($"orga recu {curOrga.Raison}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"stack trace : {ex.StackTrace} ex-mess : {ex.Message} and also in-mess: {ex.InnerException}");
        }
    }
    //changes des selections
    // void ChxGpeTiers(Gpfixe mygpe)
    // {
    //     gpeLiba = "";
    //     //LsCols = curOrga.Gsglnes.Where(ug => ug.Otyp == 5 && ug.Dtyp == 6 && ug.Totyp == Ugpe && ug.Jacc == 1).ToList();
    //     if (mygpe != null)
    //     {
    //         Ugpe = mygpe.Elea;
    //         //Tgpe = mygpe.Gp2;
    //         gpeLiba = LsGties.Where(ut => ut.Elea == mygpe.Elea).FirstOrDefault().Liba.ToUpperInvariant();
    //         StateHasChanged();
    //         Console.WriteLine("PAS 2");
    //     }
    //     //toChild.LsCols = LsCols;
    // }

    private async Task PrepareInviteEmailForApi(int gpe)
    {
        //gpe = individuel/groupe
        bool IsVerified = await VerifInputs();
        if (!IsVerified)
        {
            Imessage += "Echec Generation : des issues persistent...";
            StateHasChanged();
            return;
        }
        var sndModel = ModelHelper.MapTo<UsrOgSetModel, RegisterDto>(_invModel);
        var inpUrl = _apiClient.BaseAddress?.ToString().TrimEnd('/');
        if (!inpUrl.StartsWith("http", StringComparison.OrdinalIgnoreCase))
            inpUrl = "https://" + inpUrl;
        inpUrl = inpUrl.TrimEnd('/');
        inpUrl = inpUrl + "/api/register/generate-invite";
        // Replace with gxadm subdomain
        var gxadmUrl = UrlParser.ReplaceWithSubdomain(inpUrl, "gxadm"); // → https://gxadm.a24soft.com
        // Fill RegisterDto fields
        sndModel.Idorg = curOrga.Idorg;
        sndModel.Orig = 2;
        sndModel.Toqui = _invModel.Irole; // 1.std / 2.hlp / 3.own
        sndModel.Utyp = _invModel.Utyp;
        sndModel.FbackUrl = gxadmUrl;
        sndModel.WebUrl =  //UrlParser.ReplaceWithSubdomain(inpUrl, "gxadm");
        sndModel.Email = _invModel.Email;       // must be set
        sndModel.Username = "";     // not yet set
        sndModel.Nom = _invModel.Nom;
        sndModel.Pnom = _invModel.Pnom;

        // POST to API
        var response = await _apiClient.PostAsJsonAsync(inpUrl, sndModel);

        if (response.IsSuccessStatusCode)
        {
            Imessage = "Invitation generated and email sent.";
        }
        else
        {
            Imessage = await response.Content.ReadAsStringAsync();
        }
        StateHasChanged();
    }

    // private async Task GenerateEmailLink(int gpe)
    // {
    //     bool IsVerified = false;
    //     IsVerified = await VerifInputs(); //reverification
    //     if (!IsVerified)
    //     {
    //         Imessage = Imessage + "Echec Generation : des issues persistent..." + Imessage;
    //         Console.WriteLine($"message : {Imessage}");
    //         StateHasChanged();
    //         return;
    //     }
    //     var inpUrl = _apiClient.BaseAddress?.ToString().TrimEnd('/');
    //     if (!inpUrl.StartsWith("http", StringComparison.OrdinalIgnoreCase))
    //         inpUrl = "https://" + inpUrl;
    //     inpUrl = inpUrl.TrimEnd('/');
    //     inpUrl = inpUrl + "/api/regis"; //controller
    //     Console.WriteLine($"Backend Link : {inpUrl}");
    //     // Replace with gxadm subdomain
    //     var gxadmUrl = UrlParser.ReplaceWithSubdomain(inpUrl, "gxadm"); // → https://gxadm.a24soft.com
    //     _invModel.Idorg = curOrga.Idorg;
    //     _invModel.Orig = 2; //from invite
    //     _invModel.Toqui = _invModel.Irole; 
    //     _invModel.Utyp = _invModel.Irole;
    //     _invModel.HlpWurl = curOrga.Hlpwurl;
    //     _invModel.Weburl = gxadmUrl;
    //     generatedLink = _linkSerialiser.EncodeAndSerialize(_invModel);
    // }
    // private async Task CmdCustSendEmail()
    // {
    //     // var cdlink = _linkSerialiser.EncodeAndSerialize(new UsrOgSetModel
    //     // {
    //     //     Id = 1,
    //     //     Idorg = _curOrder.Oidorg,
    //     //     Email = _curOrder.Customer.Email,
    //     //     Phonenumber = _curOrder.Customer.Phonenumber,
    //     //     Orig = 1, //from support
    //     //     HlpWurl = _curGxdom.HlpWurl,
    //     //     Sdoma = _invModel.Sdoma,
    //     //     //Srole = "Admin",
    //     //     Utyp = 3,
    //     //     Weburl = gxadmUrl,
    //     //     Ipays = _curOrder.Customer.Country,
    //     //     Ilang = _curOrder.Customer.Ilang,
    //     //     Raison = _curOrder.Customer.Raison,
    //     //     Sigle = _curOrder.Customer.Sigle,
    //     //     Nom = _curOrder.Customer.Nom,
    //     //     Pnom = _curOrder.Customer.Pnom
    //     // }); // or GenerateLink if it returns just the payload
    //     // var ogqryplus = _LinkSerialiser.EncodeAndSerialize(new RegisterDto
    //     //     { ...

    //     //     });
    //     // Build final URL with query string
    //     //var fullUrl = $"{gxadmUrl}/register?cdlink={Uri.EscapeDataString(cdlink)}";
    //     var fullUrl = $"{_invModel.Weburl}/stdregis?cdlink={Uri.EscapeDataString(generatedLink)}"; //&ogqryplus={Uri.EscapeDataString(ogqryplus)}";
    //     //lien a envoyer par CxApi mailer
    //     StandardEmailRequest mailReq = new();
    //     mailReq.InviteLink = fullUrl;
    //     mailReq.Etype = 2; //invite a enregistrer
    //     mailReq.SenderEmail = curOrga.Hlpwurl;
    //     //mailReq.Email = _invModel.Email;
    //     mailReq.UserName = _invModel.Username;
    //     mailReq.Message = "Veuillez cliquer le lien pour joindre le webSite de votre logiciel";
    //     mailReq.Subject = "Invite webSite";
    //     var recipients = mailReq.To?
    //             .Select(r => new EmailRecipientDto
    //             {
    //                 Email = "mesbrous@gmail",
    //                 Name = "gxsupport@cyberso.net"
    //             })
    //             .ToList();
    //     mailReq.To = recipients;
    //     var response = await _apiClient.PostAsJsonAsync<StandardEmailRequest>("email/sendinvite", mailReq);
    //     if (response.IsSuccessStatusCode)
    //     {
    //         Imessage = "Customer Email sent successfully";
    //         Console.WriteLine("✅ Customer Email sent successfully!");
    //     }
    //     else
    //     {
    //         Imessage = $"Customer Email fail to sent ({response.StatusCode})";
    //         var error = await response.Content.ReadAsStringAsync();
    //         Console.WriteLine($"❌ Customer Email fail to sent ({response.StatusCode}): {error}");
    //     }
    //     //var mailUrl = $"{inpUrl}/api/usercontext?{cdlink}";  //api/controller
    //     //_navmanager.NavigateTo(inpUrl, forceLoad: true);
    // }
    private async Task<bool> VerifInputs()
    {
        errors = false;
        errorList = new List<string>();
        if (_invModel.Irole < 1)
        {
            errors = true;
            errorList.Add("Echec, Role obligatoire.");
        }
        if (_invModel.Utyp < 1)
        {
            errors = true;
            errorList.Add("Echec, Qualite obligatoire.");
        }
        if (String.IsNullOrEmpty(_invModel.Nom))
        {
            errors = true;
            errorList.Add("Echec, Nom obligatoire.");
        }
        if (String.IsNullOrEmpty(_invModel.Pnom))
        {
            errors = true;
            errorList.Add("Echec, Prenom(s) obligatoire.");
        }
        if (String.IsNullOrEmpty(_invModel.Email))
        {
            errors = true;
            errorList.Add("Echec, Email obligatoire.");
        }
        if (String.IsNullOrEmpty(_invModel.Phonenumber))
        {
            errors = true;
            errorList.Add("Echec, Phone obligatoire.");
        }
        return errors;
    }
    private async Task SetUtyp(Grole myrol)
    {
        _invModel.Utyp = myrol.Level;
    }
    private async Task CopyToClipboard() =>
        await _jsRun.InvokeVoidAsync("navigator.clipboard.writeText", generatedLink);
    
    void NavigateBack()
    {
        _navmanager.NavigateTo("/");
    }

    // public async Task FabriqInviteLink()
    // {
    //     //Idhie pas obligatoire
    //     _codVends = "";
    //     string tqsrole = "", dqsrole = "";
    //     var tqrol = _invRoles.FirstOrDefault(ur => ur.Level == _invModel.Irole);
    //     if (tqrol != null) tqsrole = tqrol.Name;

    //     string strchai = "", serversite = "";
    //     _usrBag = await _sessionContext.GetUserbagAsync();
    //     _invModel.Dequi = _usrBag.Usprof.Utyp;
    //     _invModel.Toqui = _invModel.Irole;
    //     _invModel.Srole = tqsrole;

    //     if (_usrBag.Usorga != null)
    //     {
    //         var myOrga = _usrBag.Usorga;
    //         ////#x£V@-vnd¥Ω#≥±≠Ω####
    //         //#x£V/#x£A/#x£O = #x£V(origine=vendeur)#x£A(origine=admin)#x£O(origine=operateur)
    //         int CodeLength = 5; //longueur du code aleatoire
    //         string stralea = "";
    //         //recuperation du nbre aleatoire
    //         Random random = new Random();
    //         StringBuilder output = new StringBuilder();
    //         for (int i = 0; i < CodeLength; i++)
    //         {
    //             output.Append(random.Next(0, 10));
    //         }
    //         stralea = output.ToString();
    //         int deQui = _invModel.Dequi;
    //         int toQui = _invModel.Toqui;
    //         Console.WriteLine($"dequi '{deQui} et toqui : {toQui}");
    //         string? stOrga = myOrga.Idorg.ToString();
    //         string? typdom = myOrga.Dom.ToString();
    //         string? tyorg = myOrga.Torg.ToString();
    //         string datope = "";
    //         strchai = DateTime.Now.Year.ToString().Trim();
    //         strchai = "9999".Substring(0, 4 - strchai.Length) + strchai;
    //         datope = strchai;
    //         strchai = DateTime.Now.Month.ToString().Trim();
    //         strchai = "00".Substring(0, 2 - strchai.Length) + strchai;
    //         datope = datope + strchai;
    //         strchai = DateTime.Now.Day.ToString().Trim();
    //         strchai = "00".Substring(0, 2 - strchai.Length) + strchai;
    //         //datope = datope + strchai;
    //         int lga = stralea.Length;
    //         if (lga > 4)
    //         {
    //             lga = 4;
    //             strchai = stralea.Substring(0, 4);
    //         }
    //         else
    //         {
    //             strchai = stralea;
    //         }
    //         // verifier /orga /hiera

    //         string aleaupd = stOrga + strchai;
    //         string kvdmail = _usrBag.Usprof.Uemail; //email inviteur
    //         string kachmail = _invModel.Email; //email saisi
    //         string kachtypt = myOrga.Torg.ToString();
    //         string kraison = myOrga.Raison;//myCmde.Raison;
    //         string kphone = _invModel.Phonenumber;
    //         string kpays = myOrga.Pays.ToString(); // _usrBag.Usprof.Upays;
    //         string stsite = myOrga.Stserver;
    //         string stdoma = myOrga.Stdom;
    //         string stsigle = myOrga.Sigle;
    //         string achtypu = _invModel.Utyp.ToString();
    //         string kcdeip = myOrga.CurIp;
    //         //orig=2 /invite
    //         var avtCode = "&icoda=xgVnCd" + "&datope=" + datope + "&orig=2"
    //                     + "&dequi=" + deQui.ToString() + "&deqmail=" + kvdmail + "&deqid=" + _usrBag.Usprof.Userid + "&nodos=" + _invModel.Xmatri
    //                     + "&dequname=" + _usrBag.Usprof.Username + "&deqpmail=" + kvdmail + "&deqphone=" + _usrBag.Usprof.Uphone + "&deqnom=" + _usrBag.Usprof.Unom + "&deqpnom=" + _usrBag.Usprof.Upnom
    //                     + "&toqui=" + toQui.ToString() + "&toqmail=" + _invModel.Email + "&phone=" + _invModel.Phonenumber + "&toqid=1212441144"
    //                     + "&opays=" + kpays + "&toqlang=fr" + "&typtie=" + _invModel.Utyp + "&dqirole=" + deQui.ToString() + "&tqirole=" + toQui.ToString()
    //                     + "&dqsrole=" + dqsrole + "&tqsrole=" + tqsrole + "&toqnom=" + _invModel.Nom + "&toqpnoms=" + _invModel.Pnom
    //                     + "&methp=1" + "&stsigle=" + stsigle
    //                     + "&tydoma=" + typdom + "&stdoma=" + stdoma + "&datcde=" + DateTime.Now
    //                     + "&tysite=1" + "&stsite=" + stsite
    //                     + "&ivorga=" + stOrga + "&straison=" + kraison + "&hiera=" + _invModel.Idhie + "@ipost" + _invModel.Idpst
    //                     + "&nbalea=" + aleaupd;
    //         var bytes = Encoding.UTF8.GetBytes(avtCode);
    //         var avtEncode = $"{stsite}/register?cdlnk={WebEncoders.Base64UrlEncode(bytes)}";
    //         //var avtRepara = $"https://localhost:7171/repareg?cdlnk={WebEncoders.Base64UrlEncode(bytes)}";
    //         //var versRepara = Uri.UnescapeDataString(avtRepara); 
    //         _codVends = Uri.UnescapeDataString(avtEncode);
    //         Console.WriteLine(_codVends);
    //         //creation ou modif gsapl (atyp=96)
    //         var myapls = InApls.Where(ap => ap.Email == _invModel.Email && ap.Phonenumber == _invModel.Phonenumber).ToList();
    //         if (myapls.Any())
    //         {
    //             strmeta = "Personne a deja ete invite";
    //             _codVends = myapls.FirstOrDefault().Stcod;
    //         }
    //         else
    //         {
    //             var unapl = new Gsapl();
    //             unapl.Idorg = _usrBag.Idorg;
    //             unapl.Atyp = 96;
    //             unapl.Stcod = _codVends;
    //             unapl.Email = _invModel.Email;
    //             unapl.Phonenumber = _invModel.Phonenumber;
    //             unapl.Nom = _invModel.Nom;
    //             unapl.Pnom = _invModel.Pnom;
    //             unapl.Raison = _invModel.Raison;
    //             unapl.Datc = DateTime.Now;
    //             //_vcontext.AddToGsapl(unapl);
    //             //await _entityManager.SaveChanges();
    //         }
    //         isMade = true;
    //     }
    // }
    // public async Task EnvoieInviteAsync()
    // {
    //     isLoading = true;
    //     errors = false; success = false;
    //     errorList = new List<string>();
        
    //     //envoie mail
    //     string strBody = "";
    //     strBody = _strOrga + ": Invitation a vous inscrire";
    //     strBody = strBody + "<p>Cliquez sur le lien ci-dessus pour repondre a invitation</p>";
    //     strBody = strBody + _codVends; //code invite
    //     strBody = strBody + "<p>Vous pouvez consulter les liens ci-dessous :</p>";
    //     strBody = strBody + "<p>Telegram : jsduid.me.com</p>";
    //     strBody = strBody + "<p>Facebook : jsduid.me.com</p>";
    //     _usrMail.From = _usrBag.Usprof.Uemail;
    //     _usrMail.To = _invModel.Email;
    //     Console.WriteLine($"from : {_usrMail.From } et {_usrMail.To}");
    //     if(string.IsNullOrEmpty(_usrMail.From) || string.IsNullOrEmpty(_usrMail.To))
    //     {
    //         errors = true;
    //         errorList.Add("Email et destinataire obligatoire.");
    //         return;
    //     }
    //     _usrMail.Ucode = _codVends;
    //     _usrMail.Uorgv = _usrBag.Idorg;
    //     string usrNom = _invModel.Nom;
    //     string usrPnom = _invModel.Pnom;
    //     string usrPhone = _invModel.Phonenumber;
    //     //_usrMail.MailSubject = "Invitation a vous inscrire";
    //     string infoplus = $" Nom : {usrNom }, Prenom(s) : {usrPnom} Telephone : {usrPhone}";
    //     _usrMail.Uinfos = infoplus;
    //     //envoie var response = await _logClient.PostAsJsonAsync("Lgauth/renvoiemail", usrMail);
    //     var response = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Post, $"lgauth/sendcodemail");
    //     success = true;
    //     successmsg = "Succes email INVITE envoye";
    //     Console.WriteLine("Succes ENVOIE");
    //     isLoading = false;
    //     //isMade = false;
    //     isSent = true;
    //     StateHasChanged();
    // }
    //manage SAVING
    public async Task EdtAll()
    {
        //allEnable = true;
        //isTieEditing = false;
    }
    public async Task CncAll()
    { //reload
        //await LoadOrgaAsync();
        //isTieEditing = false;
        //allEnable = false;
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        //allEnable = false;
        SaveCurEntities();
    }
    public async Task<bool> SaveCurEntities()
    {
        try
        {
            // if (isTiwEditing)
            // {
            //     curODContext.UpdateObject<Tiewel>(curTiw);
            //     await curODContext.SaveDataAsync();
            //     isTiwEditing = false;
            //     Console.WriteLine("Saved SUCCESS");
            // }
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
            return true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Saved ISSUE {ex.Message}");
            //Alert($"ECHEC Entities not SAVED");
            return false;
        }
    }
}