@page "/invoper"

@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Security.Claims
@using System.Text
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxTie.Services
@using GxShared.Sess
@using GxShared.Others
@using GxShared.Identity
@using GxShared.Helpers
@using GxShared.ShdServices
@using GxWapi.DaModels
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject IHttpClientFactory _httpFactorer
@inject ILocalStorageService _localStorage
@inject HttpClientService _clieManager
@inject IODataContextFactory _contextFactory
@inject LinkSerialiser _linkSerialiser
@inject NavigationManager _navmanager
@inject SessionContextService _sessionContext
@inject IJSRuntime _jsRun
@inject RendAgres _rendAgres

<PageTitle>OPERATEURS</PageTitle>
@if (!string.IsNullOrEmpty(Imessage))
{
    <div>
        <p style="color:red;">@Imessage</p>
    </div>
}
@if (ErrorsList.Any())
{
    foreach (var uner in ErrorsList)
    {
        Imessage = Imessage + uner.ToString();
    }
}
<AuthorizeView Context="authContext">
    <Authorized>
    <div class="d-flex flex-row">
            <EditForm Model="_invModel" OnValidSubmit="SendIndividualInvite" Context="invFormContext">
                <DataAnnotationsValidator />
                    <ValidationSummary />
                    <Tabs>
                    <Tab Title="Individuelle" Name="IndTab" onClick="() => OnTabChanged(1)">
                        <Content>
                            <div class="row g-3">
                                <!-- Rappel -->
                                <div class="col-md-4">
                                    <label>Ref.appel:</label>
                                    <InputText @bind-Value="_invModel.Refapl" class="form-control" />
                                </div>
                                <!-- Role -->
                                <div class="col-md-4">
                                    <label>Role:</label>
                                    <InputSelect @bind-Value="_invModel.Irole" class="form-select">
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var role in _invRoles)
                                        {
                                            <option value="@role.Level">@role.Name</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                                <!-- Quality -->
                                <div class="col-md-4">
                                    <label>Qualité:</label>
                                    <InputSelect @bind-Value="_invModel.Utyp" class="form-select">
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var ut in LsFixes.Where(uf => uf.Gvars == 36 && uf.Itb == 11 && (uf.Gp1 == 1 || uf.Gp1 == 2) && uf.Elea != 0))
                                        {
                                            <option value="@ut.Elea" @onclick="() => SelUtyp(ut)">@ut.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <!-- Raison (si tiers : client/fournis/patern) -->
                                @if (_curUtyp.Gp1 == 2) //
                                {
                                    <div class="col-md-4">
                                        <label>Raison:</label>
                                        <InputText @bind-Value="_invModel.TRaison" class="form-control" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4"></div>
                                }
                                <div class="col-md-4"></div>
                                <!-- Nom -->
                                <div class="col-md-4">
                                    <label>Nom:</label>
                                    <InputText @bind-Value="_invModel.FirstName" class="form-control" />
                                </div>
                                <!-- Pnom -->
                                <div class="col-md-4">
                                    <label>Prenom(s):</label>
                                    <InputText @bind-Value="_invModel.LastName" class="form-control" />
                                </div>
                                <div class="col-md-4"></div>
                                <!-- Email -->
                                <div class="col-md-4">
                                    <label>Email:</label>
                                    <InputText type="email" @bind-Value="_invModel.Email" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label>Téléphone:</label>
                                    <InputText @bind-Value="_invModel.PhoneNumber" class="form-control" />
                                </div>
                                <div class="col-md-4"></div>
                                <!-- Services -->
                                <div class="col-md-4">
                                    <label>Services:</label>
                                    <InputSelect @bind-Value="_invModel.Ihie" class="form-select">
                                        <option value="0">Aucun</option>
                                        @foreach (var div in _lsDivs)
                                        {
                                            <option value="@div.Ihie">@div.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <!-- Poste -->
                                <div class="col-md-4">
                                    <label>Poste:</label>
                                    <InputSelect @bind-Value="_invModel.Ipst" class="form-select">
                                        <option value="0">Aucun</option>
                                        @foreach (var pst in _lsPsts)
                                        {
                                            <option value="@pst.Ipst">@pst.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(Imessage))
                                    {
                                        <div>
                                            <p style="color:red;">@Imessage</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <Button color="ButtonColor.Primary" @onclick="() => SendIndividualInvite()">
                                        Envoyer Invitation Individuelle
                                    </Button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </Content>
                    </Tab>
                    <Tab Title="De groupe" Name="GpeTab" onClick="() => OnTabChanged(2)">
                        <Content>
                            <div class="row g-3">
                                <!-- Reference -->
                                <div class="col-md-4">
                                    <label>Ref.appel:</label>
                                    <InputText @bind-Value="_invModel.Refapl" class="form-control" />
                                </div>
                                <!-- Role -->
                                <div class="col-md-4">
                                    <label>Role:</label>
                                    <InputSelect @bind-Value="_invModel.Irole" class="form-select">
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var role in _invRoles)
                                        {
                                            <option value="@role.Level">@role.Name</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                                <!-- Quality -->
                                <div class="col-md-4">
                                    <label>Qualité:</label>
                                    <InputSelect @bind-Value="_invModel.Utyp" class="form-select">
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var ut in LsFixes.Where(uf => uf.Gvars == 36 && uf.Itb == 11 && (uf.Gp1 == 1 || uf.Gp1 == 2) && uf.Elea != 0))
                                        {
                                            <option value="@ut.Elea" @onclick="() => SelUtyp(ut)">@ut.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <!-- Raison (si tiers : client/fournis/patern) -->
                                @if (_curUtyp.Gp1 == 2) //
                                {
                                    <div class="col-md-4">
                                        <label>Raison:</label>
                                        <InputText @bind-Value="_invModel.TRaison" class="form-control" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4"></div>
                                }
                                <div class="col-md-4"></div>
                                <!-- Services -->
                                <div class="col-md-4">
                                    <label>Services:</label>
                                    <InputSelect @bind-Value="_invModel.Ihie" class="form-select">
                                        <option value="0">Aucun</option>
                                        @foreach (var div in _lsDivs)
                                        {
                                            <option value="@div.Ihie">@div.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <!-- Poste -->
                                <div class="col-md-4">
                                    <label>Poste:</label>
                                    <InputSelect @bind-Value="_invModel.Ipst" class="form-select">
                                        <option value="0">Aucun</option>
                                        @foreach (var pst in _lsPsts)
                                        {
                                            <option value="@pst.Ipst">@pst.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <EditForm Model="newRecipient">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <!-- Title + Add button row -->
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-7">
                                        <label>Liste Identites invites</label>
                                        <button type="button"
                                                class="btn btn-primary ms-2"
                                                @onclick="AddOpeRecipient"
                                                disabled="@(!CanAddRecipient)">
                                            Add
                                        </button>
                                    </div>
                                </div>

                                <!-- Input fields row -->
                                <div class="d-flex gap-2 mt-2">
                                    <InputText @bind-Value="newRecipient.Email"
                                               class="form-control"
                                               placeholder="Email"
                                               @onblur="() => StateHasChanged()" />

                                    <InputText @bind-Value="newRecipient.PhoneNumber"
                                               class="form-control"
                                               placeholder="Phone"
                                               @onblur="() => StateHasChanged()" />

                                    <InputText @bind-Value="newRecipient.FirstName"
                                               class="form-control"
                                               placeholder="First Name"
                                               @onblur="() => StateHasChanged()" />

                                    <InputText @bind-Value="newRecipient.LastName"
                                               class="form-control"
                                               placeholder="Last Name"
                                               @onblur="() => StateHasChanged()" />
                                </div>
                            </EditForm>
                            <div class="row g-2">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(Imessage))
                                    {
                                        <div>
                                            <p style="color:red;">@Imessage</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            @if (operecipients.Any())
                            {
                                <h5 class="mt-3">Recipients valides:</h5>
                                <ul class="list-group">
                                    @foreach (var r in operecipients)
                                    {
                                        <li class="list-group-item">
                                            @r.Email - @r.PhoneNumber - @r.FirstName @r.LastName
                                        </li>
                                    }
                                </ul>
                            }
                            @if (invalidEntries.Any())
                            {
                                <div class="alert alert-warning mt-2">
                                    <strong>Entrees invalides:</strong>
                                    <ul>
                                        @foreach (var e in invalidEntries)
                                        {
                                            <li>@e</li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="row g-3">
                                <Button color="ButtonColor.Primary" @onclick="SendGroupInvite"
                                        disabled="!operecipients.Any()">
                                    Envoyer Invitations Groupe (@operecipients.Count)
                                </Button>
                            </div>
                        </Content>
                    </Tab>
                    <Tab Title="Affilies" Name="AflTab" onClick="() => OnTabChanged(3)">
                        <Content>
                            <div class="row g-3">
                                <!-- Reference -->
                                <div class="col-md-4">
                                    <label>Ref.appel:</label>
                                    <InputText @bind-Value="_invModel.Refapl" class="form-control" />
                                </div>
                                <!-- Services -->
                                <div class="col-md-4">
                                    <label>Services:</label>
                                    <InputSelect @bind-Value="_invModel.Ihie" class="form-select">
                                        <option value="0">Aucun</option>
                                        @foreach (var idiv in _lsDivs)
                                        {
                                            <option value="@idiv.Ihie" @onclick="() => SelTiws(idiv)">@idiv.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                                <!-- Role -->
                                <div class="col-md-4">
                                    <label>Role:</label>
                                    <InputSelect @bind-Value="_invModel.Irole" class="form-select" disabled>
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var role in _invRoles)
                                        {
                                            <option value="@role.Level">@role.Name</option>
                                        }
                                    </InputSelect>
                                </div>
                                <!-- Quality -->
                                <div class="col-md-4">
                                    <label>Qualité:</label>
                                    <InputSelect @bind-Value="_invModel.Utyp" class="form-select" disabled>
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var ut in LsFixes.Where(uf => uf.Gvars == 36 && uf.Itb == 11 && (uf.Gp1 == 1 || uf.Gp1 == 2) && uf.Elea != 0))
                                        {
                                            <option value="@ut.Elea" @onclick="() => SelUtyp(ut)">@ut.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                                <!-- Cible -->
                                <div class="col-md-4">
                                    <label>Cible:</label>
                                    <InputSelect @bind-Value="_invModel.Ivcible" class="form-select">
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var tiw in _lsTiws)
                                        {
                                            <option value="@tiw.Id">@tiw.Xmatri @tiw.Nom @tiw.Pnom</option>
                                        }
                                    </InputSelect>
                                </div>
                                <!-- Affilie -->
                                <div class="col-md-4">
                                    <label>G.Affilie:</label>
                                    <InputSelect @bind-Value="_invModel.IvGAfl" class="form-select">
                                        <option value="0">Sélectionner...</option>
                                        @foreach (var gfl in _lsGAfls)
                                        {
                                            <option value="@gfl.Xseq">@gfl.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <EditForm Model="newRecipient">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <!-- Title + Add button row -->
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-7">
                                        <label>Liste Identites invites</label>
                                        <button type="button"
                                                class="btn btn-primary ms-2"
                                                @onclick="AddOpeRecipient"
                                                disabled="@(!CanAddRecipient)">
                                            Add
                                        </button>
                                    </div>
                                </div>

                                <!-- Input fields row -->
                                <div class="d-flex gap-2 mt-2">
                                    <InputText @bind-Value="newRecipient.Email"
                                               class="form-control"
                                               placeholder="Email"
                                               @onblur="() => StateHasChanged()" />

                                    <InputText @bind-Value="newRecipient.PhoneNumber"
                                               class="form-control"
                                               placeholder="Phone"
                                               @onblur="() => StateHasChanged()" />

                                    <InputText @bind-Value="newRecipient.FirstName"
                                               class="form-control"
                                               placeholder="First Name"
                                               @onblur="() => StateHasChanged()" />

                                    <InputText @bind-Value="newRecipient.LastName"
                                               class="form-control"
                                               placeholder="Last Name"
                                               @onblur="() => StateHasChanged()" />
                                </div>
                            </EditForm>
                            <div class="row g-2">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(Imessage))
                                    {
                                        <div>
                                            <p style="color:red;">@Imessage</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            @if (operecipients.Any())
                            {
                                <h5 class="mt-3">Recipients valides:</h5>
                                <ul class="list-group">
                                    @foreach (var r in operecipients)
                                    {
                                        <li class="list-group-item">
                                            @r.Email - @r.PhoneNumber - @r.FirstName @r.LastName
                                        </li>
                                    }
                                </ul>
                            }
                            @if (invalidEntries.Any())
                            {
                                <div class="alert alert-warning mt-2">
                                    <strong>Entrees invalides:</strong>
                                    <ul>
                                        @foreach (var e in invalidEntries)
                                        {
                                            <li>@e</li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="row g-3">
                                <Button color="ButtonColor.Primary" @onclick="SendGroupInvite"
                                        disabled="!operecipients.Any()">
                                    Envoyer Invitations Groupe (@operecipients.Count)
                                </Button>
                            </div>
                        </Content>
                    </Tab>
                    </Tabs>
                </EditForm>
                @if (invalidEmails.Any())
                {
                    <Alert Color="AlertColor.Danger">
                        <strong>Invalid entries:</strong>
                        <ul>
                            @foreach (var line in invalidLines)
                            {
                                <li>@line</li>
                            }
                        </ul>
                    </Alert>
                }
    </div>
    </Authorized>
    <NotAuthorized>        
        <label>Non Autorise</label>
    </NotAuthorized>
</AuthorizeView>
<style>
    .inputfl {
    opacity: 0;
    width: 0.1;
    height: 0.1;
    position: absolute;
    }

    .disabled {
    pointer-events: none; /* Prevents clicking */
    opacity: 0.5; /*visual cue for disabled state */
    }

    .gpe-select {
    font-size: 24px;
    font-weight: bold;
    }

    .gpe-select option {
    font-size: 18px;
    font-weight: bold;
    }

    .my-container {
    background-color: yellow;
    }
</style>

@code {
    private bool isLoading = true;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public bool allEnable { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    //guard
    //[Parameter]
    //public PendingChangesGuard _guard { get; set; }
    //[Parameter]
    //public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter]
    public int NbChanges { get; set; }
    [Parameter]
    public EventCallback<int> NbChangesChanged { get; set; }  // 🔥 CRITICAL

    private InviteRequest _invModel = new();

    //private RegisterDto infosModel = new();
    private string emailsInput = string.Empty;
    private List<string> invalidEmails = new();
    private List<OpeRecipient> lastSavedRecipients = new();
    private bool operecipientsSaved = false;

    private string Imessage = "";

    // Errors
    private List<string> ErrorsList = new();
    // Data
    private List<Grole> _invRoles = new();
    private List<Gpdivh> _lsDivs = new();
    private List<Divpst> _lsPsts => _lsDivs
        .Where(d => d.Ihie == _invModel.Ihie)
        .SelectMany(d => d.Divpsts)
        .ToList();
    //GlobModels
    private Userbag _usrBag = new Userbag();
    int uMinrol = 0;
    private List<Gpfixe> LsFixes = new();
    private Gpfixe _curUtyp = new();
    private List<Grole> _usrRoles = new();
    private List<Tiewel> _lsTiws = new();
    private List<Gpvar> _lsGAfls = new();
    private List<string> invalidLines = new();
    //private List<SimpleRecipient> ValidGroupEmails => ParseGroupEmails();
    //private bool CanSendGroupInvite() => ValidGroupEmails.Any();

    private List<OpeRecipient> operecipients = new();
    private OpeRecipient newRecipient = new();
    private List<string> invalidEntries = new();

    private bool CanAddRecipient =>
    !string.IsNullOrWhiteSpace(newRecipient.Email) &&
    !string.IsNullOrWhiteSpace(newRecipient.PhoneNumber) &&
    !string.IsNullOrWhiteSpace(newRecipient.FirstName) &&
    !string.IsNullOrWhiteSpace(newRecipient.LastName);

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Astreintes Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Astreintes SUCCESS");
        }
        await LoadInviteData();
        isLoading = false;
    }

    private async Task LoadInviteData()
    {
        // Load roles, divisions, fixes (your existing logic)
        _usrBag = await _sessionContext.GetUserbagAsync() ?? new Userbag();
        LsFixes = _usrBag.Ufixes.ToList();
        //_lsGAfls = _usrBag.Uvars.Where
        _lsDivs = await _rendAgres.LoadOrgaPostes();

        //all orga roles
        var clcRoles = await _rendAgres.LoadOrgaRoles();
        var lsRoles = clcRoles.OrderBy(r => r.Level).ToList();
        //current user roles
        _usrRoles = _usrBag.Uroles.ToList();
        uMinrol = _usrRoles.Min(ur => ur.Level);
        //if (!authUser.IsInRole("Support"))
        //{ //ne peut s-inviter sauf si Support
        //    uMinrol = uMinrol + 1;
        //}
        if (authUser.IsInRole("Owner"))
        {
            uMinrol = uMinrol + 1; //saute en plus owner
        }
        //saute lui-meme
        _invRoles = lsRoles.Where(ur => ur.Level > uMinrol && (ur.Level < 10 || ur.Level > 40))
            .OrderBy(up => up.Level)
            .ToList();
        Console.WriteLine($"bon roles : {_invRoles.Count()}");
        _invModel.Utyp = 0; //cible
        //Imessage = "Donnees Grilles chargees";
        Console.WriteLine("Authentication ENTREE");
        try
        {
            curODContext = await _contextFactory.CreateAsync(); // Use factory
            var expand = "Tiewels";
            var dxorgas = await curODContext.LoadFilteredAsync<Gxorga>(expand: expand);
            curOrga = dxorgas.FirstOrDefault();
            if (curOrga == null)
            {
                Console.WriteLine("No organization found for the current user.");
                return;
            }
            //prise des colonnes //default/Ugpe = 1;
            _invModel.Idorg = curOrga.Idorg; // convert.toint16(user.findfirst("insidorg")?.value);                                                        //Console.WriteLine(usrBag.Lkorga.Idorg);
            _invModel.Raison = curOrga.Raison;
            //Console.WriteLine($"From Enrol Menu Nb.cols :{LsCols.Count} et tbEle {TbElems.Count}");
            Console.WriteLine($"orga recu {curOrga.Raison}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"stack trace : {ex.StackTrace} ex-mess : {ex.Message} and also in-mess: {ex.InnerException}");
        }
    }

    private async Task SendIndividualInvite()
    {
        Console.WriteLine("Sending Invite");
        try
        {
            Console.WriteLine("Envoie de Individuel");
            // Verify _invModel inputs
            bool siVerif = await VerifInputs(1);
            if (!siVerif)
            {
                Imessage = "Verification : " + Imessage;
                foreach(var uro in ErrorsList)
                {
                    Console.WriteLine($"verif issues : {uro}");
                }
                StateHasChanged();
                return;
            }
            // Individual
            Console.WriteLine("1 en cours....");
            await _clieManager.SetAuthorizationHeaderAsync("AUTHClient");
            var response = await _clieManager.SendRequestAsync("AUTHClient", HttpMethod.Post,
                "usercontext/generate-invite", new IndividualInviteRequest
                {
                    InviteData = _invModel
                });
            Imessage = "Succes Individual invite " + _invModel.FirstName + "/" + _invModel.LastName;
            operecipientsSaved = true;
            StateHasChanged();
            // Success handling
        }
        catch (Exception ex)
        {
            // Error handling
        }
    }
    private void SendGroupInvite()
    {
        lastSavedRecipients.Clear();

        // Structured recipients
        lastSavedRecipients.AddRange(operecipients);

        // Bulk recipients
        var parsed = ParseGroupEmails();
        lastSavedRecipients.AddRange(parsed.Select(r => new OpeRecipient
        {
            Email = r.Email,
            FirstName = r.Name.Split(' ').FirstOrDefault() ?? "",
            LastName = r.Name.Split(' ').Skip(1).FirstOrDefault() ?? "",
            PhoneNumber = ""
        }));

        // Now lastSavedRecipients contains only the valid entries from this save
        // TODO: send invites
        operecipientsSaved = true;
        StateHasChanged();
    }
    private void OnTabChanged(int tabIndex)
    {
        // Optionally check if current recipients were saved before clearing
        // args.Tab gives you the tab being shown
     
        if (operecipients.Any() && !operecipientsSaved)
        {
            Imessage = $"Recipients not yet sent. Please send before leaving current tab.";
            // You can decide whether to clear or keep them
        }
        else
        {
            // Reset recipients when switching
            operecipients.Clear();
            invalidEntries.Clear();
            newRecipient = new OpeRecipient();
            operecipientsSaved = false;
        }

        
        if (!operecipientsSaved && operecipients.Any())
        {
            Imessage = "Please save or send current recipients before leaving.";
            return; // block tab change or warn user
        }

        operecipients.Clear();
        invalidEntries.Clear();
        newRecipient = new OpeRecipient();
    }
    private void SelUtyp(Gpfixe myfix)
    {
        _curUtyp = new();
        if (myfix != null) _curUtyp = myfix;
    }
    private void SelTiws(Gpdivh mydiv)
    {
        //prises des tiwels du div qui ont des Tiwafls
        _lsTiws = curOrga.Tiewels.Where(ti => ti.Tiwafls.Count() > 0 && ti.Ihie == mydiv.Ihie).ToList();
    }
    private void AddOpeRecipient()
    {
        if (IsValidEmail(newRecipient.Email) && IsValidPhone(newRecipient.PhoneNumber))
        {
            operecipients.Add(new OpeRecipient
            {
                Email = newRecipient.Email,
                PhoneNumber = newRecipient.PhoneNumber,
                FirstName = newRecipient.FirstName,
                LastName = newRecipient.LastName
            });
            newRecipient = new OpeRecipient(); // reset form
        }
        else
        {
            invalidEntries.Add($"{newRecipient.Email} - {newRecipient.PhoneNumber} - {newRecipient.FirstName} {newRecipient.LastName}");
        }
        StateHasChanged(); // force UI refresh
    }
    private List<SimpleRecipient> ParseGroupEmails()
    {
        var emails = new List<SimpleRecipient>();
        invalidEmails.Clear();

        var lines = emailsInput.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries)
            .Select(l => l.Trim()).Where(l => !string.IsNullOrWhiteSpace(l));

        foreach (var line in lines)
        {
            // quick heuristic: more than one '@' means multiple emails in one line
            var atCount = line.Count(c => c == '@');
            if (atCount > 1)
            {
                invalidEmails.Add($"{line} (multiple recipients on one line)");
                continue;
            }
            var parts = line.Split('-', 2, StringSplitOptions.TrimEntries);
            var email = parts[0].Trim().ToLowerInvariant();
            var name = parts.Length > 1 ? parts[1].Trim() : "";

            if (IsValidEmail(email))
                emails.Add(new SimpleRecipient { Email = email, Name = name });
            else
                invalidEmails.Add($"{line} (invalid format)");
        }
        return emails;
    }
    private bool IsValidEmail(string email)  // ✅ Instance method
    {
        if (string.IsNullOrWhiteSpace(email)) return false;
        return System.Text.RegularExpressions.Regex.IsMatch(email, @"^[^@\s]+@[^@\s]+\.[^@\s]+$");
    }
    private bool IsValidPhone(string phone)
    {
        if (string.IsNullOrWhiteSpace(phone))
            return false;

        // Normalize: remove spaces, dashes, parentheses
        var digitsOnly = new string(phone.Where(char.IsDigit).ToArray());

        // Basic length check
        if (digitsOnly.Length < 7 || digitsOnly.Length > 15)
            return false;

        // Optional: allow leading '+' for international format
        if (phone.StartsWith("+"))
        {
            // Ensure rest are digits
            return digitsOnly.Length >= 7 && digitsOnly.Length <= 15;
        }

        return true;
    }
    private async Task<bool> VerifInputs(int gpe)
    {
        ErrorsList = new();
        //tous
        if (_invModel.Irole < 1)
        {
            ErrorsList.Add("Echec, Role obligatoire.");
        }
        if (_invModel.Utyp < 1)
        {
            ErrorsList.Add("Echec, Qualite obligatoire.");
        }
        if (gpe == 1)
        {
            if (String.IsNullOrEmpty(_invModel.FirstName))
            {
                ErrorsList.Add("Echec, Nom obligatoire.");
            }
            if (String.IsNullOrEmpty(_invModel.LastName))
            {
                ErrorsList.Add("Echec, Prenom(s) obligatoire.");
            }   
            if (!IsValidEmail(_invModel.Email))
            {
                ErrorsList.Add("Echec, Email obligatoire.");
            }
            if (String.IsNullOrEmpty(_invModel.PhoneNumber))
            {
                ErrorsList.Add("Echec, Phone obligatoire.");
            }
            if (_invModel.Utyp > 3 && _invModel.Utyp <= 6)
            {
                if (String.IsNullOrEmpty(_invModel.TRaison))
                {
                    ErrorsList.Add("Echec, Raison obligatoire.");
                }
            }
        }
        if (ErrorsList.Any())
        {
            return false;
        } else
        {
            return true;
        }
    }
    public class OpeRecipient
    {
        public string Email { get; set; } = "";
        public string PhoneNumber { get; set; } = "";
        public string FirstName { get; set; } = "";
        public string LastName { get; set; } = "";
    }
}