@page "/items-categories"
@using GxWapi.DaModels
@using GxShared.Helpers
@using GxStk.Services
@using GxShared.Sess
@using GxShared.GxDtos

<div class="container mt-3">
    <h4>Stock Categories</h4>

    <Button Color="ButtonColor.Success" OnClick="@StartAdd">Add New Category</Button>

    <Grid TItem="Stkcat" Data="@curOrga?.Stkcats" AllowPaging="true" Responsive="true">
        <GridColumns>
            <GridColumn TItem="Stkcat" HeaderText="Id" Class="xcol1">
                <ChildContent Context="item">@item.Id</ChildContent>
            </GridColumn>
            <GridColumn TItem="Stkcat" HeaderText="Label" Class="xcol3">
                <ChildContent Context="item">
                    @if (editRowguid == item.Rowguid)
                    {
                        <InputText @bind-Value="draftCat.Liba" />
                    }
                    else
                    {

                        @item.Liba
                    }
                </ChildContent>
            </GridColumn>
            <GridColumn TItem="Stkcat" HeaderText="Price" Class="xcol2">
                <ChildContent Context="item">
                    @if (editRowguid == item.Rowguid)
                    {
                        <InputNumber @bind-Value="draftCat.Prix" />
                    }
                    else
                    {

                        @item.Prix
                    }
                </ChildContent>
            </GridColumn>
            <GridColumn TItem="Stkcat" HeaderText="Actions">
                <ChildContent Context="item">
                    @if (editRowguid == item.Rowguid)
                    {
                        <Button Color="ButtonColor.Primary" OnClick="@(() => SaveEdit(item))">Save</Button>
                        <Button Color="ButtonColor.Secondary" OnClick="@CancelEdit">Cancel</Button>
                    }
                    else
                    {
                        <Button Color="ButtonColor.Warning" OnClick="@(() => StartEdit(item))">Edit</Button>
                        <Button Color="ButtonColor.Danger" OnClick="@(() => DeleteCategory(item))">Delete</Button>
                    }
                </ChildContent>
            </GridColumn>
        </GridColumns>
    </Grid>

    @if (isAdding)
    {
        <div class="mt-3">
            <InputText @bind-Value="draftCat.Liba" placeholder="Label" />
            <InputNumber @bind-Value="draftCat.Prix" placeholder="Price" />
            <Button Color="ButtonColor.Success" OnClick="@SaveAdd">Add</Button>
            <Button Color="ButtonColor.Secondary" OnClick="@CancelAdd">Cancel</Button>
        </div>
    }
</div>

@code {
    [Parameter] public MyODataContext curODContext { get; set; }
    [Parameter] public Gxorga curOrga { get; set; }
    [Parameter] 
    public List<Gpdivh> LsDivs { get; set; }
    
    private bool isAdding = false;
    private Guid? editRowguid;
    private Stkcat draftCat = new();


    private void StartAdd()
    {
        isAdding = true;
        draftCat = new Stkcat(); // reset draft
    }
    private void SaveEdit(Stkcat mycat)
    {
        Console.WriteLine($"Saving attribute {mycat.Id}");
    }
    private void CancelEdit()
    {
        Console.WriteLine($"Cancelling attribute");
    }
    private void StartEdit(Stkcat mycat)
    {
        Console.WriteLine($"Saving attribute {mycat.Id}");
    }
    private void SaveAdd()
    {
        Console.WriteLine($"Saving new attribute");
    }
    private void CancelAdd()
    {
        Console.WriteLine($"Cancelling add attribute");
    }
    private void DeleteCategory(Stkcat mycat)
    {
        Console.WriteLine($"Deleting link {mycat.Id}");
    }



    // private void SaveEditLink(Stkitatr link)
    // {
    //     Console.WriteLine($"Saving link {link.Id}");
    // }
    // private void CancelEditLink()
    // {
    //     Console.WriteLine("Cancelling link edit");
    // }
    // private void StartAddLink()
    // {
    //     Console.WriteLine("Starting to add new link");
    // }
    // private void SaveAddLink()
    // {
    //     Console.WriteLine("Saving new link");
    // }
    // private void CancelAddLink()
    // {
    //     Console.WriteLine("Cancelling add link");
    // }
    // private void DeleteLink(Stkitatr link)
    // {
    //     Console.WriteLine($"Deleting link {link.Id}");
    // }
    // private void StartEditCategory(Stkcat cat)
    // {
    //     Console.WriteLine($"Editing category {cat.Id}");    
    // }
    // private void SaveEditCategory(Stkcat cat)
    // {
    //     Console.WriteLine($"Saving category {cat.Id}");
    // }   
    // private void CancelEditCategory()
    // {
    //     Console.WriteLine("Cancelling category edit");
    // }
    // private void DeleteLink(Stkcat parent, Stkitatr link)
    // {
    //     parent.Stkitatr.Remove(link);
    // }
}
