@page "/aogcols"

@using System.Text
@using System.Text.Json
@using GxWapi.DaModels
@using GxAdm.Services
@using GxShared.Others
@using GxShared.Helpers
@using GxShared.Sess

@using Newtonsoft.Json;

<div class="card">
    <div class="card-body">
        <Grid TItem="LSelCol"
             Data="@Columns"
             AllowPaging="true"
             Responsive="true">
            <GridColumns>
                <GridColumn TItem="LSelCol" HeaderText="No">
                    <ChildContent Context="item">
                        @item.ColNo
                    </ChildContent>
                </GridColumn>
                <GridColumn TItem="LSelCol" HeaderText="Nom interne">
                    <ChildContent Context="item">
                        @item.ColName
                    </ChildContent>
                </GridColumn>
                <GridColumn TItem="LSelCol" HeaderText="Visible?">
                    <ChildContent Context="item">
                        <InputCheckbox @bind-Value="item.IsVisible" />
                    </ChildContent>
                </GridColumn>
                <GridColumn TItem="LSelCol" HeaderText="Original">
                    <ChildContent Context="item">
                        @item.Olabel
                    </ChildContent>
                </GridColumn>
                <GridColumn TItem="LSelCol" HeaderText="Adaptee">
                    <HeaderContent>
                        <span>Adaptee</span> &nbsp;
                        <button class="btn btn-primary mt-2"
                                @onclick="SavePreferences">
                            Save
                        </button>
                    </HeaderContent>
                    <ChildContent Context="item">
                        @item.Ulabel
                    </ChildContent>
                </GridColumn>
            </GridColumns>
        </Grid>
    </div>
</div>

@code {
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public int SsDom { get; set; } = 0; //1tiers2mati
    [Parameter]
    public int EtRef { get; set; } = 0; //1accueil2enrol
    [Parameter]
    public int IMyGpe { get; set; } = 0; //1cible2oper3clie
    [Parameter]
    public int IMyAfl { get; set; } = 0; //1cnj2par3enf4pair
    [Parameter]
    public List<Gpfixe> LsOcols { get; set; } = new();
    [Parameter]
    public List<Gpvar> LsGcols { get; set; } = new();
    [Parameter]  // Event callback if you want parent to react
    public EventCallback<string> OnPreferencesSaved { get; set; }

    // This list drives the checkboxes
    public List<LSelCol> Columns { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var selectedCol = LsGcols.FirstOrDefault(uc => uc.Itb == EtRef && uc.Totyp == IMyGpe && uc.Etyp == IMyAfl);
        Console.WriteLine($"Valeur colonnes entrees : {EtRef} et/{IMyGpe} et/{IMyAfl} puis//-{selectedCol?.Fgsrc}");
        string strStore = selectedCol != null ? selectedCol.Fgsrc : string.Empty;
        Columns = ColsPreferences.DeserializePreferences(strStore);
        Columns = Columns.Where(cl => cl.SsDom == SsDom && cl.EtRef == EtRef).ToList();
        foreach(var ocol in LsOcols)
        {
            //column non incrite
            var icol = Columns.FirstOrDefault(c => c.ColNo == ocol.Elea && string.Compare(c.ColName, ocol.Scdrub) == 0);
            if (icol == null)
            {
                var cola = new LSelCol
                {
                    SsDom = SsDom,
                    EtRef = EtRef,
                    ColNo = ocol.Elea,
                    ColName = ocol.Scdrub,
                    IsVisible = ocol.Gp4 == 1,
                    Olabel = ocol.Liba,
                    Ulabel = ocol.Liba
                };
                Columns.Add(cola);
            }
        }
    }

    private async Task SavePreferences()
    {
        var serialized = ColsPreferences.SerializePreferences(Columns);
        if (OnPreferencesSaved.HasDelegate)
            await OnPreferencesSaved.InvokeAsync(serialized);
    }
}
