@page "/aorgas"
@layout FreeLayout

@using System
@using System.Reflection
@using System.Linq.Expressions
@using System.Web
@using System.ComponentModel.DataAnnotations
@using Newtonsoft.Json
@using System.Dynamic
@using BlazorBootstrap
@using Blazored.LocalStorage
@using System.Net.Http.Headers
@using System.Security.Claims
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.OData.Client
@using GxShared.Sess
@using GxShared.Others
@using GxShared.Identity
@using GxWapi.DaModels
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxAdm.Services.Mform

@inject ILocalStorageService _localStorage
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager _navManager
@inject HttpClientService _cliemanager
@inject IODataContextFactory _contextFactory
@inject SessionContextService _sessionContext
@inject RendAgres _rendAgres
@inject PendingChangesGuard _guard
@inject IJSRuntime _JsRUN

<PageTitle>INSTITUTION</PageTitle>
@* <h3>AOrgas</h3> *@
@if (edOrgContext == null)
{
    <div class="text-center">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
        <p>INSTITUTION Loading...</p>
    </div>
}
@if (edOrgContext != null)
{
    <AuthorizeView Context="authContext">
    <Authorized>
            <div class="row">
                <div class="col-md-10 justify-content-center">
                    <button class="navbar-brand text-left text-white bg-dark bg-opacity-75 me-2 py-0 px-1" style="height:44px;" @onclick="NavigateBack">
                        A24soft Gx-Solutions
                    </button>
                    <span>
                        &nbsp; @Imessage
                    </span>
                    @* <button type="button" class="btn btn-sm btn-secondary btnsz @(!allEnable ? "" : "d-none")" style="font-size: small" @onclick="() => EdtAll()">Modifier</button> *@
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label style="font-weight:bold"> Package :&nbsp;</label>
                            <label style="font-weight:bold;font-size:larger">@curOrga.Sidom</label>
                        </div>
                        <div class="col-auto">
                            <label style="font-weight:bold;font-size:larger">@curOrga.Sigle</label>
                        </div>
                    </div>
                    <div class="row">
                        <Tabs>
                            <Tab Title="Structure">
                                 <Content>
                                    <EditForm EditContext="edOrgContext">
                                        <DataAnnotationsValidator />
                                        <ValidationSummary />
                                    <div class="col-md-2">
                                        @if(!isEdOrg)
                                        {
                                            <button class="btn btn-warning btn-sm" @onclick="() => StartOrgEdit()">Edit</button>
                                        } else
                                        {
                                            <button class="btn btn-warning btn-sm" @onclick="() => ConfEOrg()">Confirm</button>
                                            <button class="btn btn-danger btn-sm" @onclick="() => CancEOrg()">Annul</button>
                                        }
                                    </div>
                                        <div class="table-responsive">
                                        <table class="table w-auto" style="margin-left:10px">
                                            <tbody>
                                                <tr>
                                                    <td>Raison sociale:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ograis" @bind-Value="curOrga.Raison" required
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter sigle" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sigle:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogsig" @bind-Value="curOrga.Sigle" required
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter sigle" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nom Cible:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogsigl" @bind-Value="curOrga.Stcible" required
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter sigle" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Noeud Cible:</td>
                                                    <td class="text-right">
                                                        <InputNumber class="my-input" id="ognoeud" @bind-Value="curOrga.Jpoint" required
                                                                     style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter sigle" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Si jeton:</td>
                                                    <td class="text-right">
                                                        <InputNumber class="my-input" id="ogjeta" @bind-Value="curOrga.Sijet" required
                                                                     style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>No RCM:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogrcm" @bind-Value="curOrga.Rcm"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter RCM" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>No IFU:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogifu" @bind-Value="curOrga.Rifu"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter IFU" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Adresse:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogadr" @bind-Value="curOrga.Adr"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter Adresse" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Adresse2:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogadr2" @bind-Value="curOrga.Adr2"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter Adresse2" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ville:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogcity" @bind-Value="curOrga.Scity"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter CITY" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Province:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogprov" @bind-Value="curOrga.Sprovi"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter PROVI" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Region:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogreg" @bind-Value="curOrga.Sregio"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter REGION" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Pays:</td>
                                                    <td class="text-right">
                                                        <InputSelect id="ogpays" @bind-Value="curOrga.Npays" disabled="@(!isEdOrg)">
                                                            <option value="0">-- Select a country --</option>
                                                            @foreach (var tob in curOrga.Gsglnes.Where(ug => ug.Otyp == 4 && ug.Pitb == 31))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Telephone:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogtele" @bind-Value="curOrga.Phone"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter TELE" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>WhatsApp:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogwhats" @bind-Value="curOrga.Whatsapp"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter WhatsApp" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Siteweb:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" id="ogsite" @bind-Value="curOrga.Weburl"
                                                                   style="font-weight:bold" readonly placeholder="Enter SITEWEB" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="border:0;font-weight:bold;">Administrateur</td>
                                                </tr>
                                                <tr>
                                                    <td>Telephone:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" @bind-Value="curOrga.Phon2"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter Admin tele" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" @bind-Value="curOrga.Email"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter Admin email" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nom:</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" @bind-Value="curOrga.Rnom"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter Admin nom" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Prenom(s):</td>
                                                    <td class="text-right">
                                                        <InputText class="my-input" @bind-Value="curOrga.Rpnom"
                                                                   style="font-weight:bold" readonly="@(isEdOrg ? null : "readonly")" placeholder="Enter Admin prenom(s)" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Installe le :</td>
                                                    <td class="input-group">
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Depexy"
                                                                     style="font-weight:bold;width:65px" readonly="@(isEdOrg ? null : "readonly")" placeholder="annee" />
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Depexm"
                                                                     style="font-weight:bold;width:50px" readonly="@(isEdOrg ? null : "readonly")" placeholder="mois" />
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Depexd"
                                                                     style="font-weight:bold;width:50px" readonly="@(isEdOrg ? null : "readonly")" placeholder="jour" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="border:0;font-weight:bold;">Exercice de travail</td>
                                                </tr>
                                                <tr>
                                                    <td>(Exo)Debut.:</td>
                                                    <td class="input-group">
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Prvexy"
                                                                     style="font-weight:bold;width:65px" readonly="@(isEdOrg ? null : "readonly")" placeholder="annee" />
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Prvexm"
                                                                     style="font-weight:bold;width:50px" readonly="@(isEdOrg ? null : "readonly")" placeholder="mois" />
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Prvexd"
                                                                     style="font-weight:bold;width:50px" readonly="@(isEdOrg ? null : "readonly")" placeholder="jour" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>(Exo)Fin:</td>
                                                    <td class="input-group">
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Finexy"
                                                                     style="font-weight:bold;width:65px" readonly="@(isEdOrg ? null : "readonly")" placeholder="annee" />
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Finexm"
                                                                     style="font-weight:bold;width:50px" readonly="@(isEdOrg ? null : "readonly")" placeholder="mois" />
                                                        <InputNumber class="my-input" @bind-Value="curOrga.Finexd"
                                                                     style="font-weight:bold;width:50px" readonly="@(isEdOrg ? null : "readonly")" placeholder="jour" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                </EditForm>
                                </Content>
                            </Tab>
                            <Tab Title="Domaines">
                                <Content>
                                    <EditForm EditContext="edFixContext">
                                        <DataAnnotationsValidator />
                                    <div class="mb-3">
                                        <!-- Domaines grid -->
                                        <div class="row">
                                            <div class="form-group">
                                                <label style="font-weight:bold">Limites :</label>
                                                <InputSelect id="oglim" @bind-Value="Rubtto">
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 39 && ut.Itb == 1 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                        <Grid Data="@curOrga.Gsgfixes.Where(utl => utl.Gvars == 21 && utl.Itb == Rubtto && utl.Elea != 0)" 
                                                TItem="Gsgfix"
                                                Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="Gsgfix" HeaderText="No">
                                                    <ChildContent Context="item">@item.Elea</ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Libelle">
                                                    <ChildContent Context="item">
                                                        @item.Liba
                                                        @if (Rubtto == 1)
                                                        {
                                                            <span>&nbsp;</span>
                                                            <span style="width:75px">
                                                                @if (item.Elea == 1)
                                                                {
                                                                    <span>(3..6)</span>
                                                                }
                                                                @if (item.Elea == 2)
                                                                {
                                                                    <span>(5..12)</span>
                                                                }
                                                                @if (item.Elea == 3)
                                                                {
                                                                    <span>(3..7)</span>
                                                                }
                                                                @if (item.Elea == 4)
                                                                {
                                                                    <span>(5..20)</span>
                                                                }
                                                                @if (item.Elea == 5)
                                                                {
                                                                    <span>(5..10)</span>
                                                                }
                                                                @if (item.Elea == 6)
                                                                {
                                                                    <span>(5..10)</span>
                                                                }
                                                                @if (item.Elea == 7)
                                                                {
                                                                    <span>(6..50)</span>
                                                                }
                                                                @if (item.Elea == 8)
                                                                {
                                                                    <span>(5..30)</span>
                                                                }
                                                            </span>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Valeur">
                                                    <ChildContent Context="item">
                                                        <InputNumber class="my-input" @bind-Value="item.Ivala"
                                                                     style="font-weight:bold;width:50px" readonly="@(item.Rowguid == EdDomRowguid ? null : "readonly")" placeholder="annee" />
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Format">
                                                    <ChildContent Context="item">
                                                        @if (Rubtto == 1)
                                                        {
                                                            <span class="col-md-2">
                                                                @if (item.Elea != 1 && item.Elea != 2)
                                                                {
                                                                    <span>
                                                                        <InputText class="my-input" @bind-Value="item.Lgft"
                                                                                   style="font-weight:bold; width:100%" readonly="@(item.Rowguid == EdDomRowguid  ? null : "readonly")" />
                                                                    </span>
                                                                }
                                                                @if (item.Elea == 1 && item.Elea == 2)
                                                                {
                                                                    <span>
                                                                        <div>.....</div>
                                                                    </span>
                                                                }
                                                            </span>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Actions">
                                                    <ChildContent Context="item">
                                                        @if (EdDomRowguid  != item.Rowguid)
                                                        {
                                                            <button class="btn btn-warning btn-sm @(!isEdDom && EdDomRowguid != item.Rowguid ? "" : "disabled-action")" @onclick="() => StartDomEdit(item)">Edit</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-warning btn-sm @(EdDomRowguid  == item.Rowguid ? "" : "disabled-action")" @onclick="() => ConfGdom(item)">Confirm</button>
                                                            <button class="btn btn-danger btn-sm @(EdDomRowguid  == item.Rowguid ? "" : "disabled-action")" @onclick="() => CancGdom(item)">Annul</button>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                        </Grid>
                                    </div>
                                    </EditForm>
                                </Content>
                            </Tab>
                            <Tab Title="Filiations">
                                <Content>
                                    <EditForm EditContext="edFixContext">
                                        <DataAnnotationsValidator />
                                        <div class="mb-3">
                                            <!-- Filiation grid -->
                                        <div class="row">
                                            <label style="font-weight:bold"> Filiation -> Base</label>
                                        </div>
                                        <Grid Data="@curOrga.Gsgfixes.Where(uf => uf.Gvars == 3 && uf.Itb == 5 && uf.Elea != 0).OrderBy(uo => uo.Elea)"
                                                TItem="Gsgfix"
                                                Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="Gsgfix" HeaderText="No">
                                                    <ChildContent Context="item">@item.Elea</ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Avec">
                                                    <ChildContent Context="item">
                                                        @item.Liba
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Libelle">
                                                    <ChildContent Context="item">
                                                            <InputText @bind-Value="@item.Sliba" style="width:100%"
                                                                   readonly="@(item.Rowguid == EdAflRowguid ? null : "readonly")" />
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Opt.">
                                                    <ChildContent Context="item">
                                                        <InputSelect id="ntop" @bind-Value="item.Ityp" disabled="@(!isEdAfl)">
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 2))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Avis">
                                                    <ChildContent Context="item">
                                                        <div class="col-1">
                                                            <InputSelect id="ntav" @bind-Value="item.Jtyp" disabled="@(!isEdAfl)">
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 6 && ut.Gp1 == 1))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        </div>
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="max.">
                                                    <ChildContent Context="item">
                                                        <InputNumber class="my-input" @bind-Value="item.Mtyp"
                                                                     style="font-weight:bold;width:60px" readonly="@(item.Rowguid == EdAflRowguid ? null : "readonly")" />
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="notif.">
                                                    <ChildContent Context="item">
                                                            <InputSelect id="ntnf" @bind-Value="item.Ntyp" disabled="@(!isEdAfl)" style="width:100%">
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 4 && ut.Gp1 == 1))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="Actions">
                                                    <ChildContent Context="item">
                                                        <div class="col-md-2 d-flex gap-2">
                                                            @if (EdAflRowguid  != item.Rowguid)
                                                            {
                                                                <button class="btn btn-warning btn-sm @(!isEdAfl && EdAflRowguid != item.Rowguid ? "" : "disabled-action")" @onclick="() => StartAflEdit(item)">Edit</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-warning btn-sm @(EdAflRowguid  == item.Rowguid ? "" : "disabled-action")" @onclick="() => ConfGafl(item)">Confirm</button>
                                                                <button class="btn btn-danger btn-sm @(EdAflRowguid  == item.Rowguid ? "" : "disabled-action")" @onclick="() => CancGafl(item)">Annul</button>
                                                            }
                                                        </div>
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                            </Grid>
                                        </div>
                                    </EditForm>
                                </Content>
                            </Tab>
                            <Tab Title="Colonnes">
                                <Content>
                                    <Aogcols @ref="myicols"
                                            curOrga="@curOrga"
                                            UserId="@curOrga.Idorg.ToString()"
                                            LsCols="@LsCols"
                                            OnPreferencesSaved="@OnOptcolsSave">
                                    </Aogcols>
                                </Content>
                            </Tab>
                            <Tab Title="Colonnes">
                                <Content>
                                    <EditForm EditContext="edColContext">
                                        <DataAnnotationsValidator />
                                        <div class="mb-3">
                                            <!-- Colonnes grid -->
                                            <Grid Data="@curOrga.Gsglnes" TItem="Gsglne"
                                                  EditMode="EditMode.EditOnRowClick">
                                            <div class="row form-group">
                                        <div class="btn btn-group">
                                         <label style="font-weight:bold"> Filiation/Colonnes -> G.Tiers :</label>
                                        <InputSelect id="fltyp" @bind-Value="selTyp">
                                            <option value="0">choisir</option>
                                            @foreach (var tob in LsGties.ToList())
                                            {
                                                <option value="@tob.Gp2" @onclick="() => SelDomGtie(tob)">@tob.Liba</option>
                                            }
                                        </InputSelect>
                                        </div>
                                    </div>
                                    @if (selTyp > 0)
                                    {
                                    <div class="row form-group">
                                        <div class="input-group">
                                            @if (allEnable && isGenDelTfl)
                                            {
                                                <div class="row">
                                                    <label style="font-family:'Comic Sans MS';font-weight:bold;color:red">
                                                        @mesAflSup
                                                    </label>
                                                </div>
                                            }
                                            @if (allEnable && isGenAddTfl)
                                            {
                                                <div class="row">
                                                    <label style="font-family:'Comic Sans MS';font-weight:bold;color:red">
                                                        @mesAflGen
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <Grid TItem="Gsgfix"
                                          Data="curOrga.Gsgfixes.Where(uf => uf.Gvars == 3 && uf.Itb == 5 && uf.Elea != 0).OrderBy(uo=>uo.Elea).ToList()"
                                          AllowDetailView="true"
                                          AllowRowClick="true"
                                          OnRowClick="OnGfixRowClick"
                                          Responsive="true">
                                        <GridColumns>
                                            <GridColumn TItem="Gsgfix" HeaderText="No">
                                                <ChildContent Context="item">@item.Elea</ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Avec">
                                                <ChildContent Context="item">
                                                    @item.Liba
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Libelle">
                                                <ChildContent Context="item">
                                                    @item.Sliba
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Opt">
                                                <ChildContent Context="item">
                                                    <div class="col-1">
                                                        <InputSelect id="ntop" @bind-Value="item.Ityp" disabled>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 2))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    </div>
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Gen?">
                                                <ChildContent Context="item">
                                                    @if (GenerRowguid == item.Rowguid)
                                                    {
                                                        var curnbFlCols = curOrga.Gsglnes.Where(fl => fl.Otyp == 5 && fl.Dtyp == IMyBas && fl.Totyp == selTyp && fl.Tstyp == item.Elea).Count();
                                                        @if (isGenAddTfl)
                                                        {
                                                                        <button class="btn btn-sm btn-success @(GenerRowguid == item.Rowguid ? "" : "disabled-action")" @onclick="() => ConfOneGener(item)">
                                                                ✅ Confirm
                                                            </button>
                                                                        <button class="btn btn-sm btn-secondary @(GenerRowguid == item.Rowguid ? "" : "disabled-action")" @onclick="() => CncOneGener(item)">
                                                                ❌ Cancel
                                                            </button>
                                                        }
                                                        @if (isGenDelTfl)
                                                        {
                                                            <button class="btn btn-sm btn-success 
                                                            @(GenerRowguid == item.Rowguid ? "" : "disabled-action")" @onclick="() => ConfDelOneGener(item)">
                                                                ✅ Confirm
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary 
                                                            @(GenerRowguid == item.Rowguid ? "" : "disabled-action")" @onclick="() => CncDelOneGener(item)">
                                                                ❌ Cancel
                                                            </button>
                                                        }
                                                    } else
                                                    {
                                                        var curnbFlCols = curOrga.Gsglnes.Where(fl => fl.Otyp == 5 && fl.Dtyp == IMyBas && fl.Totyp == selTyp && fl.Tstyp == item.Elea).Count();
                                                        @if (!isGenAddTfl || !isGenDelTfl)
                                                        {
                                                            @if (curnbFlCols > 0)
                                                            {
                                                                    <button class="btn btn-sm btn-danger
                                                                        @(GenerRowguid != item.Rowguid ? "" : "disabled-action")" 
                                                                        @onclick="() => PromptDelOneGener(item)">
                                                                    ❌ Supr.
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                    <button class="btn btn-sm btn-success 
                                                                        @(GenerRowguid != item.Rowguid ? "" : "disabled-action")"
                                                                        @onclick="() => PromptAddOneGener(item)">
                                                                        ✅ Genr. 
                                                                </button>
                                                            }
                                                        }
                                                    }
                                                </ChildContent>
                                            </GridColumn>
                                        </GridColumns>
                                        @if (icOpening == false)
                                        {
                                            <GridDetailView TItem="Gsgfix" Context="item">
                                                <Grid TItem="Gsglne"
                                                      Data="@gsgCols"
                                                      AllowFiltering="@isGlneFilteringEnabled"
                                                      AllowPaging="true"
                                                      Responsive="true">
                                                    <GridColumns>
                                                        <GridColumn TItem="Gsglne" HeaderText="No">
                                                            <ChildContent Context="r">
                                                                @r.Yrng
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Gsglne" HeaderText="Origine">
                                                            <ChildContent Context="r">
                                                                <label>@r.Liba</label>
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Gsglne" HeaderText="Courant">
                                                            <ChildContent Context="r">
                                                                @if (r.Rowguid == EdColRowguid)
                                                                { // show draftPln inputs
                                                                  <InputText @bind-Value="r.Oliba" />
                                                                }
                                                                else
                                                                { // show item as read-only
                                                                  <input @bind="r.Oliba" disabled="true" />
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Gsglne" HeaderText="acc.">
                                                            <ChildContent Context="r">
                                                                <div class="col-1">
                                                                    @if (r.Rowguid == EdColRowguid)
                                                                    { // show draftPln inputs
                                                                      <input type="checkbox"
                                                                             checked="@(r.Jacc == 1)"
                                                                             @onchange="e => OnCheckboxChanged(e, r, nameof(r.Jacc))"
                                                                             class="form-check-input" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox"
                                                                               checked="@(r.Jacc == 1)"
                                                                               @onchange="e => OnCheckboxChanged(e, r, nameof(r.Jacc))"
                                                                               class="form-check-input"
                                                                               disabled />
                                                                    }
                                                                </div>
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Gsglne" HeaderText="Rang">
                                                            <ChildContent Context="r">
                                                                <div class="col-1">
                                                                    @if (r.Rowguid == EdColRowguid)
                                                                    { // show draftPln inputs
                                                                      <InputNumber @bind-Value="r.Yrng"
                                                                                   style="font-weight:bold;width:60px" />
                                                                    }
                                                                    else
                                                                    { // show item as read-only
                                                                      <span style="font-weight:bold;width:60px" disabled="true">
                                                                          @r.Yrng
                                                                      </span>
                                                                    }
                                                                </div>
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Gsglne" HeaderText="Eta">
                                                            <ChildContent Context="r">
                                                                <div class="col-1">
                                                                    @if (r.Rowguid == EdColRowguid)
                                                                    { // show draftPln inputs
                                                                      <InputSelect @bind-Value="r.Eta" style="width:auto" disabled="@selDisabled">
                                                                          <option class="ichx" value="0">?etat</option>
                                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                            {
                                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                                            }
                                                                        </InputSelect>
                                                                    }
                                                                    else
                                                                    { // show item as read-only
                                                                      <select @bind="r.Eta" style="width:auto" disabled="true">
                                                                          <option class="ichx" value="0">?etat</option>
                                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                            {
                                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                                            }
                                                                        </select>
                                                                    }
                                                                </div>
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Gsglne" HeaderText="Actions">
                                                            <ChildContent Context="r">
                                                                            @if (EdColRowguid != r.Rowguid)
                                                                            {
                                                                                <button class="btn btn-warning btn-sm @(!isEdCol && EdColRowguid != r.Rowguid ? "" : "disabled-action")" @onclick="() => StartColEdit(r)">Edit</button>
                                                                            }
                                                                            else
                                                                            {
                                                                                <button class="btn btn-warning btn-sm @(EdColRowguid == r.Rowguid ? "" : "disabled-action")" @onclick="() => ConfGcol(r)">Confirm</button>
                                                                                <button class="btn btn-danger btn-sm @(EdColRowguid == r.Rowguid ? "" : "disabled-action")" @onclick="() => CancGcol(r)">Annul</button>
                                                                            }
                                                            </ChildContent>
                                                        </GridColumn>
                                                    </GridColumns>
                                                </Grid>
                                            </GridDetailView>
                                        }
                                        else
                                        {
                                            <label>columns loading...</label>
                                        }
                                    </Grid>
                                    }
                                            </Grid>
                                        </div>
                                    </EditForm>
                                </Content>
                            </Tab>
                        </Tabs>
                    <!-- GLOBAL Save/Cancel - ONE button saves ALL tabs -->
                    <div class="alert alert-warning d-flex justify-content-between align-items-center py-1 px-2 position-fixed bottom-0 end-0"
                         style="background-color: transparent; z-index: 1050; max-width: 400px;">
                        <div class="d-flex gap-2 align-items-center">
                            <Button class="w-auto flex-grow-0 flex-shrink-0" Color="ButtonColor.Info" @onclick="SaveAllChanges"
                                    Enabled="@_guard.HasPendingChanges()">
                                Save All (@_guard.GetPendingChangesCount() changes)
                            </Button>
                            <Button class="w-auto flex-grow-0 flex-shrink-0" Color="ButtonColor.Secondary" @onclick="CancelAllChanges"
                                    Enabled="@_guard.HasPendingChanges()">
                                Cancel All
                            </Button>
                        </div>
                    </div>
                </div>
            </div>
    </Authorized>
</AuthorizeView>
}
<style>
    .my-input::placeholder {
        font-family: 'Courier New', Courrier, monospace;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        color:gray;
    }
    .padding-0 {
        padding-right: 0;
        padding-left: 0;
    }

    .table {
        border: 1px yellow;
        font-size: 15px;
        border-collapse: collapse;
        border-spacing: 0;
    }

        .table tr {
            height: 40px;
            padding: 0px;
            margin-top: -5px;
            border-left: 1px solid;
            border-bottom: 1px solid;
        }

        .table thead tr {
            height: 30px;
            font-weight: bold;
            font-style: italic;
        }

    .chkinput {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .chklabel {
        display: block;
    }

    .row-cols-7 > * {
        flex: 0 0 auto;
        width: 14.2857142857%; /* 100/7 */
    }

    .row-cols-8 > * {
        flex: 0 0 auto;
        width: 12.25%; /* 100/8 */
    }

    .btnhz {
        display: flex;
        justify-content: center;
    }

    .btsml {
        size: 15px;
        font-size: xx-small;
    }

    .btzi {
        display: inline-block;
    }

    .ermes {
        color: rgb(255, 127, 127);
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }
</style>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    public MyODataContext curODContext;

    public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    private EditContext edOrgContext;
    private EditContext edFixContext;
    private EditContext edColContext;

    private Aogcols myicols;
    public Gxorga curOrga = new Gxorga();

    public string Title { get; set; }
    private string tbTitle = "Cible";
    public string _UserId = "";
    public int _UorgId = 0;
    private Userbag _usrBag = new Userbag();
    //initialisat
    private List<Gpfixe> LsFixes = new();
    private List<Gpfixe> LsGties = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpdivh> LsDivs = new();
    private List<Gpvar> LsCols = new();
    
    private List<MyRolTable> _inRoles = new();
    private List<Grole> _invRoles = new();

    private bool selDisabled => allEnable ? false: true;

    private bool isLoading = false, icOpening = false;
    private bool allEnable = false;
  
    private int selTyp = 0;
    private int IMyBas = 0;
    private int Rubtto = 1;

    private string Imessage = "", Ierror = "";
    private string optGrid = "tiewel";

    Gsgfix newTfl = new();
  
    //editing Org
    bool isEdOrg = false;
    bool isEdDom = false;
    Guid? EdDomRowguid = null;
    bool isEdAfl = false;
    Guid? EdAflRowguid = null;
    bool isEdCol = false;
    Guid? EdColRowguid = null;
    //Gener format
    private MarkupString mesAflGen = new MarkupString(""), mesAflSup = new MarkupString("");
    //Generating Tfl
    bool isGenAddTfl = false;
    bool isGenDelTfl = false;
    Guid? GenerRowguid = null;

    //editing AFL
    Gsgfix? editingAfl = null;
    bool isEdingAfl = false;
    bool isDelingTfl = false;
    //editing COL
    Gsglne? editingCol = null;
    bool isEdingCol = false;
    
    //row GFIX
    Gsgfix curGfix = new();
    Guid? GfixEdRowguid = null;

    //row GLNE
    Gsglne curGlne = new();
    Guid? GlneEdRowguid = null;
    Gsglne curColVM = new();
    List<Gsglne> gsgCols = new();
  
    bool isEdingGlne = false;
    bool adingGlne = false;
    Gsglne? editingGlne = null;
    private bool isGlneFilteringEnabled = false;
    private string savOliba = "", savOabg = "";
    private int? savYrng = 0, savJacc = 0, savJenr = 0, savEta = 0;
    
    //Guard
    private int _nbChanges = 0;
    private IDisposable? _locationHandler;

    private async Task CancelAllChanges()
    {
        Console.WriteLine("🗑️ CancelAllChanges START");

        await _guard.CancelChangesAsync();  // 🔥 AWAIT - blocks until done

        Imessage = "CancelAllChanges successfully";
        StateHasChanged();
        Console.WriteLine($"✅ CancelAllChanges END - Pending: {_guard.GetPendingChangesCount()}");
    }

    private async Task SaveAllChanges()
    {
        Console.WriteLine($"🔄 SaveAllChanges START: {_guard.GetPendingChangesCount()}");

        _guard.DiscardAllUnconfirmedAdds();

        if (!_guard.HasPendingChanges())
        {
            Imessage = "No changes to save";
            StateHasChanged();
            return;
        }

        try
        {
            await curODContext.Context.SaveChangesAsync();
            Imessage = "✅ Save successful";
        }
        catch (Exception ex)
        {
            Imessage = $"❌ Save failed: {ex.Message}";
            await _guard.CancelChangesAsync();  // Also await here!
        }

        StateHasChanged();
    }
    private async Task OnOptcolsSave(string svoptcols)
    {
        curOrga.Optcols = svoptcols;
        //StateHasChanged();
        //Console.WriteLine("PAS 2");
        await Task.Delay(1);
    }
    protected override async Task OnInitializedAsync()
    {
        //prise valeurs parent
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Orga Utilisateur ECHEC");
            _navManager.RegisterLocationChangingHandler(async args =>
            {
                args.PreventNavigation();
                _navManager.NavigateTo("/login");
            });
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Orga SUCCESS");
        }
        _usrBag = await _sessionContext.GetUserbagAsync();

        if (_usrBag?.Usorga == null || !_usrBag.Yauser)
        {
            Console.WriteLine($"Echec Invite, recommencez.login/support... {_usrBag?.Usorga?.Idorg} et {_usrBag?.Yauser}");
            return;
        }
        LsDivs = await _rendAgres.LoadOrgaPostes();
        LsFixes = _usrBag.Ufixes.ToList();
        LsGties = _usrBag.Ufixes
            .Where(ut => ut.Gvars == 36 && ut.Itb == 6 && ut.Elea != 0 && ut.Gp1 != 4 && ut.Elea != 9)
            .ToList();
        LsDoms = _usrBag.Ufixes
            .Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0)
            .ToList();
        LsCols = _usrBag.Usorga.Uvars
            .Where(uv => uv.Gvars == 31 && uv.Elea != 0)
            .ToList();
        _invRoles = await _rendAgres.LoadOrgaRoles();
        Console.WriteLine($"Roles disponibles : {_invRoles.Count}");
        try
        {
            curODContext = await _contextFactory.CreateAsync();
            _guard.AttachContext(curODContext);
            int key = _usrBag.Idorg;
            curOrga = await curODContext.GetByKeyAsync<Gxorga>(key, "Gxorgas", "Gsgfixes,Gsglnes");
            if (curOrga != null)
            {
                Console.WriteLine("curOrga loaded by key");
                // ✅ FIX: Handle DataServiceCollection properly
                if (curOrga.Gsgfixes is DataServiceCollection<Gsgfix> gsgfixesCollection)
                {
                    Console.WriteLine($"Gsgfixes collection count: {gsgfixesCollection.Count}");
                    // DataServiceCollection is already populated - don't replace it
                }
                else if (curOrga.Gsgfixes == null || !curOrga.Gsgfixes.Any())
                {
                    Console.WriteLine("Gsgfixes empty - initializing List");
                    curOrga.Gsgfixes = new();
                }
                if (curOrga.Gsglnes is DataServiceCollection<Gsglne> gsglnesCollection)
                {
                    Console.WriteLine($"Gsglnes collection count: {gsglnesCollection.Count}");
                }
                else if (curOrga.Gsglnes == null || !curOrga.Gsglnes.Any())
                {
                    curOrga.Gsglnes = new();
                }
                edOrgContext = new EditContext(curOrga);
                // ✅ Use first item or create dummy for EditContext
                var firstFix = curOrga.Gsgfixes?.FirstOrDefault();
                edFixContext = new EditContext(firstFix ?? new Gsgfix() { Idorg = key });
                var firstCol = curOrga.Gsglnes?.FirstOrDefault();
                edColContext = new EditContext(firstCol ?? new Gsglne() { Idorg = key });
                Console.WriteLine($"FINAL nb gfixes : {curOrga.Gsgfixes?.Count ?? 0}");
                var gsgfix = new Gsgfix();  // Your entity
                Console.WriteLine(gsgfix.GetType().GetProperties()
                    .Where(p => p.PropertyType == typeof(Gxorga))
                    .Select(p => p.Name)
                    .FirstOrDefault() ?? "NO NAVIGATION PROPERTY!");
                // Register "add-edit-delete mode" predicate for existing entities
                _guard.RegisterUnconfirmedPredicate<Gxorga>(o => o.Xedt1 == -1);
                _guard.RegisterUnconfirmedPredicate<Gsgfix>(x => x.Xadd1 == -1 || x.Xedt1 == -1 || x.Xdel1 == -1);
                _guard.RegisterUnconfirmedPredicate<Gsglne>(e => e.Xadd1 == -1 || e.Xedt1 == -1 || e.Xdel1 == -1);
                _nbChanges = _guard.GetPendingChangesCount();  // Initial value
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Problem EntityManagement: {ex.Message}");
        }
        finally {
            isLoading = false;;
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _locationHandler = _navManager.RegisterLocationChangingHandler(OnLocationChangingAsync);
            Console.WriteLine("📌 LocationChangingHandler registered");
        }
    }
    private async ValueTask OnLocationChangingAsync(LocationChangingContext context)
    {
        Console.WriteLine($"🌐 Intercepted: {context.TargetLocation}");
        // Discard unconfirmed first
        _guard.DiscardAllUnconfirmedAdds();
        // Allow if no pending changes
        if (!_guard.HasPendingChanges())
        {
            Console.WriteLine("✅ Clean - allowing navigation");
            return; // Blazor continues automatically
        }
        // Normalize path
        var absoluteUri = _navManager.ToAbsoluteUri(context.TargetLocation);
        var relative = _navManager.ToBaseRelativePath(absoluteUri.ToString());
        // Intercept navigation because there are confirmed changes
        context.PreventNavigation();
        Console.WriteLine("🚫 Showing confirm dialog");
        try
        {
            var save = await _JsRUN.InvokeAsync<bool>("confirm", "Save changes?");
            if (save)
            {
                await _guard.FlushAsync();
                Console.WriteLine("💾 Saved - resuming navigation");
                _navManager.NavigateTo(context.TargetLocation, forceLoad: false);
            }
            else
            {
                _guard.CancelChangesAsync();
                Console.WriteLine("❌ Cancelled - staying put");
                // Do NOT call NavigateTo here → user stays on current page
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"❌ Error: {ex.Message}");
            _guard.CancelChangesAsync();
        }
    }

    void OnGfixRowClick(GridRowEventArgs<Gsgfix> args)
    {
        icOpening = true;
        Console.WriteLine($"OnGfixRowClick: {args.Item.Xseq}");
        curGfix = args.Item;
        if (curGfix?.Xseq == 0) return;
        gsgCols = curOrga.Gsglnes.Where(ug => ug.Otyp == 5 && ug.Totyp == selTyp && ug.Tstyp == curGfix.Etyp).ToList();
        icOpening = false;
        StateHasChanged();
    }
    void SelDomGtie(Gpfixe myfix)
    {
        if (myfix.Elea == 0)
        {
            IMyBas = 0;
            return;
        }
        if (myfix.Elea <= 6)
        {
            IMyBas = 6;
        } else
        {
            IMyBas = 7;
        }
    }
    //EDITING Gxorga (orga)
    public async Task StartOrgEdit()
    {
        curOrga.Xedt1 = -1;  //editing
        isEdOrg = true;
    }
    public async Task CancEOrg()
    {
        curOrga.Xedt1 = 0;
        isEdOrg = false;
    }
    private async Task ConfEOrg()
    {
        //if (!ValidateOrg(curOrga)) return;

        if (curOrga.Idorg > 0)
        {
            curOrga.Xedt1 = 0;
            try
            {
                curODContext.Context.AttachTo("Gxorgas", curOrga);
            }
            catch (InvalidOperationException)
            {
                // Already tracked, safe to ignore
            }
            curODContext.Context.UpdateObject(curOrga);
            //GorgEdRowguid = null;

            isEdOrg = false;
            Console.WriteLine("Gsgfix marked as Modified");
        }
    }
    //EDITING Gsgfix (dom)
    void StartDomEdit(Gsgfix myafil)
    {
        myafil.Xedt1 = -1; //editing
        curGfix = myafil;
        if (myafil.Gvars == 21 && (myafil.Itb == 1 || myafil.Itb == 2 || myafil.Itb == 3))
        { //lim
            RefilGdom(myafil);
        } else if (myafil.Gvars == 3 && myafil.Itb == 5)
        { //afil
            RefilGafl(myafil);
        } else if (myafil.Gvars == 3 && myafil.Itb == 4)
        { //relat tiers
            RefilGrel(myafil);
        } else {
            return;
        }
        isEdingAfl = true;
        isEdDom = true;
        EdDomRowguid = myafil.Rowguid;
        GfixEdRowguid = myafil.Rowguid;
    }
    void CancGdom(Gsgfix mytfl)
    {
        mytfl.Xadd1 = 0;
        mytfl.Xedt1 = 0;
        EmptyGfix();
        GfixEdRowguid = null;
        isEdDom = false;
        EdDomRowguid = null;
        isEdingAfl = false;
        editingAfl = null;
        curGfix = new();
    }
    private async Task ConfGdom(Gsgfix myfix)
    {
        if (myfix.Xseq > 0)
        {
            myfix.Xedt1 = 0;
            myfix.Xadd1 = 0;
            myfix.Xdel1 = 0;
            try
            {
                curODContext.Context.AttachTo("Gsgfixes", myfix);
            }
            catch (InvalidOperationException)
            {
                // Already tracked, safe to ignore
            }
            curODContext.Context.UpdateObject(myfix);
            GfixEdRowguid = null;

            isEdDom = false;
            EdDomRowguid = null;

            isEdingAfl = false;
            editingAfl = null;
            isEdingAfl = false;
            Console.WriteLine("Gsgfix marked as Modified");
        }
    }
    //EDITING Gsgfix (afl)
    void StartAflEdit(Gsgfix myafil)
    {
        myafil.Xedt1 = 0; //editing
        curGfix = myafil;
        if (myafil.Gvars == 21 && (myafil.Itb == 1 || myafil.Itb == 2 || myafil.Itb == 3))
        { //lim
            RefilGdom(myafil);
        }
        else if (myafil.Gvars == 3 && myafil.Itb == 5)
        { //afil
            RefilGafl(myafil);
        }
        else
        {
            return;
        }
        isEdingAfl = true;

        isEdAfl = true;
        EdAflRowguid = myafil.Rowguid;

        GfixEdRowguid = myafil.Rowguid;
    }
    void CancGafl(Gsgfix mytfl)
    {
        mytfl.Xadd1 = 0;
        mytfl.Xedt1 = 0;
        EmptyGfix();

        GfixEdRowguid = null;

        isEdAfl = false;
        EdAflRowguid = null;

        isEdingAfl = false;
        editingAfl = null;
        curGfix = new();

    }
    private async Task ConfGafl(Gsgfix myfix)
    {
        if (myfix.Xseq > 0)
        {
            myfix.Xedt1 = 0;
            myfix.Xadd1 = 0;
            myfix.Xdel1 = 0;
            try
            {
                curODContext.Context.AttachTo("Gsgfixes", myfix);
            }
            catch (InvalidOperationException)
            {
                // Already tracked, safe to ignore
            }
            curODContext.Context.UpdateObject(myfix);
            GfixEdRowguid = null;
            isEdAfl = false;
            EdAflRowguid = null;
            isEdingAfl = false;
            editingAfl = null;
            isEdingAfl = false;
            Console.WriteLine("Gsgfix marked as Modified");
        }
    }
    void StartColEdit(Gsglne mycol)
    {
        mycol.Xedt1 = -1; //editing
        editingCol = mycol;
        savOliba = mycol.Oliba;
        savOabg = mycol.Oabg;
        savYrng = mycol.Yrng;
        savJacc = mycol.Jacc;
        savJenr = mycol.Jenr;
        savEta = mycol.Eta;
        isEdCol = true;
        EdColRowguid = mycol.Rowguid;
        isEdingCol = true;
        GlneEdRowguid = mycol.Rowguid;
    }
    void CancGcol(Gsglne mycol)
    {
        mycol.Xedt1 = 0;
        mycol.Xadd1 = 0;
        isEdCol = false;
        EdColRowguid = null;
        isEdingCol = false;
        editingCol = null;
        GlneEdRowguid = null;
    }
    void ConfGcol(Gsglne mycol)
    {
        mycol.Xedt1 = 0;
        mycol.Xadd1 = 0;
        if (isEdingCol)
        {

            Console.WriteLine("ICI1");
            bool yaeuModif = false;
            Console.WriteLine("ICI2");
            if (string.Compare(savOliba, mycol.Oliba) != 0)
            {
                //existcol.Oliba = mycol.Oliba;
                yaeuModif = true;
            }
            if (string.Compare(savOabg, mycol.Oabg) != 0)
            {
                //existcol.Oabg = mycol.Oabg;
                yaeuModif = true;
            }
            if (savYrng != mycol.Yrng)
            {
                //existcol.Yrng = mycol.Yrng; //rang colonne
                yaeuModif = true;
            }
            if (savJacc != mycol.Jacc)
            {
                //existcol.Jacc = mycol.Jacc; //rang colonne
                yaeuModif = true;
            }
            if (savJenr != mycol.Jenr)
            {
                //existcol.Jenr = mycol.Jenr; //rang colonne
                yaeuModif = true;
            }
            if (savEta != mycol.Eta)
            {
                //existcol.Eta = mycol.Eta; //rang colonne
                yaeuModif = true;
            }
            if (!yaeuModif)
            {
                return;
            }
            if (yaeuModif)
            {
                if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == mycol))
                {
                    curODContext.AttachTo("Gsglnes", mycol);
                }
                curODContext.UpdateObject(mycol);
            }
        }
        isEdCol = false;
        EdColRowguid = null;
        isEdingCol = false;
        GlneEdRowguid = null;
        editingCol = null;
        //Console.WriteLine("A ETE MODIFIE");
    }

    static void CopyScalarProperties<T>(T source, T target)
    {
        var props = typeof(T).GetProperties()
            .Where(p => p.CanRead && p.CanWrite && 
                        !p.PropertyType.IsClass || p.PropertyType == typeof(string));
        foreach (var p in props)
            p.SetValue(target, p.GetValue(source));
    }
    void EmptyGfix()
    {
        curGfix = new();
    }
    void RefilGdom(Gsgfix myfix) //dom
    {
        curGfix = new Gsgfix
        {
            Liba = myfix.Liba,
            Sliba = myfix.Sliba,
            Abg = myfix.Abg,
            Ityp = myfix.Ityp,
            Jtyp = myfix.Jtyp,
            Mtyp = myfix.Mtyp,
            Ntyp = myfix.Ntyp,
            Eta = myfix.Eta,
        };
    }
    void RefilGafl(Gsgfix myfix) //afil
    {
        curGfix = new Gsgfix
        {
            Liba = myfix.Liba,
            Sliba = myfix.Sliba,
            Abg = myfix.Abg,
            Ityp = myfix.Ityp,
            Jtyp = myfix.Jtyp,
            Mtyp = myfix.Mtyp,
            Ntyp = myfix.Ntyp,
            Eta = myfix.Eta,
        };
    }
    void RefilGrel(Gsgfix myfix) //relat tiers
    {
        curGfix = new Gsgfix
        {
            Liba = myfix.Liba,
            Sliba = myfix.Sliba,
            Abg = myfix.Abg,
            Ityp = myfix.Ityp,
            Jtyp = myfix.Jtyp,
            Mtyp = myfix.Mtyp,
            Ntyp = myfix.Ntyp,
            Eta = myfix.Eta,
        };
    }
    //EDITING Gsglne (colonne)
    void EditGlne(Gsglne myclne)
    {
        myclne.Xadd1 = 0; //editing
        curGlne = myclne;
        RefilGlne(myclne);
        curColVM.Xadd1 = 0; //editing
        isEdingCol = true;
        GlneEdRowguid = myclne.Rowguid;
    }
    void CancGlne(Gsglne myclne)
    {
        EmptyGlne();

        GlneEdRowguid = null;

        myclne.Xadd1 = 0;
        isEdingCol = false;
        editingCol = null;
        curColVM = new();

    }
    void AddGlneWithNav(Gsglne newGlne)
    {
        if (!curODContext.Context.Entities.Any(e => e.Entity == curGfix))
        {
            curODContext.AttachTo("Gsgfixes", curGfix);
        }

        curODContext.Context.AddRelatedObject(
            curOrga,
            "Gsglnes",
            newGlne
        );
        //_guard.MarkDirty();
    }
    void EmptyGlne()
    {
        curColVM = new();
    }
    void RefilGlne(Gsglne myclne)
    {
        curColVM = new Gsglne
            {
                Liba = myclne.Liba,
                Oliba = myclne.Oliba,
                Abg = myclne.Abg,
            //Ityp = myclne.Ityp,
                Jtyp = myclne.Jtyp,
            //Mtyp = myclne.Mtyp,
            //Ntyp = myclne.Ntyp,
                Eta = myclne.Eta,
            };
    }
    // GENERATION
    private async Task PromptAddOneGener(Gsgfix myacol)
    {
        if (myacol.Etyp == 1)
        {
            mesAflGen = (MarkupString)(
                "AVERTISSEMENT!... Ne generer les colonnes pour une cible que<br>" +
                "si vous en avez besoin. L'opération AUGMENTE la charge de traitement"
            );
        }
        else
        {
            mesAflGen = (MarkupString)(
                "AVERTISSEMENT!... Generer les colonnes d'un affilié vous permet de le gérer<br>" +
                "mais cela AUGMENTE le volume de votre base de données</p>"
            );
        }
        myacol.Xgen1 = 0;
        GenerRowguid = myacol.Rowguid;
        isGenAddTfl = true;
    }
    private async Task ConfOneGener(Gsgfix myacol)
    {
        if (myacol == null || myacol.Etyp == 0)
        {
            mesAflGen = new MarkupString("type affilie absent");
            return;
        }
        Imessage = $"Generation de colonnes pour {myacol.Liba}...patience...";
        ReqgnModel reqModel = new ReqgnModel();
        reqModel.Idorg = curOrga.Idorg;
        reqModel.Orig = 2; //vient de user ajout
        reqModel.Pdomtie = IMyBas; //6tiers7produits
        reqModel.Ptyptie = selTyp; //1cible2operat3client4fournis5patern
        reqModel.Psupafl = myacol.Elea; //1cible2cnj3par4enf5pai6flh
        await _cliemanager.SetAuthorizationHeaderAsync("AUTHClient");
        var cblcall = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Post, "usercontext/creaflcols", reqModel);
        var cblresp = JsonConvert.DeserializeObject<ResgnModel>(cblcall);
        if (cblresp != null)
        {

        }
        myacol.Xgen1 = 0;
        GenerRowguid = null;
        isGenAddTfl = false;
        mesAflGen = new MarkupString("");
        //NavigateBack();
    }
    private async Task CncOneGener(Gsgfix myacol)
    {
        myacol.Xgen1 = 0;
        mesAflGen = new MarkupString("");
        GenerRowguid = null;
        isGenAddTfl = false;
    }
    //DELETION
    private async Task PromptDelOneGener(Gsgfix myacol)
    {
        if (myacol.Etyp == 1)
        {
            mesAflSup = (MarkupString)(
                "AVERTISSEMENT!... Supprimer les colonnes pour une cible supprime toutes<br>" +
                "les colonnes des afiliés liés. Vous n-allez plus pouvoir les gérer"
            );
        }
        else
        {
            mesAflSup = (MarkupString)(
                "AVERTISSEMENT!... Si vous Supprimez les colonnes d-un afilié<br>" +
                "ne pourrez plus le gérer</p>"
            );
        }
        myacol.Xgen1 = 0;
        mesAflGen = new MarkupString("");
        GenerRowguid = myacol.Rowguid;
        isGenDelTfl = true;
    }
    private async Task ConfDelOneGener(Gsgfix myacol)
    {
        ReqgnModel reqModel = new ReqgnModel();
        reqModel.Idorg = curOrga.Idorg;
        reqModel.Orig = 2; //vient de user ajout
        reqModel.Pdomtie = IMyBas; //6tiers7produits
        reqModel.Ptyptie = selTyp; //1cible2operat3client4fournis5patern
        reqModel.Psupafl = myacol.Elea; //1cible2cnj3par4enf5pai6flh
        await _cliemanager.SetAuthorizationHeaderAsync("AUTHClient");
        var cblcall = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Post, "usercontext/supaflcols", reqModel);
        var cblresp = JsonConvert.DeserializeObject<ResgnModel>(cblcall);
        if (cblresp != null)
        {

        }
        myacol.Xgen1 = 0;
        mesAflGen = new MarkupString("");
        GenerRowguid = null;
        isGenDelTfl = false;
    }
    private async Task CncDelOneGener(Gsgfix myacol)
    {
        myacol.Xgen1 = 0;
        mesAflGen = new MarkupString("");
        GenerRowguid = null;
        isGenDelTfl = false;
    }
    
    private async Task ConfEAfl(Gsgfix myfix)
    {
        if (myfix.Xseq > 0)
        {
            try
            {
                myfix.Xadd1 = 0;
                myfix.Xedt1 = 0;
                myfix.Xdel1 = 0;
                curODContext.Context.AttachTo("Gsgfixes", myfix);
            }
            catch (InvalidOperationException)
            {
                // Already tracked, safe to ignore
            }
            curODContext.Context.UpdateObject(myfix);
            GfixEdRowguid = null;
            myfix.Xadd1 = 0;
            isEdingAfl = false;
            editingAfl = null;
            Console.WriteLine("Gsgfix marked as Modified");
        }
    }
    public async Task ConfECol(Gsglne mycol)
    {
        if (mycol.Id > 0)
        {
            mycol.Xedt1 = 0;
            mycol.Xadd1 = 0;
            mycol.Xdel1 = 0;
            try
            {
                curODContext.Context.AttachTo("Gsglnes", mycol);
            }
            catch (InvalidOperationException)
            {
                // Already tracked, safe to ignore
            }

            curODContext.Context.UpdateObject(mycol);
            GlneEdRowguid = null;
            mycol.Xadd1 = 0;
            isEdingCol = false;
            editingCol = null;
            isEdingCol = false;
            Console.WriteLine("Gsglne marked as Modified");
        }      
    }

    
    public async Task SavAllAsync()
    {
        await _guard.FlushAsync();
        NavigateBack();
    }
    public async ValueTask DisposeAsync()
    {
        await _guard.DisposeAsync();
    }

    private void ToggleGlneFiltering()
    {
        isGlneFilteringEnabled = !isGlneFilteringEnabled;
    }
    private void DoTabTitle(int noT, string stTitle)
    {
        if (noT == 0) tbTitle = "Cible";
        if (noT > 0) tbTitle = stTitle;
    }
    private void OnCheckboxChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e, Gsglne scol, string propertyName)
    {
        // Example: toggle the property based on the checkbox value
        bool isChecked = e.Value is bool value && value;
        switch (propertyName)
        {
            case nameof(scol.Jacc):
                scol.Jacc = isChecked ? 1 : 0;
                break;
            case nameof(scol.Jenr):
                scol.Jenr = isChecked ? 1 : 0;
                break;
                // Add cases for other properties as needed
        }
        //_guard.MarkDirty();
        // Optionally, trigger any additional logic or state updates here
    }
    private void HandleFieldOrgChanged(object sender, FieldChangedEventArgs e)
    {
        //to display Confirm/Cancel
        //if (e.FieldIdentifier.Model is Gxorga) isEdingOrg = true;
        if (e.FieldIdentifier.Model is Gxorga)
        {
            //isEdingOrg = true;
            //_guard.MarkDirty();
        }
        //if (e.FieldIdentifier.Model is Gsglne) isColEditing = true;
        //if (e.FieldIdentifier.Model is Gsgfix afl)
        //{
        //    //1st entry
        //    if (afl.Gvars == 21 || afl.Gvars == 3 && afl.Itb == 4)
        //    {
        //        isDomEditing = true;
        //    }
        //    if (afl.Gvars == 3 && afl.Itb == 5)
        //    {
        //        isAflEditing = true;
        //    }
        //    Console.WriteLine($"Afl Value: {afl.Gvars}");
        //}
        Console.WriteLine($"Field edited: {e.FieldIdentifier.FieldName}");
    }
    private void HandleFieldFixChanged(object sender, FieldChangedEventArgs e)
    {
        //to display Confirm/Cancel
        if (e.FieldIdentifier.Model is Gsgfix) isEdingAfl = true;
        if (e.FieldIdentifier.Model is Gsgfix)
        {
            isEdingAfl = true;
            //_guard.MarkDirty();
        }
    }
    private void HandleFieldColChanged(object sender, FieldChangedEventArgs e)
    {
        //to display Confirm/Cancel
        if (e.FieldIdentifier.Model is Gsglne) isEdingCol = true;
        if (e.FieldIdentifier.Model is Gsglne)
        {
            isEdingCol = true;
            //_guard.MarkDirty();
        }
    }
    
    private async Task Save()
    {
        await _guard.FlushAsync();  // ✅ Parallel batch saves
    }
    void NavigateBack()
    {
        _navManager.NavigateTo("/");
    }
}
