@page "/prubmenu"
@inherits LayoutComponentBase
@layout FreeLayout

@using System.Security.Claims
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Components.Admina.PRubs
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject NavigationManager _navmanager
@inject ILocalStorageService _localStorage
@inject HttpClientService _cliemanager
@inject IODataContextFactory _contextFactory
@inject SessionContextService _sessionContext
@inject RendAgres _rendAgres

@if (isLoading)
{
    <div class="text-center">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
        <p>PROGRAMS/PLANS Loading...</p>
    </div>
}
@if (!isLoading)
{
    <div class="gx-screen-layout">
        <div class="container gx-parent-container" style="height: 100vh;">
            <div class="d-flex flex-column" style="height: 100%;">
                <!-- Top Menu -->
                <GxNavMenu BrandText="A24soft Gx-Solutions"
                                       MenuItems="@MenuItems"
                                       YaGroup="false"
                                       Groups="@Groupes"
                                       MenuSelected="@SelMenu"
                                       GroupSelected="@SelGpe" />
                <div class="row">
                    <div class="col-md-12 input-group align-middle">
                        <span class="text-uppercase text- text-success"><b>@strComp</b></span>
                        &nbsp;&nbsp;
                        <span class="separator">|| </span>
                        <Button class="btn btn-sm btn-secondary btnsz"
                                style="@(!allEnable ? "" : "display:none;")"
                                @onclick="ManEditAll">
                            Modifier
                        </Button>
                        <Button class="btn btn-sm btn-secondary btnsz"
                                style="@(allEnable ? "" : "display:none;")"
                                @onclick="ManCnclAll">
                            Annuler
                        </Button>
                        <span class="separator">|  </span>
                        <Button class="btn btn-sm btn-secondary btnsz"
                                style="@(allEnable ? "" : "display:none;")"
                                @onclick="ManSaveAll">
                            Enregistrer
                        </Button>
                        @if (!String.IsNullOrEmpty(MImessage))
                        {
                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @MImessage</span>
                        }
                    </div>
                </div>

                <!-- Main Content -->
                @if (this != null)
                {
                    @if (chxMenu != 0 && toChild != null && curOrga != null && curODContext != null)
                        @if (chxMenu == 1)
                        { //SAISIES
                          <PrubSaie @ref="mygsai"
                                    ChxMenu="@chxMenu"
                                    curOrga="@curOrga"
                                    toChild="@toChild"
                                    curODContext="@curODContext">
                              <ChildContent>
                                  @* <h2 class="child-box">Hello RECEPTION</h2> *@
                              </ChildContent>
                          </PrubSaie>
                        }
                        else if (chxMenu == 2)
                        { //CALCULS
                          <PrubCalc @ref="mygclc" 
                                   ChxMenu="@chxMenu"
                                   curOrga="@curOrga"
                                   toChild="@toChild"
                                   curODContext="@curODContext">
                              <ChildContent>
                              </ChildContent>
                          </PrubCalc>
                        }
                        else if (chxMenu == 3)
                        { //VENTILATIONS
                          <PrubVent @ref="mygvnt"
                                    ChxMenu="@chxMenu"
                                    curOrga="@curOrga"
                                    toChild="@toChild"
                                    curODContext="@curODContext">
                              <ChildContent>
                                  @* <h2 class="child-box">Hello RECEPTION</h2> *@
                              </ChildContent>
                          </PrubVent>
                        }
                        else if (chxMenu == 3)
                        { //CALCULS
                            //ref="mygclc"
                        }
                }
            </div>
        </div>
    </div>
}

@code {
    private bool isLoading = true;
    public MyODataContext curODContext;
    public Gxorga curOrga = new Gxorga();
    public MyShareVars toChild = new();
    private bool allEnable = false;
    private PrubSaie mygsai;
    private PrubCalc mygclc;
    private PrubVent mygvnt;

    [Parameter]
    public RenderFragment Pstands { get; set; }
    [Parameter]
    public RenderFragment Pmaties { get; set; }
    [Parameter]
    public RenderFragment Pgrilles { get; set; }
    [Parameter]
    public RenderFragment Pschemas { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    public bool isOwner = false;
    public ClaimsPrincipal authUser;
    public bool isAuthenticated = false;
    //in DATA
    public List<Gsgfix> LsTables = new List<Gsgfix>();

    public int _GIdTie = 0;
    public string _strOrga = "", _curSigle = "", MImessage = "", strmeta = "", strmeta2 = "";

    //menus
    public List<GxNavMenu.MenuItem> MenuItems = new()
    {
        new GxNavMenu.MenuItem { Id = 1, Label = "Prog.SAISIE", Icon = "bi bi-box-arrow-in-down" },
        new GxNavMenu.MenuItem { Id = 2, Label = "Prog.CALCUL", Icon = "bi bi-house-door" },
        new GxNavMenu.MenuItem { Id = 3, Label = "VENTILATION", Icon = "bi bi-house-door" },
        //new MenuItem { Id = 4, Label = "Mutation", Icon = "bi bi-arrow-repeat" },
    };
    public List<GxNavMenu.GroupItem> Groupes = new();

    //entities load
    private IEnumerable<Gxorga> _lsOrgas = new List<Gxorga>();
    //Gestion CRUD Entete
    public bool EnrEnable = false;
    public string Imessage = "";

    //GlobModels
    public Userbag _usrBag = new Userbag();
    public List<Gpfixe> LsFixes = new();
    public List<Gpdivh> LsDivs = new();
    public List<Gpvar> LsVars = new();
    public List<Gplan> LsPlans = new();
    public List<Gpvar> LtTabls = new();
    public List<Gpvar> LsTabls = new();
    //public List<Gpvar> TbElems = new();
    //public List<Clvar> LsCols = new();
    //Navigation
    private int chxMenu = 1;
    private string strComp = "Prog.SAISIE";
    //modal management
    private string SidebarStyle = "width: 200px;";
    private bool IsOpen = true;
    private bool FirstLoadCompleted = false;
    private bool ContentLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Astreintes Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Astreintes SUCCESS");
        }
        _usrBag = await _sessionContext.GetUserbagAsync();
        _GIdTie = _usrBag.Usorga.Gdtie;
        LsVars = _usrBag.Usorga.Uvars.ToList();
        LsFixes = _usrBag.Ufixes.ToList();
        LsPlans = _usrBag.Usorga.Uplns.Where(pl => pl.Ptyp == 3).ToList();
        LtTabls = _usrBag.Usorga.Uvars.Where(tb => tb.Gvars == 4).ToList();
        LsTabls = _usrBag.Usorga.Uvars.Where(tb => tb.Gvars == 5).ToList();
        //LsCols = ColBag.Ucols.Where(uv => uv.Jtyp == 1).OrderBy(uv => uv.Ydpd).ToList();
        //TbElems = _usrBag.Usorga.Uvars.Where(uv => uv.Gvars == 5 && uv.Ade == 1 && uv.Elea != 0).ToList();
        //ensemble des roles
        // var _allRoles = _usrBag.Allroles;
        // var _usrRoles = _usrBag.Allroles.Where(ur => ur.Sicur == true).ToList();
        // int minrol = _usrBag.Usprof.Rlmin;
        Console.WriteLine("Authentication ENTREE");
        await LoadSTROrgaAsync();
        //await LoadRubricsAsync();
        toChild.authUser = authUser;
        toChild.isAuthenticated = isAuthenticated;
        //toChild.Usrid = _UserId;
        //toChild.Idorg = _UorgId;
        toChild.LsDivs = await _rendAgres.LoadOrgaPostes();
        toChild.LsVars = LsVars.ToList();
        toChild.LsFixes = LsFixes.ToList();
        toChild.LsPlans = LsPlans.ToList();
        toChild.LsTabls = LsTabls.ToList();

        //curODContext = _curODContext;
        isLoading = false;
        //pita = 5;
        Console.WriteLine("TIERS A ETE TESTE");
        isLoading = false;
    }
    //CRUD
    private async Task LoadSTROrgaAsync()
    {
        int pisa = 2;
        try
        {
            curODContext = await _contextFactory.CreateAsync(); // Use factory

            //var expand = "Plngens($expand=Rubvars),Plngens($expand=Rubhies),Gsgfixes";
            var expand = "Plngens," +
             "Plngens($expand=Rubvars($expand=Rubfmts))," +
             "Plngens($expand=Rubhies($expand=Rubpsts))";
            var dxorgas = await curODContext.LoadFilteredAsync<Gxorga>(expand: expand);
            pisa = 3;
            curOrga = dxorgas.FirstOrDefault();
            if (curOrga == null)
            {
                Console.WriteLine("No organization found for the current user.");
                return;
            }
            Console.WriteLine($"orga recu {curOrga.Raison}");
            pisa = 4;
            Console.WriteLine($"nb pln test : {pisa} et {curOrga.Plngens.Count()}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"stack trace : {ex.StackTrace} place : {pisa} ex-mess : {ex.Message} and also in-mess: {ex.InnerException}");
        }
    }
    private async Task ManEditAll()
    {
        MImessage = "Edition en preparation...";
        if (chxMenu == 1)
        { //saisies
            await mygsai.EdtAll();
        }
        if (chxMenu == 2)
        { //calculs
            await mygclc.EdtAll();
        }
        if (chxMenu == 3)
        { //ventilat
            await mygvnt.EdtAll();
        }
        MImessage = "";
        allEnable = true;
    }
    private async Task ManCnclAll()
    {
        MImessage = "annulation en cours...";
        if (chxMenu == 1)
        { //saisies
            await mygsai.CncAll();
        }
        if (chxMenu == 2)
        { //calculs
            await mygclc.CncAll();
        }
        if (chxMenu == 3)
        { //ventilat
            await mygvnt.CncAll();
        }
        //reload
        await LoadSTROrgaAsync();
        MImessage = "";
        allEnable = false;
    }
    private async Task ManSaveAll()
    {
        bool oksav = false;
        MImessage = "enregistrement en cours...";
        if (chxMenu == 1)
        { //saisies
            oksav = await mygsai.SaveCurEntities();
        }
        if (chxMenu == 2)
        { //calculs
            oksav = await mygclc.SaveCurEntities();
        }
        if (chxMenu == 3)
        { //ventilats
            oksav = await mygvnt.SaveCurEntities();
        }
        if (oksav) MImessage = "";
        allEnable = false;
    }
    private async Task SelMenu(int noM)
    {
        chxMenu = noM;
        if (chxMenu == 1) strComp = $"Prog.SAISIE";
        if (chxMenu == 2) strComp = $"Prog.CALCUL";
        if (chxMenu == 3) strComp = $"VENTILATION";
        //if (chxMenu == 5) strComp = "Colonnes";
        allEnable = false;
        StateHasChanged();
        await Task.Delay(1);
    }
    private async Task SelGpe(int noG)
    {
        //gpeLiba = "";
        //if (noG == 0) return;
        //var mygpe = LsGties.Where(gt => gt.Itb == 6 && gt.Elea == noG).FirstOrDefault();
        //LsCols = curOrga.Gsglnes.Where(ug => ug.Otyp == 5 && ug.Dtyp == 6 && ug.Totyp == Ugpe && ug.Jacc == 1).ToList();
        //Ugpe = noG;
        //Tgpe = mygpe.Gp2;
        //gpeLiba = LsGties.Where(ut => ut.Elea == mygpe.Elea).FirstOrDefault().Liba.ToUpperInvariant();
        StateHasChanged();
        Console.WriteLine("PAS 2");
        await Task.Delay(1);
    }
    void NavigateBack()
    {
        _navmanager.NavigateTo("/");
    }
}