@page "/gatribs"
@layout AstrMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject HttpClientService _apiClie

<!-- InscTiewComponent.razor -->
<PageTitle>Attribs</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Astreinte/Attribut Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="mb-0 me-2">Groupe :</label>
                                <InputSelect @bind-Value="IMyGatr" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?choisir</option>
                                    @foreach (var utb in LsFixes.Where(u => u.Gvars == 35 && u.Itb == 1 && u.Elea != 0))
                                    {
                                        <option value="@utb.Elea" @onclick="() => SelDomTabl(1)">@utb.Liba</option>
                                    }
                                </InputSelect>
                                <label> Base : </label>
                                <InputSelect @bind-Value="IMyBas">
                                    <option class="jchx" value="0">?base</option>
                                    @foreach (var utb in LsDoms)
                                    {
                                        <option value="@utb.Gp2" @onclick="() => SelDomTabl(2)">@utb.Liba </option>
                                    }
                                </InputSelect>
                                <label style="font-weight:bold"> G.Tiers :</label>
                                    <InputSelect @bind-Value="IMyGtie">
                                        <option class="jchx" value="0">?g.tiers</option>
                                        @foreach (var utb in LsGties.Where(tie => tie.Itb == IMyBas))
                                        {
                                            <option value="@utb.Elea" @onclick="() => SelDomTabl(3)">@utb.Liba</option>
                                        }
                                    </InputSelect>
                            </div>
                        </div>
                        <div class="row">
                            @if (MyDaAtrs != null && IMyGatr != 0 && IMyBas != 0 && IMyGtie != 0 && IMyBas != 9)
                                {
                                    <!--Liste principale des tables-->
                                        <Grid TItem="Gsgfix"
                                              Data="@MyDaAtrs"
                                              AllowPaging="true"
                                              OnRowClick="@OnPaterRowClick"
                                              AllowRowClick="true"
                                              Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="Gsgfix" HeaderText="No">
                                                    <ChildContent Context="item">@item.Elea</ChildContent>
                                                </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Designation">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    <InputText @bind-Value="draftMan.Liba" />
                                                }
                                                else
                                                {
                                                    @item.Liba
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Abrege">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    <InputText @bind-Value="draftMan.Abg" />
                                                }
                                                else
                                                {
                                                    @item.Abg
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Source">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value=draftMan.Zfro>
                                                        <option value=1>conste</option>
                                                        <option value=2>table</option>
                                                        <option value=3>client</option>
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value=item.Zfro disabled="true">
                                                        <option value=1>conste</option>
                                                        <option value=2>table</option>
                                                        <option value=3>client</option>
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Valeur">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    @if (draftMan.Zfro == 1)
                                                    { //constante
                                                      <InputText @bind-Value="draftMan.Svala" placeholder="valeur" />
                                                    }
                                                    else if (draftMan.Zfro == 2)
                                                    { //table
                                                      <InputSelect @bind-Value="draftMan. Xdpd">
                                                          <option value=0>choisir</option>
                                                            @foreach (var utb in LsTabls.Where(ud => ud.Gvars == 4 && ud.Itb == 1 && ud.Elea != 0))
                                                            {
                                                                <option value=@utb.Elea>@utb.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    else if (draftMan.Zfro == 3)
                                                    { //client
                                                      <label>client</label>
                                                    }
                                                    else
                                                    {
                                                        <label>xxxx</label>
                                                    }
                                                }
                                                else
                                                {
                                                    @if (item.Zfro == 1)
                                                    { //constante
                                                      <InputText @bind-Value="item.Svala" disabled="true" />
                                                    }
                                                    else if (item.Zfro == 2)
                                                    { //table
                                                      <InputSelect @bind-Value="item.Xdpd" disabled="true">
                                                          <option value=0>choisir</option>
                                                            @foreach (var utb in LsTabls.Where(ud => ud.Gvars == 4 && ud.Itb == 1 && ud.Elea != 0))
                                                            {
                                                                <option value=@utb.Elea>@utb.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    else if (item.Zfro == 3)
                                                    { //client
                                                      <label>client</label>
                                                    }
                                                    else
                                                    {
                                                        <label>xxxx</label>
                                                    }
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Dependance">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftMan.Ydpd">
                                                        <option value=0>choisir</option>
                                                        @foreach (var udp in MyDaAtrs.Where(udp => udp.Xseq < item.Xseq))
                                                        {
                                                            <option value=@udp.Xseq>@udp.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Ydpd" disabled="true">
                                                        <option value=0>choisir</option>
                                                        @foreach (var udp in MyDaAtrs.Where(udp => udp.Xseq < item.Xseq))
                                                        {
                                                            <option value=@udp.Xseq>@udp.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Type">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftMan.Ztyp">
                                                        <option value="0">choisir</option>
                                                        @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 2 && utb.Elea != 0 && utb.Elea < 6))
                                                        {
                                                            <option value="@utb.Elea">@utb.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Ztyp" disabled="true">
                                                        <option value="0">choisir</option>
                                                        @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 2 && utb.Elea != 0 && utb.Elea < 6))
                                                        {
                                                            <option value="@utb.Elea">@utb.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsgfix" HeaderText="Etat">
                                            <ChildContent Context="item">
                                                @if (EditingManRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftMan.Eta">
                                                        <option value="0">choisir</option>
                                                        @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 1 && utb.Elea != 0))
                                                        {
                                                            <option value="@utb.Elea">@utb.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Eta" disabled="true">
                                                        <option value="0">choisir</option>
                                                        @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 1 && utb.Elea != 0))
                                                        {
                                                            <option value="@utb.Elea">@utb.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                                <GridColumn TItem="Gsgfix" HeaderText="actions">
                                                    <HeaderContent>
                                                        @if (allEnable)
                                                        {
                                                            @if (IMyGatr == 2)
                                                            {
                                                                <button class="btn btn-primary btn-sm" @onclick="() => OpenAddPater()">
                                                                    ➕ Add
                                                                </button>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-info btn-sm" @onclick="ToggleFiltering">
                                                                @(isFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                            </button>
                                                        }
                                                    </HeaderContent>
                                                    <ChildContent Context="item">
                                                @if (allEnable)
                                                {
                                                    @if (IsManEditing(item))
                                                    {
                                                        <button class="btn btn-sm btn-success" @onclick="() => ConfEdingMan(draftMan)">
                                                            💾 Save
                                                        </button>
                                                        <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingMan(draftMan)">
                                                            ❎ Cancel
                                                        </button>
                                                    }
                                                    else if (ConfirmingFixDeleteRowGuid == item.Rowguid)
                                                    {
                                                        <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptFixDelete(item)">
                                                            🗑️ Delete
                                                        </button>
                                                        <button class="btn btn-sm btn-success" @onclick="() => ConfirmFixDelete(item)">
                                                            ✅ Confirm
                                                        </button>
                                                        <button class="btn btn-sm btn-secondary" @onclick="CancelFixDelete">
                                                            ❌ Cancel
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-sm btn-primary me-1 @(allEnable ? "" : "disabled-action")"
                                                                disabled="@(EditingManRowGuid != null)"
                                                                @onclick="() => PromptManEdit(item)">
                                                            ✏️ Edit
                                                        </button>
                                                        @if (IMyGatr == 2)
                                                        {
                                                            <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                    disabled="@(EditingManRowGuid != null)"
                                                                    @onclick="() => PromptFixDelete(item)">
                                                                🗑️ Delete
                                                            </button>
                                                        }
                                                    }
                                                }
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                        </Grid>
                                }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for ADDING Gsgfix -->
            <Modal @ref="patModal" class="modal-wide" Title="@patTitle">
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Gsgfix"
                              Data="@PaterRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Gsgfix" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Elea</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Source">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value=item.Zfro>
                                                <option value=1>conste</option>
                                                <option value=2>table</option>
                                                <option value=3>client</option>
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value=item.Zfro disabled="true">
                                                <option value=1>conste</option>
                                                <option value=2>table</option>
                                                <option value=3>client</option>
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Valeur">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            @if (item.Zfro == 1)
                                            { //constante
                                              <InputText @bind-Value="item.Svala" placeholder="valeur" />
                                            }
                                            else if (item.Zfro == 2)
                                            { //table
                                              <InputSelect @bind-Value="item.Xdpd">
                                                  <option value=0>choisir</option>
                                                    @foreach (var utb in LsTabls.Where(ud => ud.Gvars == 4 && ud.Itb == 1 && ud.Elea != 0))
                                                    {
                                                        <option value=@utb.Elea>@utb.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                            else if (item.Zfro == 3)
                                            { //client
                                              <label>client</label>
                                            }
                                            else
                                            {
                                                <label>xxxx</label>
                                            }
                                        }
                                        else
                                        {
                                            @if (item.Zfro == 1)
                                            { //constante
                                              <InputText @bind-Value="item.Svala" disabled="true" />
                                            }
                                            else if (item.Zfro == 2)
                                            { //table
                                              <InputSelect @bind-Value="item.Xdpd" disabled="true">
                                                  <option value=0>choisir</option>
                                                    @foreach (var utb in LsTabls.Where(ud => ud.Gvars == 4 && ud.Itb == 1 && ud.Elea != 0))
                                                    {
                                                        <option value=@utb.Elea>@utb.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                            else if (item.Zfro == 3)
                                            { //client
                                              <label>client</label>
                                            }
                                            else
                                            {
                                                <label>xxxx</label>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Dependance">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Ydpd">
                                                <option value=0>choisir</option>
                                                @foreach (var udp in MyDaAtrs.Where(udp => udp.Xseq < item.Xseq))
                                                {
                                                    <option value=@udp.Xseq>@udp.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Ydpd" disabled="true">
                                                <option value=0>choisir</option>
                                                @foreach (var udp in MyDaAtrs.Where(udp => udp.Xseq < item.Xseq))
                                                {
                                                    <option value=@udp.Xseq>@udp.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Type">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Ztyp">
                                                <option value="0">choisir</option>
                                                @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 2 && utb.Elea != 0 && utb.Elea < 6))
                                                {
                                                    <option value="@utb.Elea">@utb.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Ztyp" disabled="true">
                                                <option value="0">choisir</option>
                                                @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 2 && utb.Elea != 0 && utb.Elea < 6))
                                                {
                                                    <option value="@utb.Elea">@utb.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Etat">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Eta">
                                                <option value="0">choisir</option>
                                                @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 1 && utb.Elea != 0))
                                                {
                                                    <option value="@utb.Elea">@utb.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option value="0">choisir</option>
                                                @foreach (var utb in LsFixes.Where(utb => utb.Gvars == 32 && utb.Itb == 1 && utb.Elea != 0))
                                                {
                                                    <option value="@utb.Elea">@utb.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix">
                                    <HeaderContent>
                                        @if (!sinwPater)
                                        {
                                            <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddPater()">
                                                <span class="me-1">+</span> Ajout
                                            </button>
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (sinwPater && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludePater(curPater)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="AnuPModal">Annuler</Button>
                    <Button class="btn btn-success" @onclick="ConfPModal">Confirmer</Button>
                    @* <Button class="btn btn-secondary" @onclick="ClosePlnModal">Cancel</Button> *@
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .compact-select {
        height: calc(1.5em + 0.5rem + 2px); /* match input height */
        padding: 0.25rem 0.5rem;
    }

    .modal-wide .modal-dialog {
        max-width: 65vw;
        width: auto;
        margin: auto;
    }
</style>
@code {
    private bool isLoading = true;
    private bool allEnable = false;

    private string Imessage = "", Jmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }

    //private Tiersp gridTier = new Tiersp();
    private Plngen curPlan = new Plngen();
    private List<Rubvar> LsRubs = new List<Rubvar>();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;


    private string _UserId = "", plnDom = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    private List<Gpvar> LsTabls = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpfixe> LsGties = new();
    private List<Gpvar> LsVars = new();

    private int _lgcdu = 0;
    private bool isFilteringEnabled = false;
    //private bool isGpeFilteringEnabled = false;

    //Global
    private int IMyGatr = 0, IMyGtie = 0, IMyBas = 0;
    private Gsgfix curPater = new();
    private bool sinwPater = false, sinwChild = false;
    private Modal patModal, chlModal;
    private string patTitle, chlTitle = "";

    //pere-editing/adding/deleting
    private bool isFixValid = false;
    private Gsgfix nwPater = new();
    private Guid? AddingFixRowGuid; //pmodal
    private bool IsFixAdding(Gsgfix item) => AddingFixRowGuid == item.Rowguid;
    private Guid? ConfirmingFixDeleteRowGuid;
    private bool IsManEditing(Gsgfix item) => EditingManRowGuid == item.Rowguid;
    private Guid? EditingManRowGuid;

    //pere
    private ObservableCollection<Gsgfix> PaterRows => gfixsMap.TryGetValue(curOrga.Idorg, out var rows)
    ? new ObservableCollection<Gsgfix>(rows)
    : new ObservableCollection<Gsgfix>();
    //data
    public ObservableCollection<Gsgfix> MyDaAtrs { get; set; } = new();
    //variables Man
    Gsgfix draftMan = new();
    Gsgfix? editingMan = null;

    void OnPaterRowClick(GridRowEventArgs<Gsgfix> args)
    {
        Console.WriteLine($"OnPaterRowClick Triggered : {args.Item.Xseq}");
        //MyDaChilds = new ObservableCollection<Gsglne>();
        curPater = args.Item; //get glnesMap
        Console.WriteLine($"X1seq {curPater.Xseq}");
        if (curPater == null || curPater.Xseq == 0)
        {
            return;
        }
        //Console.WriteLine($"X2seq {curPater.Xseq} et glnesMap : {glnesMap.Count}");
        var dpris = curOrga.Gsglnes.Where(ju => ju.Pseq == curPater.Xseq).ToList();
        Console.WriteLine($"exist parent data {dpris.Count}");
        bool containsKey = glnesMap.ContainsKey(curPater.Xseq);
        Console.WriteLine($"glnesMap ContainsKey({curPater.Xseq}): {containsKey}");
        if (!glnesMap.TryGetValue(curPater.Xseq, out var list))
        {
            return;
        }
        Console.WriteLine($"exist list {list.Count}");
        //MyDaChilds = new ObservableCollection<Gsglne>(list);
        //Console.WriteLine($"Child elements nb {MyDaChilds.Count}");
        StateHasChanged();
    }
    Gsgfix FindPater(Gsglne row)
    {
        if (row == null || row.Pseq == 0)
            return null;
        return fxparentMapByPseq.TryGetValue(row.Idorg ?? 0, out var parent) ? parent : null;
    }
    void OpenAddPater()
    {
        int parentKey = Convert.ToInt32(curOrga.Idorg);
        if (gfixsMap.ContainsKey(parentKey))
        {
            gfixsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddPater();

        patTitle = $"{curOrga.Idorg} - {curOrga.Raison} (contenu table en creation)";
        patModal.ShowAsync();
    }
    void PrepareAddPater()
    {
        isFixValid = false;
        if (IMyGatr == 0 || IMyBas == 0 || IMyGtie == 0 || !allEnable)
        {
            Imessage = "REFUS, Groupe et/ou Base non choisi";
            return;
        }
        var parentId = curOrga.Idorg;
        // Make sure the gfixsMap has an entry for this parent
        if (!gfixsMap.ContainsKey(parentId))
        {
            gfixsMap[parentId] = new ObservableCollection<Gsgfix>();
        }
        var existingGsgfixs = curOrga.Gsgfixes.Where(ln => ln.Idorg == parentId) ?? new DataServiceCollection<Gsgfix>();
        var mapGsgfixs = gfixsMap[parentId];
        int maxEleaFromParent = existingGsgfixs.Any() ? (existingGsgfixs.Max(r => r?.Elea) ?? 10) : 10;
        int maxEleaFromMap = mapGsgfixs.Any() ? (mapGsgfixs.Max(r => r?.Elea) ?? 10) : 10;
        int maxElea = Math.Max(10, Math.Max(maxEleaFromParent, maxEleaFromMap));
        int nextElea = maxElea + 1;
        Console.WriteLine($"current newPoste zone no : {nextElea} et parent act no : {curOrga.Idorg}");
        var newPat = CreateNewPater(nextElea);
        gfixsMap[parentId].Insert(0, newPat);
        AddingFixRowGuid = newPat.Rowguid;
        StateHasChanged();
        sinwPater = true;
    }
    Gsgfix CreateNewPater(int nextSeq)
    {
        return new Gsgfix
        {
            //Rowguid = Guid.NewGuid(),
            Idorg = curOrga.Idorg,
            Idhie = 0,
            Gvars = IMyBas,
            Itb = IMyGtie, //table elea
            Gtyp = IMyGatr, //2optionnel1integret
            Totyp = IMyGtie,
            Ztyp = 0,
            Zfro = 0,
            Xdpd = 0,
            Ydpd = 0,
            Svala = "",
            Fpsource = "",
            Liba = string.Empty, // string.Empty, placeholder
            Abg = string.Empty, // string.Empty, placeholder
            Elea = nextSeq, // or smarter index logic
            Eta = 1, // unsaved marker
            Xadd1 = -1, //newly added
            // Restore other fields as needed
        };
    }
    void IncludePater(Gsgfix mygf)
    {
        // Use parent Idrub as key to glnesMap dictionary
        var parentId = curOrga.Idorg;
        if (!curODContext.IsEntityTracked(mygf) && isFixValid)
        {
            mygf.Xadd1 = 0;
            curODContext.AddObject("Gsgfixes", mygf);
            // Make sure glnesMap has the parent key initialized
            if (!gfixsMap.ContainsKey(parentId))
            {
                gfixsMap[parentId] = new ObservableCollection<Gsgfix>();
            }
            // Add only if the poste with same Rowguid not already present
            if (!gfixsMap[parentId].Any(p => p.Rowguid == mygf.Rowguid))
            {
                gfixsMap[parentId].Add(mygf);
            }
            sinwPater = false;
            AddingFixRowGuid = Guid.Empty;
            StateHasChanged();
            Imessage = "Success... parent ajoute";
        }
        else
        {
            mygf.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        sinwPater = false;
    }
    private async Task AnuPModal()
    {
        foreach (var enty in PaterRows)
        {
            if (curODContext.GetEntityState(enty) == EntityStates.Added)
            {
                curOrga.Gsgfixes.Remove(enty);
                curODContext.Detach(enty);
            }
        }
        await patModal.HideAsync();
    }
    private async Task ConfPModal()
    {
        await SaveCurEntities();
        Imessage = "Parent(s) SAVED";
        await patModal.HideAsync();
        allEnable = false;
        StateHasChanged();
    }
    void ClosePlnModal()
    { // RAZ des visions
        patTitle = "";
        patModal.HideAsync();
    }
    //GTfl -- EDITING
    void PromptManEdit(Gsgfix myafil)
    {
        myafil.Xedt1 = 0;
        editingMan = myafil;
        draftMan = new Gsgfix
        {
            Rowguid = myafil.Rowguid,
            Idorg = myafil.Idorg,
            Idhie = myafil.Idhie,
            Gvars = myafil.Gvars,
            Itb = myafil.Itb,
            Gtyp = myafil.Gtyp,
            Totyp = myafil.Totyp,
            Ztyp = myafil.Ztyp,
            Zfro = myafil.Zfro,
            Xdpd = myafil.Xdpd,
            Ydpd = myafil.Ydpd,
            Svala = myafil.Svala,
            Fpsource = myafil.Fpsource,
            Liba = myafil.Liba,
            Abg = myafil.Abg,
            Elea = myafil.Elea,
            Eta = myafil.Eta
            //Xadd1 = myafil.Xadd1
        };
        //init edition
        myafil.Xedt1 = -1;
        EditingManRowGuid = myafil.Rowguid;
        //isEdingMan = true;
    }
    void CancEdingMan(Gsgfix myafil)
    {
        myafil.Xedt1 = 0;
        //isEdingMan = false;
        editingMan = new();
        draftMan = new();
        EditingManRowGuid = Guid.Empty;
    }   
    void ConfEdingMan(Gsgfix myafil)
    {
        if (editingMan is not null)
        {
            editingMan.Rowguid = myafil.Rowguid;
            editingMan.Idorg = myafil.Idorg;
            editingMan.Idhie = myafil.Idhie;
            editingMan.Gvars = myafil.Gvars;
            editingMan.Itb = myafil.Itb;
            editingMan.Gtyp = myafil.Gtyp;
            editingMan.Totyp = myafil.Totyp;
            editingMan.Ztyp = myafil.Ztyp;
            editingMan.Zfro = myafil.Zfro;
            editingMan.Xdpd = myafil.Xdpd;
            editingMan.Ydpd = myafil.Ydpd;
            editingMan.Svala = myafil.Svala;
            editingMan.Fpsource = myafil.Fpsource;
            editingMan.Liba = myafil.Liba;
            editingMan.Abg = myafil.Abg;
            editingMan.Elea = myafil.Elea;
            editingMan.Eta = myafil.Eta;
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingMan))
            {
                curODContext.AttachTo("Gsgfixes", editingMan);
            }
            curODContext.UpdateObject(editingMan);
        }
        myafil.Xedt1 = 0;
        //isEdingMan = false;
        editingMan = null;
        EditingManRowGuid = Guid.Empty;
    }

    private void PromptFixDelete(Gsgfix item)
    {
        ConfirmingFixDeleteRowGuid = item.Rowguid;
    }
    private void CancelFixDelete()
    {
        ConfirmingFixDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmFixDelete(Gsgfix row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        if (!gfixsMap.TryGetValue(parent.Idorg, out var coll))
            return;
        Console.WriteLine($"glnesMap {gfixsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        curOrga.Gsgfixes.Where(ln => ln.Idorg == parent.Idorg).ToList().Remove(row);             // Remove from tracked collection

        EditingManRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (toChild == null)
        {
            Console.WriteLine("TOCHILD IS NULL");
            return;
        }
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        LsDoms = toChild.LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsGties = toChild.LsFixes.Where(ut => ut.Gvars == 36 && ut.Elea != 0 && ut.Elea != 9).ToList();
        LsTabls = toChild.LsTabls.ToList();
        LsPlans = toChild.LsPlans.Where(pl => pl.Ptyp == 3).ToList();
        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        MyDaAtrs = new();
        //await LoadTablsAsync();
        _navmanager.LocationChanged += OnLocationChanged;
        Imessage = "Donnees Grilles chargees";
        isLoading = false;
    }
    Dictionary<int, Gsgfix> fxparentMapByPseq = new();
    private Dictionary<int, ObservableCollection<Gsgfix>> gfixsMap = new();
    private Dictionary<int, ObservableCollection<Gsglne>> glnesMap = new();

    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        EditingManRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        EditingManRowGuid = Guid.Empty;
        Imessage = "";
    }
    public async Task SavAll()
    {
        Imessage = "Enregistrement Operations, patience...";
        allEnable = false;
        EditingManRowGuid = Guid.Empty;
        await curODContext.SaveDataAsync();
    }
    private void SelDomTabl(int orig)
    {
        Console.WriteLine("Dernier Feterdah");
        try
        {
            int uTbc = 0; //Gp2
            if (IMyBas == 6) //tiers
            {
                uTbc = 1;
            }
            if (IMyBas == 7) //produit
            {
                uTbc = 2;
            }
            //tables DATA pour liste
            if (IMyBas != 0)
            {
                MyDaAtrs = new ObservableCollection<Gsgfix>(curOrga.Gsgfixes.Where(uv => uv.Gvars == 6 && uv.Itb == uTbc && uv.Gtyp == IMyGatr && uv.Totyp == IMyGtie).ToList());
                Console.WriteLine($"ICIICI: {MyDaAtrs.Count}");
            }
            else
            {
                Console.WriteLine("Rubriques tables vide");
                MyDaAtrs = new();
            }
            Console.WriteLine($"Rubriques attendues nb : {curOrga.Gsglnes.Count}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Posts exception {ex.Message} et trace {ex.StackTrace}");
        }
    }
    private void OnInRubPost(GridRowEventArgs<Gsglne> args)
    {
        var mypst = (Gsglne)args.Item;
        //other code
    }
    bool AreRowsEqual(Gsglne row1, Gsglne row2) =>
        row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    private void ToggleFiltering()
    {
        isFilteringEnabled = !isFilteringEnabled;
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        bool reussi = SaveCurEntities().Result;
    }
    public async Task<bool> SaveCurEntities()
    {
        try
        {
            await curODContext.SaveDataAsync();
            Console.WriteLine("Saved SUCCESS");
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
            return true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Saved ISSUE {ex.Message}");
            //Alert($"ECHEC Entities not SAVED");
            return false;
        }
    }
}