@page "/gcolons"
@layout AstrMenu

@using System
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services.Mform
@using GxAdm.Services
@using GxShared.Sess
@using GxShared.Others
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject IODataContextFactory _contextFactory
@inject SessionContextService _sessionContext

<!-- InscTiewComponent.razor -->
<PageTitle>Colonnes</PageTitle>
@* <h3>AOrgas</h3> *@
@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Colonnes Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
<div>
    @Imessage
</div>
<div>
    @Ierror
</div>
@if (!isLoading)
{
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <EditForm Context="invform" Model="@curOrga">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row form-group">
                    <div class="btn btn-group">
                        <label style="font-weight:bold">Filiation -> Base :&nbsp;</label>
                        <InputSelect id="ogpays" @bind-Value="IMyBas">
                            @foreach (var tob in LsDoms)
                            {
                                <option value="@tob.Gp2">@tob.Liba</option>
                            }
                        </InputSelect>
                        <label style="font-weight:bold"> G.Tiers :</label>
                        <InputSelect id="fltyp" @bind-Value="IMyGtie">
                            <option value="0">choisir</option>
                                @foreach (var tob in LsGties.Where(ut => ut.Itb == IMyBas))
                                {
                                    <option value="@tob.Elea" @onclick="() => DoTabTitle(tob.Elea, tob.Liba)">@tob.Liba</option>
                                }
                        </InputSelect>
                    </div>
                </div>
                 @* <div class="row"> *@
                    @* <ul class="nav nav- flex-nowrap" id="cltabs" role="tablist">
                        <li class="nav-item" role="tab">
                            <a class="nav-link show active" id="par" data-bs-toggle="tab"
                               href="#nav-paras" role="tab" aria-controls="nav-paras"
                               aria-selected="false">
                                @tbTitle
                            </a>
                        </li>
                        <!--si parentcible colonnes generees-->
                        @if (curnbCols > 0)
                        {
                            <li class="nav-item" role="tab">
                                <a class="nav-link" id="afl" data-bs-toggle="tab"
                                   href="#nav-afils" role="tab" aria-controls="nav-afils"
                                   aria-selected="true">
                                    Filiation
                                </a>
                            </li>
                        }
                    </ul> *@
                    <div class="row">
                        @* <div class="tab-content" id="tab-contenu"> *@
                            <!--parent seul/afil1-->
                            @* <div class="tab-pane fade show active" id="nav-paras" role="tabpanel" aria-labelledby="par">
                                @if (IMyBas != 0 && IMyGtie != 0)
                                {
                                    @if (allEnable && isDelingCbl)
                                    {
                                        <div class="row">
                                            <label style="font-family:'Comic Sans MS';font-weight:bold;color:red">
                                                AVERTISSEMENT!... Supprimer les colonnes de la cible est dangereux <br>
                                                vous n-aurez plus la possibilite d-enroler la cible ni de l-integer.
                                            </label>
                                        </div>
                                    }
                                    @if (curnbCols <= 0)
                                    {
                                        <div class="row">
                                            <label style="font-family:'Comic Sans MS';font-weight:bold;color:orangered">
                                                AVERTISSEMENT!... Ne generer les colonnes pour un cible) <br>
                                                que si vous en avez besoin. Loperation augmente la charge de traitement.
                                            </label>
                                            <label>
                                                Vous pouvez supprimer les colonnes d-un cible si vous etes sur qu'il est inutile.
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-1">
                                                @if (allEnable)
                                                {
                                                    <button class="btn btn-danger btn-sm my-0" @onclick="() => PromptAllGener(1, new Gsgfix())">Genr.</button>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @if (allEnable)
                                        {
                                                @if (!isDelingCbl)
                                                {
                                                    <button class="btn btn-sm btn-danger" @onclick="() => PromptCblDelete()">
                                                        🗑️ Suppr
                                                    </button>
                                                }
                                                @if (isDelingCbl)
                                                {
                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfirmAllDelete(1, new Gsgfix())">
                                                        ✅ Confirm
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary" @onclick="CancelCblDelete">
                                                        ❌ Annul
                                                    </button>
                                                }
                                        }
                                    }
                                }
                                <Grid TItem="Gsglne"
                                      Data="@curOrga.Gsglnes.Where(r => r.Otyp == 5 && r.Dtyp == IMyBas && r.Totyp == IMyGtie && r.Tstyp == 1).ToList()"
                                      AllowFiltering="@isGlneFilteringEnabled"
                                      AllowPaging="true"
                                      Responsive="true">
                                    <GridColumns>
                                        <GridColumn TItem="Gsglne" HeaderText="No">
                                            <ChildContent Context="r">
                                                @r.Elea
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="Origine">
                                            <ChildContent Context="r">
                                                @if (editingGlne == r)
                                                { // nom modifiable
                                                    <label class="form-control form-label">@r.Liba</label>
                                                }
                                                else
                                                { // show item as read-only
                                                  <input @bind="r.Liba" class="form-control form-control-sm" disabled />
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="Courant">
                                            <ChildContent Context="r">
                                                @if (editingGlne == r)
                                                { // show draftPln inputs
                                                  <InputText @bind-Value="draftGlne.Oliba"
                                                             class="form-control form-control-sm" />
                                                }
                                                else
                                                { // show item as read-only
                                                  <input @bind="r.Oliba" class="form-control form-control-sm" disabled />
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="acc.">
                                            <ChildContent Context="r">
                                                @if (editingGlne == r)
                                                { // show draftPln inputs
                                                  <div class="col-1">
                                                      <input type="checkbox"
                                                             checked="@(draftGlne.Jacc == 1)"
                                                             @onchange="e => On2CheckboxChanged(e, draftGlne, nameof(draftGlne.Jacc))"
                                                             class="form-check-input"
                                                             disabled="@selDisabled" />
                                                  </div>
                                                }
                                                else
                                                {
                                                    <div class="col-1">
                                                        <input type="checkbox"
                                                               checked="@(r.Jacc == 1)"
                                                               @onchange="e => On2CheckboxChanged(e, r, nameof(r.Jacc))"
                                                               class="form-check-input"
                                                               disabled="true" />
                                                    </div>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="integ">
                                            <ChildContent Context="r">
                                                @if (editingGlne == r)
                                                { // show draftPln inputs
                                                  <div class="col-1">
                                                      <input type="checkbox"
                                                             checked="@(draftGlne.Jenr == 1)"
                                                             @onchange="e => On2CheckboxChanged(e, draftGlne, nameof(draftGlne.Jenr))"
                                                             class="form-check-input"
                                                             disabled="@selDisabled" />
                                                  </div>
                                                }
                                                else
                                                {
                                                    <div class="col-1">
                                                        <input type="checkbox"
                                                               checked="@(r.Jenr == 1)"
                                                               @onchange="e => On2CheckboxChanged(e, r, nameof(r.Jenr))"
                                                               class="form-check-input"
                                                               disabled="true" />
                                                    </div>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="Rang">
                                            <ChildContent Context="r">
                                                @if (editingGlne == r)
                                                { // show draftPln inputs
                                                  <InputNumber @bind-Value="draftGlne.Yrng"
                                                               style="font-weight:bold; width:60px" />
                                                }
                                                else
                                                { // show item as read-only
                                                  <input @bind="r.Yrng" style="font-weight:bold;width:60px" disabled />
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="Eta">
                                            <ChildContent Context="r">
                                                @if (editingGlne == r)
                                                { // show draftPln inputs
                                                  <InputSelect @bind-Value="draftGlne.Eta" class="col-md-1" style="width:auto" disabled="@selDisabled">
                                                      <option class="ichx" value="0">?etat</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                { // show item as read-only
                                                  <select @bind="r.Eta" style="width:auto" disabled="true">
                                                      <option class="ichx" value="0">?etat</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </select>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Gsglne" HeaderText="Actions">
                                            <ChildContent Context="r">
                                                @if (!isEdingGlne || r.Xedt1 != -1)
                                                {
                                                    <button class="btn btn-warning btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => PromptGlnEdit(r)">Edit</button>
                                                }
                                                else
                                                {
                                                    if (isEdingGlne && r.Xedt1 == -1)
                                                    {
                                                        <button class="btn btn-warning btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => ConfEdingGln(draftGlne)">Confirm</button>
                                                        <button class="btn btn-danger btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => CancEdingGln(draftGlne)">Annul</button>
                                                    }
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                    </GridColumns>
                                </Grid>
                            </div> *@
                            <!--principale-->
                            @* <div class="tab-pane fade" id="nav-afils" role="tabpanel" aria-labelledby="afl"> *@
                                
                                @if (IMyBas != 0 && IMyGtie != 0)
                                {
                                    @* @if (isGenerTfl)
                                    {
                                        <div class="row">
                                            <label style="font-family:'Comic Sans MS';font-weight:bold;color:orangered">
                                                AVERTISSEMENT!... Ne generer/supprimer les colonnes pour un affilie <br>
                                                que si vous en avez besoin. Loperation augmente la charge de traitement.
                                            </label>
                                            <label>
                                                Vous pouvez supprimer les colonnes dune filiation inutile.
                                            </label>
                                        </div>
                                    }
                                    @if (isDelingTfl)
                                    {
                                        <div class="row">
                                            <label style="font-family:'Comic Sans MS';font-weight:bold;color:red">
                                                AVERTISSEMENT!... Ne supprimer les colonnes pour un affilie <br>
                                                que si vous en avez plus besoin. Loperation vous empeche de recevoir l-affilie.
                                            </label>
                                        </div>
                                    } *@

                                    <Grid TItem="Gsgfix"
                                          Data="curOrga.Gsgfixes.Where(uf => uf.Gvars == 3 && uf.Itb == IMyBas && uf.Totyp == IMyGtie && uf.Elea != 0).OrderBy(uo=>uo.Etyp).ToList()"
                                          AllowDetailView="true"
                                          Responsive="true">
                                          <GridColumns>
                                            <GridColumn TItem="Gsgfix" HeaderText="No">
                                                <ChildContent Context="item">@item.Elea</ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Avec">
                                                <ChildContent Context="item">
                                                    <div class="@(item.Etyp == 1 ? "saflprow" : "")">
                                                        @item.Liba
                                                    </div>
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Libelle">
                                                <ChildContent Context="item">
                                                 <div class="@(item.Etyp == 1 ? "saflprow" : "")">
                                                    @if (editingTfl == item)
                                                    { // show draftPln inputs
                                                      <InputText @bind-Value="draftTfl.Sliba" class="form-control form-control-sm" />
                                                    }
                                                    else
                                                    { // show item as read-only
                                                      <input @bind="item.Sliba" class="form-control form-control-sm" disabled />
                                                    }
                                                </div>
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Exist?">
                                                <ChildContent Context="item">
                                                    <div class="col-1 @(item.Etyp == 1 ? "saflprow" : "")">
                                                    @if (editingTfl == item)
                                                    { // show draftPln inputs
                                                      <InputSelect @bind-Value="draftTfl.Ityp" style="width:auto" disabled="@selDisabled">
                                                          <option class="ichx" value="0">?exist</option>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 2 && ut.Gp1 == 1))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    else
                                                    { // show item as read-only
                                                      <InputSelect id="ntop" @bind-Value="item.Ityp" disabled="true">
                                                          <option class="ichx" value="0">?exist</option>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 2 && ut.Gp1 == 1))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    </div>
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Avis">
                                                <ChildContent Context="item">
                                                    <div class="col-1 @(item.Etyp == 1 ? "saflprow" : "")">
                                                    @if (editingTfl == item)
                                                    { // show draftPln inputs
                                                      <InputSelect @bind-Value="draftTfl.Jtyp" style="width:auto" disabled="@selDisabled">
                                                          <option class="ichx" value="0">?avis</option>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 6 && ut.Gp1 == 1))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    else
                                                    { // show item as read-only
                                                      <InputSelect id="ntop" @bind-Value="item.Jtyp" disabled="true">
                                                          <option class="ichx" value="0">?avis</option>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 6 && ut.Gp1 == 1))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    </div>
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Gsgfix" HeaderText="Max">
                                                <ChildContent Context="item">
                                                    <div class="col-1 @(item.Etyp == 1 ? "saflprow" : "")">
                                                    @if (editingTfl == item)
                                                    { // show draftPln inputs
                                                        <InputNumber @bind-Value="draftTfl.Mtyp" style="font-weight:bold;width:60px" class="form-control form-control-sm" />
                                                    }
                                                    else
                                                    { // show item as read-only
                                                      <input @bind="item.Mtyp" style="font-weight:bold;width:60px" class="form-control form-control-sm" disabled />
                                                    }
                                                    </div>
                                                </ChildContent>
                                            </GridColumn>
                                            @* <GridColumn TItem="Gsgfix" HeaderText="Cols" IsVisible="@allEnable">
                                                <ChildContent Context="item">
                                                    @if (allEnable)
                                                    {
                                                        int aflnbcols = @curOrga.Gsglnes.Where(fl => fl.Otyp == 5 && fl.Dtyp == IMyBas && fl.Totyp == IMyGtie && fl.Tstyp == item.Elea).Count();
                                                        @if (aflnbcols > 0)
                                                        {
                                                            @if (!isDelingTfl || item.Xdel1 != -1)
                                                            {
                                                                <button class="btn btn-sm btn-danger" @onclick="() => PromptTflDelete(item)">
                                                                    Supr.
                                                                </button>
                                                            }
                                                            @if (isDelingTfl && item.Xdel1 == -1)
                                                            {
                                                                <button class="btn btn-sm btn-success" @onclick="() => ConfirmAllDelete(2, item)">
                                                                    ✅ Confirm
                                                                </button>
                                                                <button class="btn btn-sm btn-secondary" @onclick="() => CancelTflDelete(item)">
                                                                    ❌ Annul
                                                                </button>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-danger btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => PromptAllGener(2, item)">Genr.</button>
                                                            @if (isGenerTfl && item.Xgen1 == -1)
                                                            {
                                                                <button class="btn btn-sm btn-success" @onclick="() => ConfirmAllGener(2, item)">
                                                                    ✅ Confirm
                                                                </button>
                                                                <button class="btn btn-sm btn-secondary" @onclick="() => CancelTflGener(item)">
                                                                    ❌ Annul
                                                                </button>
                                                            }
                                                        }
                                                    }
                                                </ChildContent>
                                            </GridColumn> *@
                                            <GridColumn TItem="Gsgfix" HeaderText="Notif">
                                                <ChildContent Context="item">
                                                    <div class="col-1 @(item.Etyp == 1 ? "saflprow" : "")">
                                                    @if (editingTfl == item)
                                                    { // show draftPln inputs
                                                      <InputSelect @bind-Value="draftTfl.Ntyp" style="width:auto" disabled="@selDisabled">
                                                          <option class="ichx" value="0">?notif</option>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 4 && ut.Gp1 == 1))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    else
                                                    { // show item as read-only
                                                      <InputSelect id="ntop" @bind-Value="item.Ntyp" disabled="true">
                                                          <option class="ichx" value="0">?notif</option>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 31 && ut.Itb == 4 && ut.Gp1 == 1))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                    }
                                                    </div>
                                                </ChildContent>
                                            </GridColumn>
                                            @* <GridColumn TItem="Gsgfix" HeaderText="Actions" IsVisible="@allEnable">
                                                <ChildContent Context="item">
                                                    @if (!isEdingTfl || item.Xedt1 != -1)
                                                    {
                                                        <button class="btn btn-warning btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => EditGfix(item)">Edit</button>
                                                    }
                                                    else
                                                    {
                                                        if (isEdingTfl && item.Xedt1 == -1)
                                                        {
                                                            <button class="btn btn-warning btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => ConfGfix(item)">Confirm</button>
                                                            <button class="btn btn-danger btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => CancGfix(item)">Annul</button>
                                                        }
                                                    }
                                                </ChildContent>
                                            </GridColumn> *@
                                        </GridColumns>
                                        <GridDetailView TItem="Gsgfix" Context="item">
                                            <Grid TItem="Gsglne"
                                                  Data="@curOrga.Gsglnes.Where(r => r.Otyp == 5 && r.Dtyp == IMyBas && r.Totyp == IMyGtie && r.Tstyp == item.Elea).ToList()"
                                                  AllowFiltering="@isGlneFilteringEnabled"
                                                  AllowPaging="true"
                                                  Responsive="true">
                                                <GridColumns>
                                                    <GridColumn TItem="Gsglne" HeaderText="No">
                                                        <ChildContent Context="r">
                                                            @r.Elea
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsglne" HeaderText="Origine">
                                                        <ChildContent Context="r">
                                                            @if (editing2lne == r)
                                                            { // nom modifiable
                                                              <label class="form-control form-label">@r.Liba</label>
                                                            }
                                                            else
                                                            { // show item as read-only
                                                              <input @bind="r.Liba" class="form-control form-control-sm" disabled />
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsglne" HeaderText="Courant">
                                                        <ChildContent Context="r">
                                                            @if (editing2lne == r)
                                                            { // show draftPln inputs
                                                              <InputText @bind-Value="draft2lne.Oliba" />
                                                            }
                                                            else
                                                            { // show item as read-only
                                                              <input @bind="r.Oliba" class="form-control form-control-sm" disabled />
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsglne" HeaderText="acc.">
                                                        <ChildContent Context="r">
                                                            <div class="col-1">
                                                            @if (editing2lne == r)
                                                            { // show draftPln inputs
                                                                  <input type="checkbox"
                                                                         checked="@(draft2lne.Jacc == 1)"
                                                                         @onchange="e => On2CheckboxChanged(e, draft2lne, nameof(draft2lne.Jacc))"
                                                                         class="form-check-input"
                                                                         disabled="@selDisabled" />
                                                            }
                                                            else
                                                            {
                                                                    <input type="checkbox"
                                                                           checked="@(r.Jacc == 1)"
                                                                           @onchange="e => On2CheckboxChanged(e, r, nameof(r.Jacc))"
                                                                           class="form-check-input"
                                                                           disabled="true" />
                                                            }
                                                            </div>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsglne" HeaderText="Rang">
                                                        <ChildContent Context="r">
                                                            <div class="col-1">
                                                            @if (editing2lne == r)
                                                            { // show draftPln inputs
                                                                  <InputNumber @bind-Value="draft2lne.Ydpd"
                                                                        style="font-weight:bold;width:60px" />
                                                            }
                                                            else
                                                            { // show item as read-only
                                                                  <input @bind="r.Ydpd" class="form-control form-control-sm"
                                                                         style="font-weight:bold;width:60px" disabled />
                                                            }
                                                            </div>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsglne" HeaderText="Eta">
                                                        <ChildContent Context="r">
                                                            <div class="col-1">
                                                            @if (editing2lne == r)
                                                            { // show draftPln inputs
                                                              <InputSelect @bind-Value="draft2lne.Eta" style="width:auto" disabled="@selDisabled">
                                                                  <option class="ichx" value="0">?etat</option>
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                            else
                                                            { // show item as read-only
                                                              <select @bind="r.Eta" style="width:auto" disabled="true">
                                                                  <option class="ichx" value="0">?etat</option>
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                                </select>
                                                            }
                                                            </div>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsglne" HeaderText="Actions">
                                                        <ChildContent Context="r">
                                                            @if (!isEding2lne || r.Xedt1 != -1)
                                                            {
                                                                <button class="btn btn-warning btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => Prompt2lnEdit(r)">Edit</button>
                                                            }
                                                            else
                                                            {
                                                                if (isEding2lne && r.Xedt1 == -1)
                                                                {
                                                                    <button class="btn btn-warning btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => ConfEding2ln(draft2lne)">Confirm</button>
                                                                    <button class="btn btn-danger btn-sm @(allEnable ? "" : "disabled-action")" @onclick="() => CancEding2ln(r)">Annul</button>
                                                                }
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                </GridColumns>
                                            </Grid>
                                        </GridDetailView>
                                    </Grid>
                                }

                            @* </div> *@
                        @* </div> *@
                    </div>
                @* </div> *@
                <!--mmodal delmodal -->
            </EditForm>
        </Authorized>
    </AuthorizeView>
}
<style>
    /* .container{
                        /* display: d-flex;
                    } */
    .my-input::placeholder {
        font-family: 'Courier New', Courrier, monospace;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        color: #ff6600;
    }

    .padding-0 {
        padding-right: 0;
        padding-left: 0;
    }

    .table {
        border: 1px yellow;
        font-size: 15px;
        border-collapse: collapse;
        border-spacing: 0;
    }

        .table tr {
            height: 40px;
            padding: 0px;
            margin-top: -5px;
            border-left: 1px solid;
            border-bottom: 1px solid;
        }

        .table thead tr {
            height: 30px;
            font-weight: bold;
            font-style: italic;
        }

    .chkinput {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .chklabel {
        display: block;
    }

    .row-cols-7 > * {
        flex: 0 0 auto;
        width: 14.2857142857%; /* 100/7 */
    }

    .row-cols-8 > * {
        flex: 0 0 auto;
        width: 12.25%; /* 100/8 */
    }

    .btnhz {
        display: flex;
        justify-content: center;
    }

    .btsml {
        size: 15px;
        font-size: xx-small;
    }

    .btzi {
        display: inline-block;
    }

    .ermes {
        color: rgb(255, 127, 127);
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }

    .saflprow {
        background-color: skyblue; /* light yellow */
    }
</style>

@code {
    private bool isLoading = true;
    private bool allEnable = false;
    private string Imessage = "", Jmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }

    public string Title { get; set; }
    private string tbTitle = "Cible";
    public string _UserId = "";
    public int _UorgId = 0;
    private Userbag usrBag = new Userbag();
    //initialisat

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    private List<Gpfixe> LsFixes = new();
    private List<Gpfixe> LsGties = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpfixe> LsTgpes = new();
    private List<Gpvar> LsVars = new();

    private int curnbCols => curOrga.Gsglnes.Where(x => x.Otyp == 5 && x.Dtyp == IMyBas && x.Totyp == IMyGtie && x.Tstyp == 1).Count();

    private int IMyGtie = 0;
    private int IMyBas = 0;
    private int IDestyp = 0;

    private bool isGlneFilteringEnabled = false;

    private EditContext tieContext;
    private UsrMail _usrMail = new UsrMail();

    private ProgressBar progressBar;
    private bool isSFilteringEnabled = false;
    private bool isPFilteringEnabled = false;
    private bool isAFilteringEnabled = false;
    private string Ierror = "";
    //private bool chkAll = false;

    private Userbag _usrBag = new Userbag();

    private int? Siphone = 0;

    private bool isDisabled = true;
    private bool selDisabled => allEnable ? false: true;
    private bool isModified = false;
    private string DisabledClass => isDisabled ? "disabled" : "";

    //modals   
    private bool isModalVisible = false;

    //variables AFIL Gfix
    bool isEdingTfl = false;
    bool adingTfl = false;
    bool isDelingCbl = false;
    bool isGenerCbl = false;
    bool isDelingTfl = false;
    bool isGenerTfl = false;

    Gsgfix newTfl = new();
    Gsgfix draftTfl = new();
    Gsgfix? editingTfl = null;
    //variables GLNE
    bool isEdingGlne = false;
    bool adingGlne = false;
    //Gsglne newGlne = new();
    Gsglne draftGlne = new();
    Gsglne? editingGlne = null;
    //variables 2LNE
    bool isEding2lne = false;
    bool ading2lne = false;
    Gsglne draft2lne = new();
    Gsglne? editing2lne = null;

    private string GetPlnClass() => isEdingTfl ? "editable-cell" : "disabled-row";
    private string GetRubClass() => isEdingGlne ? "editable-cell" : "disabled-row";

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Enrol Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Enrol SUCCESS");
        }
        _usrBag = await _sessionContext.GetUserbagAsync();
        if (_usrBag?.Usorga == null || !_usrBag.Yauser)
        {
            Console.WriteLine($"Echec Invite, recommencez.login/support... {_usrBag?.Usorga?.Idorg} et {_usrBag?.Yauser}");
            return;
        }
        LsVars = _usrBag.Usorga.Uvars.ToList();
        LsFixes = _usrBag.Ufixes.ToList();
        LsGties = _usrBag.Ufixes
            .Where(ut => ut.Gvars == 36 && ut.Elea != 0 && ut.Elea != 9)
            .ToList();
        LsDoms = _usrBag.Ufixes
           .Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0)
           .ToList();
        //await LoadServOrgAsync();
        await ChargeParentData();
        _navmanager.LocationChanged += OnLocationChanged;
        Console.WriteLine("Authentication ENTREE");
        isLoading = false;
    }
    private async Task ChargeParentData()
    {
        if (curOrga != null)
        {
            Console.WriteLine("curOrga charge");
        }
    }
    //GTfl -- EDITING
    void EditGfix(Gsgfix myafil)
    {
        myafil.Xedt1 = 0;
        editingTfl = myafil;
        draftTfl = new Gsgfix
        {   
            Liba = myafil.Liba,
            Sliba = myafil.Sliba,
            Abg = myafil.Abg,
            Ityp = myafil.Ityp,
            Jtyp = myafil.Jtyp,
            Mtyp = myafil.Mtyp,
            Ntyp = myafil.Ntyp,
            Eta = myafil.Eta,
        };
        //init edition
        myafil.Xedt1 = -1;
        isEdingTfl = true;
    }
    void CancGfix(Gsgfix mytfl)
    {
        mytfl.Xedt1 = 0;
        isEdingTfl = false;
        editingTfl = null;
        draftTfl = null;
    }
    void ConfGfix(Gsgfix mytfl)
    {
        if (editingTfl is not null)
        {
            editingTfl.Liba = mytfl.Liba;
            editingTfl.Sliba = mytfl.Sliba;
            editingTfl.Abg = mytfl.Abg;
            editingTfl.Ityp = mytfl.Ityp;
            editingTfl.Jtyp = mytfl.Jtyp;
            editingTfl.Mtyp = mytfl.Mtyp;
            editingTfl.Ntyp = mytfl.Ntyp;
            editingTfl.Eta = mytfl.Eta;
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingTfl))
            {
                curODContext.AttachTo("Gsgfixes", editingTfl);
            }
            curODContext.UpdateObject(editingTfl);
        }
        mytfl.Xedt1 = 0;
        isEdingTfl = false;
        editingTfl = null;
    }
    //GLNE -- EDITING (principale)
    void PromptGlnEdit(Gsglne myglne)
    {
        try
        {
            editingGlne = myglne;
            draftGlne = new Gsglne
            {
                Liba = myglne.Liba,
                Oliba = myglne.Oliba,
                Abg = myglne.Abg,
                Jacc = myglne.Jacc,
                Jenr = myglne.Jenr,
                Yrng = myglne.Yrng,
                Eta = myglne.Eta,
                //Xedt1 = -1,
            };
            myglne.Xedt1 = -1;
            isEdingGlne = true;
            //editingGlne.Xedt1 = -1;
            //Console.WriteLine($"Xedt1 = {myglne.Xedt1}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Faute : {ex.Message} et {ex.StackTrace}");
        }
    }
    void CancEdingGln(Gsglne myglne)
    {
        myglne.Xedt1 = 0;
        isEdingGlne = false;
        editingGlne = null;
        //draftGlne = null;
        StateHasChanged();
    }
    void ConfEdingGln(Gsglne myglne)
    { //myglne = draftGlne
        if (editingGlne is not null)
        {
            editingGlne.Liba = myglne.Liba;
            editingGlne.Oliba = myglne.Oliba;
            editingGlne.Abg = myglne.Abg;
            editingGlne.Jacc = myglne.Jacc;
            editingGlne.Jenr = myglne.Jenr;
            editingGlne.Yrng = myglne.Yrng;
            editingGlne.Eta = myglne.Eta;
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingGlne))
            {
                curODContext.AttachTo("Gsglnes", editingGlne);
            }
            curODContext.UpdateObject<Gsglne>(editingGlne); // track update
        }
        myglne.Xedt1 = 0;
        isEdingGlne = false;
        editingGlne = null;

        StateHasChanged();
    }
    //2LNE -- EDITING (affilies)
    void Prompt2lnEdit(Gsglne myglne)
    {
        try
        {
            editing2lne = myglne;
            Console.WriteLine("PASSE2");
            draft2lne = new Gsglne
            {
                Liba = myglne.Liba,
                Oliba = myglne.Oliba,
                Abg = myglne.Abg,
                Jacc = myglne.Jacc,
                Jenr = myglne.Jenr,
                Yrng = myglne.Yrng,
                Eta = myglne.Eta,
                //Xedt1 = -1,
            };
            myglne.Xedt1 = -1;
            isEding2lne = true;
            Console.WriteLine("PASSE3");
            //StateHasChanged();
            //editing2lne.Xedt1 = -1;
            //Console.WriteLine($"Xedt1 = {myglne.Xedt1}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Faute : {ex.Message} et {ex.StackTrace}");
        }
    }
    void CancEding2ln(Gsglne myglne)
    {
        myglne.Xedt1 = 0;
        isEding2lne = false;
        editing2lne = null;
        //draftGlne = null;
        StateHasChanged();
    }
    void ConfEding2ln(Gsglne myglne)
    { //myglne = draftGlne
        if (editing2lne is not null)
        {
            editing2lne.Liba = myglne.Liba;
            editing2lne.Oliba = myglne.Oliba;
            editing2lne.Abg = myglne.Abg;
            editing2lne.Jacc = myglne.Jacc;
            editing2lne.Jenr = myglne.Jenr;
            editing2lne.Yrng = myglne.Yrng;
            editing2lne.Eta = myglne.Eta;
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editing2lne))
            {
                curODContext.AttachTo("Gsglnes", editing2lne);
            }
            curODContext.UpdateObject<Gsglne>(editing2lne); // track update
        }
        myglne.Xedt1 = 0;
        isEding2lne = false;
        editing2lne = null;

        StateHasChanged();
    }

    //MAIN -- DELETING
    private void PromptCblDelete()
    {
        isDelingCbl = true;
        //ConfirmingCblDeleteRowGuid = item.Rowguid;
    }
    private void CancelCblDelete()
    {
        isDelingCbl = false;
        //ConfirmingCblDeleteRowGuid = Guid.Empty;
    }
    private void PromptTflDelete(Gsgfix myafil)
    {
        myafil.Xdel1 = -1;
        isDelingTfl = true;
        //ConfirmingCblDeleteRowGuid = item.Rowguid;
    }
    private void CancelTflDelete(Gsgfix myafil)
    {
        myafil.Xdel1 = 0;
        isDelingTfl = false;
        //ConfirmingCblDeleteRowGuid = Guid.Empty;
    }
    private async Task ConfirmAllDelete(int orig, Gsgfix myafil)
    {
        ReqgnModel reqModel = new ReqgnModel();
        reqModel.Idorg = curOrga.Idorg;
        reqModel.Orig = 1; //vient de 1consfix2gsgfix-atr/colonne
        reqModel.Pdomtie = IMyBas; //6tiers7produits
        reqModel.Ptyptie = IMyGtie; //1cible2operat3client4fournis5patern
        if (orig == 1)
        {
            Imessage = "Suppression de colonnes cible...patience...";
            reqModel.Psupafl = 1; //si creer/-1tout afils, autre filiation no x (si parent cree)
            var cblcall = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Post, "lgauth/supacols", reqModel);
            var cblresp = JsonConvert.DeserializeObject<ResgnModel>(cblcall);
            if (cblresp != null)
            {

            }
            isDelingCbl = false;
        }
        else if (orig == 2)
        {
            Imessage = "Generation de colonnes affiliation...patience...";
            reqModel.Psupafl = myafil.Elea; //>2 si creer/-1tout afils, autre filiation no x (si parent cree)
            var aflcall = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Post, "lgauth/supacols", reqModel);
            var aflresp = JsonConvert.DeserializeObject<ResgnModel>(aflcall);
            if (aflresp != null)
            {

            }
            isDelingTfl = false;
        }
        Imessage = "";
        myafil.Xdel1 = 0;
        _navmanager.NavigateTo("/");
    }

    
    private void ToggleGlneFiltering()
    {
        isGlneFilteringEnabled = !isGlneFilteringEnabled;
    }
    private void DoTabTitle(int noT, string stTitle)
    {
        if (noT == 0) tbTitle = "Cible";
        if (noT > 0) tbTitle = stTitle;
    }
    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        //EditingRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        //EditingRowGuid = Guid.Empty;
        Imessage = "";
    }
    // public async Task SavAll()
    // {
    //     Imessage = "Enregistrement Operations, patience...";
    //     allEnable = false;
    //     //EditingRowGuid = Guid.Empty;
    //     //await curODContext.SaveDataAsync();
    // }
    private void OnCheckboxChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e, Gsgfix scol, string propertyName)
    {
        // Example: toggle the property based on the checkbox value
        bool isChecked = e.Value is bool value && value;
        switch (propertyName)
        {
            case nameof(scol.Jtyp):
                scol.Jtyp = isChecked ? 1 : 0;
                break;
            case nameof(scol.Ktyp):
                scol.Ktyp = isChecked ? 1 : 0;
                break;
                // Add cases for other properties as needed
        }
        // Optionally, trigger any additional logic or state updates here
    }
    private void On2CheckboxChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e, Gsglne scol, string propertyName)
    {
        // Example: toggle the property based on the checkbox value
        bool isChecked = e.Value is bool value && value;
        switch (propertyName)
        {
            case nameof(scol.Jacc):
                scol.Jacc = isChecked ? 1 : 0;
                break;
            case nameof(scol.Jenr):
                scol.Jenr = isChecked ? 1 : 0;
                break;
                // Add cases for other properties as needed
        }
        // Optionally, trigger any additional logic or state updates here
    }
    void HandleChecked(Gsgfix scol)
    {
        // Additional logic here

    }

    void NavigateBack()
    {
        _navmanager.NavigateTo("/");
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        bool reussi = SaveCurEntities().Result;
    }
    public async Task<bool> SaveCurEntities()
    {
        try
        {
            await curODContext.SaveDataAsync();
            Console.WriteLine("Saved SUCCESS");
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
            return true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Saved ISSUE {ex.Message}");
            //Alert($"ECHEC Entities not SAVED");
            return false;
        }
    }
}


