@page "/gtables"
@layout AstrMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _clieManager

<!-- InscTiewComponent.razor -->
<PageTitle>Tables</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Astreinte/Table Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="mb-0 me-2">Groupe :</label>
                                <InputSelect @bind-Value="IMyGtbl" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?choisir</option>
                                    @foreach (var utb in LsFixes.Where(u => u.Gvars == 35 && u.Itb == 1 && u.Elea != 0))
                                    {
                                        <option value="@utb.Elea" @onclick="() => SelDomTabl(1)">@utb.Liba</option>
                                    }
                                </InputSelect>
                                <label> Base : </label>
                                <InputSelect @bind-Value="IMyBas">
                                    <option class="jchx" value="0">?base</option>
                                    @foreach (var utb in LsDoms)
                                    {
                                        <option value="@utb.Gp2" @onclick="() => SelDomTabl(2)">@utb.Liba </option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="row">
                            @if (MyDaRubrs.Any() && IMyBas != 0 && IMyGtbl != 0)
                            {
                            <Tabs>
                                    <Tab Title="Liste">
                                        <Content>
                                            <!--Liste des tables-->
                                            <Grid TItem="Gsgfix"
                                                  Data="@MyDaRubrs"
                                                  AllowPaging="true"
                                                  OnRowClick="@OnPaterRowClick"
                                                  AllowRowClick="true"
                                                  Responsive="true">
                                                <GridColumns>
                                                    <GridColumn TItem="Gsgfix" HeaderText="No">
                                                        <ChildContent Context="item">
                                                            @if (item.Elea == 0)
                                                            {
                                                                <span>?@item.Iui</span>
                                                            }
                                                            else
                                                            {
                                                                @item.Elea
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="Designation">
                                                        <ChildContent Context="item">
                                                            @if (EditingManRowGuid == item.Rowguid)
                                                            {

                                                                <InputText @bind-Value="draftMan.Liba" />
                                                            }
                                                            else
                                                            {
                                                                @item.Liba
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="abrege">
                                                        <ChildContent Context="item">
                                                            @if (EditingManRowGuid == item.Rowguid)
                                                            {

                                                                <InputText @bind-Value="draftMan.Abg" />
                                                            }
                                                            else
                                                            {
                                                                @item.Abg
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="Eta">
                                                        <ChildContent Context="item">
                                                            @if (EditingManRowGuid == item.Rowguid)
                                                            {
                                                                <InputSelect @bind-Value="draftMan.Eta">
                                                                    <option class="jchx" value="0">?choisir</option>
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                            else
                                                            {
                                                                <InputSelect @bind-Value="item.Eta" disabled="true">
                                                                    <option class="jchx" value="0">?choisir</option>
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="actions">
                                                        <HeaderContent>
                                                            @if (allEnable)
                                                            {
                                                                @if (IMyGtbl == 2)
                                                                {
                                                                    <button class="btn btn-primary btn-sm" @onclick="() => OpenAddPater()">
                                                                        ➕ Add
                                                                    </button>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-info btn-sm" @onclick="ToggleFiltering">
                                                                    @(isFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                                </button>
                                                            }
                                                        </HeaderContent>
                                                        <ChildContent Context="item">
                                                            @if (EdTblRowguid != item.Rowguid)
                                                            {
                                                                <button class="btn btn-warning btn-sm
                                                                                                @(!isEdTbl && !isDlTbl && EdTblRowguid != item.Rowguid ? "" : "disabled-action")"
                                                                        @onclick="() => Edit1tbl(item)">
                                                                    ✏️ Edit
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-sm btn-success" @onclick="() => Conf1tbl(item)">
                                                                    💾 Save
                                                                </button>
                                                                <button class="btn btn-sm btn-secondary" @onclick="() => Canc1tbl(item)">
                                                                    ❎ Cancel
                                                                </button>
                                                            }
                                                            @if (DlTblRowguid != item.Rowguid)
                                                            {
                                                                @if (IMyGtbl == 2)
                                                                {
                                                                    <button class="btn btn-sm btn-outline-danger @(!isDlTbl && !isEdTbl && DlTblRowguid != item.Rowguid ? "" : "disabled-action")"
                                                                            @onclick="() => Dele1tbl(item)">
                                                                        🗑️ Delete
                                                                    </button>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-warning btn-sm @(DlTblRowguid == item.Rowguid ? "" : "disabled-action")" @onclick="() => ConfD1tbl(item)">Confirm</button>
                                                                <button class="btn btn-danger btn-sm @(DlTblRowguid == item.Rowguid ? "" : "disabled-action")" @onclick="() => CancD1tbl(item)">Annul</button>
                                                            }
                                                        </ChildContent>
                                                    </GridColumn>
                                                </GridColumns>
                                            </Grid>
                                        </Content>
                                    </Tab>
                                    <Tab Title="Contenu">
                                        <Content>
                                            <!--Contenu des tables-->
                                            <Grid TItem="Gsgfix"
                                                  Data="@MyDaRubrs"
                                                  AllowDetailView="true"
                                                  OnRowClick="@OnPaterRowClick"
                                                  AllowRowClick="true"
                                                  AllowPaging="true"
                                                  Responsive="true">
                                                <GridColumns>
                                                    <GridColumn TItem="Gsgfix" HeaderText="No">
                                                        <ChildContent Context="item">@item.Elea</ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="Designation">
                                                        <ChildContent Context="item">@item.Liba</ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="abrege">
                                                        <ChildContent Context="item">@item.Abg</ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsgfix" HeaderText="actions">
                                                        <HeaderContent>
                                                            @if (!allEnable)
                                                            {
                                                                <button class="btn btn-info btn-sm" @onclick="ToggleFiltering">
                                                                    @(isFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                                </button>
                                                            }
                                                        </HeaderContent>
                                                    </GridColumn>
                                                </GridColumns>
                                                <GridDetailView TItem="Gsgfix" Context="parent">
                                                    <Grid TItem="Gsglne"
                                                          Data="@MyDaChilds.Where(uc => uc.Pseq == parent.Xseq).ToList()"
                                                          AllowPaging="true"
                                                          Responsive="true">
                                                        <GridColumns>
                                                            <GridColumn TItem="Gsglne" HeaderText="No">
                                                                <ChildContent Context="item">
                                                                    @if (item.Elea == 0)
                                                                    {
                                                                        <span>?@item.Iui</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.Elea
                                                                    }
                                                                </ChildContent>
                                                            </GridColumn>
                                                            <GridColumn TItem="Gsglne" HeaderText="Designation">
                                                                <ChildContent Context="item">
                                                                    @if (EditingLneRowGuid == item.Rowguid)
                                                                    {
                                                                        <InputText @bind-Value="draftLne.Liba" />
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.Liba
                                                                    }
                                                                </ChildContent>
                                                            </GridColumn>
                                                            <GridColumn TItem="Gsglne" HeaderText="Abrege">
                                                                <ChildContent Context="item">
                                                                    @if (EditingLneRowGuid == item.Rowguid)
                                                                    {
                                                                        <InputText @bind-Value="draftLne.Abg" />
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.Abg
                                                                    }
                                                                </ChildContent>
                                                            </GridColumn>
                                                            <GridColumn TItem="Gsglne" HeaderText="Dpdce">
                                                                <ChildContent Context="item">
                                                                    @if (EditingLneRowGuid == item.Rowguid)
                                                                    {
                                                                        <InputSelect @bind-Value="draftLne.Ydpd">
                                                                            <option class="jchx" value="0">?choisir</option>
                                                                            @foreach (var utb in curOrga.Gsglnes.Where(uv => uv.Pseq == parent.Xseq && (uv.Otyp == 4) && uv.Id < item.Id))
                                                                            {
                                                                                <option value="@utb.Id">@utb.Liba</option>
                                                                            }
                                                                        </InputSelect>
                                                                    }
                                                                    else
                                                                    {
                                                                        <InputSelect @bind-Value="item.Ydpd" disabled="true">
                                                                            <option class="jchx" value="0">aucun</option>
                                                                            @foreach (var utb in curOrga.Gsglnes.Where(uv => uv.Pseq == parent.Xseq && (uv.Otyp == 4) && uv.Id < item.Id))
                                                                            {
                                                                                <option value="@utb.Id">@utb.Liba</option>
                                                                            }
                                                                        </InputSelect>
                                                                    }
                                                                </ChildContent>
                                                            </GridColumn>
                                                            <GridColumn TItem="Gsglne" HeaderText="Eta">
                                                                <ChildContent Context="item">
                                                                    @if (EditingLneRowGuid == item.Rowguid)
                                                                    {
                                                                        <InputSelect @bind-Value="draftLne.Eta">
                                                                            <option class="jchx" value="0">?choisir</option>
                                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                            {
                                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                                            }
                                                                        </InputSelect>
                                                                    }
                                                                    else
                                                                    {
                                                                        <InputSelect @bind-Value="item.Eta" disabled="true">
                                                                            <option class="jchx" value="0">?choisir</option>
                                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                            {
                                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                                            }
                                                                        </InputSelect>
                                                                    }
                                                                </ChildContent>
                                                            </GridColumn>
                                                            <GridColumn TItem="Gsglne" HeaderText="Actions" Filterable="false">
                                                                <HeaderContent>
                                                                    @if (allEnable)
                                                                    {
                                                                        <button class="btn btn-primary btn-sm" @onclick="() => OpenAddChild(parent)">
                                                                            ➕ Add
                                                                        </button>
                                                                    }
                                                                </HeaderContent>
                                                                <ChildContent Context="item">
                                                                    @if (EdElmRowguid != item.Rowguid)
                                                                    {
                                                                        <button class="btn btn-warning btn-sm
                                                                                                                    @(!isEdElm && !isDlElm && EdElmRowguid != item.Rowguid ? "" : "disabled-action")"
                                                                                @onclick="() => Edit2tbl(item)">
                                                                            ✏️ Edit
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn btn-sm btn-success
                                                                                                                        @(EdElmRowguid == item.Rowguid ? "" : "disabled-action")"
                                                                                @onclick="() => Conf2tbl(item)">
                                                                            💾 Save
                                                                        </button>
                                                                        <button class="btn btn-sm btn-secondary
                                                                                                                        @(EdElmRowguid == item.Rowguid ? "" : "disabled-action")"
                                                                                @onclick="() => Canc2tbl(item)">
                                                                            ❎ Cancel
                                                                        </button>
                                                                    }
                                                                    @if (DlElmRowguid != item.Rowguid)
                                                                    {
                                                                        @if (IMyGtbl == 2)
                                                                        {
                                                                            <button class="btn btn-sm btn-outline-danger
                                                                                                                                    @(!isDlElm && !isEdElm && DlElmRowguid != item.Rowguid ? "" : "disabled-action")"
                                                                                    @onclick="() => Dele2tbl(item)">
                                                                                🗑️ Delete
                                                                            </button>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn btn-warning btn-sm
                                                                                                                    @(DlElmRowguid == item.Rowguid ? "" : "disabled-action")"
                                                                                @onclick="() => ConfD2tbl(item)">
                                                                            Confirm
                                                                        </button>
                                                                        <button class="btn btn-danger btn-sm
                                                                                                                    @(DlElmRowguid == item.Rowguid ? "" : "disabled-action")"
                                                                                @onclick="() => CancD2tbl(item)">
                                                                            Annul
                                                                        </button>
                                                                    }
                                                                </ChildContent>
                                                            </GridColumn>
                                                        </GridColumns>
                                                    </Grid>
                                                </GridDetailView>
                                            </Grid>
                                        </Content>
                                    </Tab>
                            </Tabs>
                            }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for ADDING Gsgfix -->
            <Modal @ref="patModal" class="modal-wide" Title="@patTitle">
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Gsgfix"
                              Data="@PaterRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Gsgfix" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Iui</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {

                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (AddingFixRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Eta">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix">
                                    <HeaderContent>
                                        @if (!sinwPater)
                                        {
                                            <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddPater()">
                                                <span class="me-1">+</span> Ajout
                                            </button>
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (sinwPater && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludePater(curPater)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="CncPlans">Annuler</Button>
                    <Button class="btn btn-success" @onclick="AddPlans">Confirmer</Button>
                    @* <Button class="btn btn-secondary" @onclick="ClosePmodal">Cancel</Button> *@
                </FooterTemplate>
            </Modal>
            <!-- Modal for ADDING Gsglne -->
            <Modal @ref="chlModal" class="modal-wide" Title="@chlTitle">
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Gsglne"
                              Data="@ChildRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Gsglne" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Iui</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsglne" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsglne" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsglne" HeaderText="Dpdce">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Ydpd">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var utb in curOrga.Gsglnes.Where(uv => uv.Pseq == curPater.Xseq && (uv.Otyp == 4) && uv.Id < item.Id))
                                                {
                                                    <option value="@utb.Id">@utb.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Ydpd" disabled="true">
                                                <option class="jchx" value="0">aucun</option>
                                                @foreach (var utb in curOrga.Gsglnes.Where(uv => uv.Pseq == curPater.Xseq && (uv.Otyp == 4) && uv.Id < item.Id))
                                                {
                                                    <option value="@utb.Id">@utb.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsglne" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Eta">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsglne">
                                    <HeaderContent>
                                        @if (!sinwChild)
                                        {
                                            <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddChild()">
                                                <span class="me-1">+</span> Ajout
                                            </button>
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Gsglne" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (sinwChild && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludeChild(curPater, item)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="CncRubrs">Annuler</Button>
                    <Button class="btn btn-success" @onclick="AddRubrs">Confirmer</Button>
                    @* <Button class="btn btn-secondary" @onclick="CloseCmodal">Cancel</Button> *@
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .compact-select {
        height: calc(1.5em + 0.5rem + 2px); /* match input height */
        padding: 0.25rem 0.5rem;
    }

    .modal-wide .modal-dialog {
        max-width: 70vw;
        width: auto;
        margin: auto;
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }
</style>
@code {
    private bool isLoading = true;

    private string Imessage = "", Jmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public bool allEnable { get; set; }
    [Parameter]
    public PendingChangesGuard _guard { get; set; }

    //private Tiersp gridTier = new Tiersp();
    private Plngen curPlan = new Plngen();
    private List<Rubvar> LsRubs = new List<Rubvar>();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;

    private string _UserId = "", plnDom = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();

    private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpvar> LsVars = new();

    private int _lgcdu = 0;
    private bool isFilteringEnabled = false;
    //private bool isGpeFilteringEnabled = false;

    //Global
    private int IMyPlan = 0, IMyGtbl = 0, IMyBas = 0;
    private Gsgfix curPater = new();
    private bool sinwPater = false, sinwChild = false;
    private Modal patModal, chlModal;
    private string patTitle, chlTitle = "";

    //pere-editing/adding/deleting
    private bool isFixValid = false;
    private Gsgfix nwPater = new();
    private Guid? AddingFixRowGuid; //pmodal
    private bool IsFixAdding(Gsgfix item) => AddingFixRowGuid == item.Rowguid;
    private Guid? ConfirmingFixDeleteRowGuid;
    Dictionary<int, Gsgfix> fxparentMapByPseq = new();
    private Dictionary<int, List<Gsgfix>> gfixsMap = new();
    private Dictionary<int, List<Gsglne>> glnesMap = new();
    //fils-editing/adding/deleting
    private bool isChlValid = false;
    private Gsglne nwChild = new();
    private Guid? AddingRowGuid; //cmodal
    //private Guid? EditingRowGuid;
    private Guid? EditingManRowGuid; //cmodal
    private Guid? EditingLneRowGuid;
    private Guid? ConfirmingDeleteRowGuid;

    private bool IsManEditing(Gsgfix item) => EditingManRowGuid == item.Rowguid;
    private bool IsLneEditing(Gsglne item) => EditingLneRowGuid == item.Rowguid;

    //pere
    private List<Gsgfix> PaterRows = new();
    // private List<Gsgfix> PaterRows => gfixsMap.TryGetValue(curOrga.Idorg, out var rows)
    // ? new List<Gsgfix>(rows)
    // : new List<Gsgfix>();
    // private ObservableCollection<Gsgfix> PaterRows => gfixsMap.TryGetValue(curOrga.Idorg, out var rows)
    // ? new ObservableCollection<Gsgfix>(rows)
    // : new ObservableCollection<Gsgfix>();
    //fils

    //Editing
    bool isEdTbl = false;
    Guid EdTblRowguid = Guid.Empty;
    bool isEdElm = false;
    Guid EdElmRowguid = Guid.Empty;
    //Deling
    bool isDlTbl = false;
    Guid DlTblRowguid = Guid.Empty;
    bool isDlElm = false;
    Guid DlElmRowguid = Guid.Empty;
    //TEST-TEST
    private Dictionary<object, object> _editOriginals = new();  // Store original values
    private HashSet<object> _editingEntities = new();           // Currently editing
    private Gsgfix? _newRowDraft;   

    private List<Gsglne> ChildRows = new();
    // private List<Gsglne> ChildRows => glnesMap.TryGetValue(curPater.Xseq, out var rows)
    // ? new List<Gsglne>(rows)
    // : new List<Gsglne>();
    // private ObservableCollection<Gsglne> ChildRows => glnesMap.TryGetValue(curPater.Xseq, out var rows)
    // ? new ObservableCollection<Gsglne>(rows)
    // : new ObservableCollection<Gsglne>();
    //data
    public List<Gsgfix> MyDaRubrs { get; set; } = new List<Gsgfix>();
    public List<Gsglne> MyDaChilds { get; set; } = new List<Gsglne>();
    // public ObservableCollection<Gsgfix> MyDaRubrs { get; set; } = new();
    // public ObservableCollection<Gsglne> MyDaChilds { get; set; } = new();
    //variables Man
    Gsgfix draftMan = new();
    Gsgfix? editingMan = null;
    //variables Lne
    Gsglne draftLne = new();
    Gsglne? editingLne = null;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (toChild == null)
        {
            Console.WriteLine("TOCHILD IS NULL");
            return;
        }
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        LsDoms = toChild.LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        //LsTabls = toChild.LsTabls.ToList();
        LsPlans = toChild.LsPlans.Where(pl => pl.Ptyp == 3).ToList();

        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        //MyDaRubrs = new List<Gsgfix>();
        //await LoadTablsAsync();
        gfixsMap.Clear();
        glnesMap.Clear();
        MyDaRubrs = new List<Gsgfix>(); // ObservableCollection<Gsgfix>();
        //gfixsMap[curOrga.Idorg] = curOrga.Gsgfixes.Where(uf => uf.Gvars == 4 && uf.Elea != 0).ToList(); //new ObservableCollection<Gsgfix>(curOrga.Gsgfixes.Where(uf => uf.Gvars == 4 && uf.Elea != 0));
        MyDaChilds = curOrga.Gsglnes.Where(ln => ln.Otyp == 4).ToList();
        Console.WriteLine($"elements tables{MyDaChilds.Count()}");
        // foreach (var uta in curOrga.Gsgfixes.Where(uv => uv.Gvars == 4 && uv.Elea != 0))
        // {
        //     List<Gsglne> tbcols = MyDaChilds.Where(ln => ln.Pseq == uta.Xseq).ToList();
        //     glnesMap[uta.Xseq] = tbcols; //new ObservableCollection<Gsglne>(tbcols);
        //     //Console.WriteLine($"Parent Xseq: {uta.Xseq}, Children count: {tbcols.Count}");
        // }
        _navmanager.LocationChanged += OnLocationChanged;
        Imessage = "Donnees Tables chargees";
        isLoading = false;
    }
    // private async Task LoadTablsAsync()
    // {

    // }
    void OnPaterRowClick(GridRowEventArgs<Gsgfix> args)
    {
        Console.WriteLine($"OnPaterRowClick Triggered : {args.Item.Xseq}");
        //MyDaChilds = new ObservableCollection<Gsglne>();
        //MyDaChilds = new();
        curPater = args.Item; //get glnesMap
        Console.WriteLine($"X1seq {curPater.Xseq}");
        if (curPater == null || curPater.Xseq == 0)
        {
            return;
        }
        Console.WriteLine($"X2seq {curPater.Xseq} et glnesMap : {glnesMap.Count}");
        //var dpris = curOrga.Gsglnes.Where(ju => ju.Pseq == curPater.Xseq).ToList();
        //Console.WriteLine($"exist parent data {dpris.Count}");
        bool containsKey = glnesMap.ContainsKey(curPater.Xseq);
        Console.WriteLine($"glnesMap ContainsKey({curPater.Xseq}): {containsKey}");
        if (!glnesMap.TryGetValue(curPater.Xseq, out var list))
        {
            return;
        }
        Console.WriteLine($"exist list {list.Count}");
        //MyDaChilds = new ObservableCollection<Gsglne>(list);
        //MyDaChilds = list;
        Console.WriteLine($"Child elements nb {MyDaChilds.Count}");
        StateHasChanged(); 
    }
    Gsgfix FindPater(Gsglne row)
    {
        if (row == null || row.Pseq == 0)
            return null;
        return fxparentMapByPseq.TryGetValue(row?.Idorg ?? 0, out var parent) ? parent : null;
    }
    void OpenAddPater()
    {
        int parentKey = Convert.ToInt32(curOrga.Idorg);
        if (gfixsMap.ContainsKey(parentKey))
        {
            gfixsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddPater();

        patTitle = $"{curOrga.Idorg} - {curOrga.Raison} (table en creation)";
        patModal.ShowAsync();
    }
    void OpenAddChild(Gsgfix maintb)
    {
        if (maintb != null)
        {
            curPater = maintb;
            int parentKey = Convert.ToInt32(curPater.Xseq);
            if (glnesMap.ContainsKey(parentKey))
            {
                glnesMap.Remove(parentKey); // Clear previous children for clean modal state
            }

            PrepareAddChild();

            chlTitle = $"{curPater.Elea} - {curPater.Liba} (contenu table en creation)";
            chlModal.ShowAsync();
        }
        else
        {
            Imessage = "Parent non selectionne";
            return;
        }
    }
    void PrepareAddPater()
    {
        isFixValid = false;
        if (IMyBas == 0 || IMyGtbl == 0 || !allEnable)
        {
            Imessage = "REFUS, Groupe et/ou Base non choisi";
            return;
        }
        var parentId = curOrga.Idorg;
        // Make sure the gfixsMap has an entry for this parent
        if (!gfixsMap.ContainsKey(parentId))
        {
            gfixsMap[parentId] = new List<Gsgfix>(); //ObservableCollection<Gsgfix>();
        }
        //var existingGsgfixs = curOrga.Gsgfixes.Where(ln => ln.Idorg == parentId) ?? new DataServiceCollection<Gsgfix>();

        var mapGsgfixs = gfixsMap[parentId];
        int maxiui = mapGsgfixs.Any()? (mapGsgfixs.Max(r => r?.Iui) ?? 0) : 0;
        int nextIui = maxiui + 1;

        //int maxEleaFromParent = existingGsgfixs.Any() ? (existingGsgfixs.Max(r => r?.Elea) ?? 10) : 10;
        //int maxEleaFromMap = mapGsgfixs.Any() ? (mapGsgfixs.Max(r => r?.Elea) ?? 10) : 10;
        //int maxElea = Math.Max(10, Math.Max(maxEleaFromParent, maxEleaFromMap));
        //int nextElea = maxElea + 1;

        Console.WriteLine($"current newPoste zone no : {nextIui} et parent act no : {curOrga.Idorg}");
        var newPat = CreateNewPater(nextIui);
        gfixsMap[parentId].Insert(0, newPat);
        PaterRows = PaterRows.Prepend(newPat).ToList();
        AddingFixRowGuid = newPat.Rowguid;
        StateHasChanged();
        sinwPater = true;
    }
    void PrepareAddChild()
    {
        isChlValid = false;
        if (curPater == null || IMyBas == 0 || IMyGtbl == 0 || !allEnable)
        {
            Imessage = "REFUS, Groupe et/ou Base non choisi";
            return;
        }
        var parentId = curPater.Xseq;
        // Make sure the glnesMap has an entry for this parent
        if (!glnesMap.ContainsKey(parentId))
        {
            glnesMap[parentId] = new List<Gsglne>();
        }
        //var existingGsglnes = curOrga.Gsglnes.Where(ln => ln.Pseq == parentId) ?? new DataServiceCollection<Gsglne>();
        var mapGsglnes = glnesMap[parentId];
        int maxiui = mapGsglnes.Any() ? (mapGsglnes.Max(r => r?.Iui) ?? 0) : 0;
        int nextIui = maxiui + 1;


        //int maxIdzonFromParent = existingGsglnes.Any() ? (existingGsglnes.Max(r => r.Elea) ?? 10) : 10;
        //int maxIdzonFromMap = mapGsglnes.Any() ? (mapGsglnes.Max(r => r.Elea) ?? 10) : 10;
        //int maxIdzon = Math.Max(10, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        //int nextZon = maxIdzon + 1;

        Console.WriteLine($"current newPoste zone no : {nextIui} et parent act no : {curPater.Xseq}");

        var newChl = CreateNewChild(curPater, nextIui);

        glnesMap[parentId].Insert(0, newChl);
        ChildRows = ChildRows.Prepend(newChl).ToList();
        AddingRowGuid = newChl.Rowguid;
        StateHasChanged();
        sinwChild = true;
        isChlValid = true;
    }
    Gsgfix CreateNewPater(int nextSeq)
    {
        return new Gsgfix
        {
            //Rowguid = Guid.NewGuid(),
            Iui = nextSeq,
            Idorg = curOrga.Idorg,
            Idhie = 0,
            Gvars = 4,
            Itb = 4, //table elea
            Gtyp = IMyGtbl, //2optionnel1integre
            Dpdce = 0,
            Liba = string.Empty, // string.Empty, placeholder
            Abg = string.Empty, // string.Empty, placeholder
            //Elea = nextSeq, // or smarter index logic
            Eta = 1, //
            Xadd1 = -1, //newly added
            // Restore other fields as needed
        };
    }
    Gsglne CreateNewChild(Gsgfix parent, int nextSeq)
    {
        return new Gsglne
        { 
            //Rowguid = Guid.NewGuid(),
            Iui = nextSeq,
            Idorg = Convert.ToInt32(curPater.Idorg),
            Pseq = curPater.Xseq,
            Pvars = curPater.Gvars,
            Pitb = curPater.Itb,
            Pele = curPater.Elea,
            //Elea = nextSeq,
            //Yrng = nextSeq,
            Otyp = 4, //contenu tables
            Gtyp = 2, //1integ2ajout
            Ydpd = 0, //si depdce
            Liba = "",
            Abg = "",
            Eaut = 0, //supprimable
            Eta = 1,
            Xadd1 = -1, //newly added
        };
    }
    void IncludePater(Gsgfix mygf)
    {
        // Use parent Idrub as key to glnesMap dictionary
        var parentId = curOrga.Idorg;
        if (!curODContext.IsEntityTracked(mygf) && isFixValid)
        {
            mygf.Xadd1 = 0;
            curODContext.AddObject("Gsgfixes", mygf);
            // Make sure glnesMap has the parent key initialized
            if (!gfixsMap.ContainsKey(parentId))
            {
                gfixsMap[parentId] = new List<Gsgfix>();
            }
            // Add only if the poste with same Rowguid not already present
            if (!gfixsMap[parentId].Any(p => p.Rowguid == mygf.Rowguid))
            {
                gfixsMap[parentId].Add(mygf);
                PaterRows.Insert(0, mygf);
            }
            sinwPater = false;
            AddingFixRowGuid = Guid.Empty;
            StateHasChanged();
            Imessage = "Success... parent ajoute";
        }
        else
        {
            mygf.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        sinwPater = false;
    }
    void IncludeChild(Gsgfix mygf, Gsglne aglne)
    {
        // Use parent Idrub as key to glnesMap dictionary
        var parentId = mygf.Xseq;
        if (!curODContext.IsEntityTracked(aglne) && isChlValid)
        {
            Console.WriteLine($"element table en cours Ajout {aglne.Liba}");
            mygf.Xadd1 = 0;
            curODContext.AddObject("Gsglnes", aglne);
            // Make sure glnesMap has the parent key initialized
            if (!glnesMap.ContainsKey(parentId))
            {
                glnesMap[parentId] = new List<Gsglne>();
            }
            // Add only if the poste with same Rowguid not already present
            if (!glnesMap[parentId].Any(p => p.Rowguid == aglne.Rowguid))
            {
                glnesMap[parentId].Add(aglne);
                ChildRows.Insert(0, aglne);
            }
            sinwChild = false;
            AddingRowGuid = Guid.Empty;
            StateHasChanged();
            Imessage = "Success... element table ajoute";
        }
        else
        {
            mygf.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }
        sinwChild = false;
    }
    void ClosePmodal()
    { // RAZ des visions
        patTitle = "";
        patModal.HideAsync();
    }
    void CloseCmodal()
    { // RAZ des visions
        chlTitle = "";
        chlModal.HideAsync();
    }
    // private async Task AnuPModal()
    // {
    //     foreach (var enty in PaterRows)
    //     {
    //         if (curODContext.GetEntityState(enty) == EntityStates.Added)
    //         {
    //             curOrga.Gsgfixes.Remove(enty);
    //             curODContext.Detach(enty);
    //         }
    //     }
    //     await patModal.HideAsync();
    // }
    // private async Task ConfPModal()
    // {
    //     await SaveCurEntities();
    //     Imessage = "Parent(s) SAVED";
    //     await patModal.HideAsync();
    //     allEnable = false;
    //     StateHasChanged();
    // }
    // private async Task AnuCModal()
    // {
    //     foreach (var enty in ChildRows)
    //     {
    //         if (curODContext.GetEntityState(enty) == EntityStates.Added)
    //         {
    //             curOrga.Gsglnes.Remove(enty);
    //             curODContext.Detach(enty);
    //         }
    //     }
    //     await chlModal.HideAsync();
    // }
    // private async Task ConfCModal()
    // {
    //     await SaveCurEntities();
    //     Imessage = "Colonne(s) SAVED";
    //     await chlModal.HideAsync();
    //     allEnable = false;
    //     StateHasChanged();
    // }
    //SAVE Modals contains
    private async void AddPlans()
    {
        foreach (var unpat in PaterRows)
        {
            if (!curODContext.IsEntityTracked(unpat))
            {
                curODContext.AttachTo("gsgfixes", unpat);
            }
            curODContext.AddRelatedObject(curOrga, "Gxorgas", unpat);
        }
        PaterRows = new();
        //await SaveCurEntities();
        Imessage = "Parent(s) SAVED";
        await patModal.HideAsync();
        allEnable = false;
        StateHasChanged();
    }
    private async void AddRubrs()
    {
        foreach (var uncol in ChildRows)
        {
            if (!curODContext.IsEntityTracked(uncol))
            {
                curODContext.AttachTo("Gsglnes", uncol);
            }
            curODContext.AddRelatedObject(curPater, "Gsgfixes", uncol);
        }
        ChildRows = new();
        //await SaveCurEntities();
        Imessage = "Colonne(s) SAVED";
        await chlModal.HideAsync();
        allEnable = false;
        StateHasChanged();
    }
    private async void CncPlans()
    {
        PaterRows.Clear();
        gfixsMap.Clear();
        sinwPater = false;
        await patModal.HideAsync();
    }
    private async void CncRubrs()
    {
        ChildRows.Clear();
        glnesMap.Clear();
        sinwChild = false;
        await chlModal.HideAsync();
    }
    //EDITING Gsgfix (tbl)
    void Edit1tbl(Gsgfix mytbl)
    {

        EdTblRowguid = mytbl.Rowguid;
        isEdTbl = true;
    }
    void Conf1tbl(Gsgfix myafil)
    {

        EdTblRowguid = Guid.Empty;
        isEdTbl = false;
    }
    void Canc1tbl(Gsgfix myafil)
    {


        EdTblRowguid = Guid.Empty;
        isEdTbl = false;
    }
    //Deling Gsgfix (tbl)
    void Dele1tbl(Gsgfix mytbl)
    {

        DlTblRowguid = mytbl.Rowguid;
        isDlTbl = true;
    }
    void ConfD1tbl(Gsgfix myafil)
    {

        DlTblRowguid = Guid.Empty;
        isDlTbl = false;
    }
    void CancD1tbl(Gsgfix myafil)
    {


        DlTblRowguid = Guid.Empty;
        isDlTbl = false;
    }
    //TEST-TEST
    // MARK 1: ADD NEW ROW
    private void StartAddTblNew()
    {
        _newRowDraft = new Gsgfix
        {
            Xseq = 0,
            Idorg = _usrBag.Idorg
        };

        curODContext.AddObject("Gsgfixes", _newRowDraft);  // → State=Added
        _editingEntities.Add(_newRowDraft);           // → Edit mode
        StateHasChanged();
    }
    // MARK 2: START EDIT
    private void StartEdit(object entity)
    {
        _editOriginals[entity] = DeepClone(entity);  // ✅ Newtonsoft perfect clone
        _editingEntities.Add(entity);
        curODContext.UpdateObject(entity);
        StateHasChanged();
    }
    // MARK 3: CONFIRM NEW ROW
    private void ConfirmEdit(object entity)
    {
        // Already tracked by Context.AddObject/UpdateObject
        // UI exits edit mode
        _editingEntities.Remove(entity);
        _editOriginals.Remove(entity);
        StateHasChanged();

        Console.WriteLine($"✅ Confirmed edit: {entity}");
    }

    // MARK 4: CANCEL EDIT (Discard Changes)
    private void CancelEdit(object entity)
{
    if (_editOriginals.TryGetValue(entity, out var original))
    {
        // 🔥 Restore properties using Newtonsoft
        var originalJson = JsonConvert.SerializeObject(original, _cloneSettings);
        JsonConvert.PopulateObject(originalJson, entity, _cloneSettings);
        // Reset state to Unchanged (no re-attach needed)
        curODContext.Context.ChangeState(entity, EntityStates.Unchanged);
        _editingEntities.Remove(entity);
        StateHasChanged();
    }
}

    

    // MARK 5: CONFIRM ALL → Batch Save
    private async Task SaveAllChanges()
    {
        await _guard.FlushAsync();  // → Parallel PUT all Added/Modified
        _editOriginals.Clear();    // Clean up
        StateHasChanged();
    }

    // MARK 6: UI HELPERS
    private bool IsEditing(object entity) => _editingEntities.Contains(entity);

    private string GetTblRowCss(object entity)
    {
        return entity switch
        {
            Gsgfix g when g.Xseq == 0 => "new-row",      // NEW row
            _ when IsEditing(entity) => "editing-row",   // Editing
            _ => ""                                      // Normal
        };
    }

    private static readonly JsonSerializerSettings _cloneSettings = new()
{
    TypeNameHandling = TypeNameHandling.None,        // Security
    ReferenceLoopHandling = ReferenceLoopHandling.Ignore,  // OData cycles
    NullValueHandling = NullValueHandling.Include,   // Keep nulls
    Formatting = Formatting.None                     // Performance
};

    private object DeepClone(object entity)
    {
        var settings = new JsonSerializerSettings
        {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        };

        var json = JsonConvert.SerializeObject(entity, settings);
        return JsonConvert.DeserializeObject(json, entity.GetType(), settings)!;
    }


    //EDITING Gsglne (elm)
    void Edit2tbl(Gsglne myelm)
    {

        EdElmRowguid = myelm.Rowguid;
        isEdElm = true;

        StateHasChanged();
    }
    void Conf2tbl(Gsglne myelm)
    {

        EdElmRowguid = Guid.Empty;
        isEdElm = false;
    }
    void Canc2tbl(Gsglne myelm)
    {


        EdElmRowguid = Guid.Empty;
        isEdElm = false;
    }
    //Deling Gsglne (tbl)
    void Dele2tbl(Gsglne myelm)
    {

        DlElmRowguid = myelm.Rowguid;
        isDlElm = true;
    }
    void ConfD2tbl(Gsglne myelm)
    {

        DlElmRowguid = Guid.Empty;
        isDlElm = false;
    }
    void CancD2tbl(Gsglne myelm)
    {


        DlElmRowguid = Guid.Empty;
        isDlElm = false;
    }

    void PromptManEdit(Gsgfix myafil)
    {
        myafil.Xedt1 = 0;
        editingMan = myafil;
        draftMan = new Gsgfix
        {
            Rowguid = myafil.Rowguid,
            Idorg = myafil.Idorg,
            Idhie = myafil.Idhie,
            Gvars = myafil.Gvars,
            Itb = myafil.Itb, //table elea
            Gtyp = myafil.Gtyp, //2optionnel1integre
            Dpdce = myafil.Dpdce,
            Liba = myafil.Liba, // string.Empty, placeholder
            Abg = myafil.Abg, // string.Empty, placeholder
            Elea = myafil.Elea, // or smarter index logic
            Eta = myafil.Eta, //
            //Xadd1 = myafil.Xadd1
        };
        //init edition
        myafil.Xedt1 = -1;
        EditingManRowGuid = myafil.Rowguid;
        //isEdingMan = true;
    }
    void PromptLneEdit(Gsglne myglne)
    {
        //init edition
        myglne.Xedt1 = 0;
        editingLne = myglne;
        //isEdingLne = true;
        draftLne = new Gsglne
        {
            Rowguid = myglne.Rowguid,
            Idorg = myglne.Idorg,
            Pseq = myglne.Pseq,
            Pvars = myglne.Pvars,
            Pitb = myglne.Pitb,
            Pele = myglne.Pele,
            Elea = myglne.Elea,
            Yrng = myglne.Yrng,
            Otyp = myglne.Otyp, //contenu tables
            Gtyp = myglne.Gtyp, //1integ2ajout
            Ydpd = myglne.Ydpd, //si depdce
            Liba = myglne.Liba,
            Abg = myglne.Abg,
            Eaut = myglne.Eaut, //supprimable
            Eta = myglne.Eta,
            //Xadd1 = myglne.Xadd1, // <--- Mark as transient/new
        };
        //init edition
        myglne.Xedt1 = -1;
        EditingLneRowGuid = myglne.Rowguid;
    }
    void CancEdingMan(Gsgfix myafil)
    {
        myafil.Xedt1 = 0;
        //isEdingMan = false;
        editingMan = new();
        draftMan = new();
        EditingManRowGuid = Guid.Empty;
    }
    void CancEdingLne(Gsglne myglne)
    {
        myglne.Xedt1 = 0;
        //isEdingMan = false;
        editingLne = null;
        draftLne = null;
        EditingLneRowGuid = Guid.Empty;
    }
    void ConfEdingMan(Gsgfix myafil)
    {
        if (editingMan is not null)
        {
            editingMan.Rowguid = myafil.Rowguid;
            editingMan.Idorg = myafil.Idorg;
            editingMan.Idhie = myafil.Idhie;
            editingMan.Gvars = myafil.Gvars;
            editingMan.Itb = myafil.Itb; //table elea
            editingMan.Gtyp = myafil.Gtyp; //2optionnel1integre
            editingMan.Dpdce = myafil.Dpdce;
            editingMan.Liba = myafil.Liba; // string.Empty, placeholder
            editingMan.Abg = myafil.Abg; // string.Empty, placeholder
            editingMan.Elea = myafil.Elea; // or smarter index logic
            editingMan.Eta = myafil.Eta; //
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingMan))
            {
                curODContext.AttachTo("Gsgfixes", editingMan);
            }
            curODContext.UpdateObject(editingMan);
        }
        myafil.Xedt1 = 0;
        //isEdingMan = false;
        
        //Editing
        isEdTbl = false;
        EdTblRowguid = Guid.Empty;
        
        editingMan = null;
        EditingManRowGuid = Guid.Empty;
    }
    void ConfEdingLne(Gsglne myglne)
    {
        if (editingLne is not null)
        {
            editingLne.Rowguid = myglne.Rowguid;
            editingLne.Idorg = myglne.Idorg;
            editingLne.Pseq = myglne.Pseq;
            editingLne.Pvars = myglne.Pvars;
            editingLne.Pitb = myglne.Pitb;
            editingLne.Pele = myglne.Pele;
            editingLne.Elea = myglne.Elea;
            editingLne.Yrng = myglne.Yrng;
            editingLne.Otyp = myglne.Otyp; //contenu tables
            editingLne.Gtyp = myglne.Gtyp; //1integ2ajout
            editingLne.Ydpd = myglne.Ydpd; //si depdce
            editingLne.Liba = myglne.Liba;
            editingLne.Abg = myglne.Abg;
            editingLne.Eaut = myglne.Eaut; //supprimable
            editingLne.Eta = myglne.Eta;
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingLne))
            {
                curODContext.AttachTo("Gsglnes", editingLne);
            }
            curODContext.UpdateObject(editingLne);
        }
        myglne.Xedt1 = 0;
        //isEdingMan = false;
        editingLne = null;
        EditingLneRowGuid = Guid.Empty;
    }
    private void PromptDelete(Gsglne item)
    {
        ConfirmingDeleteRowGuid = item.Rowguid;
    }
    private void CancelDelete()
    {
        ConfirmingDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmDelete(Gsglne row)
    {
        var parent = FindPater(row);
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Xseq}");
        if (!glnesMap.TryGetValue(parent.Xseq, out var coll))
            return;
        Console.WriteLine($"glnesMap {glnesMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        curOrga.Gsglnes.Where(ln => ln.Pseq == parent.Xseq).ToList().Remove(row);             // Remove from tracked collection

        EditingManRowGuid = Guid.Empty;
        EditingLneRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    private void PromptFixDelete(Gsgfix item)
    {
        ConfirmingFixDeleteRowGuid = item.Rowguid;
    }
    private void CancelFixDelete()
    {
        ConfirmingFixDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmFixDelete(Gsgfix row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        if (!gfixsMap.TryGetValue(parent.Idorg, out var coll))
            return;
        Console.WriteLine($"glnesMap {gfixsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        curOrga.Gsgfixes.Where(ln => ln.Idorg == parent.Idorg).ToList().Remove(row);             // Remove from tracked collection

        EditingManRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }

    
    //}

    //manage SAVING
    // public async Task EdtAll()
    // {
    //     allEnable = true;
    //     EditingManRowGuid = Guid.Empty;
    //     EditingLneRowGuid = Guid.Empty;
    // }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        EditingManRowGuid = Guid.Empty;
        EditingLneRowGuid = Guid.Empty;
        Imessage = "";
    }
    // public async Task SavAll()
    // {
    //     Imessage = "Enregistrement Operations, patience...";
    //     allEnable = false;
    //     EditingManRowGuid = Guid.Empty;
    //     EditingLneRowGuid = Guid.Empty;
    //     await curODContext.SaveDataAsync();
    // }
    private void SelDomTabl(int orig)
    {
        Console.WriteLine("Dernier Feterdah");
        try
        {
            int uTbc = 0; //Gp2
            if (IMyBas == 6) //tiers
            {
                uTbc = 1;
            }
            if (IMyBas == 7) //produit
            {
                uTbc = 2;
            }
            //tables DATA pour liste
            if (IMyBas != 0)
            {
                MyDaRubrs = curOrga.Gsgfixes.Where(tb => tb.Gvars == 4 && tb.Gtyp == uTbc).ToList();
                //MyDaRubrs = list;
                Console.WriteLine($"ICIICI: {MyDaRubrs.Count} et {uTbc} et {curOrga.Gsgfixes.Count}");
            }
            else
            {
                Console.WriteLine("Rubriques tables vide");
                MyDaRubrs = new List<Gsgfix>();
            }
            Console.WriteLine($"Rubriques attendues nb : {curOrga.Gsglnes.Count}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Posts exception {ex.Message} et trace {ex.StackTrace}");
        }
    }
    private void OnInRubPost(GridRowEventArgs<Gsglne> args)
    {
        var mypst = (Gsglne)args.Item;
        //other code
    }
    bool AreRowsEqual(Gsglne row1, Gsglne row2) =>
        row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    private void ToggleFiltering()
    {
        isFilteringEnabled = !isFilteringEnabled;
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        //bool reussi = SaveCurEntities().Result;
    }
    // public async Task<bool> SaveCurEntities()
    // {
    //     try
    //     {
    //         await curODContext.SaveDataAsync();
    //         Console.WriteLine("Saved SUCCESS");
    //         //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
    //         //MyDaPlans = wrkplns;
    //         StateHasChanged();
    //         return true;
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"Saved ISSUE {ex.Message}");
    //         //Alert($"ECHEC Entities not SAVED");
    //         return false;
    //     }
    // }
}