@using GxStk.ClieModels

<div class="card">
    <div class="card-body p-3">
        <Grid TItem="EntPerson"
              Data="@FilteredData"
              AllowPaging="true"
              Responsive="true"
              @key="@RenderKey">
            <GridColumns>
                <GridColumn TItem="EntPerson" HeaderText="">
                    <ChildContent Context="entity">
                        <!-- FIELD 1: ID -->
                        <div class="row mb-2">
                            <label class="fw-bold col-md-3 col-form-label text-nowrap">ID:</label>
                            <div class="form-control-plaintext col-md-9">@entity.Id</div>
                        </div>
                        @{
                            var isGridEditing = IsEditingRow(entity, EdRowguid, DraftEntity);
                        }

                        <!-- FIELD 2: Dossier -->
                        @if (Visibility.GetValueOrDefault("Xmatri", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Dossier:</label>
                                @if (isGridEditing)
                                {
                                    <InputText @bind-Value="entity.Xmatri" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Xmatri</div>
                                }
                            </div>
                        }

                        <!-- FIELD 3: Nom -->
                        @if (Visibility.GetValueOrDefault("Nom", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Nom:</label>
                                @if (isGridEditing)
                                {
                                    <InputText @bind-Value="entity.Nom" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Nom</div>
                                }
                            </div>
                        }
                        <!-- FIELD 4: Pnom -->
                        @if (Visibility.GetValueOrDefault("Pnom", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Pnom:</label>
                                @if (isGridEditing)
                                {
                                    <InputText @bind-Value="entity.Pnom" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Pnom</div>
                                }
                            </div>
                        }
                        <!-- FIELD 5: Nom de Jeune fille -->
                        @if (Visibility.GetValueOrDefault("Bnom", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Nom de Jeune fille:</label>
                                @if (isGridEditing)
                                {
                                    <InputText @bind-Value="DraftEntity.Bnom" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Bnom</div>
                                }
                            </div>
                        }

                        <!-- FIELD 6: Statut -->
                        @if (Visibility.GetValueOrDefault("Statut", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Statut:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Statut" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 11))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Statut" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 31))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 7: Relat -->
                        @if (Visibility.GetValueOrDefault("Relat", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Relat:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Relat" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 18))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Relat" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 18))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 8: Sexe -->
                        @if (Visibility.GetValueOrDefault("Sexe", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Sexe:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Sexe" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 12))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Sexe" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 12))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 9: Sitmat -->
                        @if (Visibility.GetValueOrDefault("Sitmat", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Sitmat:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Sitmat" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 13))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Sitmat" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 13))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 10: Fonction -->
                        @if (Visibility.GetValueOrDefault("Ifonc", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Fonction:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Ifonc" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 14))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Ifonc" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 14))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 11: Grade -->
                        @if (Visibility.GetValueOrDefault("Igrad", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Grade:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Igrad" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 15))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Igrad" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 15))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 12: Email -->
                        @if (Visibility.GetValueOrDefault("Email", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Email:</label>
                                @if (isGridEditing)
                                {
                                    <InputText @bind-Value="DraftEntity.Email" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Email</div>
                                }
                            </div>
                        }

                        <!-- FIELD 13: Phone -->
                        @if (Visibility.GetValueOrDefault("Phone", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Phone:</label>
                                @if (isGridEditing)
                                {
                                    <InputText @bind-Value="DraftEntity.Phone" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Phone</div>
                                }
                            </div>
                        }

                        <!-- FIELD 14: Date de naissance -->
                        @if (Visibility.GetValueOrDefault("Dnais", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Date nais.:</label>
                                @if (isGridEditing)
                                {
                                    <InputDate @bind-Value="DraftEntity.Dnais" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Dnais</div>
                                }
                            </div>
                        }

                        <!-- FIELD 15: Date d’embauche -->
                        @if (Visibility.GetValueOrDefault("Demb", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Date emb.:</label>
                                @if (isGridEditing)
                                {
                                    <InputDate @bind-Value="DraftEntity.Demb" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Demb</div>
                                }
                            </div>
                        }

                        <!-- FIELD 16: Nombre d’enfants -->
                        @if (Visibility.GetValueOrDefault("Nenf", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Nb enf.:</label>
                                @if (isGridEditing)
                                {
                                    <InputNumber @bind-Value="DraftEntity.Nenf" class="form-control col-md-9" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext col-md-9">@entity.Nenf</div>
                                }
                            </div>
                        }

                        <!-- FIELD 17: Responsabilité -->
                        @if (Visibility.GetValueOrDefault("Respon", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Responsabilité:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Respon" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 17))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Respon" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 17))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 18: Pays de résidence -->
                        @if (Visibility.GetValueOrDefault("Rpays", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">P. résidence:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Rpays" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 31))
                                        {
                                            <option value="@tob.Abg">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Rpays" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 31))
                                        {
                                            <option value="@tob.Abg">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 19: Nationalité -->
                        @if (Visibility.GetValueOrDefault("Natio", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">Nationalité:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Natio" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 31))
                                        {
                                            <option value="@tob.Abg">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Natio" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 31))
                                        {
                                            <option value="@tob.Abg">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- FIELD 20: Méthode de paiement -->
                        @if (Visibility.GetValueOrDefault("Ipaid", true))
                        {
                            <div class="row mb-2">
                                <label class="fw-bold col-md-3 col-form-label text-nowrap">M. Paiement:</label>
                                @if (isGridEditing)
                                {
                                    <InputSelect @bind-Value="DraftEntity.Ipaid" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 24))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="entity.Ipaid" disabled="true" class="form-select col-md-9">
                                        <option value="0">?choisir</option>
                                        @foreach (var tob in TbItems.Where(ut => ut.Pxcod == 24))
                                        {
                                            <option value="@tob.Elea">@tob.Liba</option>
                                        }
                                    </InputSelect>
                                }
                            </div>
                        }

                        <!-- 🔥 PARENT ACTIONS + CUSTOM FIELDS -->
                        @if (ActionsAndFields != null)
                        {
                            @ActionsAndFields(entity)
                        }

                    </ChildContent>
                </GridColumn>
            </GridColumns>
        </Grid>
    </div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; } = true;

    //[Parameter] public Func<EntPerson, bool> IsEditingRow { get; set; } = entity => false;
    [Parameter] public RenderFragment<EntPerson>? ActionsAndFields { get; set; }


    [Parameter] public IEnumerable<EntPerson> FilteredData { get; set; } = Enumerable.Empty<EntPerson>();
    [Parameter] public Dictionary<string, bool> Visibility { get; set; } = new();
    [Parameter] public string RenderKey { get; set; } = "";


    //[Parameter] public Func<EntPerson, bool>? IsEditingRow { get; set; }

    [Parameter] public Guid? EdRowguid { get; set; }
    private bool IsEditingRow<TDto>(TDto entity, Guid? edRowguid, TDto? draftEntity)
    where TDto : IHasRowguid
    {
        return entity.Rowguid == edRowguid && draftEntity != null;
    }

    // Pass in both the draft entity (being edited) and the selected entity
    [Parameter] public EntPerson? DraftEntity { get; set; }
    [Parameter] public EntPerson? SelectedEntity { get; set; }

    [Parameter] public IEnumerable<dynamic> TbItems { get; set; } = Enumerable.Empty<dynamic>();

   

}

@*@typeparam TItem where TItem : class
 <div class="card">
    <div class="card-body p-3">
        <Grid TItem="TItem"
              Data="@FilteredData"
              Responsive="true"
              @key="@RenderKey">
            <GridColumns>
                <GridColumn TItem="TItem" HeaderText="">
                    <ChildContent Context="entity">
                        <!-- 🔥 FIELD 1: ID -->
                        <div style="display: flex; align-items: center; gap: 1rem; padding: 0.5rem 0;">
                            <label class="fw-bold text-nowrap" style="min-width: 120px;">ID:</label>
                            <div class="form-control-plaintext flex-grow-1">@GetEntityId(entity)</div>
                        </div>

                        <!-- 🔥 FIELD 2: Dossier -->
                        @if (Visibility.GetValueOrDefault("Xmatri", true))
                        {
                            <div style="display: flex; align-items: center; gap: 1rem; padding: 0.5rem 0;">
                                <label class="fw-bold text-nowrap" style="min-width: 120px;">Dossier:</label>
                                @if (IsEditingRow(entity))
                                {
                                    <InputText @bind-Value="@contextXmatri" class="form-control flex-grow-1" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext flex-grow-1">@GetEntityXmatri(entity)</div>
                                }
                            </div>
                        }

                        <!-- 🔥 FIELD 3: Nom -->
                        @if (Visibility.GetValueOrDefault("Nom", true))
                        {
                            <div style="display: flex; align-items: center; gap: 1rem; padding: 0.5rem 0;">
                                <label class="fw-bold text-nowrap" style="min-width: 120px;">Nom:</label>
                                @if (IsEditingRow(entity))
                                {
                                    <InputText @bind-Value="@contextNom" class="form-control flex-grow-1" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext flex-grow-1">@GetEntityNom(entity)</div>
                                }
                            </div>
                        }

                        <!-- 🔥 FIELD 4: Pnom -->
                        @if (Visibility.GetValueOrDefault("Pnom", true))
                        {
                            <div style="display: flex; align-items: center; gap: 1rem; padding: 0.5rem 0;">
                                <label class="fw-bold text-nowrap" style="min-width: 120px;">Pnom:</label>
                                @if (IsEditingRow(entity))
                                {
                                    <InputText @bind-Value="@contextPnom" class="form-control flex-grow-1" />
                                }
                                else
                                {
                                    <div class="form-control-plaintext flex-grow-1">@GetEntityPnom(entity)</div>
                                }
                            </div>
                        }

                        <!-- 🔥 PARENT ACTIONS + CUSTOM FIELDS -->
                        @if (ActionsAndFields != null)
                        {
                            @ActionsAndFields(entity)
                        }
                    </ChildContent>
                </GridColumn>
            </GridColumns>
        </Grid>
    </div>
</div>

@code {
    [Parameter] public IEnumerable<TItem> FilteredData { get; set; } = Enumerable.Empty<TItem>();
    [Parameter] public Dictionary<string, bool> Visibility { get; set; } = new();
    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public string RenderKey { get; set; } = "";
    [Parameter] public Guid? EdRowguid { get; set; }
    
    [Parameter] public Func<TItem, string> GetEntityId { get; set; } = entity => "";
    [Parameter] public Func<TItem, string> GetEntityXmatri { get; set; } = entity => "";
    [Parameter] public Func<TItem, string> GetEntityNom { get; set; } = entity => "";
    [Parameter] public Func<TItem, string> GetEntityPnom { get; set; } = entity => "";
    [Parameter] public Func<TItem, bool> IsEditingRow { get; set; } = entity => false;
    
    [Parameter] public RenderFragment<TItem>? ActionsAndFields { get; set; }

    // 🔥 BINDING PROPERTIES - Updated on each render
    private string contextXmatri
    {
        get => GetDraftValue("Xmatri");
        set => SetDraftValue("Xmatri", value);
    }
    private string contextNom
    {
        get => GetDraftValue("Nom");
        set => SetDraftValue("Nom", value);
    }
    private string contextPnom
    {
        get => GetDraftValue("Pnom");
        set => SetDraftValue("Pnom", value);
    }

    private string GetDraftValue(string propertyName) => "";
    private void SetDraftValue(string propertyName, string value) { }
} *@


