@page "/rubposts"
@inherits CompUICrudBase
@namespace GxPilo.Components.Admina.MRubs

@layout PrubMenu


@using System
@using GxShared.Helpers
@using GxShared.Sess
@using Simple.OData.Client
@using GxShared.GxDtos
@using GxShared.Interfaces
@using GxShared.Helpers.CrudHelpers
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.RegularExpressions
@using System.Security.Claims
@using GxPilo.Components.Plans
@using GxPilo.Services
@using BlazorBootstrap
@using Blazored.LocalStorage
@using AutoMapper

@inject NavigationManager _navManager
@inject IJSRuntime _JsRUN
@inject IMessageService _messageService
<!-- InscTiewComponent.razor -->
<PageTitle>Plan.Postes</PageTitle>

@if (isLoading)
{
    <div class="text-center">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Medium" />
        <p>Plan.Postes Loading...</p>
    </div>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
<AuthorizeView>
    <Authorized Context="AuthContext">
        <div class="row">
            <div class="col-md-12 input-group align-middle">
                <span><b>Message :</b></span>
                &nbsp;&nbsp;
                @if (!String.IsNullOrEmpty(Imessage))
                {
                    <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="me-2">Domaine :</label>
            <InputSelect @bind-Value="IMyDom" @onchange="() => curPlanDom(IMyDom)" class="me-3" style="width:auto">
                <option value=0>?domaine</option>
                @foreach (var tob in LsDoms)
                {
                    <option value=@tob.Gp2>@tob.Liba</option>
                }
            </InputSelect>
            @* <label class="fw-bold">Attribut :</label>
                <InputSelect @bind-Value="IMyAtr" @onchange="() => curPlanAtr(IMyAtr)" class="me-3" style="width:auto">
                    <option value=0>?atrib</option>
                    @foreach (var tob in LsAtrs)
                    {
                        <option value=@tob.Elea>@tob.Liba</option>
                    }
                </InputSelect> *@
            <label class="fw-bold">Base :</label>
            <InputSelect @bind-Value="IMyVue" @onchange="() => curPlanVue(IMyVue)" class="me-3" style="width:auto">
                <option value=0>?util</option>
                @foreach (var tob in LsVues)
                {
                    <option value=@tob.Gp2>@tob.Liba</option>
                }
            </InputSelect>
        </div>
        <div class="container-fluid-fixed-top">
            @if (curOrga == null)
            {
                <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
            }
            else
            {
                <EditForm Context="invform" Model="@curOrga">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="row">
                        @if (!String.IsNullOrEmpty(Kmessage))
                        {
                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                        }
                    </div>
                    <Tabs>
                        <Tab Title="Plan" Name="IndaTab" onClick="() => OnHomeSelected()">
                            <Content>
                                <div class="row">
                                    <div>dom : @IMyDom vue: @IMyVue</div>
                                    @if (IMyDom != 0 && IMyVue != 0)
                                    {
                                            <Grid TItem="PlngenDto"
                                                  Data="@MyDaPlans"
                                                  @key="PlnRenderKey"
                                                  AllowDetailView="true"
                                                  RowClass="@((item) => GetPlanRowClass(item))"
                                                  Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="PlngenDto" HeaderText="No" Class="xcol1">
                                                    <ChildContent Context="item">
                                                        @if (item.Xadd1 == -1)
                                                        {
                                                            <span>@item?.Iui</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@(item.Xedt1 == -1 ? item?.Iui : (item?.Iui == 0 ? item?.Iele : item?.Iui))</span>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="PlngenDto" HeaderText="Designation" Class="xcol3">
                                                    <ChildContent Context="item">
                                                        @if (IsPlanEditing(item) && draftPln is not null)
                                                        {

                                                            <InputText @bind-Value="draftPln.Liba" />
                                                        }
                                                        else
                                                        {
                                                            @item.Liba
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="PlngenDto" HeaderText="abrege" Class="xcol2">
                                                    <ChildContent Context="item">
                                                        @if (IsPlanEditing(item) && draftPln is not null)
                                                        {

                                                            <InputText @bind-Value="draftPln.Abg" />
                                                        }
                                                        else
                                                        {
                                                            @item.Abg
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                @* <GridColumn TItem="PlngenDto" HeaderText="Formule" Class="xcol1">
                                            <ChildContent Context="item">
                                                @if (EdPlnRowguid == item.Rowguid)
                                                { // show draftPln inputs
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                          @onclick="() => showFrPlnModal(draftPln, 1)">
                                                      <i class="bi bi-pencil-square"></i>
                                                      <span class="text-truncate flex-grow-1">@draftPln?.Fpsrc</span>
                                                  </Button>
                                                }
                                                else
                                                { // show item as read-only
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                          @onclick="() => showFrPlnModal(item, 2)">
                                                      <i class="bi bi-pencil-square"></i>
                                                      <span class="text-truncate flex-grow-1">@item.Fpsrc</span>
                                                  </Button>
                                                }
                                            </ChildContent>
                                        </GridColumn> *@
                                                <GridColumn TItem="PlngenDto" HeaderText="Etat" Class="xcol1">
                                                    <HeaderContent>
                                                        @if (IMyDom != 0 && IMyVue != 0)
                                                        {
                                                                <button class="btn btn-primary btn-sm @(IsLevelBusy(EntityLevel.Plan) ? "disabled-action" : "")"
                                                                        disabled="@IsLevelBusy(EntityLevel.Plan)"
                                                                        @onclick="StartPlnNew">
                                                                    <span style="display:inline-flex; align-items:center; gap:4px;">
                                                                        <span>➕</span>
                                                                        <span>Add</span>
                                                                    </span>
                                                                </button>
                                                        }
                                                        else
                                                        {
                                                            <span>Etat</span>
                                                        }
                                                    </HeaderContent>
                                                    <ChildContent Context="item">
                                                        @if (IsPlanEditing(item) && draftPln is not null)
                                                        {
                                                            <InputSelect @bind-Value="draftPln.Eta">
                                                                <option class="jchx" value=0>?choisir</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value=@tob.Elea>@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                        else
                                                        {
                                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                                <option class="jchx" value=0>?choisir</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value=@tob.Elea>@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="PlngenDto" HeaderText="Actions" Filterable="false" Class="xcol2 actions-col">
                                                    <ChildContent Context="item">
                                                            @switch (GetRowState(EntityLevel.Plan, item.Rowguid))
                                                            {
                                                                case RowState.Locked:
                                                                    <span class="text-muted">—</span>
                                                                    break;

                                                                case RowState.AddPending:
                                                                    <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                            @onclick="() => ConfirmAdd(EntityLevel.Plan, draftPln, true)">
                                                                        ✅ Confirm
                                                                    </Button>
                                                                    <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                            @onclick="() => StartCancelAdd(EntityLevel.Plan, draftPln)">
                                                                        ❌ Cancel
                                                                    </Button>
                                                                    break;
                                                                case RowState.EditPending:
                                                                    <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                            @onclick="() => ConfirmEdit(EntityLevel.Plan, draftPln, true)">
                                                                        ✅ Confirm
                                                                    </Button>
                                                                    <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                            @onclick="() => CancelEdit(EntityLevel.Plan, item)">
                                                                        ❌ Cancel
                                                                    </Button>
                                                                    break;
                                                                case RowState.DeletePending:
                                                                    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                            @onclick="() => ConfirmDelete(EntityLevel.Plan, item, true)">
                                                                        ⚠️ Confirm
                                                                    </Button>
                                                                    <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                            @onclick="() => CancelDelete(EntityLevel.Plan, item)">
                                                                        ❎ Cancel
                                                                    </Button>
                                                                    break;
                                                                default:
                                                                    <Button Color="ButtonColor.Warning" Size="ButtonSize.Small"
                                                                            @onclick="() => StartPlnEdit(item)">
                                                                        ✏️ Edit
                                                                    </Button>
                                                                    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                            @onclick="() => StartRowDelete(EntityLevel.Plan, item.Rowguid)">
                                                                        🗑 Delete
                                                                    </Button>
                                                                    break;
                                                            }
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                            <GridDetailView TItem="PlngenDto" Context="selectedPln">
                                                @if (selectedPln != null)
                                                {
                                                    <div class="mt-2 border-start border-primary border-3 bg-light bg-opacity-25 rounded-end">
                                                        <div class="row align-items-center mb-2">
                                                            <div class="col-auto">
                                                                <i class="bi bi-chevron-right text-primary"></i>
                                                            </div>
                                                            <div class="col">
                                                                <small class="text-muted fw-semibold">
                                                                    Plan ← @selectedPln.Liba (No: @selectedPln.Iele)
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <Grid TItem="RubhieDto"
                                                                      Data="selectedPln.Rubhies.ToList()"
                                                                      AllowRowClick="true"
                                                                      OnRowClick="OnRubRowClick"
                                                                      AllowDetailView="true"
                                                                      RowClass="@((item) => GetHieRowClass(item))"
                                                                      Responsive="true">
                                                                    <GridColumns>
                                                                        <GridColumn TItem="RubhieDto" HeaderText="No" Class="xcol1">
                                                                            <ChildContent Context="item">
                                                                                @if (item.Xadd1 == -1)
                                                                                {
                                                                                    <span>?@item?.Iui</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>
                                                                                        @(item.Xedt1 == -1 ? item?.Iui : (item?.Iui == 0 ? item?.Iele : item?.Iui))
                                                                                    </span>
                                                                                }
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                        <GridColumn TItem="RubhieDto" HeaderText="" Class="xcol1">
                                                                            <HeaderContent>
                                                                                Code
                                                                                @if (!String.IsNullOrEmpty(Jmessage))
                                                                                {
                                                                                    <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                                                                                }
                                                                            </HeaderContent>
                                                                            <ChildContent Context="item">
                                                                                <div style="width:90px" class="rubpoint">
                                                                                        @if (IsHieEditing(item) && draftRub is not null)
                                                                                    {
                                                                                        <InputText @bind-Value="draftRub.Scdrub"
                                                                                                   placeholder="code"
                                                                                                   id="rucode"
                                                                                                   class="w-100"
                                                                                                   maxlength="@_lgcdu"
                                                                                                   @onblur="@(() => OnChlBlurHandler(selectedPln, draftRub))"
                                                                                                   @onfocus="@(() => OnChlFocusHandler(selectedPln, draftRub))"
                                                                                                   pattern="@($"[0-9]{{{_lgcdu}}}")"
                                                                                                   title="@($"{_lgcdu} chiffres obligatoires et unique")"
                                                                                                   required />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @item.Scdrub
                                                                                    }
                                                                                </div>
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                        <GridColumn TItem="RubhieDto" HeaderText="Designation" Class="xcol2">
                                                                            <ChildContent Context="item">
                                                                                    @if (IsHieEditing(item) && draftRub is not null)
                                                                                {
                                                                                    <InputText @bind-Value="draftRub.Liba" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    @item.Liba
                                                                                }
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                        <GridColumn TItem="RubhieDto" HeaderText="Abrege" Class="xcol1">
                                                                            <ChildContent Context="item">
                                                                                    @if (IsHieEditing(item) && draftRub is not null)
                                                                                {
                                                                                    <InputText @bind-Value="draftRub.Abg" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    @item.Abg
                                                                                }
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                        @* <GridColumn TItem="RubhieDto" HeaderText="Refer" Class="xcol1">
                                                                    <ChildContent Context="item">
                                                                       @if (EdRubRowguid == item.Rowguid)
                                                                        { // show draftPln inputs
                                                                          <InputText @bind-Value="draftRub.Zcod" />
                                                                        }
                                                                        else
                                                                        //{ // show item as read-only

                                                                        }
                                                                        @item.Zcod
                                                                    </ChildContent>
                                                                </GridColumn> *@
                                                                        @* <GridColumn TItem="RubhieDto" HeaderText="Atyp" Class="xcol1">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        {
                                                                            <InputSelect @bind-Value="draftRub.Atyp" class="col-md-1" style="width:auto">
                                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                                {
                                                                                    <option value=@tob.Elea>@tob.Liba</option>
                                                                                }
                                                                            </InputSelect>
                                                                        }
                                                                        else
                                                                        { // show item as read-only
                                                                          <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto" disabled>
                                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                                {
                                                                                    <option value=@tob.Elea>@tob.Liba</option>
                                                                                }
                                                                            </InputSelect>
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn> *@
                                                                        <GridColumn TItem="RubhieDto" HeaderText="Dpdce" Class="xcol2">
                                                                            <ChildContent Context="item">
                                                                                @if (IsHieEditing(item) && draftRub is not null)
                                                                                {
                                                                                    <InputSelect @bind-Value="draftRub.Ydpd">
                                                                                        <option class="jchx" value="">aucun</option>
                                                                                        @foreach (var utb in selectedPln.Rubhies)
                                                                                        {
                                                                                            <option value=@utb.Id>@utb.Liba</option>
                                                                                        }
                                                                                    </InputSelect>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <InputSelect @bind-Value="item.Ydpd" disabled="true">
                                                                                        <option class="jchx" value="">aucun</option>
                                                                                        @foreach (var utb in selectedPln.Rubhies)
                                                                                        {
                                                                                            <option value=@utb.Id>@utb.Liba</option>
                                                                                        }
                                                                                    </InputSelect>
                                                                                }
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                        @* <GridColumn TItem="RubhieDto" HeaderText="Formule" Class="xcol1">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        { // show draftPln inputs
                                                                          <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                                                  @onclick="() => showFrRubModal(draftRub, 1)">
                                                                              <i class="bi bi-pencil-square"></i>
                                                                              <span class="text-truncate flex-grow-1">@draftRub?.Frsrc</span>
                                                                          </Button>
                                                                        }
                                                                        else
                                                                        { // show item as read-only
                                                                          <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                                                  @onclick="() => showFrRubModal(item, 2)">
                                                                              <i class="bi bi-pencil-square"></i>
                                                                              <span class="text-truncate flex-grow-1">@item.Frsrc</span>
                                                                          </Button>
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn> *@
                                                                        <GridColumn TItem="RubhieDto" HeaderText="Eta" Class="xcol1">
                                                                            <HeaderContent>
                                                                                @if (selectedPln != null)
                                                                                {
                                                                                        <button class="btn btn-primary btn-sm @(IsLevelBusy(EntityLevel.Hie) ? "disabled-action" : "")"
                                                                                                disabled="@IsLevelBusy(EntityLevel.Hie)"
                                                                                                @onclick="() => StartRubNew(selectedPln)">
                                                                                            <span style="display:inline-flex; align-items:center; gap:4px;">
                                                                                                <span>➕</span>
                                                                                                <span>Add</span>
                                                                                            </span>
                                                                                        </button>
                                                                                }
                                                                            </HeaderContent>
                                                                            <ChildContent Context="item">
                                                                                    @if (IsHieEditing(item) && draftRub is not null)
                                                                                { // show draftPln inputs
                                                                                    <InputSelect @bind-Value="draftRub.Eta" class="col-md-1" style="width:auto">
                                                                                        <option class="jchx" value=0>?etat</option>
                                                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                                        {
                                                                                            <option value=@tob.Elea>@tob.Liba</option>
                                                                                        }
                                                                                    </InputSelect>
                                                                                }
                                                                                else
                                                                                { // show item as read-only
                                                                                    <InputSelect @bind-Value="item.Eta" class="col-md-1" style="width:auto" disabled>
                                                                                        <option class="jchx" value=0>?etat</option>
                                                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                                        {
                                                                                            <option value=@tob.Elea>@tob.Liba</option>
                                                                                        }
                                                                                    </InputSelect>
                                                                                }
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                        <GridColumn TItem="RubhieDto" HeaderText="Actions" Filterable="false" Class="xcol2 actions-col">
                                                                            <HeaderContent>
                                                                                @if (!isFiltre)
                                                                                {
                                                                                    <button class="btn btn-info btn-sm" @onclick="ToggleRubFiltering">
                                                                                        @(isRubFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                                                    </button>
                                                                                }
                                                                            </HeaderContent>
                                                                            <ChildContent Context="item">
                                                                                    @switch (GetRowState(EntityLevel.Hie, item.Rowguid))
                                                                                    {
                                                                                        case RowState.Locked:
                                                                                            <span class="text-muted">—</span>
                                                                                            break;

                                                                                        case RowState.AddPending:
                                                                                            <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                                                    @onclick="() => ConfirmAdd(EntityLevel.Hie, draftRub, true)">
                                                                                                ✅ Confirm
                                                                                            </Button>
                                                                                            <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                                                    @onclick="() => StartCancelAdd(EntityLevel.Hie, draftRub)">
                                                                                                ❌ Cancel
                                                                                            </Button>
                                                                                            break;
                                                                                        case RowState.EditPending:
                                                                                            <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                                                    @onclick="() => ConfirmEdit(EntityLevel.Hie, draftRub, true)">
                                                                                                ✅ Confirm
                                                                                            </Button>
                                                                                            <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                                                    @onclick="() => CancelEdit(EntityLevel.Hie, item)">
                                                                                                ❌ Cancel
                                                                                            </Button>
                                                                                            break;
                                                                                        case RowState.DeletePending:
                                                                                            <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                                                    @onclick="() => ConfirmDelete(EntityLevel.Hie, item, true)">
                                                                                                ⚠️ Confirm
                                                                                            </Button>
                                                                                            <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                                                    @onclick="() => CancelDelete(EntityLevel.Hie, item)">
                                                                                                ❎ Cancel
                                                                                            </Button>
                                                                                            break;
                                                                                        default:
                                                                                            <Button Color="ButtonColor.Dark" Size="ButtonSize.Small"
                                                                                                    @onclick="() => ShowHieDetails(item, 1)">
                                                                                                Details
                                                                                            </Button>
                                                                                            <Button Color="ButtonColor.Warning" Size="ButtonSize.Small"
                                                                                                    @onclick="() => StartRubEdit(item)">
                                                                                                ✏️ Edit
                                                                                            </Button>
                                                                                            <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                                                    @onclick="() => StartRowDelete(EntityLevel.Hie, item.Rowguid)">
                                                                                                🗑 Delete
                                                                                            </Button>

                                                                                            break;
                                                                                    }
                                                                            </ChildContent>
                                                                        </GridColumn>
                                                                    </GridColumns>
                                                                </Grid>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </GridDetailView>
                                        </Grid>
                                    }
                                </div>
                            </Content>
                        </Tab>
                        <Tab Title="Organigramme" Name="organTab" onClick="() => OnOrgnSelected()">
                            <Content>
                                @if (ouvrirOrgn)
                                {
                                    <div class="card-body p-3">
                                        <OrgaSchem @ref="myorgn"
                                                   curOrga="@curOrga">
                                        </OrgaSchem>
                                    </div>
                                }
                            </Content>
                        </Tab>
                    </Tabs>
                </EditForm>
            }
        </div>
        <!-- Modal for RUBHIE EDIT -->
        <Modal @ref="rHieModal" Size="ModalSize.Large" Title="Edit Division" ShowCloseButton="true">
            <BodyTemplate>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table w-auto" style="margin-left:10px">
                            <tbody>
                                <tr>
                                    <td>Raison sociale:</td>
                                    <td class="text-right">
                                        <InputText class="my-input" @bind-Value="draftRub.Raison" required
                                                   style="font-weight:bold" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sigle:</td>
                                    <td class="text-right">
                                        <InputText class="my-input" @bind-Value="draftRub.Sigle" required
                                                   style="font-weight:bold" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nom Cible:</td>
                                    <td class="text-right">
                                        <InputText class="my-input" @bind-Value="draftRub.Stcible" required
                                                   style="font-weight:bold" />
                                    </td>
                                </tr>
                                @* <tr>
                                        <td>Poste Principal:</td>
                                        <td class="text-right">
                                            <InputSelect @bind-Value="draftRub.Kpst">
                                                <option value=0>choisir</option>
                                                @foreach (var udp in LsDivs.Where(dv => dv.Simain == 1))
                                                {
                                                    <option value=@udp.Ihie>@udp.Liba</option>
                                                }
                                            </InputSelect>
                                        </td>
                                    </tr> *@
                                @* <tr>
                                        <td>Sigle:</td>
                                        <td class="text-right">
                                            <InputNumber class="my-input" @bind-Value="draftRub.Sigle" required
                                                         style="font-weight:bold" />
                                        </td>
                                    </tr> *@
                                <tr>
                                    <td>Adresse:</td>
                                    <td class="text-right">
                                        <InputText class="my-input" @bind-Value="draftRub.Adr"
                                                   style="font-weight:bold" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ville:</td>
                                    <td class="text-right">
                                        <InputNumber class="my-input" @bind-Value="draftRub.Icity"
                                                     style="font-weight:bold" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Province:</td>
                                    <td class="text-right">
                                        <InputNumber class="my-input" @bind-Value="draftRub.Iprovi"
                                                     style="font-weight:bold" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Region:</td>
                                    <td class="text-right">
                                        <InputNumber class="my-input" @bind-Value="draftRub.Iregio"
                                                     style="font-weight:bold" />
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Secondary" @onclick="() => rHieModal.HideAsync()">Fermer</Button>
            </FooterTemplate>
        </Modal>
        <!-- Modal for FORMULE PLAN -->
        <Modal @ref="pForuModal" Size="ModalSize.Large" Title="Edit Plan Formula" ShowCloseButton="false">
            <BodyTemplate>
                <div class="mb-3">
                    <label class="form-label">Formula</label>
                    <InputTextArea class="form-control"
                                   @bind-Value="curPlan.Fpsrc"
                                   rows="8"
                                   style="resize: vertical;" />
                </div>
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Secondary" @onclick="() => pForuModal.HideAsync()">Fermer</Button>
            </FooterTemplate>
        </Modal>
    </Authorized>
</AuthorizeView>
}
<style>
    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }

    .rubModal-wide .modal-dialog {
        max-width: 65vw;
        width: auto;
        margin: auto;
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }

    .formul.button {
        pointer-events: none;
        opacity: 0.5;
        height: 160px;
    }

    .plnpoint {
        font-weight: bold;
        background-color: blue;
        color: white;
    }

    .rubpoint {
        font-weight: bold;
        background-color: yellow;
        color: black;
    }

    .fmtpoint {
        font-weight: bold;
        background-color: darkolivegreen;
        color: black;
    }

    .xcolx {
        width: 40px !important;
    }

    .xcol1 {
        width: 60px;
    }

    .xcol2 {
        width: 120px;
    }

    .xcol3 {
        width: 180px;
    }

    .xcol4 {
        width: 240px;
    }
        /* Ensure inputs inside these columns fill the width */
        .xcol1 input,
        .xcol2 input,
        .xcol3 input,
        .xcol4 input {
            width: 100%;
            box-sizing: border-box; /* prevents overflow due to padding/border */
        }

    .editing-row {
        pointer-events: none; /* Blocks all clicks on row */
    }

        .editing-row * {
            pointer-events: auto; /* Re-enables clicks on buttons/inputs */
        }

    .new-add-indicator::after {
        content: "➕ NEW";
        float: right;
        margin-left: 8px;
        background: #ffc107;
        color: #000;
        font-size: 0.65em;
        padding: 1px 4px;
        border-radius: 8px;
        font-weight: bold;
    }

    .readonly input,
    .readonly textarea,
    .readonly select,
    .readonly button {
        pointer-events: none;
        background-color: #f8f9fa; /* light gray to indicate disabled */
        opacity: 0.8;
    }
    /* Add to your CSS */
    .row-active-edit {
        background-color: #fff3cd !important; /* Light yellow */
        border-left: 5px solid #ffc107 !important; /* Thick yellow border */
        box-shadow: 0 2px 8px rgba(255,193,7,0.3);
        z-index: 10;
    }

    .row-readonly {
        opacity: 0.65 !important;
        background-color: #f8f9fa !important;
        cursor: not-allowed !important;
    }

        .row-readonly button,
        .row-readonly .btn {
            pointer-events: none !important;
            opacity: 0.4 !important;
        }

    /* Make the whole cell a flex container so buttons line up horizontally */
    .actions-col {
        display: flex;
        flex-direction: row;
        gap: 6px; /* spacing between buttons */
        align-items: center; /* vertical alignment */
        justify-content: flex-start;
    }
        /* Apply to all buttons in your grid (or globally if you prefer) */
        .actions-col .btn {
            display: inline-flex; /* flex container */
            flex-direction: row; /* horizontal layout */
            align-items: center; /* vertical centering */
            gap: 4px; /* spacing between emoji and text */
            white-space: nowrap; /* prevent wrapping onto two lines */
            line-height: 1.2; /* normalize baseline */
        }

</style>

@code {
    public bool isLoading = true;
    public string Imessage = "", Jmessage = "", Kmessage = "";
    public bool yaPgLink = false;
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public GxorgaDto curOrga { get; set; } = new();
    [Parameter]
    public IODataClient _InODaClient { get; set; }
    [Parameter]
    public ChildVars toChild { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    // Guard
    [Parameter]
    public IPendingChangesGuard _guard { get; set; }
    [Parameter]
    public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter]
    public int NbChanges { get; set; }
    [Parameter]
    public EventCallback<int> NbChangesChanged { get; set; }  // 🔥 CRITICAL

    private IDisposable? _locationHandler;
    //Global
    //private int _lgcdu = 0;
    //private int IMyGpln = 2; //2Echeancier
    //private int IMyDom = 1; //1Saisie
    //private int IMyVue = 1; //1Reel2Virtuel
    //private int IMyAtr = 1; ////1Adm2Geo
    //private int ItkDom = 0; //6Tiers7Mat
    private int IMyGtie = 0; //1Cible/2Operat...
    //organigramme
    private OrgaSchem myorgn;
    //Global
    //Global
    private int _lgcdu = 0;
    private int IMyGpln = 4; //4Organigramme
    private int IMyDom = 1; //1Saisie
    //private int IMyAtr = 0; ////1Adm2Geo
    //private int ItkDom = 0; //6Tiers7Mat
    private int IMyVue = 1; //1Reel2Virtuel

    //author
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    //usrbag
    private Userbag _usrBag = new Userbag();
    private string _UserId = "";
    private int _UorgId = 0;

    private Dictionary<Guid, bool> _isLightBg = new();  // Track light background
    private bool IsRowEditing(Guid rowguid) => _activeEditRowguid == rowguid;
    private bool IsAnyRowEditing => _activeEditRowguid != null;

    private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpvar> LsVars = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpfixe> LsAtrs = new();
    private List<Gpfixe> LsVues = new();
    private List<Gpfixe> LsGties = new();

    private bool ouvrirOrgn = false;
    private bool isPlnFilteringEnabled = false;
    private bool isRubFilteringEnabled = false;

    private string atrTitle = "";
    private string atrDest = "Programmes de Saisie";
    //pour modals formulas
    private PlngenDto curPlan = new();
    private RubhieDto curRubr = new();
    private RubpstDto curPmat = new();

    private bool isRubCodeValid = false; //child blur
    //private bool inModM => draftRub?.Ecmode != 1;
    //private bool outModM => draftRub?.Ecmode == 1;
    //data
    public List<PlngenDto> MyDaPlans => PlanItems;
    public List<RubhieDto> MyDaHies => HieItems;
    public List<RubpstDto> MyDaPsts => PstItems;

    private List<PlngenDto> LsPlsEchs => curOrga.Plngens.Where(pl => pl.Ptyp == 2).ToList();
    private List<PlngenDto> LsPlsGris => curOrga.Plngens.Where(pl => pl.Ptyp == 3).ToList();
    private List<PlngenDto> LsPlsDivs => curOrga.Plngens.Where(pl => pl.Ptyp == 4).ToList();
    //add/edit options
    private bool AllowMultipleEdits { get; set; } = false;
    private bool isFiltre { get; set; } = false;
    //PLAN
    public Guid? PlnRenderKey = null;
    public Dictionary<Guid, PlngenDto> _edPlnOriginals = new();
    public PlngenDto? draftPln = null;
    //RUBRIQUE
    private Guid? RubRenderKey = null;
    private Dictionary<Guid, RubhieDto> _edHieOriginals = new();
    private RubhieDto? draftRub = null;

    private Guid? FmtRenderKey = null;
    private Dictionary<Guid, RubpstDto> _edPstOriginals = new();
    private RubpstDto? draftPst = null;
    //Modals formule
    Modal pForuModal = new(); //plans
    Modal rForuModal = new(); //rubriques
    Modal gForuModal = new(); //formats
    Modal rHieModal = new(); //edit rubhie

    private string patTitle = "", chlTitle = "", gsnTitle = "";
    private string patInitTitle = "", chlInitTitle = "", gsnInitTitle = "";
    private string pstrFormu = "", rstrFormu = "", fstrFormu = "";
    protected async Task TestConfirm()
    {
        Imessage = "TestConfirm reached";
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            if (toChild == null || curOrga == null)
            {
                Console.WriteLine("Missing parent data");
                return;
            }
            isAuthenticated = toChild.isAuthenticated;
            authUser = toChild.authUser;
            if (!isAuthenticated)
            {
                Imessage = "CONNEXION, Utilisateur non authentifie";
                return;
            }
            LsVars = toChild.LsVars;
            LsFixes = toChild.LsFixes;
            LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
            LsAtrs = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 1 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
            LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 4 && ut.Elea != 0).ToList();
            LsGties = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 6 && ut.Elea != 0 && ut.Elea != 9).ToList();
            LsPlans = toChild.LsPlans;
            _lgcdu = 3;
            var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
            if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;

            Console.WriteLine($"lsplans {LsPlans.Count} IS NULL");

            InitializeMyDaPlans();
            InitializeMyDaHies();  // If you have this
            InitializeMyDaPsts();

            Console.WriteLine($"MyDaPlans initialized: {MyDaPlans.Count}");

            atrTitle = "Saisie";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Child crash: {ex.Message}");
            Console.WriteLine($"Stack: {ex.StackTrace}");
            Imessage = $"Erreur chargement: {ex.Message}";
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
    // and call this in OnParametersSet
    protected override void OnParametersSet()
    {
        SubscribeToGuard();
    }
    // Register guards and handlers ONCE when the component is initialized
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            _locationHandler = _navManager.RegisterLocationChangingHandler(OnLocationChangingAsync);
        }
    }
    void OnPlnRowClick(GridRowEventArgs<PlngenDto> args)
    {
        Console.WriteLine($"OnPlnRowClick Triggered : {args.Item.Id}");
        curPlan = args.Item; //get gRubsMap
        Console.WriteLine($"Id {curPlan.Id}");
        if (curPlan == null || curPlan.Id == 0)
        {
            return;
        }
        //MyDaHies = new ObservableCollection<RubvarDto>(curPlan.Rubvars);
        StateHasChanged();
    }
    void OnRubRowClick(GridRowEventArgs<RubhieDto> args)
    {
        Console.WriteLine($"OnRubRowClick Triggered : {args.Item.Id}");
        curRubr = args.Item; //get gRubsMap
        Console.WriteLine($"Id {curRubr.Id}");
        if (curRubr == null || curRubr.Id == 0)
        {
            return;
        }
        //MyDaHies = new ObservableCollection<RubvarDto>(curPlan.Rubvars);
        StateHasChanged();
    }
    public async Task StartPlnNew()
    {
        if (IsAnyRowEditing)
        {
            Imessage = "prog cannot be added when any row is editing";
            return;
        }
        Console.WriteLine("Commence ici");
        var lsnb = NextSeq(MyDaPlans, p => p.Iui);
        var newPln = new PlngenDto
        {
            Rowguid = Guid.NewGuid(),
            Idorg = curOrga.Idorg,
            Iui = lsnb,
            Ptyp = IMyGpln,
            Todom = IMyDom,
            Ogtyp = 0,
            Totyp = IMyGtie,
            Toatr = 0,
            Tovue = IMyVue,
            Liba = "",
            Abg = "",
            Fpsrc = "",
            Fpexe = "",
            Fpisrc = 0,
            Styp = 0,
            Eta = 1,
            Xadd1 = -1,
            Xedt1 = 0
        };

        PlanItems.Insert(0, newPln);
        curOrga.Plngens.Insert(0, newPln);

        SetRowState(EntityLevel.Plan, newPln.Rowguid, RowState.AddPending);
        //SetLightBackground(newPln.Rowguid, true);

        draftPln = DeepClone(newPln);
        Console.WriteLine($"NEWPLN : {newPln.Rowguid}");
        Console.WriteLine($"DRAFTPLN : {newPln.Rowguid}");
        BeginAdd(EntityLevel.Plan, newPln.Rowguid, draftPln);
        //AddRowguid == item.Rowguid
        //Console.WriteLine($"{newPln.Ptyp} et {newPln.Totyp} et {newPln.Todom} et {newPln.Tovue}");
        PlnRenderKey = newPln.Rowguid;

        //SetRowState(EntityLevel.Plan, draftPln.Rowguid, RowState.AddPending);
        await InvokeAsync(StateHasChanged);
    }
    public async Task StartRubNew(PlngenDto mypln)
    {
        if (mypln.Id <= 0)
        {
            Imessage = "🚫 Cannot add Rubrique: Plan must be saved first.";
            await InvokeAsync(StateHasChanged);
            return;
        }

        if (IsAnyRowEditing)
        {
            Imessage = "rub cannot be added when any row is editing";
            await InvokeAsync(StateHasChanged);
            return;
        }
        var lsnb = NextSeq(MyDaHies, p => p.Iui);
        var newRub = new RubhieDto
        {
            Rowguid = Guid.NewGuid(),
            Prowguid = mypln.Rowguid,
            Idorg = mypln.Idorg,
            Ipln = mypln.Id,
            Scdrub = "",
            Iui = lsnb,
            Torub = 0,
            Utyp = 2,
            Tovue = mypln.Tovue,
            Ustyp = 0,
            //Dtperi = 0,
            Liba = "",
            Abg = "",
            Frsrc = "",
            Frexe = "",
            Frisrc = 0,
            //Ecmount = 0,
            //Ecannu = 0,
            //Nbech = 0,
            //Ddval = 0,
            //Dfval = 0,
            Eaut = 0,
            Atyp = 3,
            //Eint = 0,
            Eta = 1,
            Xadd1 = -1,
            Xedt1 = 0
        };

        HieItems.Insert(0, newRub);
        curPlan.Rubhies.Insert(0, newRub);

        draftRub = DeepClone(newRub);
        BeginAdd(EntityLevel.Hie, newRub.Rowguid, draftRub);

        RubRenderKey = newRub.Rowguid;
        await InvokeAsync(StateHasChanged);
    }
    public async Task StartFmtNew(RubhieDto myrub)
    {
        if (myrub.Id <= 0)
        {
            Imessage = "🚫 Cannot add Format: Rubrique must be saved first.";
            await InvokeAsync(StateHasChanged);
            return;
        }

        if (IsAnyRowEditing)
        {
            Imessage = "fmt cannot be added when any row is editing";
            await InvokeAsync(StateHasChanged);
            return;
        }

        var lsnb = NextSeq(MyDaPsts, p => p.Iui);
        var newFmt = new RubpstDto
        {
            Rowguid = Guid.NewGuid(),
            Prowguid = myrub.Rowguid,
            Ihie = myrub.Id,
            Iui = lsnb,
            Idzon = lsnb,
            Zcdrub = lsnb.ToString(),
            Ftsrc = "",
            Liba = "",
            Abg = "",
            Tperi = 1,
            Col = 1,
            Lne = 1,
            Ztyp = 4,
            Eint = 0,
            Eta = 1,
            Xadd1 = -1,
            Xedt1 = 0
        };

        PstItems.Insert(0, newFmt);
        myrub.Rubpsts.Insert(0, newFmt);

        draftPst = DeepClone(newFmt);
        BeginAdd(EntityLevel.Pst, newFmt.Rowguid, draftPst);

        FmtRenderKey = newFmt.Rowguid;
        await InvokeAsync(StateHasChanged);
    }
    public async Task StartPlnEdit(PlngenDto item)
    {
        var rowguid = item.Rowguid;
        if (item.Id == default) return;
        if (rowguid == Guid.Empty) return;
        if (IsAnyRowEditing && !IsRowEditing(rowguid)) return;

        _edPlnOriginals[rowguid] = DeepClone(item);
        draftPln = DeepClone(item);

        BeginEdit(EntityLevel.Plan, rowguid, draftPln);
        _rowPendingOpTypeByRow[rowguid] = PendingOpType.Update;

        StateHasChanged();
    }
    public async Task StartRubEdit(RubhieDto item)
    {
        var rowguid = item.Rowguid;
        if (item.Id == default)
        {
            Imessage = "🚫 Cannot edit new Rubrique: Please save it first.";
            return;
        }

        if (rowguid == Guid.Empty) return;
        if (IsAnyRowEditing && !IsRowEditing(rowguid)) return;

        item.Xedt1 = -1;
        if (item.Iele != 0) item.Iui = (int)item.Iele;

        _edHieOriginals[rowguid] = DeepClone(item);
        draftRub = DeepClone(item);

        RubRenderKey = rowguid;
        BeginEdit(EntityLevel.Hie, rowguid, draftRub);

        StateHasChanged();
    }
    public async Task StartFmtEdit(RubpstDto item)
    {
        var rowguid = item.Rowguid;
        if (item.Id == default)
        {
            Imessage = "🚫 Cannot edit new Fmt: Please save it first.";
            return;
        }

        if (rowguid == Guid.Empty) return;
        if (IsAnyRowEditing && !IsRowEditing(rowguid)) return;

        item.Xedt1 = -1;
        if (item.Iele != 0) item.Iui = (int)item.Iele;

        _edPstOriginals[rowguid] = DeepClone(item);
        draftPst = DeepClone(item);

        FmtRenderKey = rowguid;
        BeginEdit(EntityLevel.Pst, rowguid, draftPst);

        StateHasChanged();
    }
    private void StartCancelAdd(EntityLevel level, object entity)
    {
        var rowguid = MLEntityKeyHelper.GetRowguidAsGuid(entity);
        switch (level)
        {
            case EntityLevel.Plan:
                CancelAdd(level, entity);
                curOrga.Plngens.RemoveAll(x => x.Rowguid == rowguid);
                PlnRenderKey = Guid.Empty;
                break;
            case EntityLevel.Hie:
                CancelAdd(level, entity);
                curPlan.Rubhies.RemoveAll(x => x.Rowguid == rowguid);
                RubRenderKey = Guid.Empty;
                break;
            case EntityLevel.Pst:
                CancelAdd(level, entity);
                curRubr.Rubpsts.RemoveAll(x => x.Rowguid == rowguid);
                FmtRenderKey = Guid.Empty;
                break;
        }
    }
    //FILTRES
    private Grid<PlngenDto> grid = default!;
    private async void TogglePlnFiltering()
    {
        isPlnFilteringEnabled = !isPlnFilteringEnabled;
        await grid.RefreshDataAsync(); // Refresh the grid to apply the change
    }
    private void ToggleRubFiltering()
    {
        isRubFilteringEnabled = !isRubFilteringEnabled;
    }
    // Update method -call this when source data changes
    private void InitializeMyDaPlans()
    {
        PlanItems.Clear();
        PlanItems.AddRange(
            curOrga.Plngens?.Where(pl => pl.Ptyp == IMyGpln && pl.Todom == IMyDom)
            ?? Enumerable.Empty<PlngenDto>());
    }
    private void InitializeMyDaHies()
    {
        HieItems.Clear();
        HieItems.AddRange(
            curPlan.Rubhies.ToList()
            ?? Enumerable.Empty<RubhieDto>());
    }
    private void InitializeMyDaPsts()
    {
        PstItems.Clear();
        PstItems.AddRange(
            curRubr.Rubpsts.ToList()
        ?? Enumerable.Empty<RubpstDto>());
    }
    private void UpdateMyDaPlans()
    {
        RubItems.Clear();
        PlanItems.AddRange(
            curOrga.Plngens?.Where(pl => pl.Ptyp == IMyGpln && pl.Todom == IMyDom)
            ?? Enumerable.Empty<PlngenDto>());
    }
    private void UpdateMyDaHies()
    {
        HieItems.Clear();
        HieItems.AddRange(
            curPlan.Rubhies.ToList()
            ?? Enumerable.Empty<RubhieDto>());
    }
    private void UpdateMyDaFmts()
    {
        PstItems.Clear();
        PstItems.AddRange(
            curRubr.Rubpsts.ToList()
            ?? Enumerable.Empty<RubpstDto>());
    }

    //PLAN Formule modals
    void showFrPlnModal(PlngenDto mypln, int orig)
    {
        pstrFormu = "";
        if (!string.IsNullOrEmpty(mypln.Fpsrc))
        {
            pstrFormu = mypln.Liba.Substring(0, 8);
        }

        curPlan = mypln;

        if (pForuModal != null)
        {
            pForuModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            pForuModal.ShowAsync();
        }
    }
    //RUBR Formule modals
    void showFrRubModal(RubhieDto myrub, int orig)
    {
        rstrFormu = "";
        if (!string.IsNullOrEmpty(myrub.Frsrc))
        {
            rstrFormu = myrub.Liba.Substring(0, 8);
        }

        curRubr = myrub;

        if (rForuModal != null)
        {
            rForuModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            rForuModal.ShowAsync();
        }
    }
    //FMT Formule modals
    void showFrFmtModal(RubpstDto myfmt, int orig)
    {
        fstrFormu = "";
        if (!string.IsNullOrEmpty(myfmt.Ftsrc))
        {
            fstrFormu = myfmt.Liba.Substring(0, 8);
        }

        curPmat = myfmt;

        if (gForuModal != null)
        {
            gForuModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            gForuModal.ShowAsync();
        }
    }
    void ShowHieDetails(RubhieDto myhie, int orig)
    {
        if(myhie.Id == default || myhie.Id <1)
        {
            Imessage = "la division doit etre au prealable enregistree";
        }    
        if (myhie != null && rHieModal != null)
        {
            var rowguid = myhie.Rowguid;
            if (rowguid == Guid.Empty) return;
            if (IsAnyRowEditing && !IsRowEditing(rowguid)) return;
            myhie.Xedt1 = -1;
            _edHieOriginals[rowguid] = DeepClone(myhie);
            draftRub = DeepClone(myhie);

            RubRenderKey = rowguid;
            BeginEdit(EntityLevel.Hie, rowguid, draftRub);
            rHieModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            Console.WriteLine("DETAILS HAS BEEN SHOWNED");
            rHieModal.ShowAsync();
        } else
        {
            Imessage = "details indisponible";
        }
    }
    private void showPgLink()
    {
        yaPgLink = !yaPgLink;
    }

    private void OnChlBlurHandler(PlngenDto mypl, RubhieDto myvar)
    {
        Console.WriteLine("ATTENTION : En Blur....");
        isRubCodeValid = HandleChlInput(mypl, myvar);
        Imessage = $"OnBlur active : {isRubCodeValid}";
        // Optionally trigger UI refresh or logging
    }
    private void OnChlFocusHandler(PlngenDto mypl, RubhieDto myvar)
    {

    }
    private bool HandleChlInput(PlngenDto mypl, RubhieDto myvar)
    {
        var input = myvar.Scdrub?.Trim();
        Jmessage = "";
        Console.WriteLine($"code entre traiter {input}");
        // Basic null/empty check
        if (string.IsNullOrEmpty(input))
        {
            Jmessage = "Le code est requis.";
            return false;
        }
        // Explicit length check
        if (input.Length != _lgcdu)
        {
            Jmessage = $"Le code doit contenir exactement {_lgcdu} chiffres.";
            return false;
        }
        // Digit-only check/No de poste peut ne pas etre numerique
        if (!Regex.IsMatch(input, @"^[0-9]+$")) // @"^[a-zA-Z0-9_\-\/\\|{}]+$"))
        {
            //(!Regex.IsMatch(input, @"^\d+$")) /numeric
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9]+$")) /alphanumeric strict
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]+$") /add some others characters
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{6}$")) //limit number to 6
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{4,10}$")) //limit a range 4-10
            Jmessage = "Le code ne doit contenir que des chiffres.";
            return false;
        }
        // Uniqueness check
        var exists = mypl.Rubvars?.Any(uva => uva.Scdrub == input) ?? false;
        if (exists)
        {
            Jmessage = "Ce code rubrique existe déjà.";
            return false;
        }
        return true;
    }
    
    private async ValueTask OnLocationChangingAsync(LocationChangingContext context)
    {
        Console.WriteLine($"🌐 Intercepted: {context.TargetLocation}");

        if (!_guard.HasPendingChanges())
        {
            Console.WriteLine("✅ Clean - allowing navigation");
            return;
        }

        context.PreventNavigation();  // BLOCK navigation
        Console.WriteLine($"🚫 Showing confirm dialog {context.TargetLocation}");

        try
        {
            var save = await _JsRUN.InvokeAsync<bool>("confirm", "Save changes before leaving?");

            if (save)
            {
                // 🔥 YES: SaveAllChanges() → Navigate away
                await SaveAllChanges();
                Console.WriteLine("💾 Saved - navigating away");
                _messageService.Show("✅ Saved successfully", ToastType.Success);
                _navManager.NavigateTo(context.TargetLocation, forceLoad: false);
            }
            else
            {
                // 🔥 NO: STAY on page - NO CancelAllChanges()
                Console.WriteLine("❌ User chose NO - staying on page");
                // User stays - sees SaveAllChanges() / CancelAllChanges() buttons ENABLED
                // They can now manually: SaveAllChanges() OR CancelAllChanges()
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"❌ Error: {ex.Message}");
            // Safety: stay on page
        }
    }
    private async Task OnOrgnSelected()
    {
        if (LsPlsDivs.Any())
        {
            ouvrirOrgn = true;
        }
    }
    private async Task OnHomeSelected()
    {
        ouvrirOrgn = false;
    }
    public void Dispose()  // â† ADD THIS
    {
        Console.WriteLine("ðŸ§¹ Child Prubsaie cleaning up");
    }
}