@page "/invitiw"
@layout EnrolMenu

@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Security.Claims
@using System.Text
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxStk.ClieModels
@using GxStk.Services
@using GxShared.Sess
@using GxShared.Identity
@using GxShared.Others
@using GxWapi.DaModels
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@* @inject Default.Container _vcontext *@
@* @inject MyAuthStateProvider _authprovider *@
@* @inject IHttpClientFactory httpfacClient *@
@inject ILocalStorageService _localStorage
@inject HttpClientService _cliemanager
@inject NavigationManager _navmanager
@inject SessionContextService _sessionContext
@inject RendAgres _rendAgres

<PageTitle>INVITATION</PageTitle>
@* <div>
    @strmeta
</div> *@
<div>
    @Imessage
</div>
@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="100" Label="Persos/Invite Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
} 
@* else
{

    @if (isMaint)
    {
        @if (!isPresent)
        {
            <CheckboxInput Label="Inviter Maintenance?" @bind-Value="vaAppel" />
        }
    }
} *@
<div>
    @if (success)
    {
        <div class="alert alert-success">@successmsg</div>
    }
    @if (errors)
    {
        foreach (var error in errorList)
        {
            <div class="alert alert-danger">@error</div>
        }
    }

</div>
<div class="my-container">
    @ChildContent
</div>
<AuthorizeView>
    <Authorized>
        <EditForm Context="invform" Model="@regModel">
        @if (!isLoading){
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                  <label><b>@_strOrga</b></label>
            </div>
            <div>
                <label for="TieIrole">Role:</label>
                @if (_invRoles.Count > 0)
                {
                    <select id="TieIrole" @bind="regModel.Tqirole">
                        @foreach (var uro in _invRoles)
                        {
                            <option value="@uro.Level">@uro.Name</option>
                        }
                    </select>
                }
            </div>
            <div>
                <label for="Tiedos">Dossier:</label>
                    <InputText id="tiedos" @bind-Value="regModel.Xmatri" required
                               placeholder="Enter his-her dossier" />
            </div>
            @* <div>
                <label for="Ugroupe">En qualite de:</label>
                <select id="Ugroupe" @onchange="OnGpeChanged">
                    @foreach (var gpe in _lsUtyps)
                    {
                        <option value="@gpe.Elea">@gpe.Liba</option>
                    }
                </select>
            </div> *@
            <div>
                <label for="tienom">Nom:</label>
                <InputText id="tienom" @bind-Value="regModel.Nom" required
                           placeholder="Enter his-her nom" />
            </div>
            <div>
                <label for="tiepnom">Prenom(s):</label>
                <InputText id="tiepnom" name="tiepnomInput" @bind-Value="regModel.Pnom" required
                           placeholder="Enter his-her prenom" />
            </div>
                @if (regModel.Utyp >= 3 && regModel.Utyp <= 6)
                {
                    <div>
                        <label for="tierais">Raison:</label>
                        <InputText id="tierais" @bind-Value="regModel.Insrais"
                                   placeholder="Enter his-her raison" />
                    </div>
                }
            <div>
                <label for="tiemail">Email:</label>
                <InputText type="email" id="tiemail" @bind-Value="regModel.Email" required
                   placeholder="Enter his-her email address" />
            </div>
            <div>
                <label for="tiephon3">Telephone:</label>
                <InputText id="tiephone" @bind-Value="regModel.Phonenumber" required
                           placeholder="Enter his-her phone number" />
            </div>
            <div class="input-group">
                    <label for="TypDiv">Services:</label>
                    @if (_lsDivs.Count > 0)
                    {
                        <select id="TypDiv" @bind="regModel.Khie">
                            <option value="0">Aucun</option>
                            @foreach (var divo in _lsDivs)
                            {
                                <option value="@divo.Ihie">@divo.Liba</option>
                            }
                        </select>
                    }
                    else
                    {
                        <p>Loading/ou absent</p>
                    }
            </div>
                <div class="input-group">
                    <label for="TypPst">Poste:</label>
                    @if (_lsPsts.Count > 0)
                    {
                        <select id="TypPst" @bind="regModel.Kpst">
                            <option value="0">Aucun</option>
                            @foreach (var divo in _lsPsts)
                            {
                                <option value="@divo.Ipst">@divo.Liba</option>
                            }
                        </select>
                    }
                    else
                    {
                        <p>Loading/ou absent</p>
                    }
                </div>
        }
        @if (!isLoading)
        {
            @if (!isMade)
            {
                 <div>
                     <button type="button" class="btn btn-primary" @onclick="FabriqInviteLink">Preparer Lien</button>
                 </div>
            }
            @if (isMade && !isSent)
            {
                <div>
                    <button type="button" class="btn btn-success bg-opacity-50" @onclick="EnvoieInviteAsync">Envoyer Invite</button>
                </div>
            }
        }
        </EditForm>
    </Authorized>
    <NotAuthorized>        
        <label>Non Autorise</label>
    </NotAuthorized>
</AuthorizeView>

<style>
    .inputfl {
    opacity: 0;
    width: 0.1;
    height: 0.1;
    position: absolute;
    }

    .disabled {
    pointer-events: none; /* Prevents clicking */
    opacity: 0.5; /*visual cue for disabled state */
    }

    .gpe-select {
    font-size: 24px;
    font-weight: bold;
    }

    .gpe-select option {
    font-size: 18px;
    font-weight: bold;
    }

    .my-container {
    background-color: yellow;
    }
</style>

@code {
    //[Inject]
    //private MyAuthStateProvider _authProvider { get; set; }
    private bool isLoading = true;
    [CascadingParameter(Name = "EnrolMenu")]
    public EnrolMenu EnrolVue { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public int? Tgpe { get; set; }
    [Parameter]
    public int? Ugpe { get; set; }
    [Parameter]
    public Userbag _tusBag { get; set; }
    [Parameter]
    public MyShareVars toChild { get; set; }

    private bool success, errors, isSubmitting = false;
    private string successmsg = "", searchstr="", strPoint = "", strmeta = "";
    private List<string> errorList = new List<string>();

    private string rolInv = "", isatmsg = "", Imessage="";

    private string _codVends = "";
    private bool isReadonly = true;
    private bool isDisabled = true;

    private RegisterModel regModel = new RegisterModel();
    private ICollection<MyRolTable> _inRoles = new List<MyRolTable>(); 

    private UsrMail _usrMail = new UsrMail();
    //Authentication
    private List<Grole> _invRoles = new();
    private List<Grole> _usrRoles = new();
    private ICollection<Gpfixe> _lsUtyps = new List<Gpfixe>();
    private string gpeLiba = "";

    public string _strOrga = "", _curSigle = "";
    private bool isMade, isSent;

    private Gsapl Curapl = new Gsapl();
    private IEnumerable<Gsapl> InApls = Enumerable.Empty<Gsapl>().AsQueryable();
    private Tiersp mytiers = new Tiersp();
    private List<Tiersp> lsTiers = new List<Tiersp>();
    private List<Gpdivh> _lsDivs = new List<Gpdivh>();
    private List<Divpst> _lsPsts => _lsDivs.Where(dv => dv.Khie == regModel.Khie).SelectMany(dp => dp.Divpsts).ToList();

    protected override async Task OnInitializedAsync()
    {
        //prise utilisateur courant
        isLoading = true; isMade = false; isSent = false;
        int uMxrol = 0;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Enrol Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Enrol SUCCESS");
        }
        _lsDivs = toChild.LsDivs.Where(uh => uh.Sidiv == 1).ToList();
        _strOrga = curOrga.Raison;
        var json = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Get, "usercontext/session");
        var result = JsonConvert.DeserializeObject<SessionDto>(json);
        if (result != null)
        {
            //Console.WriteLine($"Nb Roles : {result.Count}");
            _usrRoles = result.FullRoles;
            //Calcul de uMax role de utilisateur +1 si admin/lui-meme
            uMxrol = _usrRoles.Max(ur => ur.Level);
            if (authUser.IsInRole("Admin"))
            {
                uMxrol = uMxrol - 1;
            }
        }
        else
        {
            Console.WriteLine("Nb Roles : null");
            return;
        }
        // var usession = await _localStorage.GetItemAsync<SessionDto>("blazSessionDto");
        // if (usession != null)
        // {
        //     _usrRoles = usession.FullRoles;
        //     //Calcul de uMax role de utilisateur +1 si admin/lui-meme
        //     uMxrol = _usrRoles.Max(ur => ur.Level);
        //     if (authUser.IsInRole("Admin"))
        //     {
        //         uMxrol = uMxrol - 1;
        //     }
        //     Console.WriteLine($"User a des roles {_usrRoles.Count} et {uMxrol}");
        // } else
        // {
        //     Imessage = "Utilisateur sans role";
        //     return;
        // }
        _invRoles = await _rendAgres.LoadOrgaRoles();
        _invRoles = _invRoles.Where(ur => ur.Level != 6 && ur.Level > uMxrol)
            .OrderBy(up => up.Level)  //6 cible exclu
            .ToList();
        regModel.Idorg = _tusBag.Idorg; // convert.toint16(user.findfirst("insidorg")?.value);                                                        //Console.WriteLine(usrBag.Lkorga.Idorg);
        regModel.Raison = curOrga.Raison;
        _lsDivs = toChild.LsDivs.Where(uh => uh.Sidiv == 1).ToList();
        //valeurs initiales
        _lsUtyps = _tusBag.Ufixes.Where(iv => iv.Gvars == 53 && iv.Itb == 2 && iv.Elea != 0).ToList();
        if (_lsUtyps.Count() > 0)
        {
            regModel.Utyp = 1; //cible
            gpeLiba = _lsUtyps.Where(ut => ut.Elea == 1).FirstOrDefault().Liba.ToUpperInvariant();
        }
        //Imessage = "Donnees Grilles chargees";
        _navmanager.LocationChanged += OnLocationChanged;
        Console.WriteLine("Authentication ENTREE");
        isLoading = false;
    }
    protected override async void OnParametersSet()
    {
        //Ugpe = Ugpe;
        //Imessage = "Gpe//" + Ugpe.ToString();
    }
    public async Task FabriqInviteLink()
    {
        errors = false;
        errorList = new List<string>();
        if (regModel.Tqirole < 1)
        {
            errors = true;
            errorList.Add("Echec, Role obligatoire.");
            return;
        }
        if (regModel.Utyp < 1)
        {
            errors = true;
            errorList.Add("Echec, Qualite obligatoire.");
            return;
        }
        if (String.IsNullOrEmpty(regModel.Nom))
        {
            errors = true;
            errorList.Add("Echec, Nom obligatoire.");
            return;
        }
        if (String.IsNullOrEmpty(regModel.Pnom))
        {
            errors = true;
            errorList.Add("Echec, Prenom(s) obligatoire.");
            return;
        }
        if (String.IsNullOrEmpty(regModel.Email))
        {
            errors = true;
            errorList.Add("Echec, Email obligatoire.");
            return;
        }
        if (String.IsNullOrEmpty(regModel.Phonenumber))
        {
            errors = true;
            errorList.Add("Echec, Phone obligatoire.");
            return;
        }
        
        //Idhie pas obligatoire
        _codVends = "";
        string tqsrole = "", dqsrole = "";
        var tqrol = _invRoles.FirstOrDefault(ur => ur.Level == regModel.Tqirole);
        if (tqrol != null) tqsrole = tqrol.Name;

        string strchai = "", serversite = "";
        _tusBag = await _sessionContext.GetUserbagAsync();
        regModel.Dequi = _tusBag.Usprof.Utyp;
        regModel.Toqui = regModel.Tqirole;
        regModel.Tqsrole = tqsrole;

        if (_tusBag.Usorga != null)
        {
            var myOrga = _tusBag.Usorga;
            ////#x£V@-vnd¥Ω#≥±≠Ω####
            //#x£V/#x£A/#x£O = #x£V(origine=vendeur)#x£A(origine=admin)#x£O(origine=operateur)
            int CodeLength = 5; //longueur du code aleatoire
            string stralea = "";
            //recuperation du nbre aleatoire
            Random random = new Random();
            StringBuilder output = new StringBuilder();
            for (int i = 0; i < CodeLength; i++)
            {
                output.Append(random.Next(0, 10));
            }
            stralea = output.ToString();
            int deQui = regModel.Dequi;
            int toQui = regModel.Toqui;
            Console.WriteLine($"dequi '{deQui} et toqui : {toQui}");
            string? stOrga = myOrga.Idorg.ToString();
            string? tidom = myOrga.Idoma.ToString();
            string? tjdom = myOrga.Jdoma.ToString();
            string? tyorg = myOrga.Torg.ToString();
            string datope = "";
            strchai = DateTime.Now.Year.ToString().Trim();
            strchai = "9999".Substring(0, 4 - strchai.Length) + strchai;
            datope = strchai;
            strchai = DateTime.Now.Month.ToString().Trim();
            strchai = "00".Substring(0, 2 - strchai.Length) + strchai;
            datope = datope + strchai;
            strchai = DateTime.Now.Day.ToString().Trim();
            strchai = "00".Substring(0, 2 - strchai.Length) + strchai;
            //datope = datope + strchai;
            int lga = stralea.Length;
            if (lga > 4)
            {
                lga = 4;
                strchai = stralea.Substring(0, 4);
            }
            else
            {
                strchai = stralea;
            }
            // verifier /orga /hiera

            string aleaupd = stOrga + strchai;
            string kvdmail = _tusBag.Usprof.Uemail; //email inviteur
            string kachmail = regModel.Email; //email saisi
            string kachtypt = myOrga.Torg.ToString();
            string kraison = myOrga.Raison;//myCmde.Raison;
            string kphone = regModel.Phonenumber;
            string kpays = myOrga.Pays.ToString(); // _tusBag.Usprof.Upays;
            string stsite = myOrga.Weburl;
            string stdoma = myOrga.Sidom;
            string stsigle = myOrga.Sigle;
            string achtypu = regModel.Utyp.ToString();
            string kcdeip = myOrga.CurIp;
            //orig=2 /invite
            var avtCode = "&icoda=xgVnCd" + "&datope=" + datope + "&orig=2"
                        + "&dequi=" + deQui.ToString() + "&deqmail=" + kvdmail + "&deqid=" + _tusBag.Usprof.Userid + "&nodos=" + regModel.Xmatri
                        + "&dequname=" + _tusBag.Usprof.Username + "&deqpmail=" + kvdmail + "&deqphone=" + _tusBag.Usprof.Uphone + "&deqnom=" + _tusBag.Usprof.Unom + "&deqpnom=" + _tusBag.Usprof.Upnom
                        + "&toqui=" + toQui.ToString() + "&toqmail=" + regModel.Email + "&phone=" + regModel.Phonenumber + "&toqid=1212441144"
                        + "&opays=" + kpays + "&toqlang=fr" + "&typtie=" + regModel.Utyp + "&dqirole=" + deQui.ToString() + "&tqirole=" + toQui.ToString()
                        + "&dqsrole=" + dqsrole + "&tqsrole=" + tqsrole + "&toqnom=" + regModel.Nom + "&toqpnoms=" + regModel.Pnom
                        + "&methp=1" + "&stsigle=" + stsigle
                        + "&tydoma=" + tidom + "&stdoma=" + stdoma + "&datcde=" + DateTime.Now
                        + "&tysite=1" + "&stsite=" + stsite
                        + "&ivorga=" + stOrga + "&straison=" + kraison + "&hiera=" + regModel.Khie + "@ipost" + regModel.Kpst
                        + "&nbalea=" + aleaupd;
            var bytes = Encoding.UTF8.GetBytes(avtCode);
            var avtEncode = $"{stsite}/register?cdlnk={WebEncoders.Base64UrlEncode(bytes)}";
            //var avtRepara = $"https://localhost:7171/repareg?cdlnk={WebEncoders.Base64UrlEncode(bytes)}";
            //var versRepara = Uri.UnescapeDataString(avtRepara); 
            _codVends = Uri.UnescapeDataString(avtEncode);
            Console.WriteLine(_codVends);
            //creation ou modif gsapl (atyp=96)
            var myapls = InApls.Where(ap => ap.Email == regModel.Email && ap.Phonenumber == regModel.Phonenumber).ToList();
            if (myapls.Any())
            {
                strmeta = "Personne a deja ete invite";
                _codVends = myapls.FirstOrDefault().Stcod;
            }
            else
            {
                var unapl = new Gsapl();
                unapl.Idorg = _tusBag.Idorg;
                unapl.Atyp = 96;
                unapl.Stcod = _codVends;
                unapl.Email = regModel.Email;
                unapl.Phonenumber = regModel.Phonenumber;
                unapl.Nom = regModel.Nom;
                unapl.Pnom = regModel.Pnom;
                unapl.Raison = regModel.Insrais;
                unapl.Datc = DateTime.Now;
                //_vcontext.AddToGsapl(unapl);
                //await _entityManager.SaveChanges();
            }
            isMade = true;
        }
    }
    public async Task EnvoieInviteAsync()
    {
        isLoading = true;
        errors = false; success = false;
        errorList = new List<string>();
        
        //envoie mail
        string strBody = "";
        strBody = _strOrga + ": Invitation a vous inscrire";
        strBody = strBody + "<p>Cliquez sur le lien ci-dessus pour repondre a invitation</p>";
        strBody = strBody + _codVends; //code invite
        strBody = strBody + "<p>Vous pouvez consulter les liens ci-dessous :</p>";
        strBody = strBody + "<p>Telegram : jsduid.me.com</p>";
        strBody = strBody + "<p>Facebook : jsduid.me.com</p>";
        _usrMail.From = _tusBag.Usprof.Uemail;
        _usrMail.To = regModel.Email;
        Console.WriteLine($"from : {_usrMail.From } et {_usrMail.To}");
        if(string.IsNullOrEmpty(_usrMail.From) || string.IsNullOrEmpty(_usrMail.To))
        {
            errors = true;
            errorList.Add("Email et destinataire obligatoire.");
            return;
        }
        _usrMail.Ucode = _codVends;
        _usrMail.Uorgv = _tusBag.Idorg;
        string usrNom = regModel.Nom;
        string usrPnom = regModel.Pnom;
        string usrPhone = regModel.Phonenumber;
        //_usrMail.MailSubject = "Invitation a vous inscrire";
        string infoplus = $" Nom : {usrNom }, Prenom(s) : {usrPnom} Telephone : {usrPhone}";
        _usrMail.Uinfos = infoplus;
        //envoie var response = await _logClient.PostAsJsonAsync("Lgauth/renvoiemail", usrMail);
        var response = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Post, $"lgauth/sendcodemail");
        success = true;
        successmsg = "Succes email INVITE envoye";
        Console.WriteLine("Succes ENVOIE");
        isLoading = false;
        //isMade = false;
        isSent = true;
        StateHasChanged();
    }
    //manage SAVING
    public async Task EdtAll()
    {
        //allEnable = true;
        //isTieEditing = false;
    }
    public async Task CncAll()
    { //reload
        //await LoadOrgaAsync();
        //isTieEditing = false;
        //allEnable = false;
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        //allEnable = false;
        SaveCurEntities();
    }
    public async Task<bool> SaveCurEntities()
    {
        try
        {
            // if (isTiwEditing)
            // {
            //     curODContext.UpdateObject<Tiewel>(curTiw);
            //     await curODContext.SaveDataAsync();
            //     isTiwEditing = false;
            //     Console.WriteLine("Saved SUCCESS");
            // }
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
            return true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Saved ISSUE {ex.Message}");
            //Alert($"ECHEC Entities not SAVED");
            return false;
        }
    }
}