@page "/calcreslnes"
@layout CalcMenu

@using System.Net.Http.Headers
@using System.Security.Claims
@using System.Text.Json
@using BlazorBootstrap
@using BlazorDownloadFile
@using Blazored.LocalStorage
@using GxShared.Formulas.ForaContext
@using GxShared.Formulas.ForaModels
@using GxShared.Sess
@using GxShared.Others
@using GxTie.ClieModels
@using GxTie.Services
@using GxTie.Components.Opera.RtOpe
@using GxTie.StaticHelpers
@using GxWapi.DaModels

@inject MyAuthStateProvider _authprovider
@inject ILocalStorageService _localStorage
@inject IBlazorDownloadFileService DownloadService
@inject HttpClientService _cliemanager
@inject IJSRuntime _jsRun

<PageTitle>Saisie Offline</PageTitle>
<div>
    @Imessage
</div>
<div class="my-container">
    @if (toChild != null)
    {
        @ChildContent
    }
</div>
<!--tiers/search et/ou creation? -->
@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Calculs/Calcul Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    @if (SessOpen)
    {
        <div class="input-group">
            <label>Programme :</label>
            <div class="text-center">
                <InputSelect id="pgrId" @bind-Value="ImyProg">
                    <option value="0">progr?</option>
                    @foreach (var pgr in LsProgs)
                    {
                        <option value="@pgr.Id" @onclick="() => GetSelectedProg(pgr)">@pgr.Liba</option>
                    }
                </InputSelect>
            </div>
            <label for="TypDiv">Service :</label>
            <div>
                <InputSelect id="TypDiv" @bind-Value="ImyDiv">
                    <option value="0">Aucun</option>
                    @foreach (var divo in _lsDivs)
                    {
                        <option value="@divo.Id" @onclick="trierTiers">@divo.Abg-@divo.Liba</option>
                    }
                </InputSelect>
            </div>
        </div>
    }
    <div class="input-group mt-1">
        @if (ProgOpen)
        {
            <div class="text-center">
                <InputSelect id="optId" @bind-Value="ImyOpti">
                    <option value="0">aucun</option>
                    @foreach (var uf in LsFixes.Where(xf => xf.Gvars == 33 && xf.Itb == 7 && xf.Gp1 == 5))
                    {
                        <option value="@uf.Elea" @onclick="()=> SelTypGpe(uf.Elea)">par @uf.Liba</option>
                    }
                </InputSelect>
            </div>
        }
        &nbsp;&nbsp;
        @if (CalcOpen)
        {
            <Button class="btn btn-sm btn-secondary btnsz"
                    style="@(!allEnable ? "" : "display:none;")"
                    @onclick="() => CalcAndSaveAsync()">
                Calculer
            </Button>
            @if (CalcMarked && autoSave)
            {
                <Button class="btn btn-sm btn-secondary btnsz"
                        style="@(!allEnable ? "" : "display:none;")"
                        @onclick="() => SaveResultAsync()">
                    Enregistrer
                </Button>
            }
            <span>&nbsp;&nbsp;</span>
            <Button class="btn btn-warning btn-sm" @onclick="() => OuvrirFiche(ImyOpti)">@stopenFich</Button>
        }
    </div>
    @if (ProgOpen)
    {
        @if (ImyOpti == 2)
        {
            <div class="input-group">
            <label>de :</label>
            <InputSelect @bind-Value="IdebTier">
                <option value="">tiers?</option>
                @foreach (var tie in PreTiers)
                {
                    <option value="@tie.Smatri">@tie.Smatri - @tie.Nom - @tie.Pnom</option>
                }
            </InputSelect>
                <label>a :</label>
                <InputSelect @bind-Value="IfinTier">
                    <option value="">tiers?</option>
                    @foreach (var tie in PreTiers)
                    {
                        <option value="@tie.Smatri">@tie.Smatri - @tie.Nom - @tie.Pnom</option>
                    }
                </InputSelect>
            </div>
        }
    }
}
<!--Actsaie Portrait-->
@if (!isLoading)
{
    <!--VISIBLE SAISIE-->
@if (isFicheVisible)
{
        <!--VISIBLE SAISIE-->
        @if (isFicheVisible)
        {
            <RtC11Fic @ref="myfcalc"
                      curOrga="@curOrga"
                      toChild="@toChild"
                      curODContext="@curODContext"
                      CalcTiers="@CalcTiers">
                <ChildContent>
                    <h2 class="child-box">Fiche de @curProg.Liba</h2>
                </ChildContent>
            </RtC11Fic>
        }
}
    <div class="d-flex flex-row">
        <EditForm Context="invform" Model="_usrBag">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="p-1" style="max-height: 400px; overflow-y: auto;">
                <div class="p-1" style="max-height: 400px; overflow-y: auto;">
                    <Grid TItem="OutDataLineStream"
                          Data="@CalcLines"
                          AllowFiltering="@isFilteringEnabled"
                          AllowPaging="true"
                          Responsive="true">
                        <GridColumns>
                            <GridColumn TItem="OutDataLineStream" HeaderText="No">
                                <ChildContent Context="item">@item.Id</ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="Code" IsVisible="@(ImyOpti == 1)">
                                <ChildContent Context="item">@item.LineNumber</ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="Designation" IsVisible="@(ImyOpti == 1)">
                                <ChildContent Context="item">@item.Liba</ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="Matricule" IsVisible="@(ImyOpti == 2)">
                                <ChildContent Context="item">@item.Smatri</ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="Nom" IsVisible="@(ImyOpti == 2)">
                                <ChildContent Context="item">@item.Nom</ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="PNom" IsVisible="@(ImyOpti == 2)">
                                <ChildContent Context="item">@item.Pnom</ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="MtCalcule">
                                <ChildContent Context="item">
                                    @item.Result
                                </ChildContent>
                            </GridColumn>
                            <GridColumn TItem="OutDataLineStream" HeaderText="MtSaisie">
                                <ChildContent Context="item">
                                    <InputText @bind-Value="item.Smatri" />
                                </ChildContent>
                            </GridColumn>
                        </GridColumns>
                    </Grid>
                </div>
            </div>
        </EditForm>
    </div>
}
<style>
    .inputfl {
        opacity: 0;
    }
</style>
@code {
    private bool isLoading = true;
    //private bool notEnable => !allEnable;
    private bool enrEnable = false;
    private bool isEditing = false;
    private bool isFicheVisible = false;
    private bool FinPreparer = false;
    private bool Yames = false;
    private string Imessage = "", stopenFich = "OuvrirFiche";

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public bool allEnable { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    //guard
    [Parameter]
    public PendingChangesGuard _guard { get; set; }
    [Parameter]
    public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter]
    public int NbChanges { get; set; }
    [Parameter]
    public EventCallback<int> NbChangesChanged { get; set; }  // 🔥 CRITICAL
    //[Parameter]
    //public MyMenuVars froMenu { get; set; }

    //[CascadingParameter(Name = "SaieLayout")]
    //public SaieLayout Mainsaie { get; set; }
    //[CascadingParameter]
    //public MyODataContext _gODContext { get; set; }    //Authentication
    private bool isAuthenticated { get; set; }
    private ClaimsPrincipal authUser;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    private RtC11Fic myfcalc;

    //private FormulaEvalService _calcService;

    //private HttpClient _apiClient;
    public string _UserId = "";
    public int _UorgId = 0, _lgcdu = 0;

    private Userbag _usrBag = new Userbag();
    private List<Actsaie> _tieActs = new();
    private List<Actsaie> _lsmActs = new();

    //private Tiersp _curTier = new();
    private List<Tiersp> EnsTiers = new();
    private List<Plngen> EnsProgs = new();
    private List<Rubvar> EnsRubrs = new();
    private List<Rubhie> _lsDivs = new();

    //curData for calculate
    //List<Actsaie> curDaAct => _curTier.Actsaies.ToList();
    //List<Resdon> curDaDon => _curTier.Resdons.ToList();
    //List<Actdet> curActDet => _curTier.Actsaies.SelectMany(a => a.Actdets).ToList();
    //List<Resdet> curResDet => _curTier.Resdons.SelectMany(r => r.Resdets).ToList();

    //private Actsaie curAct = new Actsaie();
    private Plngen curProg = new Plngen();

    //private Actsaie _curmAct = new Actsaie();
    //private Actdet _curmDet = new Actdet();
    //private List<Actsaie> LsDaActs = new();
    //private List<Actdet> LsDaDets = new();
    private bool isFilteringEnabled = false;
    private Rubvar _curRub = new();
    private Gsesio _curSes = new();
    private Plngen selPgr = new();
    private Rubvar selRub = new();
    private Rubfmt selFmt = new();
    private DateTime _sesDat;

    private List<Gpfixe> LsFixes = new List<Gpfixe>();
    private List<Gpvar> LsVars = new();
    private List<Gplan> LsProgs = new();
    
    private bool success, errors, isSubmitting = false;
    private string[] errorList = [];
    private string rolInv = "", userName = "", isatmsg = "";

    private List<Tiersp> PreTiers = new();
    // => EnsTiers.Where(t => t.Idhie == ImyDiv)
    //     .OrderByDescending(um => um.Smatri)
    //     .ToList();
    private List<Tiersp> CalcTiers = new();

    //private SaieModel saieModel = new SaieModel();
    private ReqgnModel qryModel = new ReqgnModel();

    //private bool isExoSaieOpen => toChild.MainOptsOk; //exo et site
    //private bool isSesSaieOpen => toChild.MainOptsOk && ImyProg != 0 && ImyOpti != 0;
    //Options Calculation workflow
    private bool CalcMarked = false;
    private bool SaveMarked = false;
    private bool autoSave = false;
    private bool SessOpen => toChild.curExo != null && toChild.curExo.Id != 0
                    && toChild.curSesio != null && toChild.curSesio.Id != 0;
    private bool ProgOpen => SessOpen && ImyProg != 0 && ImyDiv != 0;
    private bool SiTiers => !String.IsNullOrEmpty(IdebTier) && !String.IsNullOrEmpty(IfinTier);
    // Meme pour option 1 (tous) IDebTier et IFinTier doivent etre fournis
    private bool CalcOpen => ProgOpen && SiTiers;
    bool ShowProgress = false;
    int ProgressValue = 0;
    //->can Edit can Prep Calc
    //private bool CanCalc => CalcOpen && FinPreparer == true;
    //->can Submit calc
    //private bool CanSave => CanCalc && CalcMarked;
    //-->can Submit save
    //CRUD ROW ADDING
    private Guid? EditingActRowGuid; //pmodal
    private bool IsActAdding(Plngen item) => EditingActRowGuid == item.Rowguid;
    private Guid? ConfirmingActDeleteRowGuid;
    private Guid? EditingDetRowGuid; //pmodal
    private bool IsDetAdding(Plngen item) => EditingDetRowGuid == item.Rowguid;
    private Guid? ConfirmingDetDeleteRowGuid;

    private string opseudo = "", opnomp = "";
    //private int opfonc = 0, opgrad = 0, opafec = 0;
    private int ImyTier = 0, ImyProg = 0, ImyRubr = 0;
    private int ImyExo = 0, ImyDiv = 0; //ImySes = 0,
    private int Jsdtie = 0, Jsftie = 0;

    private string kmessage = "";
    private string _errorMessage = "";
    private int itRub = 0;
    private int itProg = 0;
    private int itTie = 0;
    private int itPgr = 0;
    private int itGpe = 0;
    private int ImyOpti = 0; // par tiers
    //matricules str
    private string IdebTier = "", IfinTier = "";
    //variables PLANS
    Modal edAModal;
    Actsaie actItem = new();
    int? edAIndex = null;
    Actsaie edAct = new();
    bool adingAct = false;

    Actdet edADet = new();
    //variables Man
    Actsaie? draftAct = null;
    Actsaie? editingAct = null;
    //bool yaEuActModif = false;
    //private IRubvarResolver _rubvarResolver;
    //variables Lne
    Actdet? draftDet = null;
    Actdet? editingDet = null;
    bool yaEuDetModif = false;
    List<FormulaLine> MissionLines = new();
    List<InDataLineStream> DataLines = new();
    List<InDataLineStream> ResultLines = new();

    List<OutDataLineStream> CalcLines = new();

    protected override async Task OnInitializedAsync()
    {
        CalcLines = new();
        isLoading = true;
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        //curOrga = toChild.curOrga;
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        LsProgs = toChild.LsPlans.Where(pl => pl.Ptyp == 5).ToList();
        Console.WriteLine($"Programmes en cours : {LsProgs.Count}");
        //LsProgs = toChild.LsProgs;
        //LsSites = toChild.LsSites
        //indata
        EnsTiers = curOrga.Tiersps.ToList();
        Console.WriteLine($"ACTSAIE Active {EnsTiers.Count()}");
        //EnsSess = curOrga.Gsesios.Where(us => us.Styp == 3 && us.Sicur == 1 && us.Sieta == 1).ToList(); //saisies ouversts
        //_curTier = EnsTiers.FirstOrDefault();
        EnsProgs = curOrga.Plngens.Where(pl => pl.Ptyp == 5).ToList(); //saisies
        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        // _calcService = new FormulaEvalService(
        //     new List<Tiersp> { _curTier }, // single person context
        //         curDaAct,
        //         curActDet,
        //         curDaDon,
        //         curResDet
        // );

        Console.WriteLine("Authentication ENTREE");
        opseudo = _usrBag.Username;
        opnomp = _usrBag.Usprof.Ufulnom;
        isLoading = false;
    }
    private void GetSelectedProg(Gplan bropln)
    {
        //Console.WriteLine($"ICI PROGRAMMES : {EnsProgs.Count()}");
        curProg = new();
        EnsRubrs = new();
        if (EnsProgs.Any())
        {
            curProg = EnsProgs.Where(pl => pl.Id == bropln.Id).FirstOrDefault();
            if (curProg != null)
            {
                //Console.WriteLine($"ICI prog Id : {curProg.Idorg}");
                EnsRubrs = curProg.Rubvars.ToList();
                var curDivpln = curOrga.Plngens.Where(pl => pl.Id == curProg.Plsdiv).FirstOrDefault();
                if (curDivpln != null)
                {
                    _lsDivs = curDivpln.Rubhies.Where(ud => ud.Sidiv == 1).ToList();
                }
                else
                {
                    _lsDivs = new();
                }
            }
        }
        //Console.WriteLine($"ICI RUBRIQUES : {curProg.Rubvars.Count()}");
    }
    private void trierTiers()
    {
        Console.WriteLine("TRIE Commence");
        if (ImyDiv != 0)
        {
            Console.WriteLine($"TRIE Prepare : {EnsTiers.Count}");
            Imessage = "Preparation de la liste en cours";
            PreTiers = EnsTiers.Where(t => t.Ihie == ImyDiv)
                .OrderByDescending(um => um.Smatri)
                .ToList();
            Imessage = "Liste des tiers prete";
            Console.WriteLine($"TRIE termine : {PreTiers.Count}");
            StateHasChanged();
        }
        Console.WriteLine("TRIE Fini");
    }
    private async Task OuvrirFiche(int orig)
    {
        isFicheVisible = !isFicheVisible;
        if (isFicheVisible)
        {
            stopenFich = "FermerFiche";
        }
        else
        {
            stopenFich = "OuvrirFiche";
        }
    }
    private void SelTypGpe(int chx)
    {
        IdebTier = ""; IfinTier = ""; //chx=0ou2
        if (chx == 1)
        { //tous //CalcTiers est trie par matricule desc
            //le 1er
            var indtie = PreTiers.FirstOrDefault();
            if (indtie != null) IdebTier = indtie.Smatri;
            indtie = PreTiers.LastOrDefault();
            if (indtie != null) IfinTier = indtie.Smatri;
        }
    }
    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        //EditingRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        //EditingRowGuid = Guid.Empty;
        Imessage = "";
    }
    public async Task SavAll()
    {
        Imessage = "Enregistrement Operations, patience...";
        allEnable = false;
        //EditingRowGuid = Guid.Empty;
        ////await curODContext.Context.SaveDataAsync();
    }

    private async Task CalcAndSaveAsync()
    {
        CalcLines.Clear();
        var filteredTiers = PreTiers
            .Where(t =>
                string.Compare(t.Smatri, IdebTier, StringComparison.OrdinalIgnoreCase) >= 0 &&
                string.Compare(t.Smatri, IfinTier, StringComparison.OrdinalIgnoreCase) <= 0)
            .ToList();
        ShowProgress = true;
        ProgressValue = 0;
        int total = filteredTiers.Count;
        int index = 0;
        int batchSize = 20;
        foreach (var tie in filteredTiers)
        {
            index++;
            if (index% batchSize == 0 || index == filteredTiers.Count-1)
            {
                ProgressValue = (int)((index + 1) / (double)filteredTiers.Count * 100);
                StateHasChanged();
            }
            var session = new PersonEvaluationSession(tie.Id, DateTime.Today);
            session.HydrateInputs(tie.Actsaies, tie.Resdons);
            session.LoadFormulaLines(MissionLines);
            session.Evaluate();
            CalcLines.AddRange(session.Outputs); // Collect results
            StateHasChanged(); // Update UI
            session.Clear();
        }
        if (autoSave)
        {
            var request = new ResCalcModel
                {
                    Opetyp = 1, // saisie
                    Sireel = curProg.Tovue,
                    Idorg = curOrga.Idorg,
                    Idpln = curProg.Id,
                    Vperi = toChild.curSesio.Speri,
                    Eperi = toChild.curExo.Speri,
                    Datope = DateTime.Now,
                    Gseq = 1,
                    OutLines = CalcLines
                };
            await _cliemanager.SendRequestAsync(
                "AUTHClient",
                HttpMethod.Post,
                "lgauth/savcalcresu",
            request);
            SaveMarked = true;
            ShowSuccess("Résultats enregistrés avec succès.");
            StateHasChanged();
        } else
        {
            CalcMarked = true;
        }
    }
    private async Task SaveResultAsync()
    {
        if (CalcMarked)
        {
            var request = new ResCalcModel
                {
                    Opetyp = 1, // saisie
                    Sireel = curProg.Tovue,
                    Idorg = curOrga.Idorg,
                    Idpln = curProg.Id,
                    Vperi = toChild.curSesio.Speri,
                    Eperi = toChild.curExo.Speri,
                    Datope = DateTime.Now,
                    Gseq = 1,
                    OutLines = CalcLines
                };
            try
            {
                await _cliemanager.SendRequestAsync("AUTHClient", 
                    HttpMethod.Post, 
                    "lgauth/savcalcresu",
                    request);
                SaveMarked = true;
                ShowSuccess("Résultats enregistrés avec succès.");
                CalcMarked = false;
            }
            catch (Exception ex)
            {
                ShowError("Échec de l'enregistrement : " + ex.Message);
            } 
        }
    }
    private void ShowError(string message)
    {
        Imessage = message;
        // You can also implement a more sophisticated notification system if needed
    }
    private void ShowSuccess(string message)
    {
        Imessage = message;
        // You can also implement a more sophisticated notification system if needed
    }
    private async Task ValidSaieAsync()
    {
        try
        {
            //await _entityManager.SaveChanges(); // Specify type argument here
        }
        catch (Exception ex)
        {
            // Handle error (e.g., show error message)
        }
    }
    private void ToggleFiltering()
    {
        isFilteringEnabled = !isFilteringEnabled;
    }
}
