@page "/valdtie"
@layout EnrolMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxStk.ClieModels
@using GxStk.Components.Paccu.RtPer
@using GxStk.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject SessionContextClient _sessionContext

<!-- InscTiewComponent.razor -->
<PageTitle>Tables</PageTitle>

@if (allEnable)
{
    <div>
        &nbsp;&nbsp;
        <button class="btn btn-warning btn-sm" @onclick="() => OuvrirFiche()">@stopenFich</button>
    </div>
}
<!--VISIBLE SAISIE-->
@if (isFicheVisible)
{
    <RtV11Fic @ref="myftie"
        curOrga="@curOrga"
        toChild="@toChild"
        curODContext="@curODContext"
        curTier="@curTier">
        <ChildContent>
           <h2 class="child-box">Fiche d'Inscription</h2>
        </ChildContent>
    </RtV11Fic>
}
@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Integration/Tiers Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="me-2">Domaine :</label>
                                <InputSelect @bind-Value="IMyDom" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?domaine</option>
                                    @foreach (var tob in LsDoms) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                                    {
                                        <option value="@tob.Gp2" @onclick="() => SelPlanDom(tob.Gp2)">@tob.Liba</option>
                                    }
                                </InputSelect>
                                <label>Destination : </label>
                                <div class="text-center">
                                    <InputSelect id="desId" @bind-Value="IMySite">
                                        <option value="0">tout</option>
                                        @foreach (var sit in _lsDivs)
                                        {
                                            <option value="@sit.Khie" @onclick="() => GetSelectedSite(sit)">@sit.Liba</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                        </div>
                        
                        @* @if (!MyDaPlans.Any())
                        { *@
                        @* @if (allEnable)
                        {
                            <div class="row">
                                <button class="col-1 btn btn-primary btn-sm" @onclick="() => OpenAddPlan()">
                                    ➕ Add
                                </button>
                            </div>
                        } *@
                        @* } *@
                        <div class="row">
                            @if (!String.IsNullOrEmpty(Kmessage))
                            {
                                <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                            }
                        </div>
                        <div class="row">
                            @if (IMyDom != 0)
                            {
                                <!--Contenu des Plans-->
                                <Grid TItem="Tiewel"
                                      Data="@MyDaTiws"
                                      AllowDetailView="true"
                                      AllowRowClick="true"
                                      OnRowClick="@OnTierRowClick"
                                      AllowPaging="true"
                                      Responsive="true">
                                    <GridColumns>
                                        <GridColumn TItem="Tiewel" HeaderText="No">
                                            <ChildContent Context="item">
                                                @if (item.Xadd1 == -2)
                                                {
                                                    <span>?@jtie</span>
                                                }
                                                else
                                                {
                                                    <span class="plnpoint">@item?.Tseq</span>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Int?">
                                            <ChildContent Context="item">
                                                <label>Int?</label>
                                                    <InputCheckbox @bind-Value="item.IsJrejChecked"
                                                                           @onchange="e => { item.Jrej = (bool)e.Value ? 1 : 0; }"
                                                                           class="form-check-input"
                                                                           disabled="@(!allEnable)">
                                                    </InputCheckbox>
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Nom-Prenom(s)">
                                            <ChildContent Context="item">
                                                    @item.Nom @item.Pnom
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Dossier">
                                            <ChildContent Context="item">
                                                    @item.Xmatri
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Matricule">
                                            <ChildContent Context="item">
                                                @if (editingTiwRowGuid == item.Rowguid)
                                                { // show draftTiw inputs
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Division">
                                            <ChildContent Context="item">
                                                @if (editingTiwRowGuid == item.Rowguid)
                                                { // show draftTiw inputs
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Poste">
                                            <ChildContent Context="item">
                                                @if (editingTiwRowGuid == item.Rowguid)
                                                { // show draftTiw inputs
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="Eta">
                                            <HeaderContent>
                                                @if (!allEnable)
                                                {
                                                    <button class="btn btn-info btn-sm" @onclick="ToggleTiwFiltering">
                                                        @(isTiwFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                    </button>
                                                }
                                                else
                                                {
                                                    @if (allEnable && IMyGpln != 0 && IMyDom != 0)
                                                    {
                                                        @if ((IMyGpln == 2) || (IMyGpln == 3 && IMyAtr != 0 && IMyGtie != 0) || (IMyGpln == 4 && IMyVue != 0) && !siTiwAdding)
                                                        {
                                                            <button class="btn btn-primary btn-sm" @onclick="() => OpenAddTiw()">
                                                                ➕ Add
                                                            </button>
                                                        }
                                                    }
                                                }
                                            </HeaderContent>
                                            <ChildContent Context="item">
                                                @if (editingTiwRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftTiw.Eta">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Eta" disabled="true">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Tiewel" HeaderText="actions" IsVisible="@(allEnable)" Filterable="false">
                                            <ChildContent Context="item">
                                                @if (editingTiwRowGuid == item.Rowguid)
                                                {
                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfEdingTiw(item)">
                                                        💾 Accept
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingTiw(item)">
                                                        ❎ Cancel
                                                    </button>
                                                }
                                                else if (ConfirmingTieDeleteRowGuid == item.Rowguid)
                                                {
                                                    @* <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptPlnDelete(item)">
                                                            🗑️ Delete
                                                        </button> *@
                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfirmTiwDelete(item)">
                                                        ✅ Confirm
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary" @onclick="CancelTiwDelete">
                                                        ❌ Cancel
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-warning me-1 @(allEnable ? "" : "disabled-action")"
                                                            disabled="@(editingTiwRowGuid != null)"
                                                            @onclick="() => PromptTiwEdit(item)">
                                                        ✏️ Edit
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                            disabled="@(editingTiwRowGuid != null)"
                                                            @onclick="() => PromptTiwDelete(item)">
                                                        🗑️ Delete
                                                    </button>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                    </GridColumns>
                                </Grid>
                            }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for ADDING Plan -->
            <Modal @ref="plnModal" class="modal-wide" Title="@patTitle" ShowCloseButton="false">
                <BodyTemplate>
                    <div class="row">
                        @if (!String.IsNullOrEmpty(Kmessage))
                        {
                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                        }
                    </div>
                    <div class="p-0">
                        <Grid TItem="Tiewel"
                              Data="@TiwlNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Tiewel" HeaderText="No">
                                    <ChildContent Context="item">
                                        @if (item.Xadd1 == -2)
                                        {
                                            <span>?@jtie</span>
                                        }
                                        else
                                        {
                                            <span class="plnpoint">@item?.Tseq</span>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div class="col-1">
                                            <InputCheckbox @bind-Value="item.IsJnotChecked"
                                                           @onchange="e => { item.Jnot = (bool)e.Value ? 1 : 0; }"
                                                           class="form-check-input"
                                                           disabled="@allEnable">
                                            </InputCheckbox>
                                        </div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="Nom-Prenom(s)">
                                    <ChildContent Context="item">
                                        @item.Nom @item.Pnom
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="Dossier">
                                    <ChildContent Context="item">
                                        @item.Xmatri
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="Matricule">
                                    <ChildContent Context="item">
                                        @if (addingTiwRowGuid == item.Rowguid)
                                        { // show draftTiw inputs
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="Division">
                                    <ChildContent Context="item">
                                        @if (addingTiwRowGuid == item.Rowguid)
                                        { // show draftTiw inputs
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="Poste">
                                    <ChildContent Context="item">
                                        @if (addingTiwRowGuid == item.Rowguid)
                                        { // show draftTiw inputs
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Tiewel" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (addingTiwRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="draftTiw.Eta">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="AnuTiwModal">Annuler</Button>
                    <Button class="btn btn-success" @onclick="ConfTiwModal">Confirmer</Button>
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }

    .rubModal-wide .modal-dialog {
        max-width: 65vw;
        width: auto;
        margin: auto;
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }

    .formul.button {
        pointer-events: none;
        opacity: 0.5;
        heignt: btn btn-success btn-sm
    }

    .plnpoint {
        font-weight: bold;
        background-color: blue;
        color: white;
    }

    .rubpoint {
        font-weight: bold;
        background-color: yellow;
        color: black;
    }

    .fmtpoint {
        font-weight: bold;
        background-color: darkolivegreen;
        color: black;
    }
</style>
@code {
    private bool isLoading = true;
    private bool allEnable = false;
    private bool isFicheVisible = false;
    // private AccuAfil myafl;

    private string Imessage = "", Jmessage = "", Kmessage = "", stopenFich = "OuvrirRecepisse";
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int? Tgpe { get; set; }
    [Parameter]
    public int? Ugpe { get; set; }
    [Parameter]
    public int ChxMenu { get; set; }
    //private Tiersp gridTier = new Tiersp();
    //private Plngen curTiw = new Plngen();
    private List<Rubvar> LsRubs = new List<Rubvar>();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
 
    private RtV11Fic myftie { get; set; }
    private string _UserId = "", plnDom = "", atrTitle = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();

    //private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpvar> LsVars = new();

    //Global
    //private int IMyPlan = 0, IMyDom = 0;
    private int IMyDom = 0, IMySite = 0;
    private int IMyGpln = 0, IMyVue = 0, IMyGtie = 0, IMyAtr = 0;
    private int? tiwMax = 0, jtie = 0;

    private List<Gpfixe> LsDoms = new();

    private List<Gpfixe> LsPTyps = new();
    private List<Gpfixe> LsPDoms = new();
    private List<Gpfixe> LsAtrs = new();
    private List<Gpfixe> LsGties = new();
    private List<Gpfixe> LsVues = new();
    private List<Gpdivh> _lsDivs = new List<Gpdivh>();
    private string atrDest = "Programmes de Saisie :";
    private Tiewel curTiw = new();
    private Tiersp curTier = new();
    // private Rubvar curRubr = new();
    // private Rubfmt curFmat = new();
    private bool siTiwAdding = false;// siRubAdding = false, siFmtAdding = false;
    private Modal plnModal; // rubModal, fmtModal;

    //pere-editing/adding/deleting
    //private Guid? addingTiwRowGuid;
    //private Guid? addingTiwRowGuid;
    //private Guid? ConfirmingTieDeleteRowGuid;

    //private Dictionary<int, Plngen> _originalFixSnapshots = new();
    //Dictionary<int, Plngen> fxpaterMapByIdpln = new();

    //fils-editing/adding/deleting
    private bool isRubCodeValid = false;

    //private Guid? AddingRubRowGuid; //cmodal
    //private Guid? EditingRubRowGuid;
    //private Guid? ConfirmingRubDeleteRowGuid;

    private Dictionary<Guid, EditContext> rowEditContexts = new();

    private Dictionary<int, List<Tiewel>> gTiwsMap = new();
    //Grid Data feed management Accepted (accorde, non rejeter et non integre
    public List<Tiewel> MyDaTiws => curOrga.Tiewels
        .Where(pl => pl.Jwlc >= 4 && pl.Ihie == IMySite)
        .ToList();


    // enum Scenario { None, Yaeche, Yagrill, Yaschm }
    // Scenario currentScenario =>
    //     IMyGpln switch
    //     {
    //         2 => Scenario.Yaeche,
    //         3 => Scenario.Yagrill,
    //         4 => Scenario.Yaschm,
    //         _ => Scenario.None
    //     };
    // public List<Plngen> MyDaPlans =>
    // currentScenario switch
    // {
    //     Scenario.Yaeche => IMyDom > 0
    //         ? curOrga.Plngens
    //             .Where(pl => pl.Ptyp == IMyGpln && pl.Todom == IMyDom)
    //             .ToList()
    //         : new List<Plngen>(),
    //     Scenario.Yagrill => IMyDom > 0 && IMyAtr > 0
    //         ? curOrga.Plngens
    //             .Where(pl => pl.Ptyp == IMyGpln && pl.Todom == IMyDom && pl.Toatr == IMyAtr && pl.Totyp == IMyGtie)
    //             .ToList()
    //         : new List<Plngen>(),
    //     Scenario.Yaschm => IMyDom > 0 && IMyVue > 0
    //         ? curOrga.Plngens
    //             .Where(pl => pl.Ptyp == IMyGpln && pl.Todom == IMyDom && pl.Tovue == IMyVue)
    //             .ToList()
    //         : new List<Plngen>(),
    //     _ => new List<Plngen>()
    // };

    private Guid? addingTiwRowGuid; //pmodal
    private Guid? editingTiwRowGuid;
    private Guid? ConfirmingTieDeleteRowGuid;
    // private Guid? AddingRubRowGuid; //cmodal
    // private Guid? EditingRubRowGuid;
    // private Guid? ConfirmingRubDeleteRowGuid;
    // private Guid? AddingFmtRowGuid; //cmodal
    // private Guid? EditingFmtRowGuid;
    // private Guid? ConfirmingFmtDeleteRowGuid;
    //pere
    private List<Tiewel> TiwlNewRows => gTiwsMap.TryGetValue(curOrga.Idorg, out var rows)
    ? new List<Tiewel>(rows)
     : new List<Tiewel>();
    // // //fils
    // private List<Rubvar> GrubNewRows => gRubsMap.TryGetValue(curTiw.Idpln, out var rows)
    // ? new List<Rubvar>(rows)
    // : new List<Rubvar>();
    // // //petit-fils
    // private List<Rubfmt> GfmtNewRows => gFmtsMap.TryGetValue(curRubr.Idrub, out var rows)
    // ? new List<Rubfmt>(rows)
    // : new List<Rubfmt>();

    //filters
    private bool isTiwFilteringEnabled = false;
    // private bool isRubFilteringEnabled = false;
    //Modals formule
    //Modal pForuModal = new(); //plans
    // Modal rForuModal = new(); //rubriques
    // Modal gForuModal = new(); //formats
    private string patTitle = "";
    private string patInitTitle = "";
    //private string pstrFormu = "";


    //variables Plan
    Tiewel draftTiw = new();
    Tiewel? editingTiw = null;
    // //variables Rub
    // Rubvar draftRub = new();
    // Rubvar? editingRub = null;
    // //variable fmt
    // Rubfmt draftFmt = new();
    // Rubfmt? editingFmt = null;

    void OnTierRowClick(GridRowEventArgs<Tiewel> args)
    {
        Console.WriteLine($"OnTierRowClick Triggered : {args.Item.Id}");
        curTiw = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curTiw.Id}");
        if (curTiw == null || curTiw.Id == 0)
        {
            return;
        }
        StateHasChanged();
    }
    // void OnRubRowClick(GridRowEventArgs<Rubvar> args)
    // {
    //     Console.WriteLine($"OnChildRowClick Triggered : {args.Item.Id}");
    //     curRubr = args.Item; //get gRubsMap
    //     Console.WriteLine($"X1seq {curRubr.Idrub}");
    //     if (curRubr == null || curRubr.Idrub == 0)
    //     {
    //         return;
    //     }
    //     StateHasChanged();
    // }

    void OpenAddTiw()
    {
        TiwlNewRows.Clear();
        int parentKey = Convert.ToInt32(curOrga.Idorg);
        if (gTiwsMap.ContainsKey(parentKey))
        {
            gTiwsMap.Remove(parentKey); // Clear previous children for clean modal state
        }
        tiwMax = curOrga.Tiewels.Any() ? curOrga.Tiewels.Max(x => x.Tseq) : 0;
        PrepareAddTiw();

        patInitTitle = $"{curOrga.Idorg} - {curOrga.Raison} (creation programme)";
        patTitle = patInitTitle;
        jtie = 0;
        plnModal.ShowAsync();
    }

    void PrepareAddTiw()
    {
        if (!allEnable)
        {
            Imessage = "REFUS, Creation Programme indisponible";
            return;
        }
        var parentId = curOrga.Idorg;
        jtie = jtie + 1;
        // Make sure the gPlnsMap has an entry for this parent
        if (!gTiwsMap.ContainsKey(parentId))
        {
            gTiwsMap[parentId] = new List<Tiewel>();
        }

        var existingPlngens = curOrga.Tiewels.Where(ln => ln.Idorg == parentId) ?? new DataServiceCollection<Tiewel>();
        var mapPlngens = gTiwsMap[parentId];
        // int maxIdzonFromParent = existingPlngens.Any()
        //     ? existingPlngens.Max(r => r.Elea ?? 0)
        //     : 0;
        // int maxIdzonFromMap = mapPlngens.Any()
        //     ? mapPlngens.Max(r => r.Elea ?? 0)
        //     : 0;
        // int maxIdzon = Math.Max(0, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        // int nextZon = maxIdzon == 0 ? 1 : maxIdzon + 1;
        //Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {parentId}");

        tiwMax = tiwMax + 1;
        int nextSeq = tiwMax ?? 1;
        var newPat = CreateNewTiw(nextSeq);
        if (newPat != null)
        {
            gTiwsMap[parentId].Insert(0, newPat);
            Console.WriteLine($"Actual NewRows nb {TiwlNewRows.Count}");
            TiwlNewRows.Insert(0, newPat);
            //GplnNewRows = GplnNewRows.ToList();
            Console.WriteLine($"After Insert NewRows nb {TiwlNewRows.Count}");
            addingTiwRowGuid = newPat.Rowguid;
        }
        siTiwAdding = true;
        StateHasChanged();
    }
    Tiewel CreateNewTiw(int nextSeq)
    {
        if (curOrga == null || IMyDom == 0 || IMySite == 0 || allEnable == false)
        {
            Imessage = "REFUS, Type Domaine/Site... obligatoire";
            return new Tiewel();
        }

        try
        {
            return new Tiewel()
            {
                //Rowguid = Guid.NewGuid(),
                Idorg = curOrga.Idorg,
                Ihie = IMySite,
                Ipst = 0,
                Utyp = Ugpe,
                Xmatri = "",
                Nom = "",
                Pnom = "",
                Eta = 1,
                Tseq = 0,
                //Belea = nextSeq,
                Xadd1 = -1
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"1Probleme EntityManagment : {ex.Message}");
            return new Tiewel();
        }
    }

    // Rubvar CreateNewRubr(int nextSeq)
    // {
    //     if (curOrga == null || IMyGpln == 0 || IMyAtr == 0 || allEnable == false)
    //     {
    //         Imessage = "REFUS, Type Plan/Domaine... obligatoire";
    //         return new Rubvar();
    //     }

    //     try
    //     {
    //         var plan = new Plngen()
    //         {

    //         }
    //     }

    // }
    // Rubvar 5CreateNewRubr(int nextSeq)
    // {
    //     return new Rubvar()
    //     {
    //         //Rowguid = Guid.NewGuid(),
    //         Idorg = curTiw.Idorg,
    //         Idpln = curTiw.Idpln,
    //         Torub = 0,
    //         Utyp = IMyAtr, //services
    //         Sigrid = 0, //est grille
    //         Gdact = 0, //declenche (ajt rubriq Actsaie)
    //         Ustyp = 0, //de base
    //         Tperi = 1, //toujours
    //         Liba = "",
    //         Abg = "",
    //         Refa = "",
    //         Ddval = 0,
    //         Dfval = 0,
    //         Eaut = 0, //supprimable
    //         Belea = nextSeq,
    //         Rtyp = 4,
    //         Eint = 0,
    //         Eta = 1,
    //         Xadd1 = -1, //newly added
    //     };
    // }
    // Rubfmt CreateNewFmat(int nextSeq)
    // {
    //     //parent == null ||
    //     if (allEnable == false)
    //     {
    //         Imessage = "REFUS, Creation S/Rubrique indisponible";
    //         //Yames = true;
    //         return new Rubfmt();
    //     }
    //     return new Rubfmt()
    //     {
    //         //Rowguid = Guid.NewGuid(),
    //         Prowguid = curRubr.Rowguidrub,
    //         Idzon = nextSeq,
    //         Zcdrub = nextSeq.ToString(),
    //         Liba = "",
    //         Abg = "",
    //         Tperi = 1,
    //         Col = 1,
    //         Lne = 1,
    //         Ztyp = 4, //decimal
    //         //Belea = nextSeq, //a remplacer par Eint
    //         Eint = 0,
    //         Eta = 1,
    //         Xadd1 = -1,  //newly added
    //     };
    // }

    void IncludeTiw(Tiewel aglne)
    {
        // Use parent Idrub as key to gRubsMap dictionary
        var parentId = curOrga.Idorg;
        //bool YaPater = false;
        //YaPater = IsPaterValid(aglne);
        //if (!YaPater) return;
        Imessage = "";
        if (!curODContext.IsEntityTracked(aglne))
        {
            Console.WriteLine($"First enter of Include : {aglne.Id}");
            aglne.Xadd1 = -2;  //fin adding to be tracked in loaded rubfmts wait for new add
            curODContext.AddObject<Tiewel>("Tiewels", aglne);
            // Make sure gRubsMap has the parent key initialized
            if (!gTiwsMap.ContainsKey(parentId))
            {
                gTiwsMap[parentId] = new List<Tiewel>();
            }
            // Add only if the poste with same Rowguid not already present
            if (!gTiwsMap[parentId].Any(p => p.Idorg == aglne.Idorg))
            {
                gTiwsMap[parentId].Add(aglne);
            }
            //Console.WriteLine("BEFORE SAVED");
            //curODContext.SaveDataAsync();
            addingTiwRowGuid = Guid.Empty;
            curOrga.Tiewels.Add(aglne);
            siTiwAdding = false;
            StateHasChanged();
            Imessage = "Success... tiers ajoute";
        }
        else
        {
            aglne.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }
        siTiwAdding = false;
    }
    // void IncludeRubr(Rubvar aglne)
    // {
    //     // Use parent Idrub as key to gRubsMap dictionary
    //     var parentId = curTiw.Idpln;
    //     bool YaChild = false;
    //     YaChild = IsChildValid(aglne);
    //     if (!YaChild) return;
    //     if (!curODContext.IsEntityTracked(aglne) && YaChild)
    //     {
    //         aglne.Xadd1 = -2;  //fin adding to be tracked in loaded rubfmts wait for new add
    //         curODContext.AddObject("Rubvars", aglne);
    //         // Make sure gRubsMap has the parent key initialized
    //         if (!gRubsMap.ContainsKey(parentId))
    //         {
    //             gRubsMap[parentId] = new List<Rubvar>();
    //         }
    //         // Add only if the poste with same Rowguid not already present
    //         if (!gRubsMap[parentId].Any(p => p.Id == aglne.Id))
    //         {
    //             gRubsMap[parentId].Add(aglne);
    //         }
    //         AddingRubRowGuid = Guid.Empty;
    //         curTiw.Rubvars.Add(aglne);
    //         siRubAdding = true;
    //         StateHasChanged();
    //         Imessage = "Success... Rubrique ajoutee";
    //     }
    //     else
    //     {
    //         aglne.Xadd1 = 0;
    //         Imessage = "Deja ajoute";
    //     }
    //     isRubCodeValid = false;
    //     siRubAdding = false;
    // }
    // void IncludeFmat(Rubfmt aglne)
    // {
    //     // scdrub not must be empty
    //     // Use parent Idrub as key to gRubsMap dictionary
    //     var parentId = curRubr.Idrub;
    //     bool YaGson = false;
    //     YaGson = IsGsonValid(aglne);
    //     if (!YaGson) return;
    //     if (!curODContext.IsEntityTracked(aglne) && YaGson)
    //     {
    //         aglne.Xadd1 = -2;  //fin adding to be tracked in loaded rubfmts wait for new add
    //         curODContext.AddObject("Rubfmts", aglne);
    //         // Make sure gRubsMap has the parent key initialized
    //         if (!gFmtsMap.ContainsKey(parentId))
    //         {
    //             gFmtsMap[parentId] = new List<Rubfmt>();
    //         }
    //         // Add only if the poste with same Rowguid not already present
    //         if (!gFmtsMap[parentId].Any(p => p.Idrub == aglne.Idrub))
    //         {
    //             gFmtsMap[parentId].Add(aglne);
    //         }
    //         AddingFmtRowGuid = Guid.Empty;
    //         curRubr.Rubfmts.Add(aglne);
    //         Console.WriteLine($"nwgsn nb : {GfmtNewRows.Count}");
    //         siFmtAdding = true;
    //         StateHasChanged();
    //         Imessage = "Success... S/rubrique ajoute";
    //     }
    //     else
    //     {
    //         aglne.Xadd1 = 0;
    //         Imessage = "Deja ajoute";
    //     }
    //     isRubCodeValid = false;
    //     siRubAdding = false;
    // }

    //GTfl -- EDITING
    void PromptTiwEdit(Tiewel mytiw)
    {
        mytiw.Xedt1 = 0;
        editingTiw = mytiw;
        draftTiw = new Tiewel
        {
            Rowguid = mytiw.Rowguid,
            Idorg = mytiw.Idorg,
            Ihie = mytiw.Ihie,
            Ipst = mytiw.Ipst,
            Utyp = mytiw.Utyp,
            Xmatri = mytiw.Xmatri,
            Nom = mytiw.Nom,
            Pnom = mytiw.Pnom,
            Eta = mytiw.Eta,
            Tseq = mytiw.Tseq,
            //Belea = mytiw.Belea,
            Xadd1 = mytiw.Xadd1, //newly added
            // Copy other fields as necessary
        };
        //init edition
        mytiw.Xedt1 = -1;
        editingTiwRowGuid = mytiw.Rowguid;
        //isEdingMan = true;
    }
    // void PromptRubEdit(Rubvar myrub)
    // {
    //     //init edition
    //     myrub.Xedt1 = 0;
    //     editingRub = myrub;
    //     //isEdingLne = true;
    //     draftRub = new Rubvar
    //     {
    //         Rowguid = myrub.Rowguid,
    //         Ipln = myrub.Id,
    //         Idorg = myrub.Idorg,
    //         Torub = myrub.Torub,
    //         Utyp = myrub.Utyp, //services
    //         Sigrid = myrub.Sigrid, //est grille
    //         Gdact = myrub.Gdact, //declenche (ajt rubriq Actsaie)
    //         Ustyp = myrub.Ustyp, //de base
    //         Tperi = myrub.Tperi, //toujours
    //         Liba = myrub.Liba,
    //         Refa = myrub.Xcod,
    //         Abg = myrub.Abg,
    //         Ddval = myrub.Ddval,
    //         Dfval = myrub.Dfval,
    //         Eaut = myrub.Eaut, //supprimable
    //         Belea = myrub.Belea,
    //         Rtyp = myrub.Rtyp,
    //         Eint = myrub.Eint,
    //         Eta = myrub.Eta,
    //         Xadd1 = myrub.Xadd1, //newly added
    //         // Copy other fields as necessary
    //     };
    //     //init edition
    //     myrub.Xedt1 = -1;
    //     EditingRubRowGuid = myrub.Rowguid;
    // }
    // void PromptFmtEdit(Rubfmt myfmt)
    // {
    //     myfmt.Xedt1 = 0;
    //     editingFmt = myfmt;
    //     draftFmt = new Rubfmt
    //     {
    //         Rowguid = myfmt.Rowguid,
    //         Idrub = myfmt.Idrub,
    //         Idzon = myfmt.Idzon,
    //         Zcdrub = myfmt.Zcdrub,
    //         Liba = myfmt.Liba,
    //         Abg = myfmt.Abg,
    //         Tperi = myfmt.Tperi,
    //         Col = myfmt.Col,
    //         Lne = myfmt.Lne,
    //         Ztyp = myfmt.Ztyp,
    //         //Belea =myfmt.Belea,
    //         Eint = myfmt.Eint, //a remplacer par Eint
    //         Eta = myfmt.Eta,
    //         Xadd1 = myfmt.Xadd1,  //newly added
    //     };
    //     //init editionti
    //     myfmt.Xedt1 = -1;
    //     EditingFmtRowGuid = myfmt.Rowguid;
    //     //isEdingMan = true;
    // }
    void CancEdingTiw(Tiewel mytiw)
    {
        mytiw.Xedt1 = 0;
        //isEdingMan = false;
        editingTiw = new();
        draftTiw = new();
        editingTiwRowGuid = Guid.Empty;
    }
    // void CancEdingRub(Rubvar myrub)
    // {
    //     myrub.Xedt1 = 0;
    //     //isEdingMan = false;
    //     editingRub = null;
    //     draftRub = null;
    //     EditingRubRowGuid = Guid.Empty;
    // }
    // void CancEdingFmt(Rubfmt myfmt)
    // {
    //     myfmt.Xedt1 = 0;
    //     //isEdingMan = false;
    //     editingFmt = null;
    //     draftFmt = null;
    //     EditingFmtRowGuid = Guid.Empty;
    // }
    void ConfEdingTiw(Tiewel mytiw)
    {
        if (editingTiw is not null)
        {
            editingTiw.Rowguid = mytiw.Rowguid;
            editingTiw.Idorg = mytiw.Idorg;
            editingTiw.Ihie = mytiw.Ihie;
            editingTiw.Ipst = mytiw.Ipst;
            editingTiw.Utyp = mytiw.Utyp;
            editingTiw.Xmatri = mytiw.Xmatri;
            editingTiw.Nom = mytiw.Nom;
            editingTiw.Pnom = mytiw.Pnom;
            editingTiw.Eta = mytiw.Eta;
            editingTiw.Tseq = mytiw.Tseq;
            //editingTiw.Belea = mytiw.Belea;
            editingTiw.Xadd1 = mytiw.Xadd1; //newly added
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingTiw))
            {
                curODContext.AttachTo("Tiewels", editingTiw);
            }
            curODContext.UpdateObject(editingTiw);
        }
        mytiw.Xedt1 = 0;
        //isEdingMan = false;
        editingTiw = null;
        editingTiwRowGuid = Guid.Empty;
    }
    private void PromptTiwDelete(Tiewel item)
    {
        ConfirmingTieDeleteRowGuid = item.Rowguid;
    }
    private void CancelTiwDelete()
    {
        ConfirmingTieDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmTiwDelete(Tiewel row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        //Plngen svRow = row;
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        //curTiw.Rubvars.ToList().RemoveAll(rf => rf.Idpln == svRow.Idpln);
        //curOrga.Plngens.Remove(svRow); // Remove from tracked collection
        //List<Plngen> nwrows = MyDaPlans;
        //nwrows.Remove(row);
        //MyDaPlans = nwrows;
        curOrga.Tiewels.Remove(row); // Remove from tracked collection
        editingTiwRowGuid = Guid.Empty;
        ConfirmingTieDeleteRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    // private void PromptRubDelete(Rubvar item)
    // {
    //     ConfirmingRubDeleteRowGuid = item.Rowguid;
    // }
    // private void CancelRubDelete()
    // {
    //     ConfirmingRubDeleteRowGuid = Guid.Empty;
    // }
    // private void ConfirmRubDelete(Rubvar row)
    // {
    //     var parent = curTiw;
    //     Console.WriteLine($"Parent may be found : {parent.Idpln}");
    //     if (parent == null)
    //         return;
    //     Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Idpln}");
    //     Rubvar svRow = row;
    //     // For existing rows: mark for OData deletion and remove locally
    //     if (curODContext.IsEntityTracked(row))
    //     {
    //         curODContext.DeleteObject(row); // Mark for deletion in OData context
    //     }
    //     else
    //     {
    //         curODContext.Detach(row); // Mark for deletion in OData context
    //     }
    //     curRubr.Rubfmts.ToList().RemoveAll(rf => rf.Idrub == svRow.Idrub);
    //     curTiw.Rubvars.Remove(svRow);
    //     EditingRubRowGuid = Guid.Empty;
    //     ConfirmingRubDeleteRowGuid = Guid.Empty;
    //     StateHasChanged(); // Notify UI about changes
    // }
    // private void PromptFmtDelete(Rubfmt item)
    // {
    //     ConfirmingFmtDeleteRowGuid = item.Rowguid;
    // }
    // private void CancelFmtDelete()
    // {
    //     ConfirmingFmtDeleteRowGuid = Guid.Empty;
    // }
    // private void ConfirmFmtDelete(Rubfmt row)
    // {
    //     var parent = curRubr;
    //     if (parent == null)
    //         return;
    //     Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Idrub}");
    //     Rubfmt svRow = row;
    //     // For existing rows: mark for OData deletion and remove locally
    //     if (curODContext.IsEntityTracked(row))
    //     {
    //         curODContext.DeleteObject(row); // Mark for deletion in OData context
    //     }
    //     else
    //     {
    //         curODContext.Detach(row); // Mark for deletion in OData context
    //     }
    //     curRubr.Rubfmts.Remove(svRow); // Remove from tracked collection
    //     EditingFmtRowGuid = Guid.Empty;
    //     ConfirmingFmtDeleteRowGuid = Guid.Empty;
    //     StateHasChanged(); // Notify UI about changes
    // }

    //ADDING modals
    private async Task AnuTiwModal()
    {
        foreach (var enty in TiwlNewRows)
        {
            if (curODContext.GetEntityState(enty) == EntityStates.Added)
            {
                curOrga.Tiewels.Remove(enty);
                curODContext.Detach(enty);
            }
        }
        siTiwAdding = false;
        await plnModal.HideAsync();
    }
    // private async Task AnuRubModal()
    // {
    //     foreach (var enty in GrubNewRows)
    //     {
    //         if (curODContext.GetEntityState(enty) == EntityStates.Added)
    //         {
    //             curTiw.Rubvars.Remove(enty);
    //             curODContext.Detach(enty);
    //         }
    //     }
    //     await rubModal.HideAsync();
    // }
    // private async Task AnuFmtModal()
    // {
    //     foreach (var enty in GfmtNewRows)
    //     {
    //         if (curODContext.GetEntityState(enty) == EntityStates.Added)
    //         {
    //             curRubr.Rubfmts.Remove(enty);
    //             curODContext.Detach(enty);
    //         }
    //     }
    //     await fmtModal.HideAsync();
    // }
    private async Task ConfTiwModal()
    {
        SaveCurEntities();
        Imessage = "Programme(s) SAVED";
        await plnModal.HideAsync();
        allEnable = false;
        siTiwAdding = false;
        StateHasChanged();
    }
    // private async Task ConfRubModal()
    // {
    //     SaveCurEntities();
    //     Imessage = "Programme/Rubrique(s) SAVED";
    //     await rubModal.HideAsync();
    //     allEnable = false;
    //     StateHasChanged();
    // }
    // private async Task ConfFmtModal()
    // {
    //     SaveCurEntities();
    //     Imessage = "Programme/Rubrique/format(s) SAVED";
    //     await fmtModal.HideAsync();
    //     allEnable = false;
    //     StateHasChanged();
    // }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        //transmis par 2
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        //LsTabls = toChild.LsTabls.ToList();
        LsPTyps = LsFixes.Where(uf => uf.Gvars == 34 && uf.Itb == 4 && uf.Gp2 == 1 && uf.Elea != 0).ToList();
        LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsPDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsAtrs = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 1 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 4 && ut.Elea != 0).ToList();
        _lsDivs = toChild.LsDivs.Where(uh => uh.Sidiv == 1).ToList();
        _navmanager.LocationChanged += OnLocationChanged;
        await ChargeParentData();
        isLoading = false;
    }
    private async Task ChargeParentData()
    {
        atrTitle = "Saisie";
        gTiwsMap.Clear();
        // gRubsMap.Clear();
        // gFmtsMap.Clear();
        gTiwsMap[curOrga.Idorg] = new List<Tiewel>(curOrga.Tiewels.Where(uf => uf.Idorg == curOrga.Idorg));
        // foreach (var uta in curOrga.Plngens)
        // {
        //     List<Rubvar> tbcols = curTiw.Rubvars.Where(ln => ln.Idpln == uta.Idpln).ToList();
        //     gRubsMap[uta.Id] = new List<Rubvar>(tbcols);
        //     //Console.WriteLine($"Parent Xseq: {uta.Xseq}, Children count: {tbcols.Count}");
        // }
        //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 5 && pl.Totyp == IMyAtr).ToList();
        //MyDaPlans = wrkplns;
        //LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 1 && ut.Elea != 0).ToList();
    }

    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        editingTiwRowGuid = Guid.Empty;
        // EditingRubRowGuid = Guid.Empty;
        // EditingFmtRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        editingTiwRowGuid = Guid.Empty;
        // EditingRubRowGuid = Guid.Empty;
        // EditingFmtRowGuid = Guid.Empty;
        foreach (var enty in curODContext.Context.Entities.ToList())
        {
            if (curODContext.GetEntityState(enty) == EntityStates.Added)
            {
                curODContext.Detach(enty);
            }
        }
        Imessage = "";
    }
    public async Task SavAll()
    {
        allEnable = false;
        editingTiwRowGuid = Guid.Empty;
        // EditingRubRowGuid = Guid.Empty;
        // EditingFmtRowGuid = Guid.Empty;
        SaveCurEntities();
        StateHasChanged();
    }

    //FILTRES
    private void ToggleTiwFiltering()
    {
        isTiwFilteringEnabled = !isTiwFilteringEnabled;
    }
    // private void ToggleRubFiltering()
    // {
    //     isRubFilteringEnabled = !isRubFilteringEnabled;
    // }
    // bool AreRowsEqual(Rubvar row1, Rubvar row2) =>
    //     row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    // private void ToggleFiltering()
    // {
    //     isTiwFilteringEnabled = !isTiwFilteringEnabled;
    // }
    //PLAN Formule modals
    // private void On1TwChange(ChangeEventArgs e, Tiewel mytiw, int origchk)
    // { //chge all valid

    //     bool isChecked = (bool)e.Value;
    //     if (origchk == 1)
    //     { //chk Valid
    //         mytiw.Ivalid = isChecked ? 9 : 0;
    //         if (isChecked)
    //         {
    //             mytiw.IsValCheck = true;
    //             //mytiw.IsRejCheck = false;
    //         }
    //         // else
    //         // {
    //         //     mytiw.IsValCheck = false;
    //         // }
    //         Console.WriteLine($"Valid in Da checked {mytiw.Ivalid} et {mytiw.IsValCheck} / {mytiw.IsRejCheck}");
    //     }
    //     if (origchk == 2)
    //     { //chk Rejet
    //         mytiw.Irejet = isChecked ? 9 : 0;
    //         if (isChecked)
    //         {
    //             mytiw.IsRejCheck = true;
    //         }
    //         // else
    //         // {
    //         //     mytiw.IsRejCheck = false;
    //         // }
    //         Console.WriteLine($"Rejet in Da checked {mytiw.Inotif} et {mytiw.IsRejCheck} / {mytiw.IsValCheck}");
    //     }
    //     if (origchk == 3)
    //     { //chk Notif
    //         mytiw.Inotif = isChecked ? 9 : 0;
    //         if (isChecked)
    //         {
    //             mytiw.IsNotCheck = true;
    //         }
    //         // else
    //         // {
    //         //     mytiw.IsNotCheck = false;
    //         // }
    //         Console.WriteLine($"Notig in Da checked {mytiw.Inotif} et {mytiw.IsNotCheck}");
    //     }
    //     StateHasChanged();
    // }

    //RUBR Formule modals
    // void showFrrubModal(Rubvar myrub)
    // {
    //     rstrFormu = "";
    //     if (!String.IsNullOrEmpty(myrub.Frsource))
    //     {
    //         rstrFormu = myrub.Liba.Substring(0, 8);
    //     }
    //     curRubr = myrub;
    //     rForuModal?.ShowAsync();
    // }
    // //FMT Formule modals
    // void showFrfmtModal(Rubfmt myfmt)
    // {
    //     fstrFormu = "";
    //     if (!String.IsNullOrEmpty(myfmt.Ftsource))
    //     {
    //         fstrFormu = myfmt.Liba.Substring(0, 8);
    //     }
    //     curFmat = myfmt;
    //     gForuModal?.ShowAsync();
    // }
    private async Task OuvrirFiche()
    {
        isFicheVisible = !isFicheVisible;
        if (isFicheVisible)
        {
            stopenFich = "FermerRecepisse";
        }
        else
        {
            stopenFich = "OuvrirRecepisse";
        }
    }
    private bool IsPaterValid(Plngen mypl)
    {
        int ercpt = 0;
        patTitle = patInitTitle;
        if (string.IsNullOrEmpty(mypl.Liba))
        {
            patTitle = patTitle + "Obligatoire Designation";
            ercpt = ercpt + 1;
        }
        if (mypl.Idorg == 0)
        {
            patTitle = patTitle + "Obligatoire Institution";
            ercpt = ercpt + 1;
        }
        if (ercpt > 0)
        {
            patTitle = "!%2.REFUS, erreur saisie Plan(s)%! " + patTitle;
            return false;
        }
        return true;
    }
    // private bool IsChildValid(Rubvar myrb)
    // {
    //     int ercpt = 0;
    //     chlTitle = chlInitTitle;
    //     if (string.IsNullOrEmpty(myrb.Liba))
    //     {
    //         chlTitle = chlTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (isRubCodeValid = false) //verifie scdrub
    //     {
    //         chlTitle = chlTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myrb.Idpln == 0)
    //     {
    //         chlTitle = chlTitle + "Obligatoire programme";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         chlTitle = "!%2.REFUS, erreur saisie Rubrique(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }
    // private bool IsGsonValid(Rubfmt myft)
    // {
    //     int ercpt = 0;
    //     gsnTitle = gsnInitTitle;
    //     if (string.IsNullOrEmpty(myft.Liba))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (string.IsNullOrEmpty(myft.Zcdrub))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myft.Idrub == 0)
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire rubrique";
    //         ercpt = ercpt + 1;
    //     }
    //     int existsrow = GfmtNewRows.Where(ur => ur.Idzon == myft.Idzon).Count();
    //     if (existsrow > 0)
    //     {
    //         gsnTitle = gsnTitle + "Code existe deja";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         gsnTitle = "!%2.REFUS, erreur saisie Format(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }
    // private bool IsChildValid(Rubvar myrb)
    // {
    //     int ercpt = 0;
    //     chlTitle = chlInitTitle;
    //     if (string.IsNullOrEmpty(myrb.Liba))
    //     {
    //         chlTitle = chlTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (isRubCodeValid = false) //verifie scdrub
    //     {
    //         chlTitle = chlTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myrb.Idpln == 0)
    //     {
    //         chlTitle = chlTitle + "Obligatoire programme";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         chlTitle = "!%2.REFUS, erreur saisie Rubrique(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }
    // private bool IsGsonValid(Rubfmt myft)
    // {
    //     int ercpt = 0;
    //     gsnTitle = gsnInitTitle;
    //     if (string.IsNullOrEmpty(myft.Liba))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire designation";
    //         ercpt = ercpt + 1;
    //     }
    //     if (string.IsNullOrEmpty(myft.Zcdrub))
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire code";
    //         ercpt = ercpt + 1;
    //     }
    //     if (myft.Idrub == 0)
    //     {
    //         gsnTitle = gsnTitle + "Obligatoire rubrique";
    //         ercpt = ercpt + 1;
    //     }
    //     int existsrow = GfmtNewRows.Where(ur => ur.Idzon == myft.Idzon).Count();
    //     if (existsrow > 0)
    //     {
    //         gsnTitle = gsnTitle + "Code existe deja";
    //         ercpt = ercpt + 1;
    //     }
    //     if (ercpt > 0)
    //     {
    //         gsnTitle = "!%2.REFUS, erreur saisie Format(s)%! " + gsnTitle;
    //         return false;
    //     }
    //     return true;
    // }

    // private void SelDomPlan(int orig)
    // {
    //     if (orig == 1) //doms
    //     {
    //         if (IMyDom != 0)
    //         {
    //             if (IMyDom == 7) //matiere
    //             {
    //                 LsGties = LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 6 && ut.Gp1 == 1 && ut.Gp2 != 1 && ut.Elea != 0).ToList();
    //                 LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 6 && ut.Gp1 == 2 && ut.Elea != 0).ToList();
    //             }
    //             else //tiers
    //             {
    //                 LsGties = LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 6 && ut.Gp1 == 1 && ut.Gp2 != 2 && ut.Elea != 0).ToList();
    //                 LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 6 && ut.Gp1 == 1 && ut.Elea != 0).ToList();
    //             }
    //         }
    //         else
    //         {
    //             LsVues = new List<Gpfixe>();
    //         }
    //     }
    //     if (orig == 2) //gtiers
    //     {
    //         if (IMyGtie != 0 && IMyDom != 0)
    //         {
    //             if (IMyDom != 0)
    //             {
    //                 //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == IMyDom && pl.Totyp == IMyGtie));
    //             }
    //         }
    //         else
    //         {
    //             //MyDaPlans = new();
    //         }
    //     }
    //     if (orig == 4)
    //     {
    //         if (IMyGpln != 0)
    //         {
    //             if (IMyGtie != 0 && IMyDom != 0)
    //             {
    //                 //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == IMyDom && pl.Totyp == IMyGtie));
    //             }
    //         }
    //         else
    //         {
    //             //MyDaPlans = new();
    //         }
    //     }
    // }
    private void SelTypPlan(int xtyp)
    {
        // switch(xtyp)
        // {
        //     case 2:
        //     case 3:
        //     case 4:

        // }
    }
    private void SelPlanAtr(int xatr)
    {

    }
    private void SelPlanDom(int xdom)
    {
        if (xdom != 0)
        {
            LsGties = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == xdom && ut.Elea != 0 && ut.Elea != 9).ToList();
        }
        else
        {
            LsGties = new();
        }
    }
    void GetSelectedSite(Gpdivh mysit)
    {
        toChild.MainOptsOk = false;
        if (IMySite != 0)
        {
            toChild.MainOptsOk = true;
            //toChild.curExo = EnsExos.Where(ue => ue.Iexo == froMenu.Uexo).FirstOrDefault();
            StateHasChanged();
        }
    }
    // if (IMyGtie != 0 && IMyDom != 0)
    // {
    //     if (IMyDom != 0)
    //     {
    //         //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == IMyDom && pl.Totyp == IMyGtie));
    //     }
    // }
    // else
    // {
    //     //MyDaPlans = new();
    // }
    // if (IMyGpln != 0)
    // {
    //     if (IMyGtie != 0 && IMyDom != 0)
    //     {
    //         //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Todom == IMyDom && pl.Totyp == IMyGtie));
    //     }
    // }
    // else
    // {
    //     //MyDaPlans = new();
    // }
    //}
    private void SelPlanTier(int xtie)
    {

    }
    private void SelPlanVue(int xvue)
    {

    }
    private void OnInRubPost(GridRowEventArgs<Rubvar> args)
    {
        var mypst = (Rubvar)args.Item;
        //other code
    }

    private string GetCodeStyle()
    {
        return "width:50%;";
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    // private void OnChlBlurHandler(Plngen mypl, Rubvar myvar)
    // {
    //     Console.WriteLine("ATTENTION : En Blur....");
    //     isRubCodeValid = HandleChlInput(mypl, myvar);
    //     Imessage = $"OnBlur active : {isRubCodeValid}";
    //     // Optionally trigger UI refresh or logging
    // }
    // private void OnChlFocusHandler(Plngen mypl, Rubvar myvar)
    // {

    // }

    // private bool HandleChlInput(Plngen mypl, Rubvar myvar)
    // {
    //     var input = myvar.Scdrub?.Trim();
    //     Jmessage = "";
    //     Console.WriteLine($"code entre traiter {input}");
    //     // Basic null/empty check
    //     if (string.IsNullOrEmpty(input))
    //     {
    //         Jmessage = "Le code est requis.";
    //         return false;
    //     }
    //     // Explicit length check
    //     if (input.Length != _lgcdu)
    //     {
    //         Jmessage = $"Le code doit contenir exactement {_lgcdu} chiffres.";
    //         return false;
    //     }
    //     // Digit-only check/No de poste peut ne pas etre numerique
    //     if (!Regex.IsMatch(input, @"^[0-9]+$")) // @"^[a-zA-Z0-9_\-\/\\|{}]+$"))
    //     {
    //         //(!Regex.IsMatch(input, @"^\d+$")) /numeric
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9]+$")) /alphanumeric strict
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]+$") /add some others characters
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{6}$")) //limit number to 6
    //         //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{4,10}$")) //limit a range 4-10
    //         Jmessage = "Le code ne doit contenir que des chiffres.";
    //         return false;
    //     }
    //     // Uniqueness check
    //     var exists = mypl.Rubvars?.Any(uva => uva.Scdrub == input) ?? false;
    //     if (exists)
    //     {
    //         Jmessage = "Ce code rubrique existe déjà.";
    //         return false;
    //     }
    //     return true;
    // }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        SaveCurEntities();
    }
    public async Task<bool> SaveCurEntities()
    {
        try
        {
            //if (hasbeenModified)
            //{
            await curODContext.SaveDataAsync();
            Console.WriteLine("Saved SUCCESS");
            //}
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
            return true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Saved ISSUE {ex.Message}");
            //Alert($"ECHEC Entities not SAVED");
            return false;
        }
    }
}

