@page "/repareg"
@using System
@using System.Text
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using System.Security.Claims
@using GxTier.Services
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Forms
@using GxShared.GlobModels
@using System.Text.Json

@inject IHttpClientFactory httpfacClient
@inject NavigationManager _navmanager

<PageTitle>Rattrapage</PageTitle>

<h1>Rattrapage</h1>

@if (errors == true)
{
    foreach (var error in errorList)
    {
        <div class="alert alert-danger">@error</div>
    }
}
@if (success == true)
{
    <div class="alert alert-success">@successmsg</div>
}
<AuthorizeView>
    <Authorized>
        <EditForm Context="regform" Model="@regModel">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label for="raison">Raison:</label>
                @if (_siProprio)
                {
                    <InputText id="raison" required @bind-Value="regModel.Raison" />
                }
                else
                {
                    <label class="bg-danger bg-opacity-10">@regModel.Raison</label>
                }
            </div>
            <div>
                <label for="sigle">Sigle:</label>
                @if (_siProprio)
                {
                    <InputText id="sigle" required @bind-Value="regModel.Stsigle" />
                }
                else
                {
                    <label class="bg-danger bg-opacity-10">@regModel.Stsigle</label>
                }
            </div>
            <div>
                <label>-----</label>
            </div>
            @if (success == false)
            {
                <div>
                    <label for="ouid">User Id:</label>
                    <InputText id="ouid" required @bind-Value="regModel.Usrid" />
                </div>
                <div>
                    <label>Orga Id: @regModel.Idorg</label>
                </div>
                <div>
                    <label>@regModel.Nom</label>
                </div>
                <div>
                    <label>@regModel.Pnom</label>
                </div>
                <div>
                    <label>@regModel.Stdoma</label>
                </div>
                <div>
                    <label>@regModel.Email</label>
                </div>
                <div>
                    @if (isLoading)
                    {
                        <p>Registring (PATIENCE!...)</p>
                    }
                    else
                    {
                        <div>Rattrapage pour @regModel.Idorg</div>
                        if (!success)
                        {
                            <button class="btn btn-primary" type="submit" @onclick="DoRegisterAsync">
                                PreparerRegister
                            </button>
                        }
                        @if (regModel.IsPret)
                        {
                            <button class="btn btn-success" type="submit" @onclick="RattraperAsync">
                                RattraperRegister
                            </button>
                        }
                    }
                </div>
            }
            else
            {
                <div class="alert alert-success">@successmsg</div>
            }
        </EditForm>
    </Authorized>
</AuthorizeView>

@code {
    private bool isLoading = false, errors = false, success = false;
    private string successmsg = "";
    private List<string> errorList = new List<string>();

    private string UserLogged = "";
    private RegisterModel regModel = new RegisterModel();
    private HttpClient _apiClient;
    private bool _siProprio = false;

    //Authentication
    private bool isAuthenticated = false;
    private ClaimsPrincipal authUser;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    //public string _UserId = "";
    //public int _UorgId = 0;
    protected override async Task OnInitializedAsync()
    {
        //var testbaseAddress = _navmanager.BaseUri.TrimEnd('/');
        //Console.WriteLine($"BASEURI is {testbaseAddress}");
        errors = false; success = false; successmsg = ""; isLoading = false;
        regModel.IsPret = false;
        var authState = await AuthState;
        claims = authState.User.Claims;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication ECHEC");
            return;
        }
        claims = authUser.Claims;
        //_UserId = authUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        //_UorgId = await _localStorage.GetItemAsync<int>("blazOrgid");
        _apiClient = httpfacClient.CreateClient("OFFLClient");
        //var uri = navmanager.ToAbsoluteUri(navmanager.Uri);
        //Console.WriteLine("Entree de registration:");
        Console.Write("Zone table");
        //Console.WriteLine(_myCatal.First().domas.F().Liba);
        //await RendsQueryString();
        //return mdData;
        //yCatal = //await myauthenprov.RendClieTbls();
    }
    public async Task DoRegisterAsync()
    {
        await RendsQueryString();
        errors = false; success = false; isLoading = true;
        Console.WriteLine($" model{regModel.Pnom } et {regModel.Phonenumber}");
        if (string.IsNullOrWhiteSpace(regModel.Usrid))
        {
            errors = true;
            errorList.Add("User Id is required.");
            return;
        }
        bool sibien = await VerifConcordances(regModel); //IsPret
        if (!regModel.IsPret)
        {
            successmsg = "";
            errorList.Add($"3z!... Error.");
            errors = true; success = false;
            return;
        }
        isLoading = false;
        StateHasChanged();
    }
    public async Task RattraperAsync()
    {
        try
        {
            regModel.IsPret = false;
            isLoading = true;
            Console.WriteLine("PARTI POUR ENREGISTREMENT");
            //recuperer baseAddress of the blazor
            //var baseAddress = _navmanager.BaseUri.TrimEnd('/');
            //regModel.BlzAddress = baseAddress;

            var response = await _apiClient.PostAsJsonAsync("lgauth/ratrap", regModel);
            if (response.IsSuccessStatusCode)
            {
                var usrdata = await response.Content.ReadFromJsonAsync<RegisterResult>();
                if (usrdata != null)
                {
                    UserLogged = regModel.Email;
                    //errorList = [];
                    successmsg = "SUCCES...Consultez votre boite email pour confirmation de votre enregistrement sur le siteweb du logiciel.";
                    success = true; isLoading = false; errors = false;
                    isLoading = false;
                    return;
                    //_navmanager.NavigateTo("/");
                }
                else
                {
                    successmsg = "";
                    errorList.Add("31ECHEC ENREGISTREMENT!... (le mot de passe : au moins 6 caracteres, au moins un caractere en minuscule, un caractere special comme @, un caractere majuscule, un chiffre...) Re-essayez/support.");
                    errors = true; success = false;
                    Console.WriteLine("VERS VERS 17");
                    isLoading = false;
                    return;
                }
            }
            else
            {
                successmsg = "";
                errorList.Add("32ECHEC CALL!...  support pour call.");
                var usrdata = await response.Content.ReadFromJsonAsync<LoginResult>();
                if (usrdata != null)
                {
                    foreach (var era in usrdata.ErrList)
                    {
                        errorList.Add(era);
                    }
                }
                errors = true; success = false;
                Console.WriteLine($"VERS VERS 18 {errorList}");
                isLoading = false;
                return;
            }
        }
        catch (Exception ex)
        {
            successmsg = "";
            errorList.Add($"Remplissage formulaire peu concordant. {ex.Message}");
            errors = true; success = false;
            Console.WriteLine("VERS VERS 19");
            isLoading = false;
            return;
        }
    }
    public async Task RendsQueryString()
    {
        int ist = 0;
        try
        {
            var uri = _navmanager.ToAbsoluteUri(_navmanager.Uri);
            regModel.CodInvit = uri.ToString();
            //pour validation du regModel
            regModel.Password = "Abpeb@58lgm";
            regModel.ConfirmPassword = "Abpeb@58lgm";
            regModel.Username = "bazmath";
            var inqry = uri.Query;
            //decode A
            var outquery = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
            Console.WriteLine($" query out : {outquery}");
            Dictionary<string, string> queryParams = new Dictionary<string, string>();
            ist = 1;
            if (outquery.TryGetValue("cdlnk", out var encodlnk))
            {
                Console.WriteLine($"ICICICI : {encodlnk}");
                // If encodlnk is further encoded, decode it here
                var decodedBytes = WebEncoders.Base64UrlDecode(encodlnk);
                var query = Encoding.UTF8.GetString(decodedBytes);
                ist = 2;
                queryParams = query
                    .Split('&')
                    .Select(pair => pair.Split('='))
                    .Where(keyValue => keyValue.Length == 2)
                    .ToDictionary(keyValue => Uri.UnescapeDataString(keyValue[0]), keyValue => Uri.UnescapeDataString(keyValue[1]));
                Console.WriteLine($" query in : {query} queryParams : {queryParams}");
                regModel.ICoda = queryParams["icoda"];
                Console.WriteLine($"RECU CODE : {regModel.ICoda}");
                ist = 3;
                DateTime.TryParse(queryParams["datcde"], out DateTime cddate);
                regModel.Datope = cddate;  //Convert.ToDateTime(queryParams["datcde"]);
                int.TryParse(queryParams["orig"], out int IntQry);
                regModel.Orig = IntQry;
                ist = 4;
                regModel.Tqsrole = queryParams["tqsrole"];
                regModel.Nom = queryParams["toqnom"];
                regModel.Pnom = queryParams["toqpnoms"];
                regModel.Raison = queryParams["straison"];
                regModel.Stsite = queryParams["stsite"];
                regModel.Stdoma = queryParams["stdoma"];
                regModel.Stsigle = queryParams["stsigle"];
                regModel.DeqEmail = queryParams["deqmail"];
                regModel.Deqid = queryParams["deqid"];
                regModel.Email = queryParams["toqmail"];
                regModel.Phonenumber = queryParams["phone"];
                regModel.Glang = queryParams["toqlang"];
                regModel.Dqsrole = queryParams["dqsrole"];
                ist = 5;
                int.TryParse(queryParams["ivorga"], out IntQry);
                regModel.Idorg = IntQry;
                int.TryParse(queryParams["dequi"], out IntQry);
                regModel.Dequi = IntQry;
                int.TryParse(queryParams["toqui"], out IntQry);
                regModel.Toqui = IntQry;
                regModel.Utyp = IntQry;
                //int.TryParse(queryParams["typadm"], out IntQry);
                ///regModel.Atyp = IntQry;
                ist = 6;
                //regModel.Toqid = query["toqid"];
                int.TryParse(queryParams["opays"], out IntQry);
                regModel.CdePays = IntQry;
                int.TryParse(queryParams["typtie"], out IntQry);
                regModel.Utyp = IntQry;
                int.TryParse(queryParams["tqirole"], out IntQry);
                regModel.Tqirole = IntQry;
                regModel.Siowner = false;
                _siProprio = false;
                int.TryParse(queryParams["isowner"], out IntQry);
                if (IntQry == 1)
                {
                    regModel.Siowner = true;
                    _siProprio = true;
                }
                int.TryParse(queryParams["tysite"], out IntQry);
                regModel.Site = IntQry;

                int.TryParse(queryParams["tydoma"], out IntQry);
                regModel.Doma = IntQry;
                ist = 12;
                int.TryParse(queryParams["methp"], out IntQry);
                regModel.Methp = IntQry;
                int.TryParse(queryParams["isowner"], out IntQry);
                regModel.Siowner = false;
                regModel.Atyp = 0;
                if (IntQry == 1)
                {
                    regModel.Siowner = true;
                    regModel.Atyp = 1;
                }
                int.TryParse(queryParams["hiera"], out IntQry);
                regModel.Idhie = IntQry;
                int.TryParse(queryParams["nbalea"], out IntQry);
                regModel.Nbalea = IntQry; //nbalea = 11013946 & verif = kUlrubRm
                ist = 13;
            }
        }
        catch (Exception ex)
        {
            Console.Write($"mon ex erreur :/ {ist} /");
            Console.WriteLine(ex.Message);
        }
        finally
        {
            Console.Write("fin");
            Console.WriteLine(ist);
        }
    }
    private async Task<bool> VerifConcordances(RegisterModel regModel)
    {
        regModel.IsPret = true;

        return true;
    }
}
