@page "/rubechs"
@layout ArubMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _clieManager
@inject IJSRuntime _jsRun

<!-- InscTiewComponent.razor -->
<PageTitle>Prog.Grille</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Prog.Grille Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="fw-bold">Domaine :</label>
                <InputSelect @bind-Value="ItkDom" class="me-3" style="width:auto">
                    <option class="jchx" value="0">?domaine</option>
                    @foreach (var tob in LsDoms) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                    {
                        <option value="@tob.Gp2" @onclick="() => SelPlanDom(tob.Gp2)">@tob.Liba</option>
                    }
                </InputSelect>
                <label class="fw-bold">G.Tiers :</label>
                <InputSelect @bind-Value="IMyGtie" class="me-3" style="width:auto">
                    <option class="jchx" value="0">?gtiers</option>
                    @foreach (var tob in LsGties)
                    {
                        <option value="@tob.Elea" @onclick="() => SelPlanTier(tob.Elea)">@tob.Liba</option>
                    }
                </InputSelect>
                @* <label class="fw-bold">Attribut :</label>
                <InputSelect @bind-Value="IMyAtr" class="me-3" style="width:auto">
                    <option class="jchx" value="0">?util</option>
                    @foreach (var tob in LsAtrs) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                    {
                        <option value="@tob.Elea" @onclick="() => SelPlanAtr(tob.Elea)">@tob.Liba</option>
                    }
                </InputSelect> *@
                <label class="fw-bold">Base :</label>
                <InputSelect @bind-Value="IMyVue" class="me-3" style="width:auto">
                    <option class="jchx" value="0">?util</option>
                    @foreach (var tob in LsVues) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                    {
                        <option value="@tob.Gp2" @onclick="() => SelPlanVue(tob.Elea)">@tob.Liba</option>
                    }
                </InputSelect>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="row">
                            @if (!String.IsNullOrEmpty(Kmessage))
                            {
                                <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                            }
                        </div>
                        <div class="row">
                            @if (IMyDom != 0 && ItkDom != 0 && IMyGtie != 0 && IMyVue != 0)
                            {
                                <Grid TItem="Plngen"
                                      Data="@MyDaPlans.Where(vu => vu.Todom == IMyDom && vu.Todkt == ItkDom && vu.Totyp == IMyGtie &&  vu.Tovue == IMyVue)"
                                      @key="PlanRenderKey"
                                      AllowDetailView="true"
                                      AllowPaging="true"
                                      RowClass="@((item) => GetPlnRowClass(item))"
                                      Responsive="true">
                                    <GridColumns>
                                        <GridColumn TItem="Plngen" HeaderText="No" Class="xcol1">
                                            <ChildContent Context="item">
                                                @if (item.Xadd1 == -1)
                                                {
                                                    <span>@item?.Iui</span>
                                                }
                                                else
                                                {
                                                    <span>@(item.Xedt1 == -1 ? item?.Iui : (item?.Iui == 0 ? item?.Iele : item?.Iui))</span>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Designation" Class="xcol3">
                                            <ChildContent Context="item">
                                                @if (EdPlnRowguid == item.Rowguid)
                                                {

                                                    <InputText @bind-Value="draftPln.Liba" />
                                                }
                                                else
                                                {
                                                    @item.Liba
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="abrege" Class="xcol2">
                                            <ChildContent Context="item">
                                                @if (EdPlnRowguid == item.Rowguid)
                                                {

                                                    <InputText @bind-Value="draftPln.Abg" />
                                                }
                                                else
                                                {
                                                    @item.Abg
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Formule" Class="xcol1">
                                            <ChildContent Context="item">
                                                @if (EdPlnRowguid == item.Rowguid)
                                                { // show draftPln inputs
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                          @onclick="() => showFrPlnModal(draftPln, 1)">
                                                      <i class="bi bi-pencil-square"></i>
                                                      <span class="text-truncate flex-grow-1">@draftPln?.Fpsrc</span>
                                                  </Button>
                                                }
                                                else
                                                { // show item as read-only
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                          @onclick="() => showFrPlnModal(item, 2)">
                                                      <i class="bi bi-pencil-square"></i>
                                                      <span class="text-truncate flex-grow-1">@item.Fpsrc</span>
                                                  </Button>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Eta" Class="xcol1">
                                            <HeaderContent>
                                                @if (IMyDom != 0 && IMyGtie != 0 && IMyVue != 0)
                                                {
                                                    <button class="btn btn-primary btn-sm @(isAddPln || isEdtPln ? "disabled-action" : "")"
                                                            @onclick="StartPlnNew">
                                                        ➕ Add
                                                    </button>
                                                }
                                            </HeaderContent>
                                            <ChildContent Context="item">
                                                @if (EdPlnRowguid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftPln.Eta">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Eta" disabled="true">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Actions" Filterable="false" Class="xcol2 actions-col">
                                            <ChildContent Context="item">
                                                @switch (GetRowState(item.Rowguid))
                                                {
                                                    case RowState.Locked:
                                                        <span class="text-muted">—</span>
                                                        break;

                                                    case RowState.DeletePending:
                                                        <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                @onclick="() => ConfirmDelete(item, EntityLevel.Plan)">
                                                            ⚠️ Confirm
                                                        </Button>
                                                        <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                @onclick="() => CancelDelete(item, EntityLevel.Plan)">
                                                            ❎ Cancel
                                                        </Button>
                                                        break;
                                                    case RowState.EditPending:
                                                        <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                @onclick="() => ConfirmEdit(item, EntityLevel.Plan)">
                                                            ✅ Confirm
                                                        </Button>
                                                        <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                @onclick="() => CancelEdit(item, EntityLevel.Plan)">
                                                            ❌ Cancel
                                                        </Button>
                                                        break;
                                                    default:
                                                        <Button Color="ButtonColor.Warning" Size="ButtonSize.Small"
                                                                @onclick="() => StartPlnEdit(item, item.Rowguid)">
                                                            ✏️ Edit
                                                        </Button>
                                                        <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                @onclick="() => StartRowDelete(item.Rowguid, EntityLevel.Plan)">
                                                            🗑 Delete
                                                        </Button>
                                                        break;
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                    </GridColumns>
                                    <GridDetailView TItem="Plngen" Context="selectedPln">
                                        @if (selectedPln != null)
                                        {
                                            <div class="mt-2 border-start border-primary border-3 bg-light bg-opacity-25 rounded-end">
                                                <div class="row align-items-center mb-2">
                                                    <div class="col-auto">
                                                        <i class="bi bi-chevron-right text-primary"></i>
                                                    </div>
                                                    <div class="col">
                                                        <small class="text-muted fw-semibold">
                                                            Plan ← @selectedPln.Liba (No: @selectedPln.Iele)
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <Grid TItem="Rubvar"
                                                              Data="@selectedPln.Rubvars"
                                                              @key="RubRenderKey"
                                                              AllowDetailView="true"
                                                              RowClass="@((item) => GetRubRowClass(item))"
                                                              Responsive="true">
                                                            <GridColumns>
                                                                <GridColumn TItem="Rubvar" HeaderText="No" Class="xcol1">
                                                                    <ChildContent Context="item">
                                                                        @if (item.Xadd1 == -1)
                                                                        {
                                                                            <span>?@item?.Iui</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>
                                                                                @(item.Xedt1 == -1 ? item?.Iui : (item?.Iui == 0 ? item?.Iele : item?.Iui))
                                                                            </span>
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="">
                                                                    <HeaderContent>
                                                                        Code
                                                                        @if (!String.IsNullOrEmpty(Jmessage))
                                                                        {
                                                                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                                                                        }
                                                                    </HeaderContent>
                                                                    <ChildContent Context="item">
                                                                        <div style="width:90px" class="rubpoint">
                                                                            @if (EdRubRowguid == item.Rowguid)
                                                                            {
                                                                                <InputText @bind-Value="draftRub.Scdrub"
                                                                                           placeholder="code"
                                                                                           id="rucode"
                                                                                           class="w-100"
                                                                                           maxlength="@_lgcdu"
                                                                                           @onblur="@(() => OnChlBlurHandler(selectedPln, draftRub))"
                                                                                           @onfocus="@(() => OnChlFocusHandler(selectedPln, draftRub))"
                                                                                           pattern="@($"[0-9]{{{_lgcdu}}}")"
                                                                                           title="@($"{_lgcdu} chiffres obligatoires et unique")"
                                                                                           required />
                                                                            }
                                                                            else
                                                                            {
                                                                                @item.Scdrub
                                                                            }
                                                                        </div>
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Designation" Class="xcol3">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        {
                                                                            <InputText @bind-Value="draftRub.Liba" />
                                                                        }
                                                                        else
                                                                        {
                                                                            @item.Liba
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Abrege" Class="xcol2">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        {
                                                                            <InputText @bind-Value="draftRub.Abg" />
                                                                        }
                                                                        else
                                                                        {
                                                                            @item.Abg
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Refer" Class="xcol1">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        { // show draftPln inputs
                                                                          <InputText @bind-Value="draftRub.Xcod" />
                                                                        }
                                                                        else
                                                                        { // show item as read-only
                                                                          @item.Xcod
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        {
                                                                            <InputSelect @bind-Value="draftRub.Atyp" class="col-md-1" style="width:auto">
                                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                                {
                                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                                }
                                                                            </InputSelect>
                                                                        }
                                                                        else
                                                                        { // show item as read-only
                                                                          <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto" disabled>
                                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                                {
                                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                                }
                                                                            </InputSelect>
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Formule" Class="xcol1">
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item.Rowguid)
                                                                        { // show draftPln inputs
                                                                          <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                                                  @onclick="() => showFrRubModal(draftRub, 1)">
                                                                              <i class="bi bi-pencil-square"></i>
                                                                              <span class="text-truncate flex-grow-1">@draftRub?.Frsrc</span>
                                                                          </Button>
                                                                        }
                                                                        else
                                                                        { // show item as read-only
                                                                          <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm d-inline-flex align-items-center gap-1"
                                                                                  @onclick="() => showFrRubModal(item, 2)">
                                                                              <i class="bi bi-pencil-square"></i>
                                                                              <span class="text-truncate flex-grow-1">@item.Frsrc</span>
                                                                          </Button>
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Eta">
                                                                    <HeaderContent>
                                                                        @if (selectedPln != null)
                                                                        {
                                                                            <button class="btn btn-primary btn-sm
                                                                                   @(AllowMultipleEdits || !isAddRub ? "" : "disabled-action")"
                                                                                    @onclick="() => StartRubNew(selectedPln)">
                                                                                ➕ Add
                                                                            </button>
                                                                        }
                                                                    </HeaderContent>
                                                                    <ChildContent Context="item">
                                                                        @if (EdRubRowguid == item?.Rowguid)
                                                                        { // show draftPln inputs
                                                                          <InputSelect @bind-Value="draftRub.Eta" class="col-md-1" style="width:auto">
                                                                              <option class="jchx" value="0">?etat</option>
                                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                                {
                                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                                }
                                                                            </InputSelect>
                                                                        }
                                                                        else
                                                                        { // show item as read-only
                                                                          <InputSelect @bind-Value="item.Eta" class="col-md-1" style="width:auto" disabled>
                                                                              <option class="jchx" value="0">?etat</option>
                                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                                {
                                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                                }
                                                                            </InputSelect>
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                                <GridColumn TItem="Rubvar" HeaderText="Actions" Filterable="false" Class="xcol2 actions-col">
                                                                    <HeaderContent>
                                                                        @if (!isFiltre)
                                                                        {
                                                                            <button class="btn btn-info btn-sm" @onclick="ToggleRubFiltering">
                                                                                @(isRubFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                                            </button>
                                                                        }
                                                                    </HeaderContent>
                                                                    <ChildContent Context="item">
                                                                        @switch (GetRowState(item.Rowguid))
                                                                        {
                                                                            case RowState.Locked:
                                                                                <span class="text-muted">—</span>
                                                                                break;

                                                                            case RowState.DeletePending:
                                                                                <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                                        @onclick="() => ConfirmDelete(item, EntityLevel.Rub)">
                                                                                    ⚠️ Confirm
                                                                                </Button>
                                                                                <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                                        @onclick="() => CancelDelete(item, EntityLevel.Rub)">
                                                                                    ❎ Cancel
                                                                                </Button>
                                                                                break;
                                                                            case RowState.EditPending:
                                                                                <Button Color="ButtonColor.Success" Size="ButtonSize.Small"
                                                                                        @onclick="() => ConfirmEdit(item, EntityLevel.Rub)">
                                                                                    ✅ Confirm
                                                                                </Button>
                                                                                <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small"
                                                                                        @onclick="() => CancelEdit(item, EntityLevel.Rub)">
                                                                                    ❌ Cancel
                                                                                </Button>
                                                                                break;
                                                                            default:
                                                                                <Button Color="ButtonColor.Warning" Size="ButtonSize.Small"
                                                                                        @onclick="() => StartRubEdit(item, item.Rowguid)">
                                                                                    ✏️ Edit
                                                                                </Button>
                                                                                <Button Color="ButtonColor.Danger" Size="ButtonSize.Small"
                                                                                        @onclick="() => StartRowDelete(item.Rowguid, EntityLevel.Rub)">
                                                                                    🗑 Delete
                                                                                </Button>
                                                                                break;
                                                                        }
                                                                    </ChildContent>
                                                                </GridColumn>
                                                            </GridColumns>
                                                        </Grid>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </GridDetailView>
                                </Grid>
                            }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for FORMULE PLAN -->
            <Modal @ref="pForuModal" Size="ModalSize.Large" Title="Edit Formula" ShowCloseButton="false">
                <BodyTemplate>
                    <div class="mb-3">
                        <label class="form-label">Formula</label>
                        <InputTextArea class="form-control"
                                       @bind-Value="curPlan.Fpsrc"
                                       rows="8"
                                       style="resize: vertical;" />
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button Color="ButtonColor.Secondary" @onclick="() => pForuModal.HideAsync()">Cancel</Button>
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }

    .rubModal-wide .modal-dialog {
        max-width: 65vw;
        width: auto;
        margin: auto;
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }

    .formul.button {
        pointer-events: none;
        opacity: 0.5;
        height: 160px;
    }

    .plnpoint {
        font-weight: bold;
        background-color: blue;
        color: white;
    }

    .rubpoint {
        font-weight: bold;
        background-color: yellow;
        color: black;
    }

    .fmtpoint {
        font-weight: bold;
        background-color: darkolivegreen;
        color: black;
    }

    .xcolx {
        width: 40px !important;
    }

    .xcol1 {
        width: 60px;
    }

    .xcol2 {
        width: 120px;
    }

    .xcol3 {
        width: 180px;
    }

    .xcol4 {
        width: 240px;
    }
        /* Ensure inputs inside these columns fill the width */
        .xcol1 input,
        .xcol2 input,
        .xcol3 input,
        .xcol4 input {
            width: 100%;
            box-sizing: border-box; /* prevents overflow due to padding/border */
        }

    .editing-row {
        pointer-events: none; /* Blocks all clicks on row */
    }

        .editing-row * {
            pointer-events: auto; /* Re-enables clicks on buttons/inputs */
        }

    .new-add-indicator::after {
        content: "➕ NEW";
        float: right;
        margin-left: 8px;
        background: #ffc107;
        color: #000;
        font-size: 0.65em;
        padding: 1px 4px;
        border-radius: 8px;
        font-weight: bold;
    }

    .readonly input,
    .readonly textarea,
    .readonly select,
    .readonly button {
        pointer-events: none;
        background-color: #f8f9fa; /* light gray to indicate disabled */
        opacity: 0.8;
    }
    /* Add to your CSS */
    .row-active-edit {
        background-color: #fff3cd !important; /* Light yellow */
        border-left: 5px solid #ffc107 !important; /* Thick yellow border */
        box-shadow: 0 2px 8px rgba(255,193,7,0.3);
        z-index: 10;
    }

    .row-readonly {
        opacity: 0.65 !important;
        background-color: #f8f9fa !important;
        cursor: not-allowed !important;
    }

        .row-readonly button,
        .row-readonly .btn {
            pointer-events: none !important;
            opacity: 0.4 !important;
        }

    /* Make the whole cell a flex container so buttons line up horizontally */
    .actions-col {
        display: flex;
        flex-direction: row;
        gap: 6px; /* spacing between buttons */
        align-items: center; /* vertical alignment */
        justify-content: flex-start;
    }
        /* Apply to all buttons in your grid (or globally if you prefer) */
        .actions-col .btn {
            display: inline-flex; /* flex container */
            flex-direction: row; /* horizontal layout */
            align-items: center; /* vertical centering */
            gap: 4px; /* spacing between emoji and text */
            white-space: nowrap; /* prevent wrapping onto two lines */
            line-height: 1.2; /* normalize baseline */
        }

</style>

@code {
    private bool isLoading = true;
    private string Imessage = "", Jmessage = "", Kmessage = "";
    private bool yaPgLink = false;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    //guard
    [Parameter]
    public PendingChangesGuard _guard { get; set; }
    [Parameter]
    public EventCallback<PendingState> OnPendingStateChanged { get; set; }
    [Parameter]
    public int NbChanges { get; set; }
    [Parameter]
    public EventCallback<int> NbChangesChanged { get; set; }  // 🔥 CRITICAL
    //author
    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    //usrbag
    private Userbag _usrBag = new Userbag();
    private string _UserId = "";
    private int _UorgId = 0;

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();
    private Dictionary<Guid, RowState> _rowStates = new();
    private Dictionary<Guid, bool> _isLightBg = new();  // Track light background
    private void SetLightBackground(Guid rowguid, bool isLight)
    {
        _isLightBg[rowguid] = isLight;
    }
    private bool GetLightBackground(Guid rowguid)
    {
        return _isLightBg.GetValueOrDefault(rowguid, false);
    }
    // Disable ALL actions when ANY row editing
    private Guid? _activeEditRowguid = null;
    private EntityLevel? _activeEditLevel = null;
    private bool CanEditRows() => _activeEditRowguid == null;
    private bool IsRowEditing(Guid rowguid) => _activeEditRowguid == rowguid;
    private bool IsAnyRowEditing => _activeEditRowguid != null;

    public enum RowState
    {
        Normal,
        EditPending,
        DeletePending,
        AddPending,  // 🔥 NEW for Add
        Locked
    }
    public enum EntityLevel { Plan, Rub, Fmt }

    private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpvar> LsVars = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpfixe> LsAtrs = new();
    private List<Gpfixe> LsVues = new();
    private List<Gpfixe> LsGties = new();

    private bool isPlnFilteringEnabled = false;
    private bool isRubFilteringEnabled = false;

    //Global
    private int _lgcdu = 0;
    private int IMyGpln = 2; //2Echeancier
    private int IMyDom = 1; //1Saisie
    private int ItkDom = 0; //6Tiers7Mat
    //private int IMyAtr = 0; //
    private int IMyGtie = 0; //g.tiers Cible/Operat...
    private int IMyVue = 1; //1Reel2Virtuel
    private string atrTitle = "";

    private string atrDest = "Programmes de Saisie";
    //pour modals formulas
    private Plngen curPlan = new();
    private Rubvar curRubr = new();
    private Rubfmt curFmat = new();

    private bool isRubCodeValid = false; //child blur
    //data
    private ObservableCollection<Plngen> MyDaPlans { get; set; } = new();
    private List<Plngen> LsPlsEchs => curOrga.Plngens.Where(pl => pl.Ptyp == 2).ToList();
    private List<Plngen> LsPlsGris => curOrga.Plngens.Where(pl => pl.Ptyp == 3).ToList();
    private List<Plngen> LsPlsDivs => curOrga.Plngens.Where(pl => pl.Ptyp == 4).ToList();
    //add/edit options
    private bool AllowMultipleEdits { get; set; } = false;
    private bool isFiltre { get; set; } = false;
    //PLAN
    private Guid? PlanRenderKey = null;
    private Dictionary<Guid, Plngen> _edPlnOriginals = new();
    private Plngen? draftPln = null;
    private bool isAddPln = false;
    private bool isEdtPln = false;
    private Guid? AdPlnRowguid = null;
    private Guid? EdPlnRowguid = null;// Currently editing row ID
    private Guid? DlPlnRowguid = null;
    //RUBRIQUE
    private Guid? RubRenderKey = null;
    private Dictionary<Guid, Rubvar> _edRubOriginals = new();
    private Rubvar? draftRub = null;
    private bool isAddRub = false;
    private bool isEdtRub = false;
    private Guid? AdRubRowguid = null;
    private Guid? EdRubRowguid = null;// Currently editing row ID
    private Guid? DlRubRowguid = null;
    //FORMAT
    private Guid? FmtRenderKey = null;
    private Dictionary<Guid, Rubfmt> _edFmtOriginals = new();
    private Rubfmt? draftFmt = null;
    private bool isAddFmt = false;
    private bool isEdtFmt = false;
    //private bool isDelFmt = false;
    private Guid? AdFmtRowguid = null;
    private Guid? EdFmtRowguid = null;// Currently editing row ID
    private Guid? DlFmtRowguid = null;

    bool IsPlnRowLocked(Guid rowGuid) =>
        !AllowMultipleEdits &&
        (EdPlnRowguid.HasValue || DlPlnRowguid.HasValue) &&
        EdPlnRowguid != rowGuid &&
        DlPlnRowguid != rowGuid;
    bool IsRubRowLocked(Guid rowGuid) =>
        !AllowMultipleEdits &&
        (EdRubRowguid.HasValue || DlRubRowguid.HasValue) &&
        EdRubRowguid != rowGuid &&
        DlRubRowguid != rowGuid;
    bool IsFmtRowLocked(Guid rowGuid) =>
        !AllowMultipleEdits &&
        (EdFmtRowguid.HasValue || DlFmtRowguid.HasValue) &&
        EdFmtRowguid != rowGuid &&
        DlFmtRowguid != rowGuid;
    //Modals formule
    Modal pForuModal = new(); //plans
    Modal rForuModal = new(); //rubriques
    Modal gForuModal = new(); //formats
    private string patTitle = "", chlTitle = "", gsnTitle = "";
    private string patInitTitle = "", chlInitTitle = "", gsnInitTitle = "";
    private string pstrFormu = "", rstrFormu = "", fstrFormu = "";

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            if (toChild == null || curOrga == null)
            {
                Console.WriteLine("Missing parent data");
                return;
            }
            isAuthenticated = toChild.isAuthenticated;
            authUser = toChild.authUser;
            if (!isAuthenticated)
            {
                Imessage = "CONNEXION, Utilisateur non authentifie";
                return;
            }
            LsVars = toChild.LsVars;
            LsFixes = toChild.LsFixes;
            LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
            LsAtrs = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 1 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
            LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 4 && ut.Elea != 0).ToList();
            //LsTabls = toChild.LsTabls.ToList();
            LsPlans = toChild.LsPlans;
            //LsSites = toChild.LsSites;
            _lgcdu = 3;
            var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
            if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
            Console.WriteLine($"lsplans {LsPlans.Count} IS NULL");
            //ChargeParentData;
            Console.WriteLine($"Child init: Plngens={curOrga.Plngens?.Count ?? 0}");

            // 🔥 SAFE - Only initialize if Plngens EXISTS
            if (curOrga.Plngens != null && curOrga.Plngens.Any())
            {
                Console.WriteLine($"Plngens loaded: {curOrga.Plngens.Count}");

                MyDaPlans = new ObservableCollection<Plngen>(
                    curOrga.Plngens.Where(pl => pl.Ptyp == IMyGpln && pl.Todom == IMyDom));
            }
            else
            {
                Console.WriteLine("Plngens null/empty - initializing empty collections");
                MyDaPlans = new ObservableCollection<Plngen>();
            }

            // Guard registration (safe)
            _guard.RegisterUnconfirmedPredicate<Plngen>(p => p.Xadd1 == -1 || p.Xedt1 == -1 || p.Xdel1 == -1);
            _guard.RegisterUnconfirmedPredicate<Rubvar>(r => r.Xadd1 == -1 || r.Xedt1 == -1 || r.Xdel1 == -1);
            _guard.RegisterUnconfirmedPredicate<Rubfmt>(f => f.Xadd1 == -1 || f.Xedt1 == -1 || f.Xdel1 == -1);

            atrTitle = "Saisie";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Child crash: {ex.Message}");
            Console.WriteLine($"Stack: {ex.StackTrace}");  // 🔥 More debug info
            Imessage = $"Erreur chargement: {ex.Message}";
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task StartPlnNew()
    {
        Console.WriteLine("🚨 StartPlnNew");
        var lsnb = NextSeq(MyDaPlans, p => p.Iui);
        var newPln = new Plngen
        { /* init properties */
            Rowguid = Guid.NewGuid(),
            Idorg = curOrga.Idorg, //pere Id
            Iui = lsnb, //nextSeq(1),
            Ptyp = IMyGpln,
            Todom = IMyDom, //1 saisie
            Todkt = ItkDom, //6Tiers7Mat
            Totyp = IMyGtie,
            Toatr = 0,
            Tovue = IMyVue,
            Liba = "",
            Abg = "",
            Styp = 0,
            Eta = 1,
            Xadd1 = -1,
            Xedt1 = 0,
            Xdel1 = 0
        };
        SetRowState(newPln.Rowguid, RowState.AddPending);
        SetLightBackground(newPln.Rowguid, true);
        MyDaPlans.Insert(0, newPln);
        draftPln = (Plngen)DeepClone(newPln);
        EdPlnRowguid = draftPln.Rowguid;
        isAddPln = true;
        isEdtPln = true;
        SetRowState(draftPln.Rowguid, RowState.EditPending);  // Shows Confirm/Cancel ✓
        PlanRenderKey = draftPln.Rowguid;
        Console.WriteLine($"✅ New row added to curOrga.Plngens - Count: {curOrga.Plngens.Count}");
        StartRowEdit(draftPln.Rowguid, EntityLevel.Plan);
        StateHasChanged();
    }
    private async Task StartPlnEdit(Plngen item, Guid rowguid)
    {
        var isNew = StaticMethods.IsNew(curODContext, item, e => e.Id);
        if (isNew)
        { //not saved yet
            Imessage = "🚫 Cannot edit new Plan: Please save it first.";
            return;
        }
        if (rowguid == Guid.Empty) return;
        item.Xedt1 = -1;
        if (item.Iele != 0) item.Iui = (int)item.Iele;
        SetRowState(rowguid, RowState.EditPending);  // Shows Confirm/Cancel buttons
        _edPlnOriginals[rowguid] = (Plngen)DeepClone(item);
        EdPlnRowguid = AllowMultipleEdits ? null : rowguid;
        draftPln = (Plngen)DeepClone(item);
        isEdtPln = true;
        StartRowEdit(rowguid, EntityLevel.Plan);
        StateHasChanged();
    }
    private async Task StartRubNew(Plngen mypln)
    {
        if (mypln.Id <= 0)
        {
            Imessage = "🚫 Cannot add Rubrique: Plan must be saved first.";
            return;
        }
        Console.WriteLine("🚨 StartRubNew");
        var lsnb = NextSeq(mypln.Rubvars, p => p.Iui);
        var newRub = new Rubvar
        { /* init */
            Rowguid = Guid.NewGuid(),
            Idorg = mypln.Idorg, //grand pere Id
            Ipln = mypln.Id, //pere Id
            Iui = lsnb, //nextSeq(2),
            Torub = 0,
            Utyp = 2, //echeancier
            Tovue = mypln.Tovue, //virtuel-reel
            Sigrid = 1, //est grille
            Gdact = 3, //declenche (ajt rubriq Actsaie)
            Ustyp = 0, //de base
            Dtperi = 0, //toujours
            Liba = "",
            Abg = "",
            Xcod = "",
            Ddval = 0,
            Dfval = 0,
            Eaut = 0, //supprimable
            Atyp = 4,
            Eint = 0,
            Eta = 1,
            Xadd1 = -1, //newly added/edited
            Xedt1 = 0,
            Xdel1 = 0
        };
        SetRowState(newRub.Rowguid, RowState.AddPending);
        SetLightBackground(newRub.Rowguid, true);
        if (mypln.Rubvars == null)
        {
            mypln.Rubvars = new DataServiceCollection<Rubvar>();  // ✅ Correct type
        }
        mypln.Rubvars.Insert(0, newRub);
        draftRub = (Rubvar)DeepClone(newRub);
        EdRubRowguid = draftRub.Rowguid;
        isAddRub = true;
        isEdtRub = true;
        SetRowState(draftRub.Rowguid, RowState.EditPending);  // 🔥 ADD
        RubRenderKey = draftRub.Rowguid;  // Force grid refresh
        Console.WriteLine($"✅ New row added to Plngen.Rubvars - Count: {mypln.Rubvars.Count}");
        StartRowEdit(draftRub.Rowguid, EntityLevel.Rub);
        StateHasChanged();
    }
    private async Task StartRubEdit(Rubvar item, Guid rowguid)
    {
        var isNew = StaticMethods.IsNew(curODContext, item, e => e.Id);
        if (isNew)
        { //not saved yet
            Imessage = "🚫 Cannot edit new Rubrique: Please save it first.";
            return;
        }
        if (rowguid == Guid.Empty) return;

        item.Xedt1 = -1;
        if (item.Iele != 0) item.Iui = (int)item.Iele;
        SetRowState(rowguid, RowState.EditPending);  // Shows Confirm/Cancel buttons
        _edRubOriginals[rowguid] = (Rubvar)DeepClone(item);
        EdRubRowguid = AllowMultipleEdits ? null : rowguid;
        draftRub = (Rubvar)DeepClone(item);
        isEdtRub = true;
        StartRowEdit(rowguid, EntityLevel.Rub);
        StateHasChanged();
    }
    private async Task StartFmtNew(Rubvar myrub)
    {
        if (myrub.Id <= 0)
        {
            Imessage = "🚫 Cannot add Format: Rubrique must be saved first.";
            return;
        }
        var lsnb = NextSeq(myrub.Rubfmts, p => p.Iui);
        Console.WriteLine("🚨 StartFmtNew");
        var newFmt = new Rubfmt
        { /* init */
            Rowguid = Guid.NewGuid(),
            Irub = myrub.Id, //pere Id
            Iui = lsnb, //nextSeq(3),
            Idzon = lsnb, //nextSeq(3),
            Zcdrub = lsnb.ToString(),
            Liba = "",
            Abg = "",
            Tperi = 1,
            Col = 1,
            Lne = 1,
            Ztyp = 4, //decimal
            Eint = 0,
            Eta = 1,
            Xadd1 = -1,  //newly added/edited
            Xedt1 = 0,
            Xdel1 = 0
        };
        SetRowState(newFmt.Rowguid, RowState.AddPending);
        SetLightBackground(newFmt.Rowguid, true);
        if (myrub.Rubfmts == null)
        {
            myrub.Rubfmts = new DataServiceCollection<Rubfmt>();  // ✅ Correct type
        }
        myrub.Rubfmts.Insert(0, newFmt);
        draftFmt = (Rubfmt)DeepClone(newFmt);
        EdFmtRowguid = draftFmt.Rowguid;

        isAddFmt = true;
        isEdtFmt = true;
        SetRowState(draftFmt.Rowguid, RowState.EditPending);  // 🔥 ADD
        FmtRenderKey = draftFmt.Rowguid; //force Grid render
        Console.WriteLine($"✅ New row added to Rubvar.Rubfmts - Count: {myrub.Rubfmts.Count}");
        StartRowEdit(draftFmt.Rowguid, EntityLevel.Fmt);
        StateHasChanged();
    }
    private async Task StartFmtEdit(Rubfmt item, Guid rowguid)
    {
        var isNew = StaticMethods.IsNew(curODContext, item, e => e.Id);
        if (isNew)
        { //not saved yet
           Imessage = "🚫 Cannot edit new Fmt: Please save it first.";
           return;
        }
        if (rowguid == Guid.Empty) return;
        item.Xedt1 = -1;
        if (item.Iele != 0) item.Iui = (int)item.Iele;
        SetRowState(rowguid, RowState.EditPending);  // Shows Confirm/Cancel buttons
        _edFmtOriginals[rowguid] = (Rubfmt)DeepClone(item);
        EdFmtRowguid = AllowMultipleEdits ? null : rowguid;
        draftFmt = (Rubfmt)DeepClone(item);
        isEdtFmt = true;
        StartRowEdit(rowguid, EntityLevel.Fmt);
        StateHasChanged();
    }
    // ✅ 2.1 CONFIRM OPERATIONS
    private async Task ConfirmPlnEdit(Plngen item) =>
        await UnifiedEditAction(item, true, EntityLevel.Plan);
    private async Task ConfirmRubEdit(Rubvar item) =>
        await UnifiedEditAction(item, true, EntityLevel.Rub);
    private async Task ConfirmFmtEdit(Rubfmt item) =>
        await UnifiedEditAction(item, true, EntityLevel.Fmt);
    // ✅ 2.2 CANCEL OPERATIONS
    private async Task CancelPlnEdit(Plngen item) =>
        await UnifiedEditAction(item, false, EntityLevel.Plan);
    private async Task CancelRubEdit(Rubvar item) =>
        await UnifiedEditAction(item, false, EntityLevel.Rub);
    private async Task CancelFmtEdit(Rubfmt item) =>
        await UnifiedEditAction(item, false, EntityLevel.Fmt);

    private async Task UnifiedEditAction(object item, bool isConfirm, EntityLevel level)
    {
        switch (level)
        {
            case EntityLevel.Plan:
                await ProcessPlan((Plngen)item, isConfirm);
                break;
            case EntityLevel.Rub:
                await ProcessRub((Rubvar)item, isConfirm);
                break;
            case EntityLevel.Fmt:
                await ProcessFmt((Rubfmt)item, isConfirm);
                break;
        }
    }

    private async Task ProcessPlan(Plngen pln, bool isConfirm)
    {
        await ProcessEntity(pln, isConfirm, "Plngens", p => ValidatePln(p));
    }
    private async Task ProcessRub(Rubvar rub, bool isConfirm)
    {
        await ProcessEntity(rub, isConfirm, "Rubvars", r => ValidateRub(r));
    }
    private async Task ProcessFmt(Rubfmt fmt, bool isConfirm)
    {
        await ProcessEntity(fmt, isConfirm, "Rubfmts", f => ValidateFmt(f));
    }

    private async Task ProcessEntity<T>(T entity, bool isConfirm, string entitySet, Func<T, bool> validate)
    where T : class
    {
        Console.WriteLine($"🔄 Process{(typeof(T).Name)}: {(isConfirm ? "CONFIRM" : "CANCEL")}");
        if (entity == null)
        {
            Imessage = "entity nulle";
            StateHasChanged();
            return;
        }
        if (isConfirm)
        {
            CopyDraftToGridItem<T>(entity);
            // 🔥 1. VALIDATE FIRST - uses your ValidateXXX() helpers
            if (!validate(entity))
            {
                // Imessage already set by ValidatePln/ValidateRub/ValidateFmt
                Console.WriteLine($"❌ Validation failed: {Imessage}");
                StateHasChanged();
                return;
            }
            // 🔥 2. NEW vs EXISTING LOGIC
            bool isNewAdd = GetXadd1(entity) == -1;
            if (isNewAdd)
            {
                // 🔥 NEW ADD: AddObject (not tracked yet)
                curODContext.AddObject(entitySet, entity);
                Console.WriteLine($"➕ NEW {typeof(T).Name} → AddObject");
            }
            else
            {
                // 🔥 EXISTING: Attach + UpdateObject
                if (!curODContext.IsEntityTracked(entity))
                {
                    curODContext.Context.AttachTo(entitySet, entity);
                    Console.WriteLine($"📥 Attached existing {entitySet}");
                }
                curODContext.Context.UpdateObject(entity);
                Console.WriteLine($"✏️ EXISTING {typeof(T).Name} → UpdateObject");
            }
            // 🔥 2. Container: Attach → Update → Flags
            if (!curODContext.IsEntityTracked(entity))
            {
                curODContext.Context.AttachTo(entitySet, entity);
                Console.WriteLine($"📥 Attached {entitySet}");
            }

            SetFlags(entity, 0, -1, 0);  // Confirmed: Xadd1=0, Xedt1=-1
            curODContext.Context.UpdateObject(entity);

            Console.WriteLine($"✅ {typeof(T).Name} confirmed → tracked");

            // 🔥 3. UI cleanup
            ResetRowState((Guid)typeof(T).GetProperty("Rowguid")!.GetValue(entity)!);
            SetLightBackground((Guid)typeof(T).GetProperty("Rowguid")!.GetValue(entity)!, false);
            ResetEntityUIState<T>();
            await NotifyPendingChanges();
            Imessage = $"✅ {typeof(T).Name} confirmed";
        }
        else  // CANCEL
        {
            if (GetXadd1(entity) == -1)  // New add
            {
                if (curODContext.IsEntityTracked(entity))
                    curODContext.Context.Detach(entity);
                RemoveFromParentCollection(entity);
                Console.WriteLine($"🗑️ New {typeof(T).Name} canceled");
            }
            else
            {
                ClearDraft<T>();
            }
            ResetRowState((Guid)typeof(T).GetProperty("Rowguid")!.GetValue(entity)!);
            ResetEntityUIState<T>();
            Imessage = "";
        }

        StateHasChanged();
    }

    // Generic flag setter
    private void SetFlags<T>(T entity, int xadd1, int xedt1, int xdel1)
    {
        typeof(T).GetProperty("Xadd1")?.SetValue(entity, xadd1);
        typeof(T).GetProperty("Xedt1")?.SetValue(entity, xedt1);
        typeof(T).GetProperty("Xdel1")?.SetValue(entity, xdel1);
    }
    // private void ResetFlags(object item)
    // {
    //     SetFlags(item, 0, 0, 0);  // Xadd1=0, Xedt1=0, Xdel1=0 (normal state)
    // }
    // Generic Xadd1 getter
    private int GetXadd1<T>(T entity)
    {
        return (int)typeof(T).GetProperty("Xadd1")?.GetValue(entity)!;
    }
    // Remove from parent collection
    private void RemoveFromParentCollection<T>(T entity)
    {
        // Plngen: top-level
        if (entity is Plngen pln && MyDaPlans.Any(p => p.Rowguid == pln.Rowguid))
            MyDaPlans.Remove(pln);
        // Rubvar: parent Plngen.Rubvars
        else if (entity is Rubvar rub)
        {
            var parent = MyDaPlans.FirstOrDefault(p => p.Id == rub.Ipln);
            parent?.Rubvars?.Remove(rub);
        }
        // Rubfmt: parent Rubvar.Rubfmts
        else if (entity is Rubfmt fmt)
        {
            var parentRub = MyDaPlans.SelectMany(p => p.Rubvars).FirstOrDefault(r => r.Id == fmt.Irub);
            parentRub?.Rubfmts?.Remove(fmt);
        }
    }
    private Rubvar? FindParentRub(Rubfmt fmt)
    {
        // Using foreign key Irub, but Rubvar exists only inside plans
        return MyDaPlans
            .SelectMany(p => p.Rubvars ?? Enumerable.Empty<Rubvar>())
            .FirstOrDefault(r => r.Id == fmt.Irub);
    }
    private void MarkAsModified<T>(T item, string entitySet) where T : class
    {
        SetFlags(item, 0, 0, 0);  // Xadd1=Xedt1=Xdel1=0

        try
        {
            curODContext.Context.AttachTo(entitySet, item);
        }
        catch (InvalidOperationException)
        {
            // Already tracked ✅
        }
        Console.WriteLine($"modified liba {((dynamic)item).Liba} et abg {((dynamic)item).Abg}");
        curODContext.Context.UpdateObject(item);  // 🔥 KEY: Context.UpdateObject()
        Console.WriteLine($"✅ {entitySet} marked Modified");
    }
    private void CopyDraftToGridItem<T>(T gridItem) where T : class
    {
        switch (typeof(T).Name)
        { // ONLY editable UI fields - 5-10x faster than reflection!
            case nameof(Plngen):
                if (draftPln == null) return;
                var pln = (Plngen)(object)gridItem;
                pln.Liba = draftPln.Liba; //designation
                pln.Abg = draftPln.Abg; //abrege
                pln.Fpsrc = draftPln.Fpsrc; //formule-non valider
                pln.Eta = draftPln.Eta; //etat
                break;
            case nameof(Rubvar):
                if (draftRub == null) return;
                var rub = (Rubvar)(object)gridItem;
                rub.Liba = draftRub.Liba; //designation
                rub.Abg = draftRub.Abg; //abrege
                rub.Scdrub = draftRub.Scdrub; //code
                rub.Xcod = draftRub.Xcod; //refer
                rub.Atyp = draftRub.Atyp; //atyp
                rub.Frsrc = draftRub.Frsrc; //formule
                rub.Eta = draftRub.Eta; //etat
                break;
            case nameof(Rubfmt):
                if (draftFmt == null) return;
                var fmt = (Rubfmt)(object)gridItem;
                fmt.Liba = draftFmt.Liba; //designation
                fmt.Abg = draftFmt.Abg; //abrege
                fmt.Zcdrub = draftFmt.Zcdrub; //code
                fmt.Xcod = draftFmt.Xcod; //refer
                fmt.Ztyp = draftFmt.Ztyp; //ztyp

                fmt.Ftsrc = draftFmt.Ftsrc; //formule
                fmt.Col = draftFmt.Col; //col
                fmt.Lne = draftFmt.Lne; //lne
                fmt.Lgtf = draftFmt.Lgtf; //lgtf
                fmt.Eta = draftFmt.Eta; //etat
                break;
        }
    }
    private void ClearDraft<T>()
    {
        switch (typeof(T).Name)
        {
            case nameof(Plngen):
                draftPln = null;
                Console.WriteLine("EdPlnRowguid is become null");
                EdPlnRowguid = null;
                break;
            case nameof(Rubvar):
                draftRub = null;
                EdRubRowguid = null;
                break;
            case nameof(Rubfmt):
                draftFmt = null;
                EdFmtRowguid = null;
                break;
        }
    }
    // ROWS MANAGEMENT
    private void StartRowEdit(Guid rowguid, EntityLevel level)
    {
        _activeEditRowguid = rowguid;
        _activeEditLevel = level;
        StateHasChanged();
    }
    private void EndRowEdit()
    {
        _activeEditRowguid = null;
        _activeEditLevel = null;
        StateHasChanged();
    }
    private string GetPlnRowClass(Plngen pln)
    {
        var state = GetRowState(pln.Rowguid);
        var isLight = IsLightBackground(pln.Rowguid);  // 🔥 Uses your existing

        // 🔥 NEW: Single Active Row Editing
        var isActiveEdit = _activeEditRowguid == pln.Rowguid;
        var isOtherRowEditing = _activeEditRowguid != null && !isActiveEdit;

        return GetRowCss(state, isLight, pln.Rowguid, isActiveEdit, isOtherRowEditing);
    }
    private string GetRubRowClass(Rubvar rub)
    {
        var state = GetRowState(rub.Rowguid);
        var isLight = IsLightBackground(rub.Rowguid);  // 🔥 Uses your existing

        // 🔥 NEW: Single Active Row Editing
        var isActiveEdit = _activeEditRowguid == rub.Rowguid;
        var isOtherRowEditing = _activeEditRowguid != null && !isActiveEdit;

        return GetRowCss(state, isLight, rub.Rowguid, isActiveEdit, isOtherRowEditing);
    }
    private string GetFmtRowClass(Rubfmt fmt)
    {
        var state = GetRowState(fmt.Rowguid);
        var isLight = IsLightBackground(fmt.Rowguid);  // 🔥 Uses your existing

        // 🔥 NEW: Single Active Row Editing
        var isActiveEdit = _activeEditRowguid == fmt.Rowguid;
        var isOtherRowEditing = _activeEditRowguid != null && !isActiveEdit;

        return GetRowCss(state, isLight, fmt.Rowguid, isActiveEdit, isOtherRowEditing);
    }
    private RowState GetRowState(Guid rowguid, object? parent = null)
    {
        if (_rowStates.TryGetValue(rowguid, out var state)) return state;

        // Context-aware lookup
        if (parent is Plngen mypln)
        {
            if (mypln.Rowguid == rowguid && IsPlnRowLocked(rowguid)) return RowState.Locked;
            var rub = mypln.Rubvars?.FirstOrDefault(r => r.Rowguid == rowguid);
            if (rub != null && IsRubRowLocked(rowguid)) return RowState.Locked;
        }
        else if (parent is Rubvar myrub)
        {
            var fmt = myrub.Rubfmts?.FirstOrDefault(f => f.Rowguid == rowguid);
            if (fmt != null && IsFmtRowLocked(rowguid)) return RowState.Locked;
        }

        // Full hierarchy fallback
        // ... same as above
        //Dictionary lookup by RowGuid
        // 🔥 MISSING: Final return for normal state
        return _rowStates.TryGetValue(rowguid, out var cachedState) ? cachedState : RowState.Normal;
    }
    private void SetRowState(Guid rowguid, RowState state)  // Remove <T>
    {
        _rowStates[rowguid] = state;
    }
    private void ResetRowState(Guid rowguid)  // Reset specific row
    {
        _rowStates.Remove(rowguid);  // Back to Normal
    }
    private bool IsLightBackground(Guid rowguid)
    {
        return _isLightBg.ContainsKey(rowguid) && _isLightBg[rowguid];
    }

    private void ResetEntityUIState<T>()
    {
        switch (typeof(T).Name)
        {
            case nameof(Plngen): ResetPlnUI(); break;
            case nameof(Rubvar): ResetRubUI(); break;
            case nameof(Rubfmt): ResetFmtUI(); break;
        }
    }
    private void ResetPlnUI()
    {
        Console.WriteLine("🔄 ResetPlnUI");

        // 🔥 CLEAR ALL MODES
        isEdtPln = false;
        isAddPln = false;  // ← CRITICAL - Exits add mode

        draftPln = null;
        EdPlnRowguid = null;
        DlPlnRowguid = null;

        PlanRenderKey = Guid.NewGuid();  // Force grid refresh
        StateHasChanged();
    }
    private void ResetRubUI()
    {
        draftRub = null; EdRubRowguid = AdRubRowguid = null;
        isEdtRub = isAddRub = false; RubRenderKey = null;
    }
    private void ResetFmtUI()
    {
        draftFmt = null; EdFmtRowguid = AdFmtRowguid = null;
        isEdtFmt = isAddFmt = false; FmtRenderKey = null;
    }
    // ✅ 3. NOTIFICATIONS
    private async Task NotifyPendingChanges()
    {
        await OnPendingStateChanged.InvokeAsync(new PendingState(
            _guard.HasPendingChanges(),
            _guard.GetPendingChangesCount()
        ));

        NbChanges = _guard.GetPendingChangesCount();
        await NbChangesChanged.InvokeAsync(NbChanges);
        StateHasChanged();
    }

    private void StartDelete<T>(T item, string entitySet) where T : class
    {
        var rowguid = ((dynamic)item).Rowguid;
        SetDeleteFlags(item); // e.g. Xdel1 = -1
        SetRowState(rowguid, RowState.DeletePending);  // Triggers
        Console.WriteLine($"🗑 {typeof(T).Name} {rowguid} marked as pending delete");
        StateHasChanged();
    }
    private void StartRowDelete(Guid rowguid, EntityLevel level)
    {
        // 🔥 1. Set DeletePending → triggers your @switch
        SetRowState(rowguid, RowState.DeletePending);

        // 🔥 2. Enable single-row editing (CSS)
        StartRowEdit(rowguid, level);

        StateHasChanged();
    }
    private async Task ConfirmDelete<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedDeleteAction(item, true, level);
        EndRowEdit();  // Close single delete mode
    }
    // SINGLE method - ALL delete cancels
    private async Task CancelDelete<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedDeleteAction(item, false, level);
        EndRowEdit();  // Close single delete mode
    }

    private void SetDeleteFlags(object item) => SetFlags(item, 0, 0, -1);

    // SINGLE method handles ALL confirm operations
    private async Task ConfirmEdit<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedEditAction(item, true, level);
        EndRowEdit();  // Close single edit mode
    }
    // SINGLE method handles ALL cancel operations
    private async Task CancelEdit<T>(T item, EntityLevel level) where T : class
    {
        await UnifiedEditAction(item, false, level);
        EndRowEdit();  // Close single edit mode
    }
    private async Task UnifiedDeleteAction<T>(T item, bool isConfirm, EntityLevel level) where T : class
    {
        switch (level)
        {
            case EntityLevel.Plan: await ProcessDelete<Plngen>(item as Plngen, isConfirm); break;
            case EntityLevel.Rub: await ProcessDelete<Rubvar>(item as Rubvar, isConfirm); break;
            case EntityLevel.Fmt: await ProcessDelete<Rubfmt>(item as Rubfmt, isConfirm); break;
        }
    }
    private async Task ProcessDelete<T>(T item, bool isConfirm) where T : class
    {
        if (item == null) return;

        var rowguid = (Guid)typeof(T).GetProperty("Rowguid")!.GetValue(item)!;

        if (isConfirm)
        {
            // 🔥 Generic delete logic
            RemoveFromParentCollection(item);

            if (!curODContext.IsEntityTracked(item))
                curODContext.Context.AttachTo(GetEntitySetName<T>(), item);

            curODContext.Context.DeleteObject(item);
            SetDeleteFlags(item);
            SetRowState(rowguid, RowState.Normal);
            await NotifyPendingChanges();
        }
        else
        {
            SetRowState(rowguid, RowState.Normal);
        }

        StateHasChanged();
    }
    private string GetEntitySetName<T>() where T : class
    {
        return typeof(T) switch
        {
            Type t when t == typeof(Plngen) => "Plngens",
            Type t when t == typeof(Rubvar) => "Rubvars",
            Type t when t == typeof(Rubfmt) => "Rubfmts",
            _ => throw new ArgumentException($"Unknown entity type: {typeof(T).Name}")
        };
    }
    private string GetEntitySet(object entity)
    {
        return entity switch
        {
            Plngen _ => "Plngens",
            Rubvar _ => "Rubvars",
            Rubfmt _ => "Rubfmts",
            _ => throw new ArgumentException("Unknown entity type")
        };
    }

    // ✅ 6. VALIDATIONS
    private bool ValidateEntity<T>(T item)
    {
        return item switch
        {
            Plngen pln => ValidatePln(pln),
            Rubvar rub => ValidateRub(rub),
            Rubfmt fmt => ValidateFmt(fmt),
            _ => true
        };
    }
    private bool ValidatePln(Plngen? mypln)
    {
        Console.WriteLine($"A verifier {mypln.Liba}");
        //liba
        if (string.IsNullOrEmpty(mypln.Liba)
            || mypln.Liba.Length < 6)
        {
            Imessage = "designation obligatoire/longueur";
            return false;
        }
        //abrege
        if (string.IsNullOrEmpty(mypln.Abg)
            || mypln.Abg.Length < 4)
        {
            Imessage = "abrege obligatoire/longueur";
            return false;
        }
        // //etat
        // if (mypln.Eta < 0)
        // {
        //     Imessage = "etat obligatoire";
        //     return false;
        // }
        return true;
    }
    private bool ValidateRub(Rubvar myrub)
    {
        //liba
        if (string.IsNullOrEmpty(myrub.Liba)
            || myrub.Liba.Length < 5)
        {
            Imessage = "designation obligatoire/longueur";
            return false;
        }
        //abrege
        if (string.IsNullOrEmpty(myrub.Abg)
            || myrub.Abg.Length < 4)
        {
            Imessage = "abrege obligatoire/longueur";
            return false;
        }
        //scdrub
        if (string.IsNullOrEmpty(myrub.Scdrub)
            || myrub.Scdrub.Length != _lgcdu)
        {
            Imessage = "code obligatoire/longueur";
            return false;
        }
        // //etat
        // if (myrub.Eta < 0)
        // {
        //     Imessage = "etat obligatoire";
        //     return false;
        // }
        return true;
    }
    private bool ValidateFmt(Rubfmt myfmt)
    {
        //liba
        if (string.IsNullOrEmpty(myfmt.Liba)
            || myfmt.Liba.Length < 5)
        {
            Imessage = "designation obligatoire/longueur";
            return false;
        }
        //abrege
        if (string.IsNullOrEmpty(myfmt.Abg)
            || myfmt.Abg.Length < 4)
        {
            Imessage = "abrege obligatoire/longueur";
            return false;
        }
        // //etat
        // if (myfmt.Eta < 0)
        // {
        //     Imessage = "etat obligatoire";
        //     return false;
        // }
        return true;
    }

    // ✅ 6. ROW Management
    private string GetRowCss(RowState state, bool isLight, Guid rowguid,
                        bool isActiveEdit, bool isOtherRowEditing)
    {
        var css = new List<string>();

        if (isLight) css.Add("bg-light");

        // 🔥 YOUR EXISTING: NEW ADD detection (Xadd1 == -1)
        var isNewAdd = ((dynamic)MyDaPlans.FirstOrDefault(p => p.Rowguid == rowguid))?.Xadd1 == -1;

        // 🔥 HIGHEST PRIORITY: Single Row Editing
        if (isActiveEdit)
        {
            css.Add("row-active-edit");  // Thick yellow border + highlight
            return string.Join(" ", css);  // EARLY RETURN - editing overrides all
        }

        // 🔥 NEXT: Other rows when editing active → READONLY
        if (isOtherRowEditing)
        {
            css.Add("row-readonly");
            css.Add("opacity-65");
            css.Add("cursor-not-allowed");
        }

        // 🔥 YOUR EXISTING RowState logic
        switch (state)
        {
            case RowState.AddPending:
            case RowState.EditPending when isNewAdd:
                css.Add("border-start border-warning border-3");
                //css.Add("new-add-indicator");
                break;
            case RowState.EditPending:
                css.Add("border-start border-info border-3");
                break;
            case RowState.DeletePending:
                css.Add("bg-danger-subtle");
                break;
            case RowState.Locked:
                css.Add("bg-secondary-subtle opacity-75");
                break;
        }

        return string.Join(" ", css);
    }
    // ✅ 6. SELECTIONS
    // private void SelPlanAtr(int xatr)
    // {

    // }
    private void SelPlanDom(int xdom)
    {
        if (xdom != 0)
        {
            LsGties = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == xdom && ut.Elea != 0 && ut.Elea != 9).ToList();
        }
        else
        {
            LsGties = new();
        }
    }
    private void SelPlanTier(int xtie)
    {

    }
    private void SelPlanVue(int xvue)
    {

    }


    // ✅ 6. HELPERS - Mark Count and Clone

    private void MarkAsModified(object entity)
    {
        // Reset flags universally
        if (entity is Plngen pln) { pln.Xedt1 = pln.Xadd1 = pln.Xdel1 = 0; }
        else if (entity is Rubvar rub) { rub.Xedt1 = rub.Xadd1 = rub.Xdel1 = 0; }
        else if (entity is Rubfmt fmt) { fmt.Xedt1 = fmt.Xadd1 = fmt.Xdel1 = 0; }

        try { curODContext.Context.AttachTo(GetEntitySet(entity), entity); }
        catch (InvalidOperationException) { }  // Already tracked

        curODContext.Context.UpdateObject(entity);  // 🔥 KEY: Context.UpdateObject()
        Console.WriteLine($"✅ {entity.GetType().Name} marked Modified");
    }
    private object DeepClone(object entity)
    {
        var settings = new JsonSerializerSettings
        {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        };

        var json = JsonConvert.SerializeObject(entity, settings);
        return JsonConvert.DeserializeObject(json, entity.GetType(), settings)!;
    }
    bool AreRowsEqual(Rubvar row1, Rubvar row2) =>
        row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    private int NextSeq<T>(IEnumerable<T> source, Func<T, int?> selector)
    {
        int maxSeq = source.Any() ? source.Max(selector) ?? 0 : 0;
        return maxSeq + 1;
    }
    //FILTRES
    private Grid<Plngen> grid = default!;
    private async void TogglePlnFiltering()
    {
        isPlnFilteringEnabled = !isPlnFilteringEnabled;
        await grid.RefreshDataAsync(); // Refresh the grid to apply the change
    }
    private void ToggleRubFiltering()
    {
        isRubFilteringEnabled = !isRubFilteringEnabled;
    }

    //PLAN Formule modals
    void showFrPlnModal(Plngen mypln, int orig)
    {
        pstrFormu = "";
        if (!string.IsNullOrEmpty(mypln.Fpsrc))
        {
            pstrFormu = mypln.Liba.Substring(0, 8);
        }

        curPlan = mypln;

        if (pForuModal != null)
        {
            pForuModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            pForuModal.ShowAsync();
        }
    }
    //RUBR Formule modals
    void showFrRubModal(Rubvar myrub, int orig)
    {
        rstrFormu = "";
        if (!string.IsNullOrEmpty(myrub.Frsrc))
        {
            rstrFormu = myrub.Liba.Substring(0, 8);
        }

        curRubr = myrub;

        if (rForuModal != null)
        {
            rForuModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            rForuModal.ShowAsync();
        }
    }
    //FMT Formule modals
    void showFrFmtModal(Rubfmt myfmt, int orig)
    {
        fstrFormu = "";
        if (!string.IsNullOrEmpty(myfmt.Ftsrc))
        {
            fstrFormu = myfmt.Liba.Substring(0, 8);
        }

        curFmat = myfmt;

        if (gForuModal != null)
        {
            gForuModal.BodyCssClass = (orig == 1) ? "editable" : "readonly";
            gForuModal.ShowAsync();
        }
    }
    private void showPgLink()
    {
        yaPgLink = !yaPgLink;
    }
    private string GetCodeStyle()
    {
        return "width:50%;";
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }

    private void OnChlBlurHandler(Plngen mypl, Rubvar myvar)
    {
        Console.WriteLine("ATTENTION : En Blur....");
        isRubCodeValid = HandleChlInput(mypl, myvar);
        Imessage = $"OnBlur active : {isRubCodeValid}";
        // Optionally trigger UI refresh or logging
    }
    private void OnChlFocusHandler(Plngen mypl, Rubvar myvar)
    {

    }
    private bool HandleChlInput(Plngen mypl, Rubvar myvar)
    {
        var input = myvar.Scdrub?.Trim();
        Jmessage = "";
        Console.WriteLine($"code entre traiter {input}");
        // Basic null/empty check
        if (string.IsNullOrEmpty(input))
        {
            Jmessage = "Le code est requis.";
            return false;
        }
        // Explicit length check
        if (input.Length != _lgcdu)
        {
            Jmessage = $"Le code doit contenir exactement {_lgcdu} chiffres.";
            return false;
        }
        // Digit-only check/No de poste peut ne pas etre numerique
        if (!Regex.IsMatch(input, @"^[0-9]+$")) // @"^[a-zA-Z0-9_\-\/\\|{}]+$"))
        {
            //(!Regex.IsMatch(input, @"^\d+$")) /numeric
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9]+$")) /alphanumeric strict
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]+$") /add some others characters
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{6}$")) //limit number to 6
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{4,10}$")) //limit a range 4-10
            Jmessage = "Le code ne doit contenir que des chiffres.";
            return false;
        }
        // Uniqueness check
        var exists = mypl.Rubvars?.Any(uva => uva.Scdrub == input) ?? false;
        if (exists)
        {
            Jmessage = "Ce code rubrique existe déjà.";
            return false;
        }
        return true;
    }

    public void Dispose()  // ← ADD THIS
    {
        Console.WriteLine("🧹 Child Prubsaie cleaning up");
        _guard.DiscardUnconfirmedAdds<Plngen>();
        _guard.DiscardUnconfirmedAdds<Rubvar>();
        _guard.DiscardUnconfirmedAdds<Rubfmt>();
    }
}


