@page "/rubgrils"
@layout ArubMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject HttpClientService cliemanager

<!-- InscTiewComponent.razor -->
<PageTitle>Tables</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Plan Rubriques/Grille Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="me-2">Domaine :</label>
                                <InputSelect @bind-Value="IMyDom" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?domaine</option>
                                    @foreach (var tob in LsDoms) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                                    {
                                        <option value="@tob.Gp2" @onclick="() => SelPlanDom(tob.Gp2)">@tob.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">G.Tiers :</label>
                                <InputSelect @bind-Value="IMyGtie" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?gtiers</option>
                                    @foreach (var tob in LsGties)
                                    {
                                        <option value="@tob.Elea" @onclick="() => SelPlanTier(tob.Elea)">@tob.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">Attribut :</label>
                                <InputSelect @bind-Value="IMyAtr" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?util</option>
                                    @foreach (var tob in LsAtrs) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                                    {
                                        <option value="@tob.Elea" @onclick="() => SelPlanAtr(tob.Elea)">@tob.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">Base :</label>
                                <InputSelect @bind-Value="IMyVue" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?util</option>
                                    @foreach (var tob in LsVues) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                                    {
                                        <option value="@tob.Gp2" @onclick="() => SelPlanVue(tob.Elea)">@tob.Liba</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="row">
                            @if (!String.IsNullOrEmpty(Kmessage))
                            {
                                    <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                            }
                        </div>
                        <div class="row">
                                @if (IMyDom != 0 && IMyGtie != 0 && IMyAtr != 0 && IMyVue != 0)
                                {
                                    <!--Contenu des Plans-->
                                        <Grid TItem="Plngen"
                                              Data="@MyDaPlans"
                                              AllowDetailView="true"
                                              OnRowClick="@OnPlanRowClick"
                                              AllowRowClick="true"
                                              AllowPaging="true"
                                              Responsive="true">
                                    <GridColumns>
                                        <GridColumn TItem="Plngen" HeaderText="No">
                                            <ChildContent Context="item">
                                                @if (item.Xadd1 == -2)
                                                {
                                                    <span>?@item?.Elea</span>
                                                }
                                                else
                                                {
                                                    <span class="plnpoint">@item?.Elea</span>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Designation">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {

                                                    <InputText @bind-Value="draftPln.Liba" />
                                                }
                                                else
                                                {
                                                    @item.Liba
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="abrege">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {

                                                    <InputText @bind-Value="draftPln.Abg" />
                                                }
                                                else
                                                {
                                                    @item.Abg
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Formule">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                { // show draftPln inputs
                                                  <label>@pstrFormu</label>
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm" @onclick="() => showFrplnModal(draftPln)" Disabled="@(!allEnable)">
                                                      <i class="bi bi-pencil-square"></i>Formu
                                                  </Button>
                                                }
                                                else
                                                { // show item as read-only
                                                  <label>@pstrFormu</label>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Eta">
                                            <HeaderContent>
                                                @if (!allEnable)
                                                {
                                                    <button class="btn btn-info btn-sm" @onclick="TogglePlnFiltering">
                                                        @(isPlnFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                    </button>
                                                }
                                                else
                                                {
                                                    @if (allEnable && IMyDom != 0 && IMyAtr != 0 && IMyGtie != 0 && IMyVue != 0)
                                                    {       
                                                            <button class="btn btn-primary btn-sm" @onclick="() => OpenAddPlan()">
                                                                ➕ Add
                                                            </button>
                                                    }
                                                }
                                            </HeaderContent>
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftPln.Eta">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Eta" disabled="true">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="actions" IsVisible="@(allEnable)" Filterable="false">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {
                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfEdingPln(item)">
                                                        💾 Accept
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingPln(item)">
                                                        ❎ Cancel
                                                    </button>
                                                }
                                                else if (ConfirmingPlnDeleteRowGuid == item.Rowguid)
                                                {
                                                    @* <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptPlnDelete(item)">
                                                            🗑️ Delete
                                                        </button> *@
                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfirmPlnDelete(item)">
                                                        ✅ Confirm
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary" @onclick="CancelPlnDelete">
                                                        ❌ Cancel
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-warning me-1 @(allEnable ? "" : "disabled-action")"
                                                            disabled="@(EditingPlnRowGuid != null)"
                                                            @onclick="() => PromptPlnEdit(item)">
                                                        ✏️ Edit
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                            disabled="@(EditingPlnRowGuid != null)"
                                                            @onclick="() => PromptPlnDelete(item)">
                                                        🗑️ Delete
                                                    </button>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                    </GridColumns>
                                            <GridDetailView TItem="Plngen" Context="parent">
                                                <Grid TItem="Rubvar"
                                                      Data="parent.Rubvars.ToList()"
                                                      AllowPaging="true"
                                                      Responsive="true">
                                                    <GridColumns>
                                                        <GridColumn TItem="Rubvar" HeaderText="No">
                                                            <ChildContent Context="item">
                                                                @if (item.Xadd1 == -2)
                                                                {
                                                                    <span>?@item?.Useq</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="plnpoint">@item?.Useq</span>
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="">
                                                    <HeaderContent>
                                                        Code
                                                        @if (!String.IsNullOrEmpty(Jmessage))
                                                        {
                                                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                                                        }
                                                    </HeaderContent>
                                                    <ChildContent Context="item">
                                                        <div style="width:90px" class="rubpoint">
                                                            @if (EditingRubRowGuid == item.Rowguid)
                                                            {
                                                                <InputText @bind-Value="draftRub.Scdrub"
                                                                           placeholder="code"
                                                                           id="rucode"
                                                                           maxlength="@_lgcdu"
                                                                           @onblur="@(() => OnChlBlurHandler(curPlan, draftRub))"
                                                                           @onfocus="@(() => OnChlFocusHandler(curPlan, draftRub))"
                                                                           pattern="@($"[0-9]{{{_lgcdu}}}")"
                                                                           title="@($"{_lgcdu} chiffres obligatoires et unique")"
                                                                           required />
                                                            }
                                                            else
                                                            {
                                                                @item.Scdrub
                                                            }
                                                        </div>
                                                    </ChildContent>
                                                </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Designation">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                {
                                                                    <InputText @bind-Value="draftRub.Liba" />
                                                                }
                                                                else
                                                                {
                                                                    @item.Liba
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Abrege">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                {
                                                            <InputText @bind-Value="draftRub.Abg" />
                                                                }
                                                                else
                                                                {
                                                                    @item.Abg
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Refer">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                { // show draftPln inputs
                                                          <InputText @bind-Value="draftRub.Refa" class="form-control form-control-sm" />
                                                                }
                                                                else
                                                                { // show item as read-only
                                                                  <input @bind="item.Refa" class="form-control form-control-sm" disabled />
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                                            <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                                {
                                                                <InputSelect @bind-Value="draftRub.Atyp" class="col-md-1" style="width:auto">
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                            </InputSelect>
                                                        } else
                                                        {
                                                        <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto" disabled>
                                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                            {
                                                                <option value="@tob.Elea">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                        }
                                                    </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Eta">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                { // show draftPln inputs
                                                          <InputSelect @bind-Value="draftRub.Eta" class="col-md-1" style="width:auto">
                                                                      <option class="jchx" value="0">?etat</option>
                                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                        {
                                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                                        }
                                                                    </InputSelect>
                                                                }
                                                                else
                                                                { // show item as read-only
                                                                  <select @bind="item.Eta" class="col-md-1" style="width:auto" disabled>
                                                                      <option class="jchx" value="0">?etat</option>
                                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                        {
                                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                                        }
                                                                    </select>
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Actions" IsVisible="@(allEnable)" Filterable="false">
                                                            <HeaderContent>
                                                                    @if (!siRubAdding)
                                                                    {
                                                                        <button class="btn btn-primary btn-sm" @onclick="() => OpenAddRubr()">
                                                                            ➕ Add
                                                                        </button>
                                                                    }
                                                            </HeaderContent>
                                                            <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                                {
                                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfEdingRub(draftRub)">
                                                                        💾 Save
                                                                    </button>
                                                                    <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingRub(draftRub)">
                                                                        ❎ Cancel
                                                                    </button>
                                                                }
                                                                else if (ConfirmingRubDeleteRowGuid == item.Rowguid)
                                                                {
                                                                    @* <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptRubDelete(item)">
                                                                        🗑️ Delete
                                                                    </button> *@
                                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfirmRubDelete(item)">
                                                                        ✅ Confirm
                                                                    </button>
                                                                    <button class="btn btn-sm btn-secondary" @onclick="CancelRubDelete">
                                                                        ❌ Cancel
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-sm btn-primary me-1 @(allEnable ? "" : "disabled-action")"
                                                                            disabled="@(EditingRubRowGuid != null)"
                                                                            @onclick="() => PromptRubEdit(item)">
                                                                        ✏️ Edit
                                                                    </button>
                                                                        <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                                disabled="@(EditingRubRowGuid != null)"
                                                                                @onclick="() => PromptRubDelete(item)">
                                                                            🗑️ Delete
                                                                        </button>
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                    </GridColumns>
                                                </Grid>
                                            </GridDetailView>
                                        </Grid>
                                }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for ADDING Plan -->
            <Modal @ref="plnModal" class="modal-wide" Title="@patTitle" ShowCloseButton="false">
                <BodyTemplate>
                    <div class="row">
                        @if (!String.IsNullOrEmpty(Kmessage))
                        {
                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                        }
                    </div>
                    <div class="p-0">
                        <Grid TItem="Plngen"
                              Data="@GplnNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Plngen" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">?@jpln</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingPlnRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingPlnRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="Eta">

                                    <ChildContent Context="item">
                                        @if (AddingPlnRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Eta">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen">
                                    <HeaderContent>
                                        @if (!siPlanAdding)
                                        {
                                            <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddPlan()">
                                                <span class="me-1">+</span> Ajout
                                            </button>
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (siPlanAdding && item.Xadd1 == -1)
                                        {
                                            <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludePlan(item)">
                                                <span class="me-1">💾</span> Inclure
                                            </button>
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="AnuPlnModal">Annuler</Button>
                    <Button class="btn btn-success" @onclick="ConfPlnModal">Confirmer</Button>
                </FooterTemplate>
            </Modal>
            <!-- Modal for ADDING Rubvar -->
            <Modal @ref="rubModal" class="modal-wide" Title="@chlTitle" ShowCloseButton=false>
                <BodyTemplate>
                    <div class="row">
                        @if (!String.IsNullOrEmpty(Kmessage))
                        {
                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                        }
                    </div>
                    <div class="p-0">
                        <Grid TItem="Rubvar"
                              Data="@GrubNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Rubvar" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Useq</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="">
                                    <HeaderContent>
                                        Code
                                        @if (!String.IsNullOrEmpty(Jmessage))
                                        {
                                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                                        }
                                    </HeaderContent>
                                    <ChildContent Context="item">
                                        <div style="width:90px">
                                            @if (AddingRubRowGuid == item.Rowguid)
                                            {
                                                <InputText @bind-Value="item.Scdrub"
                                                           placeholder="code"
                                                           id="rucode"
                                                           maxlength="@_lgcdu"
                                                           @onblur="@(() => OnChlBlurHandler(curPlan, item))"
                                                           @onfocus="@(() => OnChlFocusHandler(curPlan, item))"
                                                           pattern="@($"[0-9]{{{_lgcdu}}}")"
                                                           title="@($"{_lgcdu} chiffres obligatoires et unique")"
                                                           required />
                                            }
                                            else
                                            {
                                                @item.Scdrub
                                            }
                                        </div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Refer">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        { // show draftPln inputs
                                          <InputText @bind-Value="item.Refa" class="form-control form-control-sm" />
                                        }
                                        else
                                        { // show item as read-only
                                          <input @bind="item.Refa" class="form-control form-control-sm" disabled />
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                    <ChildContent Context="item">
                                        <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto">
                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                            {
                                                <option value="@tob.Elea">@tob.Liba</option>
                                            }
                                        </InputSelect>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        { // show draftPln inputs
                                          <InputSelect @bind-Value="item.Eta" class="col-md-1" style="width:auto">
                                              <option class="jchx" value="0">?etat</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        { // show item as read-only
                                          <select @bind="item.Eta" class="col-md-1" style="width:auto">
                                              <option class="jchx" value="0">?etat</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </select>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar">
                                    <HeaderContent>
                                            @if (allEnable && !siRubAdding)
                                            {
                                                <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddRubr()">
                                                    <span class="me-1">+</span> Ajout
                                                </button>
                                            }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="">
                                    <ChildContent Context="item">
                                            @if (allEnable  && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludeRubr(item)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="AnuRubModal">Annuler</Button>
                    <Button class="btn btn-success" @onclick="ConfRubModal">Confirmer</Button>
                </FooterTemplate>
            </Modal>
            <!-- Modal for FORMULE PLAN -->
            <Modal @ref="pForuModal" Size="ModalSize.Large" Title="Edit Formula" ShowCloseButton="false">
                <BodyTemplate>
                    <div class="mb-3">
                        <label class="form-label">Formula</label>
                        <InputTextArea class="form-control"
                                       @bind-Value="curPlan.Fpsource"
                                       rows="8"
                                       style="resize: vertical;"
                                       disabled="@(!allEnable)" />
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button Color="ButtonColor.Secondary" @onclick="() => pForuModal.HideAsync()">Cancel</Button>
                </FooterTemplate>
            </Modal>

        </Authorized>
    </AuthorizeView>
}
<style>
    .compact-select {
        height: calc(1.5em + 0.5rem + 2px); /* match input height */
        padding: 0.25rem 0.5rem;
    }

    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }

    .plnpoint {
        font-weight: bold;
        background-color: blue;
        color: white;
    }

    .rubpoint {
        font-weight: bold;
        background-color: yellow;
        color: black;
    }

    .fmtpoint {
        font-weight: bold;
        background-color: darkolivegreen;
        color: black;
    }
</style>
@code {
    private bool isLoading = true;
    private bool allEnable = false;

    private string Imessage = "", Jmessage = "", Kmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int ChxMenu { get; set; }
    //private Tiersp gridTier = new Tiersp();
    private List<Rubvar> LsRubs = new List<Rubvar>();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
  
    private string _UserId = "", plnDom = "", domDest = "", domTitle = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();
    private List<Gplan> LsPlans = new List<Gplan>();
    private List<Gpfixe> LsFixes = new List<Gpfixe>();
    private List<Gpvar> LsVars = new List<Gpvar>();
    private List<Gpfixe> LsDoms = new List<Gpfixe>();
    private List<Gpfixe> LsAtrs = new List<Gpfixe>();
    private List<Gpfixe> LsGties = new List<Gpfixe>();
    private List<Gpfixe> LsVues = new List<Gpfixe>();

    private int _lgcdu = 0;
    private bool Yames = false;
    private bool isPlnFilteringEnabled = false;
    private bool isRubFilteringEnabled = false;
    //private bool isGpeFilteringEnabled = false;

    //Global
    private int IMyDom = 0, IMyAtr = 0, IMyGtie = 0, IMyVue = 0;
    private int? plnMax = 0;
    private Plngen curPlan = new();
    private Rubvar curRubr = new();
    private bool siPlanAdding = false, siRubAdding = false;
    private bool siPlnEditing = false, siRubEditing = false;
    private Modal plnModal, rubModal; //, fmtModal;
    private int jpln = 0, jrub = 0;
    Modal pForuModal = new(); //plans
    private string patInitTitle = "", patTitle = "", chlTitle = ""; // fmtTitle = "";
    private string pstrFormu = "";

    //pere-editing/adding/deleting
    //private Guid? AddingPlnRowGuid; //pmodal
    //private bool IsFixAdding(Plngen item) => AddingPlnRowGuid == item.Rowguid;

    // private bool IsFixEditing(Plngen item) => EditingPlnRowGuid == item.Rowguid;
    // private Guid? EditingPlnRowGuid;

    //private bool IsPlnEditing(Plngen item) => EditingPlnRowGuid == item.Rowguid;
    //private Guid? EditingPlnRowGuid;

    //private Guid? ConfirmingPlnDeleteRowGuid;
    //private Dictionary<Guid, Plngen> _originalFixSnapshots = new();
    //Dictionary<int, Plngen> fxparentMapByPseq = new();
    private Dictionary<int, List<Plngen>> gPlnsMap = new();
    private Dictionary<int, List<Rubvar>> gRubsMap = new();
    //fils-editing/adding/deleting
    //private Rubvar nwChild = new();
    //private Guid? AddingRubRowGuid; //cmodal
    //private bool IsAdding(Rubvar item) => AddingRubRowGuid == item.Rowguid;

    // private bool IsEditing(Rubvar item) => EditingRubRowGuid == item.Rowguid;
    // private Guid? EditingRubRowGuid;

    //private bool IsRubEditing(Rubvar item) => EditingRubRowGuid == item.Rowguid;
    //private Guid? EditingRubRowGuid;
    //private Guid? ConfirmingRubDeleteRowGuid;
    private Dictionary<Guid, Rubvar> _originalSnapshots = new();


    // //data
    public List<Plngen> MyDaPlans => curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Todom == IMyDom && pl.Toatr == IMyAtr && pl.Tovue == IMyVue && pl.Totyp == IMyGtie && pl.Tovers == 1).ToList();

    private Guid? AddingPlnRowGuid; //pmodal
    private Guid? EditingPlnRowGuid;
    private Guid? ConfirmingPlnDeleteRowGuid;
    private Guid? AddingRubRowGuid; //cmodal
    private Guid? EditingRubRowGuid;
    private Guid? ConfirmingRubDeleteRowGuid;
    //pere
    private List<Plngen> GplnNewRows => gPlnsMap.TryGetValue(curOrga.Idorg, out var rows)
    ? new List<Plngen>(rows)
    : new List<Plngen>();
    // //fils
    private List<Rubvar> GrubNewRows => gRubsMap.TryGetValue(curPlan.Idpln, out var rows)
    ? new List<Rubvar>(rows)
    : new List<Rubvar>();

    public List<Rubvar> MyDaChilds { get; set; } = new();


    //variables Plan
    Plngen draftPln = new();
    Plngen? editingPln = null;
    //variables Rub
    Rubvar draftRub = new();
    Rubvar? editingRub = null;
    private bool isRubCodeValid = false;

    void OnPlanRowClick(GridRowEventArgs<Plngen> args)
    {
        Console.WriteLine($"OnPlanRowClick Triggered : {args.Item.Idpln}");
        curPlan = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curPlan.Idpln}");
        if (curPlan == null || curPlan.Idpln == 0)
        {
            return;
        }
        StateHasChanged();
    }
    void OnRubRowClick(GridRowEventArgs<Rubvar> args)
    {
        Console.WriteLine($"OnChildRowClick Triggered : {args.Item.Idrub}");
        curRubr = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curRubr.Idrub}");
        if (curRubr == null || curRubr.Idrub == 0)
        {
            return;
        }
        StateHasChanged();
    }

    void OpenAddPlan()
    {
        GplnNewRows.Clear();
        int parentKey = Convert.ToInt32(curOrga.Idorg);
        if (gPlnsMap.ContainsKey(parentKey))
        {
            gPlnsMap.Remove(parentKey); // Clear previous children for clean modal state
        }
        plnMax = curOrga.Plngens.Any() ? curOrga.Plngens.Max(x => x.Elea) : 0;
        PrepareAddPlan();

        patInitTitle = $"{curOrga.Idorg} - {curOrga.Raison} (creation programme)";
        patTitle = patInitTitle;
        jpln = 0;
        plnModal.ShowAsync();
    }

    void PrepareAddPlan()
    {
        if (!allEnable)
        {
            Imessage = "REFUS, Creation Programme indisponible";
            return;
        }
        var parentId = curOrga.Idorg;
        jpln = jpln + 1;
        // Make sure the gPlnsMap has an entry for this parent
        if (!gPlnsMap.ContainsKey(parentId))
        {
            gPlnsMap[parentId] = new List<Plngen>();
        }

        var existingPlngens = curOrga.Plngens.Where(ln => ln.Idorg == parentId) ?? new DataServiceCollection<Plngen>();
        var mapPlngens = gPlnsMap[parentId];
        // int maxIdzonFromParent = existingPlngens.Any()
        //     ? existingPlngens.Max(r => r.Elea ?? 0)
        //     : 0;
        // int maxIdzonFromMap = mapPlngens.Any()
        //     ? mapPlngens.Max(r => r.Elea ?? 0)
        //     : 0;
        // int maxIdzon = Math.Max(0, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        // int nextZon = maxIdzon == 0 ? 1 : maxIdzon + 1;
        //Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {parentId}");

        plnMax = plnMax + 1;
        int nextSeq = plnMax ?? 1;
        var newPat = CreateNewPlan(nextSeq);
        if (newPat != null)
        {
            gPlnsMap[parentId].Insert(0, newPat);
            Console.WriteLine($"Actual NewRows nb {GplnNewRows.Count}");
            GplnNewRows.Insert(0, newPat);
            //GplnNewRows = GplnNewRows.ToList();
            Console.WriteLine($"After Insert NewRows nb {GplnNewRows.Count}");
            AddingPlnRowGuid = newPat.Rowguid;
        }
        siPlanAdding = true;
        StateHasChanged();
    }

    void OpenAddRubr()
    {
        int parentKey = Convert.ToInt32(curPlan.Idpln);
        if (gRubsMap.ContainsKey(parentKey))
        {
            gRubsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddRubr();

        chlTitle = $"{curPlan.Elea} - {curPlan.Liba} (Grille-Plans/Rubriques en creation)";
        jrub = 0;
        rubModal.ShowAsync();
    } 
    void PrepareAddRubr()
    {
        isRubCodeValid = false;
        var parentId = curPlan.Idpln;
        jrub = jrub + 1;
        // Make sure the gRubsMap has an entry for this parent
        if (!gRubsMap.ContainsKey(parentId))
        {
            gRubsMap[parentId] = new List<Rubvar>();
        }

        var existingRubvars = curPlan.Rubvars.Where(ln => ln.Idpln == parentId) ?? new DataServiceCollection<Rubvar>();
        var mapRubvars = gRubsMap[parentId];
        int maxIdzonFromParent = existingRubvars.Any()
            ? existingRubvars.Max(r => r.Useq ?? 0)
            : 0;

        int maxIdzonFromMap = mapRubvars.Any()
            ? mapRubvars.Max(r => r.Useq ?? 0)
            : 0;
        int maxIdzon = Math.Max(0, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        int nextZon = maxIdzon == 0 ? 1 : maxIdzon + 1;
        Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {curPlan.Idpln}");

        var newChl = CreateNewRubr(nextZon);
        if (newChl != null)
        {
            gRubsMap[parentId].Insert(0, newChl);
            Console.WriteLine($"Actual NewRows nb {GrubNewRows.Count}");
            GrubNewRows.Insert(0, newChl);
            //GrubNewRows = GrubNewRows.ToList();
            Console.WriteLine($"After Insert NewRows nb {GrubNewRows.Count}");
            AddingRubRowGuid = newChl.Rowguid;
        }
        StateHasChanged();
        siRubAdding = true;
    }
    Plngen CreateNewPlan(int nextSeq)
    {
        if (curOrga == null || IMyDom == 0 || IMyGtie == 0 || IMyAtr == 0 || IMyVue == 0 || allEnable == false)
        {
            Imessage = "REFUS, Type Domaine/G.Tiers/Attrib/Utilis... obligatoire";
            return new Plngen();
        }
        try
        {
            return new Plngen()
            {
                Rowguid = Guid.NewGuid(),
                Idorg = curOrga.Idorg,
                Ptyp = 3,
                Todom = IMyDom,
                Totyp = IMyGtie,
                Toatr = IMyAtr,
                Tovue = IMyVue,
                Tovers = 1,
                Liba = "",
                Abg = "",
                Styp = 0,
                Idcent = 0,
                Eta = 1,
                Elea = 0,
                //Belea = nextSeq,
                Xadd1 = -1
            };

        }
        catch (Exception ex)
        {
            Console.WriteLine($"1Probleme EntityManagment : {ex.Message}");
            return new Plngen();
        }
    }
    Rubvar CreateNewRubr(int nextSeq)
    {   
        return new Rubvar()
            {
                Rowguid = Guid.NewGuid(),
                Idpln = curPlan.Idpln,
                Torub = 0,
                Utyp = curPlan.Toatr, //grille
                Sigrid = 1, //est grille
                Gdact = 3, //declenche (ajt rubriq Actsaie)
                Tovue = curPlan.Tovue, //virtuel-reel
                Dtperi = 0, //toujours
                Liba = "",
                Abg = "",
                Refa = "",
                Ddval = 0,
                Dfval = 0,
                Eaut = 0, //supprimable
                Eta = 1,
                Xadd1 = -1, //newly added
            };   
    }
    void IncludePlan(Plngen mypln)
    {
        //var parentId = curOrga.Idorg;
        //bool YaChild = IsChildValid(aglne); // Make sure this returns true if aglne is valid to add
        // if (!curODContext.IsEntityTracked(mypln)) // && YaChild)
        // {
        //     try
        //     {
        //         mypln.Xadd1 = -2;  // Mark as being added
        //         //curODContext.AddObject("Plngens", mypln);
        //         curODContext.AddRelatedObject(curOrga,"Plngens",mypln);
        //         if (!gPlnsMap.ContainsKey(parentId))
        //         {
        //             gPlnsMap[parentId] = new List<Plngen>();
        //         }
        //         if (!gPlnsMap[parentId].Any(p => p.Idpln == mypln.Idpln))
        //         {
        //             gPlnsMap[parentId].Add(mypln);
        //         }
        //         curOrga.Plngens.Add(mypln);
        //         AddingPlnRowGuid = null;
        //         siPlanAdding = true;
        //         Imessage = "Success... Rubrique ajoutee";
        //     }
        //     catch (Exception ex)
        //     {
        //         Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
        //     }
        //     StateHasChanged();
        // }
        // else
        // {
        //     mypln.Xadd1 = 0;
        //     Imessage = "Deja ajoute";
        // }
        var parentId = curOrga.Idorg;
        if (!curODContext.IsEntityTracked(mypln)) // && YaChild)
        {
            try
            {
                mypln.Xadd1 = -2;  // Mark as being added

                //if (!curODContext.IsEntityTracked(curOrga))
                //{
                //    curODContext.AttachTo("Plngens", curPlan);
                //}

                curODContext.AddRelatedObject(curOrga, "Plngens", mypln);

                if (!gPlnsMap.ContainsKey(parentId))
                {
                    gPlnsMap[parentId] = new List<Plngen>();
                }

                if (!gPlnsMap[parentId].Any(p => p.Idorg == parentId))
                {
                    gPlnsMap[parentId].Add(mypln);
                }

                curOrga.Plngens.Add(mypln);
                AddingPlnRowGuid = null;
                Imessage = "Success... plan ajoute";
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
            }
            StateHasChanged();
        }
        else
        {
            mypln.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }
        //isAdetCodeValid = false;
        siPlanAdding = false; // Consider moving this flag reset based on your UI state management needs
    }

    // void IncludePlan(Plngen aglne)
    // {
    //     // Use parent Idrub as key to gRubsMap dictionary
    //     var parentId = curOrga.Idorg;
    //     bool YaPater = false;
    //     YaPater = IsPaterValid(aglne);
    //     if (!YaPater) return;
    //     Imessage = "";
    //     if (!curODContext.IsEntityTracked(aglne))
    //     {
    //         Console.WriteLine($"First enter of Include : {aglne.Idpln}");
    //         aglne.Xadd1 = -2;  //fin adding to be tracked in loaded rubfmts wait for new add
    //         curODContext.AddObject<Plngen>("Plngens", aglne);
    //         // Make sure gRubsMap has the parent key initialized
    //         if (!gPlnsMap.ContainsKey(parentId))
    //         {
    //             gPlnsMap[parentId] = new List<Plngen>();
    //         }
    //         // Add only if the poste with same Rowguid not already present
    //         if (!gPlnsMap[parentId].Any(p => p.Idorg == aglne.Idorg))
    //         {
    //             gPlnsMap[parentId].Add(aglne);
    //         }
    //         //Console.WriteLine("BEFORE SAVED");
    //         //curODContext.SaveDataAsync();
    //         AddingPlnRowGuid = null;
    //         curOrga.Plngens.Add(aglne);
    //         siPlanAdding = false;
    //         StateHasChanged();
    //         Imessage = "Success... programme ajoute";
    //     }
    //     else
    //     {
    //         aglne.Xadd1 = 0;
    //         Imessage = "Deja ajoute";
    //     }
    // }
    void IncludeRubr(Rubvar aglne)
    {
        var parentId = curPlan.Idpln;
        //bool YaChild = IsChildValid(aglne); // Make sure this returns true if aglne is valid to add
        if (!curODContext.IsEntityTracked(aglne)) // && YaChild)
        {
            try
            {
                aglne.Xadd1 = -2;  // Mark as being added

                if (!curODContext.IsEntityTracked(curPlan))
                {
                    curODContext.AttachTo("Plngens", curPlan);
                }

                curODContext.AddRelatedObject(curPlan, "Rubvars", aglne);

                if (!gRubsMap.ContainsKey(parentId))
                {
                    gRubsMap[parentId] = new List<Rubvar>();
                }

                if (!gRubsMap[parentId].Any(p => p.Idpln == aglne.Idpln))
                {
                    gRubsMap[parentId].Add(aglne);
                }

                curPlan.Rubvars.Add(aglne);

                AddingRubRowGuid = null;
                //siRubAdding = true;
                Imessage = "Success... Rubrique ajoutee";
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
            }
            StateHasChanged();
        }
        else
        {
            aglne.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        isRubCodeValid = false;
        siRubAdding = false; // Consider moving this flag reset based on your UI state management needs
    }
    //GTfl -- EDITING
    void PromptPlnEdit(Plngen mypln)
    {
        mypln.Xedt1 = 0;
        editingPln = mypln;
        draftPln = new Plngen
        {
            Rowguid = mypln.Rowguid,
            Idorg = mypln.Idorg,
            Ptyp = mypln.Ptyp,
            Todom = mypln.Todom,
            Totyp = mypln.Totyp,
            Toatr = mypln.Toatr,
            Tovue = mypln.Tovue,
            Tovers = mypln.Tovers,
            Liba = mypln.Liba,
            Abg = mypln.Abg,
            Styp = mypln.Styp,
            Idcent = mypln.Idcent,
            Eta = mypln.Eta,
            Elea = mypln.Elea,
            Plsdiv = mypln.Plsdiv,
            Plsgri = mypln.Plsgri,
            Plsech = mypln.Plsech,
            //Belea = mypln.Belea,
            Xadd1 = mypln.Xadd1
            // Copy other fields as necessary
        };
        //init edition
        mypln.Xedt1 = -1;
        EditingPlnRowGuid = mypln.Rowguid;
        siPlnEditing = true;
        //isEdingMan = true;
    }
    void CancEdingPln(Plngen mypln)
    {
        mypln.Xedt1 = 0;
        //isEdingMan = false;
        editingPln = new();
        draftPln = new();
        EditingPlnRowGuid = null;
    }
    void ConfEdingPln(Plngen mypln)
    {
        if (editingPln is not null)
        {
            editingPln.Rowguid = mypln.Rowguid;
            editingPln.Idorg = mypln.Idorg;
            editingPln.Ptyp = mypln.Ptyp;
            editingPln.Todom = mypln.Todom;
            editingPln.Totyp = mypln.Totyp;
            editingPln.Toatr = mypln.Toatr;
            editingPln.Tovue = mypln.Tovue;
            editingPln.Tovers = mypln.Tovers;
            editingPln.Liba = mypln.Liba;
            editingPln.Abg = mypln.Abg;
            editingPln.Styp = mypln.Styp;
            editingPln.Idcent = mypln.Idcent;
            editingPln.Eta = mypln.Eta;
            editingPln.Elea = mypln.Elea;
            editingPln.Plsdiv = mypln.Plsdiv;
            editingPln.Plsgri = mypln.Plsgri;
            editingPln.Plsech = mypln.Plsech;
            //editingPln.Belea = mypln.Belea;
            editingPln.Xadd1 = mypln.Xadd1; //newly added
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingPln))
            {
                curODContext.AttachTo("Plngens", editingPln);
            }
            curODContext.UpdateObject(editingPln);
        }
        mypln.Xedt1 = 0;
        //isEdingMan = false;
        editingPln = null;
        EditingPlnRowGuid = null;
    }
    private void PromptPlnDelete(Plngen item)
    {
        ConfirmingPlnDeleteRowGuid = item.Rowguid;
    }
    private void CancelPlnDelete()
    {
        ConfirmingPlnDeleteRowGuid = null;
    }
    private void ConfirmPlnDelete(Plngen row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        //Plngen svRow = row;
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        //curPlan.Rubvars.ToList().RemoveAll(rf => rf.Idpln == svRow.Idpln);
        //curOrga.Plngens.Remove(svRow); // Remove from tracked collection
        //List<Plngen> nwrows = MyDaPlans;
        //nwrows.Remove(row);
        //MyDaPlans = nwrows;
        curOrga.Plngens.Remove(row); // Remove from tracked collection
        EditingPlnRowGuid = null;
        ConfirmingPlnDeleteRowGuid = null;
        StateHasChanged(); // Notify UI about changes
    }
    void PromptRubEdit(Rubvar myrub)
    {
        //init edition
        myrub.Xedt1 = 0;
        editingRub = myrub;
        //isEdingLne = true;
        draftRub = new Rubvar
        {
            Rowguid = myrub.Rowguid,
            Idpln = myrub.Idpln,
            Torub = myrub.Torub,
            Utyp = myrub.Utyp, //grille
            Sigrid = myrub.Sigrid, //est grille
            Gdact = myrub.Gdact, //declenche (ajt rubriq Actsaie)
            Tovue = myrub.Tovue, //virtuel-reel
            Dtperi = myrub.Dtperi, //toujours
            Liba = myrub.Liba,
            Abg = myrub.Abg,
            Refa = myrub.Refa,
            Ddval = myrub.Ddval,
            Dfval = myrub.Dfval,
            Eaut = myrub.Eaut, //supprimable
            Eta = myrub.Eta,
            Xadd1 = myrub.Xadd1, //newly added
            // Copy other fields as necessary
        };
        //init edition
        myrub.Xedt1 = -1;
        EditingRubRowGuid = myrub.Rowguid;
        siRubEditing = true;
    }
    void CancEdingRub(Rubvar myrub)
    {
        myrub.Xedt1 = 0;
        editingRub = null;
        draftRub = null;
        EditingRubRowGuid = null;
    }
    void ConfEdingRub(Rubvar myrub)
    {
        if (editingRub is not null)
        {
            editingRub.Rowguid = myrub.Rowguid;
            editingRub.Idpln = myrub.Idpln;
            editingRub.Torub = myrub.Torub;
            editingRub.Utyp = myrub.Utyp; //grille
            editingRub.Sigrid = myrub.Sigrid; //est grille
            editingRub.Gdact = myrub.Gdact; //declenche (ajt rubriq Actsaie)
            editingRub.Tovue = myrub.Tovue; //virtuel-reel
            editingRub.Dtperi = myrub.Dtperi; //toujours
            editingRub.Liba = myrub.Liba;
            editingRub.Abg = myrub.Abg;
            editingRub.Refa = myrub.Refa;
            editingRub.Ddval = myrub.Ddval;
            editingRub.Dfval = myrub.Dfval;
            editingRub.Eaut = myrub.Eaut; //supprimable
            editingRub.Eta = myrub.Eta;
            editingRub.Xadd1 = myrub.Xadd1; //newly added
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingRub))
            {
                curODContext.AttachTo("Rubvars", editingRub);
            }
            curODContext.UpdateObject(editingRub);
        }
        myrub.Xedt1 = 0;
        editingRub = null;
        EditingRubRowGuid = null;
    }
    private void PromptRubDelete(Rubvar item)
    {
        ConfirmingRubDeleteRowGuid = item.Rowguid;
    }
    private void CancelRubDelete()
    {
        ConfirmingRubDeleteRowGuid = null;
    }
    private void ConfirmRubDelete(Rubvar row)
    {
        var parent = curPlan;
        if (parent == null)
            return;
        //Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Idpln}");
        //if (!gRubsMap.TryGetValue(parent.Idpln, out var coll))
        //    return;
        //Console.WriteLine($"gRubsMap {gRubsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        //coll.Remove(row);                       // Remove for UI update
        //curPlan.Rubvars.Where(ln => ln.Idpln == parent.Idpln).ToList().Remove(row);           // Remove from tracked collection
        parent.Rubvars.ToList().Remove(row);
        //List<Rubvar> nwrows = parent.Rubvars.ToList();
        //nwrows.Remove(row);
        //EditingPlnRowGuid = null;
        //parent.Rubvars { returnnwrows.ToList();

        EditingRubRowGuid = null;
        ConfirmingRubDeleteRowGuid = null;
        StateHasChanged(); // Notify UI about changes
    }

    //Modals management
    private async Task ConfPlnModal()
    {
        SaveCurEntities();
        Imessage = "Programme(s) SAVED";
        await plnModal.HideAsync();
        allEnable = false;
        siPlanAdding = false;
        StateHasChanged();
    }
    private async Task ConfRubModal()
    {
        SaveCurEntities();
        Imessage = "Programme/Rubrique(s) SAVED";
        await rubModal.HideAsync();
        allEnable = false;
        siRubAdding = false;
        StateHasChanged();
    }

    void showFrplnModal(Plngen mypln)
    {
        pstrFormu = "";
        if (!String.IsNullOrEmpty(mypln.Fpsource))
        {
            pstrFormu = mypln.Liba.Substring(0, 8);
        }
        curPlan = mypln;
        pForuModal?.ShowAsync();
    }

    private async Task AnuPlnModal()
    {
        // Remove newly added but unsaved Plngens from context
        var newPlns = GplnNewRows.Where(p => p.Xadd1 == -1 || p.Xadd1 == -2).ToList();
        foreach (var pln in newPlns)
        {
            if (curODContext.IsEntityTracked(pln))
            {
                curODContext.Detach(pln);
            }
            curOrga.Plngens.Remove(pln);
        }
        GplnNewRows.Clear();
        Imessage = "Programme(s) ANNULE";
        await plnModal.HideAsync();
        allEnable = false;
        siPlanAdding = false;
        StateHasChanged();
    }
    private async Task AnuRubModal()
    {
        // Remove newly added but unsaved Rubvars from context
        var newRubs = GrubNewRows.Where(r => r.Xadd1 == -1 || r.Xadd1 == -2).ToList();
        foreach (var rub in newRubs)
        {
            if (curODContext.IsEntityTracked(rub))
            {
                curODContext.Detach(rub);
            }
            curPlan.Rubvars.Remove(rub);
        }
        GrubNewRows.Clear();
        Imessage = "Rubrique(s) ANNULE";
        await rubModal.HideAsync();
        allEnable = false;
        siRubAdding = false;
        StateHasChanged();
    }
    // private void SaveCurEntities()
    // {
    //     // Save all tracked entities in the OData context
    //     var trackedEntities = curODContext.GetAllTrackedEntities();
    //     foreach (var entityInfo in trackedEntities)
    //     {
    //         var entity = entityInfo.Entity;
    //         var state = entityInfo.State;
    //         if (state == EntityStates.Added)
    //         {
    //             curODContext.AddObject(entityInfo.EntitySetName, entity);
    //         }
    //         else if (state == EntityStates.Modified)
    //         {
    //             curODContext.UpdateObject(entity);
    //         }
    //         else if (state == EntityStates.Deleted)
    //         {
    //             curODContext.DeleteObject(entity);
    //         }
    //     }
    // }
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (toChild == null)
        {
            Console.WriteLine("TOCHILD IS NULL");
            return;
        }
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        //LsTabls = toChild.LsTabls.ToList();
        LsPlans = toChild.LsPlans.Where(pl => pl.Ptyp == 3).ToList();
        Console.WriteLine($" nb PLANS GRILLE : {LsPlans.Count}");
        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        //MyDaPlans = new();
        await ChargeParentData();
        _navmanager.LocationChanged += OnLocationChanged;
        //Imessage = "Donnees Grilles chargees";
        isLoading = false;
    }

    private async Task ChargeParentData()
    {
        domDest = "Domaine";
        LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsAtrs = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 1 && ut.Gp1 == 3 && ut.Elea != 0).ToList();
        LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 4 && ut.Elea != 0).ToList();
    }
    //VALIDATION
    private bool IsPaterValid(Plngen mypl)
    {
        int ercpt = 0;
        Kmessage = "";
        if (string.IsNullOrEmpty(mypl.Liba))
        {
            Kmessage = Kmessage + "Obligatoire Designation";
            ercpt = ercpt + 1;
        }
        if (mypl.Idorg == 0)
        {
            Kmessage = Kmessage + "Obligatoire Institution";
            ercpt = ercpt + 1;
        }
        if (ercpt > 0)
        {
            Kmessage = "!%2.REFUS, erreur saisie Plan(s)%! " + Kmessage;
            return false;
        }
        return true;
    }
    private bool IsChildValid(Rubvar myrb)
    {
        int ercpt = 0;
        Kmessage = "";
        if (string.IsNullOrEmpty(myrb.Liba))
        {
            Kmessage = Kmessage + "Obligatoire designation";
            ercpt = ercpt + 1;
        }
        if (isRubCodeValid = false) //verifie scdrub
        {
            Kmessage = Kmessage + "Obligatoire code";
            ercpt = ercpt + 1;
        }
        if (myrb.Idpln == 0)
        {
            Kmessage = Kmessage + "Obligatoire programme";
            ercpt = ercpt + 1;
        }
        if (ercpt > 0)
        {
            Kmessage = "!%2.REFUS, erreur saisie Rubrique(s)%! " + Kmessage;
            return false;
        }
        return true;
    }
    //SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        EditingRubRowGuid = null;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        EditingRubRowGuid = null;
        Imessage = "";
    }
    public async Task SavAll()
    {
        Imessage = "Enregistrement Operations, patience...";
        allEnable = false;
        EditingRubRowGuid = null;
        await curODContext.SaveDataAsync();
    }
    //SELECTIONS
        // if (orig == 4) //vues
        // {
        //     if (IMyVue != 0)
        //     {
        //         if (IMyGtie != 0 && IMyDom != 0 && IMyAtr != 0)
        //         {
        //             MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Todom == IMyDom && pl.Totyp == IMyGtie && pl.Toatr == IMyAtr && pl.Tovers == 1));
        //         }
        //     }
        //     else
        //     {
        //         MyDaPlans = new();
        //     }
        // }
    //}
    private void SelPlanAtr(int xatr)
    {

    }
    private void SelPlanDom(int xdom)
    {
        if (xdom != 0)
        {
            LsGties = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == xdom && ut.Elea != 0 && ut.Elea != 9).ToList();
        }
        else
        {
            LsGties = new();
        }
    }
    private void SelPlanTier(int xtie)
    {

    }
    private void SelPlanVue(int xvue)
    {

    }
    private void OnInRubPost(GridRowEventArgs<Rubvar> args)
    {
        var myrub = (Rubvar)args.Item;
        //other code
    }
    //FILTRES
    private void TogglePlnFiltering()
    {
        isPlnFilteringEnabled = !isPlnFilteringEnabled;
    }
    private void ToggleRubFiltering()
    {
        isRubFilteringEnabled = !isRubFilteringEnabled;
    }
    bool AreRowsEqual(Rubvar row1, Rubvar row2) =>
        row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    private void OnChlBlurHandler(Plngen mypl, Rubvar myvar)
    {
        Console.WriteLine("ATTENTION : En Blur....");
        isRubCodeValid = HandleChlInput(mypl, myvar);
        Imessage = $"OnBlur active : {isRubCodeValid}";
        // Optionally trigger UI refresh or logging
    }
    private void OnChlFocusHandler(Plngen mypl, Rubvar myvar)
    {

    }

    private bool HandleChlInput(Plngen mypl, Rubvar myvar)
    {
        var input = myvar.Scdrub?.Trim();
        Jmessage = "";
        Console.WriteLine($"code entre traiter {input}");
        // Basic null/empty check
        if (string.IsNullOrEmpty(input))
        {
            Jmessage = "Le code est requis.";
            return false;
        }
        // Explicit length check
        if (input.Length != _lgcdu)
        {
            Jmessage = $"Le code doit contenir exactement {_lgcdu} chiffres.";
            return false;
        }
        // Digit-only check/No de poste peut ne pas etre numerique
        if (!Regex.IsMatch(input, @"^[0-9]+$")) // @"^[a-zA-Z0-9_\-\/\\|{}]+$"))
        {
            //(!Regex.IsMatch(input, @"^\d+$")) /numeric
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9]+$")) /alphanumeric strict
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]+$") /add some others characters
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{6}$")) //limit number to 6
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{4,10}$")) //limit a range 4-10
            Jmessage = "Le code ne doit contenir que des chiffres.";
            return false;
        }
        // Uniqueness check
        var exists = mypl.Rubvars?.Any(uva => uva.Scdrub == input) ?? false;
        if (exists)
        {
            Jmessage = "Ce code rubrique existe déjà.";
            return false;
        }
        return true;
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        SaveCurEntities();
    }
    private void SaveCurEntities()
    {
        Console.WriteLine($"Entities SAVED");
        try
        {
            Console.WriteLine("SAVED PLUS");
            curODContext.SaveDataAsync();
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr && pl.Tovers == 1).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            //Alert($"ECHEC Entities not SAVED");
        }
    }
}