@page "/zzprubvent"
@layout PrubMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager

<!-- InscTiewComponent.razor -->
<PageTitle>Tables</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Programs/Plan Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="me-2">Domaine :</label>
                                <InputSelect @bind-Value="IMyDom" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?domaine</option>
                                    @foreach (var tob in LsDoms) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                                    {
                                        <option value="@tob.Gp2" @onclick="() => SelPlanDom(tob.Gp2)">@tob.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">Base :</label>
                                <InputSelect @bind-Value="IMyVue" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?util</option>
                                    @foreach (var tob in LsVues) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                                    {
                                        <option value="@tob.Elea" @onclick="() => SelPlanVue(tob.Elea)">@tob.Liba</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        @* @if (!MyDaPlans.Any())
                        {
                            @if (allEnable && IMyDom != 0)
                            {
                                <div class="row">
                                    <button class="col-1 btn btn-primary btn-sm" @onclick="() => OpenAddPlan()">
                                        ➕ Add
                                    </button>
                                </div>
                            }
                        } *@
                        <div class="row">
                            @if (IMyDom != 0 && IMyVue != 0)
                            {
                                <!--Contenu des Plans-->
                                <Grid TItem="Plngen"
                                      Data="@MyDaPlans"
                                      AllowDetailView="true"
                                      AllowRowClick="true"
                                      OnRowClick="@OnPlanRowClick"
                                      AllowPaging="true"
                                      Responsive="true">
                                    <GridColumns>
                                        <GridColumn TItem="Plngen" HeaderText="No">
                                            <ChildContent Context="item">
                                                @if (item.Xadd1 == -1)
                                                {
                                                    <span>?@item?.Iui</span>
                                                }
                                                else
                                                {
                                                    <span class="plnpoint">@item?.Iele</span>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Designation">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {

                                                    <InputText @bind-Value="draftPln.Liba" />
                                                }
                                                else
                                                {
                                                    @item.Liba
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="abrege">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {

                                                    <InputText @bind-Value="draftPln.Abg" />
                                                }
                                                else
                                                {
                                                    @item.Abg
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Formule">
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                { // show draftPln inputs
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm" @onclick="() => showFrplnModal(draftPln)">
                                                      <i class="bi bi-pencil-square"></i>
                                                      <span class="text-truncate d-inline-block" style="max-width: 100px;">@item.Fpsource</span>
                                                  </Button>
                                                }
                                                else
                                                { // show item as read-only
                                                  <Button Color="ButtonColor.Secondary" Class="btn btn-default btn-sm" @onclick="() => showFrplnModal(item)">
                                                      <i class="bi bi-pencil-square"></i>
                                                      <span class="text-truncate d-inline-block" style="max-width: 100px;">@item.Fpsource</span>
                                                  </Button>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="Eta">
                                            <HeaderContent>
                                                @if (!allEnable)
                                                {
                                                    <button class="btn btn-info btn-sm" @onclick="TogglePlnFiltering">
                                                        @(isPlnFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                    </button>
                                                }
                                                else
                                                {
                                                    @if (allEnable && IMyDom != 0 && IMyVue != 0 && !siPlnAdding)
                                                    {
                                                        <button class="btn btn-primary btn-sm" @onclick="() => OpenAddPlan()">
                                                            ➕ Add
                                                        </button>
                                                    }
                                                }
                                            </HeaderContent>
                                            <ChildContent Context="item">
                                                @if (EditingPlnRowGuid == item.Rowguid)
                                                {
                                                    <InputSelect @bind-Value="draftPln.Eta">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                                else
                                                {
                                                    <InputSelect @bind-Value="item.Eta" disabled="true">
                                                        <option class="jchx" value="0">?choisir</option>
                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                        {
                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                        }
                                                    </InputSelect>
                                                }
                                            </ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Plngen" HeaderText="actions" IsVisible="@(allEnable)" Filterable="false">
                                            <ChildContent Context="item">
                                                    @if (EditingPlnRowGuid == item.Rowguid)
                                                    {
                                                        <button class="btn btn-sm btn-success" @onclick="() => ConfEdingPln(draftPln)">
                                                            💾 Save
                                                        </button>
                                                        <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingPln(draftPln)">
                                                            ❎ Cancel
                                                        </button>
                                                    }
                                                    else if (ConfirmingPlnDeleteRowGuid == item.Rowguid)
                                                    {
                                                        @* <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptPlnDelete(item)">
                                                            🗑️ Delete
                                                        </button> *@
                                                        <button class="btn btn-sm btn-success" @onclick="() => ConfirmPlnDelete(item)">
                                                            ✅ Confirm
                                                        </button>
                                                        <button class="btn btn-sm btn-secondary" @onclick="CancelPlnDelete">
                                                            ❌ Cancel
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-sm btn-warning me-1 @(allEnable ? "" : "disabled-action")"
                                                                disabled="@(EditingPlnRowGuid != null)"
                                                                @onclick="() => PromptPlnEdit(item)">
                                                            ✏️ Edit
                                                        </button>
                                                        <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                disabled="@(EditingPlnRowGuid != null)"
                                                                @onclick="() => PromptPlnDelete(item)">
                                                            🗑️ Delete
                                                        </button>
                                                    }
                                            </ChildContent>
                                        </GridColumn>
                                    </GridColumns>
                                    <GridDetailView TItem="Plngen" Context="parent">
                                        <Grid TItem="Rubvar"
                                              Data="@MyDaRubs"
                                              AllowDetailView="true"
                                              AllowPaging="true"
                                              AllowRowClick="true"
                                              OnRowClick="@OnRubRowClick"
                                              Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="Rubvar" HeaderText="No">
                                                    <ChildContent Context="item">
                                                        @if (item.Xadd1 == -1)
                                                        {
                                                            <span>?@item?.Iui</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="plnpoint">@item?.Iele</span>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="">
                                                    <HeaderContent>
                                                        Code
                                                        @if (!String.IsNullOrEmpty(Jmessage))
                                                        {
                                                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                                                        }
                                                    </HeaderContent>
                                                    <ChildContent Context="item">
                                                        <div style="width:90px" class="rubpoint">
                                                            @if (EditingRubRowGuid == item.Rowguid)
                                                            {
                                                                <InputText @bind-Value="draftRub.Scdrub"
                                                                           placeholder="code"
                                                                           id="rucode"
                                                                           maxlength="@_lgcdu"
                                                                           @onblur="@(() => OnChlBlurHandler(curPlan, draftRub))"
                                                                           @onfocus="@(() => OnChlFocusHandler(curPlan, draftRub))"
                                                                           pattern="@($"[0-9]{{{_lgcdu}}}")"
                                                                           title="@($"{_lgcdu} chiffres obligatoires et unique")"
                                                                           required />
                                                            }
                                                            else
                                                            {
                                                                @item.Scdrub
                                                            }
                                                        </div>
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="Designation">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <InputText @bind-Value="draftRub.Liba" />
                                                        }
                                                        else
                                                        {
                                                            @item.Liba
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="Abrege">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <InputText @bind-Value="draftRub.Abg" />
                                                        }
                                                        else
                                                        {
                                                            @item.Abg
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="Refer">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        { // show draftPln inputs
                                                          <InputText @bind-Value="draftRub.Xcod" />
                                                        }
                                                        else
                                                        { // show item as read-only
                                                          @item.Xcod
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <InputSelect @bind-Value="draftRub.Atyp" class="col-md-1" style="width:auto">
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                        else
                                                        { // show item as read-only
                                                          <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto" disabled>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="Eta">
                                                    <HeaderContent>
                                                        @if (!allEnable)
                                                        {
                                                            <button class="btn btn-info btn-sm" @onclick="ToggleRubFiltering">
                                                                @(isRubFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            @if (allEnable && IMyDom != 0 && IMyVue != 0 && curPlan != null)
                                                            {
                                                                <button class="btn btn-primary btn-sm" @onclick="() => OpenAddRubr(parent)">
                                                                    ➕ Add
                                                                </button>
                                                            }
                                                        }
                                                    </HeaderContent>
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item?.Rowguid)
                                                        { // show draftPln inputs
                                                          <InputSelect @bind-Value="draftRub.Eta" class="col-md-1" style="width:auto">
                                                              <option class="jchx" value="0">?etat</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                        else
                                                        { // show item as read-only
                                                          <InputSelect @bind-Value="item.Eta" class="col-md-1" style="width:auto" disabled>
                                                              <option class="jchx" value="0">?etat</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Rubvar" HeaderText="Actions" IsVisible="@(allEnable)" Filterable="false">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <button class="btn btn-sm btn-success" @onclick="() => ConfEdingRub(draftRub)">
                                                                💾 Save
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingRub(draftRub)">
                                                                ❎ Cancel
                                                            </button>
                                                        }

                                                        else if (ConfirmingRubDeleteRowGuid == item.Rowguid)
                                                        {
                                                            <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptRubDelete(item)">
                                                                🗑️ Delete
                                                            </button>
                                                            <button class="btn btn-sm btn-success" @onclick="() => ConfirmRubDelete(item)">
                                                                ✅ Confirm
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary" @onclick="CancelRubDelete">
                                                                ❌ Cancel
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-sm btn-warning me-1 @(allEnable ? "" : "disabled-action")"
                                                                    disabled="@(EditingRubRowGuid != null)"
                                                                    @onclick="() => PromptRubEdit(item)">
                                                                ✏️ Edit
                                                            </button>
                                                            <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                    disabled="@(EditingRubRowGuid != null)"
                                                                    @onclick="() => PromptRubDelete(item)">
                                                                🗑️ Delete
                                                            </button>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                            <GridDetailView TItem="Rubvar" Context="pchild">
                                                <div class="form-group">
                                                    <div class="btn btn-group">
                                                        <label class="me-2">Program :</label>
                                                        <InputSelect @bind-Value="IMyCtprog" class="me-3" style="width:auto">
                                                            <option class="jchx" value="0">?program</option>
                                                            @foreach (var tob in LsCtPlans) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                                                            {
                                                                <option value="@tob.Id" @onclick="()=> SelCtProg(tob)">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                        <label class="fw-bold">Rubrique :</label>
                                                        <InputSelect @bind-Value="IMyCtrub" class="me-3" style="width:auto">
                                                            <option class="jchx" value="0">?rubrique</option>
                                                            @foreach (var tob in curCtPlan.Rubvars.Where(uv=> uv.Id == IMyCtprog)) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                                                            {
                                                                <option value="@tob.Id">@tob.Liba</option>
                                                            }
                                                        </InputSelect>
                                                        <button class="btn btn-primary btn-sm" @onclick="() => OpenAddFmt(pchild)">
                                                            ➕ Add
                                                        </button>
                                                    </div>
                                                </div>
                                                <Grid TItem="Rubfmt"
                                                    Data="@MyDaFmts"
                                                    AllowDetailView="true"
                                                    AllowPaging="true"
                                                    Responsive="true">
                                                    <GridColumns>
                                                        <GridColumn TItem="Rubfmt" HeaderText="No">
                                                            <ChildContent Context="ft">
                                                                @ft?.Eint
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubfmt" HeaderText="Plan">
                                                            <ChildContent Context="ft">
                                                                <InputSelect @bind-Value="ft.Col" class="me-3" style="width:auto">
                                                                    <option class="jchx" value="0">?aucun</option>
                                                                    @foreach (var tob in LsCtPlans)
                                                                    {
                                                                        <option value="@tob.Id">@tob.Iele-@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubfmt" HeaderText="Rubrique"> 
                                                            <ChildContent Context="ft">
                                                                <InputSelect @bind-Value="ft.Lne" class="me-3" style="width:auto">
                                                                    <option class="jchx" value="0">?aucun</option>
                                                                    @foreach (var tob in curCtPlan.Rubvars.Where(uv => uv.Id == ft.Col)) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                                                                    {
                                                                        <option value="@tob.Id">@tob.Iele-@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubfmt" HeaderText="Actions" IsVisible="@(allEnable)" Filterable="false">
                                                            <ChildContent Context="ft">
                                                                @if (ConfirmingFmtDeleteRowGuid == ft.Rowguid)
                                                                {
                                                                    <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptFmtDelete(ft)">
                                                                        🗑️ Delete
                                                                    </button>
                                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfirmFmtDelete(ft)">
                                                                        ✅ Confirm
                                                                    </button>
                                                                    <button class="btn btn-sm btn-secondary" @onclick="CancelFmtDelete">
                                                                        ❌ Cancel
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                            disabled="@(ConfirmingFmtDeleteRowGuid == Guid.Empty)"
                                                                            @onclick="() => PromptFmtDelete(ft)">
                                                                        🗑️ Delete
                                                                    </button>
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                    </GridColumns>
                                                </Grid>
                                        </GridDetailView>
                                        </Grid>
                                    </GridDetailView>
                                </Grid>
                            }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for ADDING Plan -->
            <Modal @ref="plnModal" class="modal-wide" Title="@patTitle" ShowCloseButton=false>
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Plngen"
                              Data="@GplnNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Plngen" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Iui</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingPlnRowGuid == item.Rowguid)
                                        {

                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingPlnRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (AddingPlnRowGuid == item.Rowguid)
                                        {
                                            <InputSelect @bind-Value="item.Eta">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen">
                                    <HeaderContent>
                                        @if (allEnable)
                                        {
                                            @if (!siPlnAdding)
                                            {
                                                <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddPlan()">
                                                    <span class="me-1">+</span> Ajout
                                                </button>
                                            }
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Plngen" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (siPlnAdding && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludePlan(item)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="CncPlans">Annuler</Button>
                    <Button class="btn btn-success" @onclick="AddPlans">Confirmer</Button>
                </FooterTemplate>
            </Modal>
            <!-- Modal for ADDING Rubvar -->
            <Modal @ref="rubModal" class="rubModal-wide" Title="@chlTitle" ShowCloseButton=false>
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Rubvar"
                              Data="@GrubNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Rubvar" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Iui</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="">
                                    <HeaderContent>
                                        Code
                                        @if (!String.IsNullOrEmpty(Jmessage))
                                        {
                                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Jmessage</span>
                                        }
                                    </HeaderContent>
                                    <ChildContent Context="item">
                                        <div style="width:90px">
                                            @if (AddingRubRowGuid == item.Rowguid)
                                            {
                                                <InputText @bind-Value="item.Scdrub"
                                                           placeholder="code"
                                                           id="rucode"
                                                           maxlength="@_lgcdu"
                                                           @onblur="@(() => OnChlBlurHandler(curPlan, item))"
                                                           @onfocus="@(() => OnChlFocusHandler(curPlan, item))"
                                                           pattern="@($"[0-9]{{{_lgcdu}}}")"
                                                           title="@($"{_lgcdu} chiffres obligatoires et unique")"
                                                           required />
                                            }
                                            else
                                            {
                                                @item.Scdrub
                                            }
                                        </div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Refer">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        { // show draftPln inputs
                                          <InputText @bind-Value="item.Xcod" class="form-control form-control-sm" />
                                        }
                                        else
                                        { // show item as read-only
                                          @item.Xcod
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                    <ChildContent Context="item">
                                        <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto">
                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                            {
                                                <option value="@tob.Elea">@tob.Liba</option>
                                            }
                                        </InputSelect>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (AddingRubRowGuid == item.Rowguid)
                                        { // show draftPln inputs
                                          <InputSelect @bind-Value="item.Eta" class="col-md-1" style="width:auto">
                                              <option class="jchx" value="0">?etat</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        { // show item as read-only
                                          <select @bind="item.Eta" class="col-md-1" style="width:auto">
                                              <option class="jchx" value="0">?etat</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </select>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar">
                                    <HeaderContent>
                                        @if (allEnable)
                                        {
                                            @if (!siRubrAdding)
                                            {
                                                <button class="btn btn-sm btn-primary d-flex align-items-center" @onclick="() => PrepareAddRubr()">
                                                    <span class="me-1">+</span> Ajout
                                                </button>
                                            }
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (siRubrAdding && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludeRubr(item)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="CncRubrs">Annuler</Button>
                    <Button class="btn btn-success" @onclick="AddRubrs">Confirmer</Button>
                </FooterTemplate>
            </Modal>

            <!-- Modal for FORMULE PLAN -->
            <Modal @ref="pForuModal" Size="ModalSize.Large" Title="Edit Formula" ShowCloseButton="false">
                <BodyTemplate>
                    <div class="mb-3">
                        <label class="form-label">Formula</label>
                        <InputTextArea class="form-control"
                                       @bind-Value="curPlan.Fpsource"
                                       rows="8"
                                       style="resize: vertical;"
                                       disabled="@(!allEnable)" />
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button Color="ButtonColor.Secondary" @onclick="() => pForuModal.HideAsync()">Cancel</Button>
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }

    .rubModal-wide .modal-dialog {
        max-width: 65vw;
        width: auto;
        margin: auto;
    }

    .disabled-action {
        pointer-events: none;
        opacity: 0.5;
    }

    .formul.button {
        pointer-events: none;
        opacity: 0.5;
        heignt: btn btn-success btn-sm
    }

    .plnpoint {
        font-weight: bold;
        background-color: blue;
        color: white;
    }

    .rubpoint {
        font-weight: bold;
        background-color: yellow;
        color: black;
    }

    .fmtpoint {
        font-weight: bold;
        background-color: darkolivegreen;
        color: black;
    }
</style>
@code {
    private bool isLoading = true;

    private string Imessage = "", Jmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    [Parameter]
    public bool allEnable { get; set; }
    //private Tiersp gridTier = new Tiersp();
    //private Plngen curPlan = new Plngen();
    private List<Rubvar> LsRubs = new List<Rubvar>();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;

    private string _UserId = "", plnDom = "", atrTitle = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();
    //private List<Gplan> LsPlans = new();
    private List<Gpfixe> LsFixes = new();
    private List<Gpvar> LsVars = new();
    private List<Gpfixe> LsDoms = new();
    private List<Gpfixe> LsAtrs = new();
    private List<Gpfixe> LsVues = new();

    private int _lgcdu = 0;
    private bool Yames = false;
    private bool isPlnFilteringEnabled = false;
    private bool isRubFilteringEnabled = false;
    private bool isFmtFilteringEnabled = false;
    //Global
    //private int IMyPlan = 0;
    private int IMyGpln = 6, IMyDom = 0, IMyVue = 0; //calculs
    private int IMyCtprog = 0, IMyCtrub = 0;
    private string atrDest = "";
    private Plngen curPlan = new();
    private Rubvar curRubr = new();
    private Rubfmt curFmat = new();
    private Plngen curCtPlan = new();
    private Rubvar curCtRub = new();

    private bool siPlnAdding = false, siRubrAdding = false, siFmtAdding = false;
    private Modal plnModal, rubModal, fmtModal;
    private Dictionary<int, Plngen> _originalFixSnapshots = new();
    //Dictionary<int, Plngen> fxpaterMapByIdpln = new();

    //fils-editing/adding/deleting
    private bool isRubCodeValid = false;

    private Dictionary<Guid, EditContext> rowEditContexts = new();
    //private Dictionary<Guid, Rubvar> _originalChlSnapshots = new();
    //Dictionary<int, Plngen> fxPChildMapByIdpln = new();
    private Dictionary<int, List<Plngen>> gPlnsMap = new();
    private Dictionary<int, List<Rubvar>> gRubsMap = new();
    private Dictionary<int, List<Rubfmt>> gFmtsMap = new();

    private List<Plngen> LsCtPlans => curOrga.Plngens.Where(pl => pl.Ptyp == 5 && pl.Id == IMyCtprog).ToList();
    //private List<Plngen> LsCtRubs => curCtPlan.Rubvars;
    // //data
    //public List<Plngen> MyDaPlans => curOrga.Plngens.Where(pl => pl.Ptyp == 6 && pl.Todom == IMyDom && pl.Tovue == IMyVue).ToList();
    //public List<Rubvar> MyDaRubs => curPlan.Rubvars.Where(uv => uv.Ipln == curPlan.Id).ToList();
    //public List<Rubfmt> MyDaFmts => curRubr.Rubfmts.Where(uf => uf.Irub == curRubr.Id).ToList();
    public List<Plngen> MyDaPlans = new();
    public List<Rubvar> MyDaRubs = new();
    public List<Rubfmt> MyDaFmts = new();

    private Guid? AddingPlnRowGuid; //pmodal
    private Guid? EditingPlnRowGuid;
    private Guid? ConfirmingPlnDeleteRowGuid;
    private Guid? AddingRubRowGuid; //cmodal
    private Guid? EditingRubRowGuid;
    private Guid? ConfirmingRubDeleteRowGuid;
    private Guid? AddingFmtRowGuid; //cmodal
    private Guid? EditingFmtRowGuid;
    private Guid? ConfirmingFmtDeleteRowGuid;
    //pere
    private List<Plngen> GplnNewRows = new();
    // private List<Plngen> GplnNewRows => gPlnsMap.TryGetValue(curOrga.Idorg, out var rows)
    // ? new List<Plngen>(rows)
    //  : new List<Plngen>();
    // //fils
    private List<Rubvar> GrubNewRows = new();
    // private List<Rubvar> GrubNewRows => gRubsMap.TryGetValue(curPlan.Id, out var rows)
    // ? new List<Rubvar>(rows)
    // : new List<Rubvar>();
    // //petit-fils
    private List<Rubfmt> GfmtNewRows = new();
    // private List<Rubfmt> GfmtNewRows => gFmtsMap.TryGetValue(curRubr.Id, out var rows)
    // ? new List<Rubfmt>(rows)
    // : new List<Rubfmt>();

    //Modals formule
    Modal pForuModal = new(); //plans
    //Modal rForuModal = new(); //rubriques
    //Modal gForuModal = new(); //formats
    private string patTitle = "", chlTitle = "", fmtTitle = "";
    private string patInitTitle = "", chlInitTitle = "", fmtInitTitle = "";
    private string pstrFormu = ""; //, rstrFormu = "";

    //variables Plan
    Plngen draftPln = new();
    Plngen? editingPln = null;
    //variables Rub
    Rubvar draftRub = new();
    Rubvar? editingRub = null;
    //variables Fmt
    Rubfmt draftFmt = new();
    Rubfmt? editingFmt = null;
    void OnPlanRowClick(GridRowEventArgs<Plngen> args)
    {
        Console.WriteLine($"OnPlanRowClick Triggered : {args.Item.Id}");
        curPlan = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curPlan.Id}");
        if (curPlan == null || curPlan.Id == 0)
        {
            return;
        }
        StateHasChanged();
    }
    void OnRubRowClick(GridRowEventArgs<Rubvar> args)
    {
        Console.WriteLine($"OnRubRowClick Triggered : {args.Item.Id}");
        curRubr = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curRubr.Id}");
        if (curRubr == null || curRubr.Id == 0)
        {
            return;
        }
        StateHasChanged();
    }
    // void OnFmtRowClick(GridRowEventArgs<Rubfmt> args)
    // {
    //     Console.WriteLine($"OnFmtRowClick Triggered : {args.Item.Id}");
    //     curFmat = args.Item; //get gRubsMap
    //     Console.WriteLine($"X1seq {curFmat.Idfdt}");
    //     if (curFmat == null || curFmat.Idfdt == 0)
    //     {
    //         return;
    //     }
    //     StateHasChanged();
    // }
    void OpenAddPlan()
    {
        GplnNewRows.Clear();
        int parentKey = Convert.ToInt32(curOrga.Idorg);
        if (gPlnsMap.ContainsKey(parentKey))
        {
            gPlnsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddPlan();

        patInitTitle = $"{curOrga.Idorg} - {curOrga.Raison} (creation programme)";
        patTitle = patInitTitle;
        plnModal.ShowAsync();
    }
    void OpenAddRubr(Plngen inPln)
    {
        curPlan = inPln;
        GrubNewRows.Clear();
        int parentKey = curPlan.Id;
        if (gRubsMap.ContainsKey(parentKey))
        {
            gRubsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddRubr();

        chlInitTitle = $"{curPlan.Iele} - {curPlan.Liba} (creation rubrique progr.)";
        chlTitle = chlInitTitle;
        rubModal.ShowAsync();
    }
    private void OpenAddFmt(Rubvar inRub)
    {
        curRubr = inRub;
        GfmtNewRows.Clear();
        int parentKey = curRubr.Id;
        if (gFmtsMap.ContainsKey(parentKey))
        {
            gFmtsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddFmt();

        //patInitTitle = $"{curOrga.Idorg} - {curOrga.Raison} (creation programme)";
        //patTitle = patInitTitle;
        //plnModal.ShowAsync();
    }
    void PrepareAddPlan()
    {
        if (!allEnable)
        {
            Imessage = "REFUS, Creation Programme indisponible";
            return;
        }
        var parentId = curOrga.Idorg;
        //var ptyp = curPlan.Id;
        // Make sure the gPlnsMap has an entry for this parent
        if (!gPlnsMap.ContainsKey(parentId))
        {
            gPlnsMap[parentId] = new List<Plngen>();
        }
        var mapPlns = gPlnsMap[parentId];
        int maxiui = mapPlns.Any() ? (mapPlns.Max(r => r?.Iui) ?? 0) : 0;
        int nextIui = maxiui + 1;
        var newPat = CreateNewPlan(nextIui);
        if (newPat != null)
        {
            gPlnsMap[parentId].Insert(0, newPat);
            Console.WriteLine($"Actual NewRows nb {GplnNewRows.Count}");
            GplnNewRows = GplnNewRows.Prepend(newPat).ToList();
            Console.WriteLine($"After Insert NewRows nb {GplnNewRows.Count}");
            AddingPlnRowGuid = newPat.Rowguid;
        }
        siPlnAdding = true;
        StateHasChanged();


        // var existingPlngens = curOrga.Plngens.Where(ln => ln.Idorg == parentId) ?? new DataServiceCollection<Plngen>();
        // var mapPlngens = gPlnsMap[parentId];
        // int maxIdzonFromParent = existingPlngens.Any()
        //     ? existingPlngens.Max(r => r.Iele ?? 0)
        //     : 0;
        // int maxIdzonFromMap = mapPlngens.Any()
        //     ? mapPlngens.Max(r => r.Iele ?? 0)
        //     : 0;
        // int maxIdzon = Math.Max(0, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        // int nextZon = maxIdzon == 0 ? 1 : maxIdzon + 1;
        // Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {parentId}");
        // var newPat = CreateNewPlan(nextZon);
        // if (newPat != null)
        // {
        //     gPlnsMap[parentId].Insert(0, newPat);
        //     Console.WriteLine($"Actual NewRows nb {GplnNewRows.Count}");
        //     GplnNewRows.Insert(0, newPat);
        //     //GplnNewRows = GplnNewRows.ToList();
        //     Console.WriteLine($"After Insert NewRows nb {GplnNewRows.Count}");
        //     AddingPlnRowGuid = newPat.Rowguid;
        // }
        // siPlnAdding = true;
        // StateHasChanged();
    }
    void PrepareAddRubr()
    {
        isRubCodeValid = false;
        var parentId = curPlan.Id;
        // Make sure the gRubsMap has an entry for this parent
        if (!gRubsMap.ContainsKey(parentId))
        {
            gRubsMap[parentId] = new List<Rubvar>();
        }
        var mapRubvars = gRubsMap[parentId];
        int maxiui = mapRubvars.Any() ? (mapRubvars.Max(r => r?.Iui) ?? 0) : 0;
        int nextIui = maxiui + 1;
        Console.WriteLine($"current newPoste zone no : {nextIui} et parent act no : {curPlan.Id}");

        var newChl = CreateNewRubr(nextIui);
        if (newChl != null)
        {
            gRubsMap[parentId].Insert(0, newChl);
            Console.WriteLine($"Actual NewRows nb {GrubNewRows.Count}");
            GrubNewRows = GrubNewRows.Prepend(newChl).ToList();
            Console.WriteLine($"After Insert NewRows nb {GrubNewRows.Count}");
            AddingRubRowGuid = newChl.Rowguid;
        }
        StateHasChanged();
        siRubrAdding = true;

        // var existingRubvars = curPlan.Rubvars.Where(ln => ln.Id == parentId) ?? new DataServiceCollection<Rubvar>();
        // var mapRubvars = gRubsMap[parentId];
        // int maxIdzonFromParent = existingRubvars.Any()
        //     ? existingRubvars.Max(r => r.Iele ?? 0)
        //     : 0;

        // int maxIdzonFromMap = mapRubvars.Any()
        //     ? mapRubvars.Max(r => r.Iele ?? 0)
        //     : 0;
        // int maxIdzon = Math.Max(0, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        // int nextZon = maxIdzon == 0 ? 1 : maxIdzon + 1;
        // Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {curPlan.Id}");

        // var newChl = CreateNewRubr(nextZon);
        // if (newChl != null)
        // {
        //     gRubsMap[parentId].Insert(0, newChl);
        //     Console.WriteLine($"Actual NewRows nb {GrubNewRows.Count}");
        //     GrubNewRows.Insert(0, newChl);
        //     //GrubNewRows = GrubNewRows.ToList();
        //     Console.WriteLine($"After Insert NewRows nb {GrubNewRows.Count}");
        //     AddingRubRowGuid = newChl.Rowguid;
        // }
        // siRubrAdding = true;
        // StateHasChanged();
    }
    void PrepareAddFmt()
    {
        //isFmtCodeValid = false;
        var parentId = curRubr.Id;
        // Make sure the gRubsMap has an entry for this parent
        if (!gFmtsMap.ContainsKey(parentId))
        {
            gFmtsMap[parentId] = new List<Rubfmt>();
        }
        var mapRubfmts = gFmtsMap[parentId];
        int maxiui = mapRubfmts.Any() ? (mapRubfmts.Max(r => r?.Iui) ?? 0) : 0;
        int nextIui = maxiui + 1;
        Console.WriteLine($"current newPoste zone no : {nextIui} et parent act no : {curPlan.Id}");

        var newChl = CreateNewFmt(nextIui);
        if (newChl != null)
        {
            gFmtsMap[parentId].Insert(0, newChl);
            Console.WriteLine($"Actual NewRows nb {GfmtNewRows.Count}");
            GfmtNewRows = GfmtNewRows.Prepend(newChl).ToList();
            Console.WriteLine($"After Insert NewRows nb {GfmtNewRows.Count}");
            AddingFmtRowGuid = newChl.Rowguid;
        }
        StateHasChanged();
        siFmtAdding = true;

        // var existingRubfmts = curRubr.Rubfmts.Where(ln => ln.Id == parentId) ?? new DataServiceCollection<Rubfmt>();
        // var mapRubfmts = gFmtsMap[parentId];
        // int maxIdzonFromParent = existingRubfmts.Any()
        //     ? existingRubfmts.Max(r => r.Eint ?? 0)
        //     : 0;

        // int maxIdzonFromMap = mapRubfmts.Any()
        //     ? mapRubfmts.Max(r => r.Eint ?? 0)
        //     : 0;
        // int maxIdzon = Math.Max(0, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        // int nextZon = maxIdzon == 0 ? 1 : maxIdzon + 1;
        // Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {curRubr.Id}");

        // var newChl = CreateNewFmt(nextZon);
        // if (newChl != null)
        // {
        //     gFmtsMap[parentId].Insert(0, newChl);
        //     Console.WriteLine($"Actual NewRows nb {GfmtNewRows.Count}");
        //     GfmtNewRows.Insert(0, newChl);
        //     //GrubNewRows = GrubNewRows.ToList();
        //     Console.WriteLine($"After Insert NewRows nb {GfmtNewRows.Count}");
        //     AddingFmtRowGuid = newChl.Rowguid;
        // }
        // siFmtAdding = true;
        // StateHasChanged();
    }
    Plngen CreateNewPlan(int nextSeq)
    {
        if (curOrga == null || IMyDom == 0 || IMyVue == 0 || allEnable == false)
        {
            Imessage = "REFUS, Creation Programme indisponible";
            Yames = true;
            return new Plngen();
        }
        try
        {
            if (IMyDom != 0)
            {
                return new Plngen()
                {
                    //Rowguid = Guid.NewGuid(),
                    Iui = nextSeq,
                    Idorg = curOrga.Idorg,
                    Ptyp = IMyGpln,
                    Todom = IMyDom,
                    Liba = "",
                    Abg = "",
                    Styp = 0,
                    Totyp = 0,
                    Tovue = IMyVue,
                    Toatr = 0,
                    Eta = 1,    
                    //Iele = 0,
                    Xadd1 = -1,
                    //Belea = nextSeq,
                };
            }
        }
        catch (Exception ex)
        {
            //strmeta = _entityManager.strmeta;
            Console.WriteLine($"1Probleme EntityManagment : {ex.Message}");
        }
        Console.WriteLine("1SORTIE");
        return new Plngen();
    }
    Rubvar CreateNewRubr(int nextSeq)
    {
        return new Rubvar()
        {
            //Rowguid = Guid.NewGuid(),
            Iui = nextSeq,
            Idorg = curPlan.Idorg,
            Ipln = curPlan.Id,
            Torub = 0,
            Utyp = IMyDom, //services
            Sigrid = 0, //est grille
            Gdact = 0, //declenche (ajt rubriq Actsaie)
            Ustyp = 0, //de base
            Dtperi = 0, //toujours
            Liba = "",
            Abg = "",
            Xcod = "",
            Ddval = 0,
            Dfval = 0,
            Eaut = 0, //supprimable
            //Belea = nextSeq,
            Atyp = 4,
            Eint = 0,
            Eta = 1,
            Xadd1 = -1, //newly added
        };
    }
    Rubfmt CreateNewFmt(int nextSeq)
    {
        return new Rubfmt()
        {
            //Rowguid = Guid.NewGuid(),
            Iui = nextSeq,
            Tperi = 1, //toujours
            Liba = "",
            Abg = "",
            Refa = "",
            Eaut = 0, //supprimable
            //Belea = nextSeq,
            Ztyp = 1,
            Eint = 0,
            Eta = 1,
            Xadd1 = -1, //newly added
        };
    }
    void IncludePlan(Plngen mypln)
    {
        var parentId = curOrga.Idorg;
        if (!curODContext.IsEntityTracked(mypln)) // && YaChild)
        {
            try
            {
                mypln.Xadd1 = -2;  // Mark as being added

                //if (!curODContext.IsEntityTracked(curOrga))
                //{
                //    curODContext.AttachTo("Plngens", curPlan);
                //}

                curODContext.AddRelatedObject(curOrga, "Plngens", mypln);

                if (!gPlnsMap.ContainsKey(parentId))
                {
                    gPlnsMap[parentId] = new List<Plngen>();
                }

                if (!gPlnsMap[parentId].Any(p => p.Idorg == parentId))
                {
                    gPlnsMap[parentId].Add(mypln);
                }

                curOrga.Plngens.Add(mypln);
                AddingPlnRowGuid = Guid.Empty;
                Imessage = "Success... plan ajoute";
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
            }
            StateHasChanged();
        }
        else
        {
            mypln.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }
        //isAdetCodeValid = false;
        siPlnAdding = false; // Consider moving this flag reset based on your UI state management needs
    }
    void IncludeRubr(Rubvar myrub)
    {
        var parentId = curPlan.Id;
        //bool YaChild = IsChildValid(aglne); // Make sure this returns true if aglne is valid to add
        if (!curODContext.IsEntityTracked(myrub)) // && YaChild)
        {
            try
            {
                myrub.Xadd1 = -2;  // Mark as being added

                if (!curODContext.IsEntityTracked(curPlan))
                {
                    curODContext.AttachTo("Plngens", curPlan);
                }

                curODContext.AddRelatedObject(curPlan, "Rubvars", myrub);

                if (!gRubsMap.ContainsKey(parentId))
                {
                    gRubsMap[parentId] = new List<Rubvar>();
                }

                if (!gRubsMap[parentId].Any(p => p.Idorg == myrub.Idorg))
                {
                    gRubsMap[parentId].Add(myrub);
                }
                curPlan.Rubvars.Add(myrub);

                AddingRubRowGuid = Guid.Empty;
                //siRubrAdding = true;
                Imessage = "Success... Rubrique ajoutee";
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
            }
            StateHasChanged();
        }
        else
        {
            myrub.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        //isAdetCodeValid = false;
        siRubrAdding = false; // Consider moving this flag reset based on your UI state management needs
    }
    void IncludeFmat(Rubfmt myfmt)
    {
        var parentId = curRubr.Id;
        //bool YaChild = IsChildValid(aglne); // Make sure this returns true if aglne is valid to add
        if (!curODContext.IsEntityTracked(myfmt)) // && YaChild)
        {
            try
            {
                myfmt.Xadd1 = -2;  // Mark as being added

                if (!curODContext.IsEntityTracked(curRubr))
                {
                    curODContext.AttachTo("Rubvars", curRubr);
                }

                curODContext.AddRelatedObject(curRubr, "Rubfmts", myfmt);

                if (!gFmtsMap.ContainsKey(parentId))
                {
                    gFmtsMap[parentId] = new List<Rubfmt>();
                }

                if (!gFmtsMap[parentId].Any(p => p.Id == myfmt.Id))
                {
                    gFmtsMap[parentId].Add(myfmt);
                }
                curRubr.Rubfmts.Add(myfmt);

                AddingFmtRowGuid = Guid.Empty;
                //siFmtAdding = true;
                Imessage = "Success... Rubrique ajoutee";
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
            }
            StateHasChanged();
        }
        else
        {
            myfmt.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        //isAdetCodeValid = false;
        siFmtAdding = false; // Consider moving this flag reset based on your UI state management needs
    }
    //GTfl -- EDITING
    void PromptPlnEdit(Plngen mypln)
    {
        mypln.Xedt1 = 0;
        editingPln = mypln;
        draftPln = new Plngen
        {
            Rowguid = mypln.Rowguid,
            Idorg = mypln.Idorg,
            Liba = mypln.Liba,
            Abg = mypln.Abg,
            Ptyp = mypln.Ptyp, //5programme
            Totyp = mypln.Totyp, //1saisie2calcul
            Styp = mypln.Styp,
            Plsdiv = mypln.Plsdiv,
            Plsgri = mypln.Plsgri,
            Plsech = mypln.Plsech,
            //Belea = mypln.Belea,
            Iele = mypln.Iele,
            Eta = mypln.Eta, //
            Xadd1 = mypln.Xadd1, //newly added
            // Copy other fields as necessary
        };
        //init edition
        mypln.Xedt1 = -1;
        EditingPlnRowGuid = mypln.Rowguid;
        //isEdingMan = true;
    }
    void PromptRubEdit(Rubvar myrub)
    {
        //init edition
        myrub.Xedt1 = 0;
        editingRub = myrub;
        //isEdingLne = true;
        draftRub = new Rubvar
        {
            Rowguid = myrub.Rowguid,
            Id = myrub.Id,
            Idorg = myrub.Idorg,
            Torub = myrub.Torub,
            Utyp = myrub.Utyp, //services
            Sigrid = myrub.Sigrid, //est grille
            Gdact = myrub.Gdact, //declenche (ajt rubriq Actsaie)
            Ustyp = myrub.Ustyp, //de base
            Dtperi = myrub.Dtperi, //toujours
            Liba = myrub.Liba,
            Xcod = myrub.Xcod,
            Abg = myrub.Abg,
            Ddval = myrub.Ddval,
            Dfval = myrub.Dfval,
            Eaut = myrub.Eaut, //supprimable
            //Belea = myrub.Belea,
            Atyp = myrub.Atyp,
            Eint = myrub.Eint,
            Eta = myrub.Eta,
            Xadd1 = myrub.Xadd1, //newly added
            // Copy other fields as necessary
        };
        //init edition
        myrub.Xedt1 = -1;
        EditingRubRowGuid = myrub.Rowguid;
    }
    void CancEdingPln(Plngen mypln)
    {
        mypln.Xedt1 = 0;
        //isEdingMan = false;
        editingPln = new();
        draftPln = new();
        EditingPlnRowGuid = Guid.Empty;
    }
    void CancEdingRub(Rubvar myrub)
    {
        myrub.Xedt1 = 0;
        //isEdingMan = false;
        editingRub = null;
        draftRub = null;
        EditingRubRowGuid = Guid.Empty;
    }
    void ConfEdingPln(Plngen mypln)
    {
        if (editingPln is not null)
        {
            editingPln.Rowguid = mypln.Rowguid;
            editingPln.Idorg = mypln.Idorg;
            editingPln.Liba = mypln.Liba;
            editingPln.Abg = mypln.Abg;
            editingPln.Ptyp = mypln.Ptyp; //5programs
            editingPln.Totyp = mypln.Totyp; //1saisie2calcul
            editingPln.Styp = mypln.Styp;
            editingPln.Plsdiv = mypln.Plsdiv;
            editingPln.Plsech = mypln.Plsech;
            editingPln.Plsgri = mypln.Plsgri;
            //editingPln.Belea = mypln.Belea;
            editingPln.Iele = mypln.Iele;
            editingPln.Eta = mypln.Eta; //
            editingPln.Xadd1 = mypln.Xadd1; //newly added
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingPln))
            {
                curODContext.AttachTo("Plngens", editingPln);
            }
            curODContext.UpdateObject(editingPln);
        }
        mypln.Xedt1 = 0;
        //isEdingMan = false;
        editingPln = null;
        EditingPlnRowGuid = Guid.Empty;
    }
    void ConfEdingRub(Rubvar myrub)
    {
        if (editingRub is not null)
        {
            editingRub.Rowguid = myrub.Rowguid;
            editingRub.Idorg = myrub.Idorg;
            editingRub.Ipln = myrub.Id;
            editingRub.Torub = myrub.Torub;
            editingRub.Utyp = myrub.Utyp; //services
            editingRub.Sigrid = myrub.Sigrid; //est grille
            editingRub.Gdact = myrub.Gdact; //declenche (ajt rubriq Actsaie)
            editingRub.Ustyp = myrub.Ustyp; //de base
            editingRub.Dtperi = myrub.Dtperi; //toujours
            editingRub.Liba = myrub.Liba;
            editingRub.Xcod = myrub.Xcod;
            editingRub.Abg = myrub.Abg;
            editingRub.Ddval = myrub.Ddval;
            editingRub.Dfval = myrub.Dfval;
            editingRub.Eaut = myrub.Eaut; //supprimable
            //editingRub.Belea = myrub.Belea;
            editingRub.Atyp = myrub.Atyp;
            editingRub.Eint = myrub.Eint;
            editingRub.Eta = myrub.Eta;
            editingRub.Xadd1 = myrub.Xadd1; //newly added
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingRub))
            {
                curODContext.AttachTo("Rubvars", editingRub);
            }
            curODContext.UpdateObject(editingRub);
        }
        myrub.Xedt1 = 0;
        //isEdingMan = false;
        editingRub = null;
        EditingRubRowGuid = Guid.Empty;
    }

    //EDITION/DELETE - Plngen
    private void PromptPlnDelete(Plngen item)
    {
        ConfirmingPlnDeleteRowGuid = item.Rowguid;
    }
    private void CancelPlnDelete()
    {
        ConfirmingPlnDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmPlnDelete(Plngen row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        //Plngen svRow = row;
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        //curPlan.Rubvars.ToList().RemoveAll(rf => rf.Idpln == svRow.Idpln);
        //curOrga.Plngens.Remove(svRow); // Remove from tracked collection
        //List<Plngen> nwrows = MyDaPlans;
        //nwrows.Remove(row);
        //MyDaPlans = nwrows;
        curOrga.Plngens.Remove(row);
        EditingPlnRowGuid = Guid.Empty;
        ConfirmingPlnDeleteRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    //EDITION/DELETE - Rubvar    
    private void PromptRubDelete(Rubvar item)
    {
        ConfirmingRubDeleteRowGuid = item.Rowguid;
    }
    private void CancelRubDelete()
    {
        ConfirmingRubDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmRubDelete(Rubvar row)
    {
        var parent = curPlan;
        Console.WriteLine($"Parent may be found : {parent.Id}");
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Id}");
        Rubvar svRow = row;
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        curRubr.Rubfmts.ToList().RemoveAll(rf => rf.Id == svRow.Id);
        curPlan.Rubvars.Remove(svRow);
        EditingRubRowGuid = Guid.Empty;
        ConfirmingRubDeleteRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    //EDITION/DELETE - Rubfmt
    private void PromptFmtDelete(Rubfmt item)
    {
        ConfirmingFmtDeleteRowGuid = item.Rowguid;
    }
    private void CancelFmtDelete()
    {
        ConfirmingFmtDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmFmtDelete(Rubfmt row)
    {
        var parent = curRubr;
        Console.WriteLine($"Parent may be found : {parent.Id}");
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Id}");
        Rubfmt svRow = row;
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        curRubr.Rubfmts.Remove(svRow);
        EditingFmtRowGuid = Guid.Empty;
        ConfirmingFmtDeleteRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    //ADDING modals
    // private async Task AnuPlnModal()
    // {
    //     foreach (var enty in GplnNewRows)
    //     {
    //         if (curODContext.GetEntityState(enty) == EntityStates.Added)
    //         {
    //             curOrga.Plngens.Remove(enty);
    //             curODContext.Detach(enty);
    //         }
    //     }
    //     await plnModal.HideAsync();
    // }
    // private async Task AnuRubModal()
    // {
    //     foreach (var enty in GrubNewRows)
    //     {
    //         if (curODContext.GetEntityState(enty) == EntityStates.Added)
    //         {
    //             curPlan.Rubvars.Remove(enty);
    //             curODContext.Detach(enty);
    //         }
    //     }
    //     await rubModal.HideAsync();
    // }
    // private async Task ConfPlnModal()
    // {
    //     SaveCurEntities();
    //     Imessage = "Programme(s) SAVED";
    //     await plnModal.HideAsync();
    //     allEnable = false;
    //     StateHasChanged();
    // }
    // private async Task ConfRubModal()
    // {
    //     SaveCurEntities();
    //     Imessage = "Programme/Rubrique(s) SAVED";
    //     await rubModal.HideAsync();
    //     allEnable = false;
    //     StateHasChanged();
    // }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (toChild == null)
        {
            Console.WriteLine("TOCHILD IS NULL");
            return;
        }
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "CONNEXION, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 2 && ut.Elea != 0).ToList();
        LsVues = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 5 && ut.Elea != 0).ToList();
        //LsTabls = toChild.LsTabls.ToList();
        //LsPlans = toChild.LsPlans.Where(pl => pl.Ptyp == 6).ToList();
  
        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        await ChargeParentData();
        //Imessage = "Donnees Grilles chargees";
        _navmanager.LocationChanged += OnLocationChanged;

        //EditingPlnRowGuid = Guid.Empty;
        isLoading = false;
    }
    private async Task ChargeParentData()
    {
        atrTitle = "Saisie";
        gPlnsMap.Clear();
        gRubsMap.Clear();
        gPlnsMap[curOrga.Idorg] = new List<Plngen>(curOrga.Plngens.Where(uf => uf.Idorg == curOrga.Idorg && uf.Ptyp == 6));
        foreach (var uta in curOrga.Plngens)
        {
            List<Rubvar> tbcols = curPlan.Rubvars.Where(ln => ln.Id == uta.Id).ToList();
            gRubsMap[uta.Id] = new List<Rubvar>(tbcols);
            //Console.WriteLine($"Parent Xseq: {uta.Xseq}, Children count: {tbcols.Count}");
        }
        //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 6 && pl.Totyp == IMyDom).ToList();
        //MyDaPlans = wrkplns;
        LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 4 && ut.Gp1 == 2 && ut.Elea != 0).ToList();
    }
    private async Task SelDomPlan()
    {
        if(IMyDom == 1)
        {
            atrDest = "Cumul activites";
            atrTitle = atrDest;
            return;
        }
        if (IMyDom == 2)
        {
            atrDest = "Comptabilite activites";
            atrTitle = atrDest;
            return;
        }
    }
    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        EditingPlnRowGuid = Guid.Empty;
        EditingRubRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        EditingPlnRowGuid = Guid.Empty;
        EditingRubRowGuid = Guid.Empty;
        foreach (var enty in curODContext.Context.Entities.ToList())
        {
            if (curODContext.GetEntityState(enty) == EntityStates.Added)
            {
                curODContext.Detach(enty);
            }
        }
        Imessage = "";
    }
    // public async Task SavAll()
    // {
    //     allEnable = false;
    //     EditingPlnRowGuid = Guid.Empty;
    //     EditingRubRowGuid = Guid.Empty;
    //     await SaveCurEntities();
    //     StateHasChanged();
    // }

    bool AreRowsEqual(Rubvar row1, Rubvar row2) =>
        row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    //FILTRES
    private void TogglePlnFiltering()
    {
        isPlnFilteringEnabled = !isPlnFilteringEnabled;
    }
    private void ToggleRubFiltering()
    {
        isRubFilteringEnabled = !isRubFilteringEnabled;
    }
    //SAVE Modals contains
    private async void AddPlans()
    {
        foreach (var unpln in GplnNewRows)
        {
            if (!curODContext.IsEntityTracked(unpln))
            {
                curODContext.AttachTo("Plngens", unpln);
            }
            curODContext.AddRelatedObject(curOrga, "Gxorgas", unpln);
        }
        GplnNewRows = new();
        //await SaveCurEntities();
        Imessage = "Pplan/Plan(s) SAVED";
        await plnModal.HideAsync();
        allEnable = false;
        StateHasChanged();
    }
    private async void AddRubrs()
    {
        foreach (var unrub in GrubNewRows)
        {
            if (!curODContext.IsEntityTracked(unrub))
            {
                curODContext.AttachTo("Rubvars", unrub);
            }
            curODContext.AddRelatedObject(curPlan, "Plngens", unrub);
        }
        GrubNewRows = new();
        //await SaveCurEntities();
        Imessage = "Pplan/Rubrique(s) SAVED";
        await rubModal.HideAsync();
        allEnable = false;
        StateHasChanged();
    }
    private async void CncPlans()
    {
        GplnNewRows.Clear();
        gPlnsMap.Clear();
        siPlnAdding = false;
        Imessage = "Pplan/Plan(s) CANCELLED";
        await plnModal.HideAsync();
    }
    private async void CncRubrs()
    {
        GrubNewRows.Clear();
        gRubsMap.Clear();
        siRubrAdding = false;
        Imessage = "Pplan/Rubrique(s) CANCELLED";
        await rubModal.HideAsync();
    }
    //PLAN Formule modals
    void showFrplnModal(Plngen mypln)
    {
        pstrFormu = "";
        if (!String.IsNullOrEmpty(mypln.Fpsource))
        {
            pstrFormu = mypln.Liba.Substring(0, 8);
        }
        curPlan = mypln;
        pForuModal?.ShowAsync();
    }
    //RUBR Formule modals
    // void showFrrubModal(Rubvar myrub)
    // {
    //     rstrFormu = "";
    //     if (!String.IsNullOrEmpty(myrub.Frsource))
    //     {
    //         rstrFormu = myrub.Liba.Substring(0, 8);
    //     }
    //     curRubr = myrub;
    //     rForuModal?.ShowAsync();
    // }
    private void SelCtProg(Plngen myPln)
    {
        curCtPlan = myPln;

    }
    

    private void SelPlanDom(int xdom)
    {
        if (xdom != 0)
        {

        }
    }

    private void SelPlanVue(int xdom)
    {
        if (xdom != 0)
        {

        }
    }
    private string GetCodeStyle()
    {
        return "width:50%;";
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }

    private bool IsPaterValid(Plngen mypl)
    {
        int ercpt = 0;
        patTitle = patInitTitle;
        if (string.IsNullOrEmpty(mypl.Liba))
        {
            patTitle = patTitle + " OBLIGATOIRE Designation";
            ercpt = ercpt + 1;
        }
        if (mypl.Idorg == 0)
        {
            patTitle = patTitle + " OBLIGATOIRE Institution";
            ercpt = ercpt + 1;
        }
        if (ercpt > 0) return false;
        return true;
    }
    private bool IsChildValid(Rubvar myrb)
    {
        int ercpt = 0;
        chlTitle = chlInitTitle;
        if (string.IsNullOrEmpty(myrb.Liba))
        {
            chlTitle = chlTitle + " OBLIGATOIRE designation";
            ercpt = ercpt + 1;
        }
        if (isRubCodeValid = false) //verifie scdrub
        {
            chlTitle = chlTitle + " OBLIGATOIRE code";
            ercpt = ercpt + 1;
        }
        if (myrb.Ipln == 0)
        {
            chlTitle = chlTitle + " OBLIGATOIRE programme";
            ercpt = ercpt + 1;
        }
        if (ercpt > 0) return false;
        return true;
    }
    
    private void OnChlBlurHandler(Plngen mypl, Rubvar myvar)
    {
        Console.WriteLine("ATTENTION : En Blur....");
        isRubCodeValid = HandleChlInput(mypl, myvar);
        Imessage = $"OnBlur active : {isRubCodeValid}";
        // Optionally trigger UI refresh or logging
    }
    private void OnChlFocusHandler(Plngen mypl, Rubvar myvar)
    {

    }

    private bool HandleChlInput(Plngen mypl, Rubvar myvar)
    {
        var input = myvar.Scdrub?.Trim();
        Jmessage = "";
        Console.WriteLine($"code entre traiter {input}");
        // Basic null/empty check
        if (string.IsNullOrEmpty(input))
        {
            Jmessage = "Le code est requis.";
            return false;
        }
        // Explicit length check
        if (input.Length != _lgcdu)
        {
            Jmessage = $"Le code doit contenir exactement {_lgcdu} chiffres.";
            return false;
        }
        // Digit-only check/No de poste peut ne pas etre numerique
        if (!Regex.IsMatch(input, @"^[0-9]+$")) // @"^[a-zA-Z0-9_\-\/\\|{}]+$"))
        {
            //(!Regex.IsMatch(input, @"^\d+$")) /numeric
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9]+$")) /alphanumeric strict
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]+$") /add some others characters
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{6}$")) //limit number to 6
            //(Regex.IsMatch(input, @"^[a-zA-Z0-9_\-\/\\|{}]{4,10}$")) //limit a range 4-10
            Jmessage = "Le code ne doit contenir que des chiffres.";
            return false;
        }
        // Uniqueness check
        var exists = mypl.Rubvars?.Any(uva => uva.Scdrub == input) ?? false;
        if (exists)
        {
            Jmessage = "Ce code rubrique existe déjà.";
            return false;
        }
        return true;
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        //bool reussi = SaveCurEntities().Result;
    }
    // public async Task<bool> SaveCurEntities()
    // {
    //     try
    //     {
    //         await curODContext.SaveDataAsync();
    //         Console.WriteLine("Saved SUCCESS");
    //         //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr).ToList();
    //         //MyDaPlans = wrkplns;
    //         StateHasChanged();
    //         return true;
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"Saved ISSUE {ex.Message}");
    //         //Alert($"ECHEC Entities not SAVED");
    //         return false;
    //     }
    // }
}
