@page "/icteches"
@layout IagrMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject HttpClientService cliemanager

<!-- InscTiewComponent.razor -->
<PageTitle>Tables</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Schema/Echeancier Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="me-2">Plan :</label>
                                <InputSelect @bind-Value="IMyPlan" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?plan</option>
                                    @foreach (var upl in LsPlans)
                                    {
                                        <option value="@upl.Id" @onclick="() => SelDomPlan(1)">@upl.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">@plnDom</label>
@* 
                                <label class="me-2">@domDest :</label>
                                <InputSelect @bind-Value="IMyDom" @onclick="() => SelDomPlan(1)" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?domaine</option>
                                    @foreach (var tob in LsDoms) //LsFixes.Where(ut => ut.Gvars == 61 && ut.Itb == 1 & ut.Elea != 0))
                                    {
                                        <option value="@tob.Elea">@tob.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">Attribut :</label>
                                <InputSelect @bind-Value="IMyAtr" @onclick="() => SelDomPlan(2)" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?atrib</option>
                                    @foreach (var tob in LsAtrs) //.Where(ut => ut.Gvars == 62 && ut.Itb == 1 && ut.Elea != 0 && ut.Gp2 == IMyDom))
                                    {
                                        <option value="@tob.Elea">@tob.Liba</option>
                                    }
                                </InputSelect> *@
                            </div>
                        </div>
                        @* @if (!MyDaPlans.Any())
                        {
                            @if (allEnable)
                            {
                                <div class="row">
                                    <button class="col-1 btn btn-primary btn-sm" @onclick="() => OpenAddPlan()">
                                        ➕ Add
                                    </button>
                                </div>
                            }
                        } *@
                        <div class="row">
                                @if (IMyPlan != 0)
                                {
                                    <!--Contenu des Plans-->
                                        <Grid TItem="Plngen"
                                              Data="@MyDaPlans"
                                              AllowDetailView="true"
                                              OnRowClick="@OnEchRowClick"
                                              AllowRowClick="true"
                                              AllowPaging="true"
                                              Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="Plngen" HeaderText="No">
                                                    <ChildContent Context="item">@item.Pseq</ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Plngen" HeaderText="Designation">
                                                    <ChildContent Context="item">
                                                        @if (EditingPlnRowGuid == item.Rowguid)
                                                        {

                                                            <InputText @bind-Value="draftPln.Liba" />
                                                        }
                                                        else
                                                        {
                                                            @item.Liba
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Plngen" HeaderText="abrege">
                                                    <ChildContent Context="item">
                                                        @if (EditingPlnRowGuid == item.Rowguid)
                                                        {

                                                    <InputText @bind-Value="draftPln.Abg" />
                                                        }
                                                        else
                                                        {
                                                            @item.Abg
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Plngen" HeaderText="Eta">
                                                    <ChildContent Context="item">
                                                        @if (EditingPlnRowGuid == item.Rowguid)
                                                        {
                                                    <InputSelect @bind-Value="draftPln.Eta">
                                                                <option class="jchx" value="0">?choisir</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                        else
                                                        {
                                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                                <option class="jchx" value="0">?choisir</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                            <GridDetailView TItem="Plngen" Context="parent">
                                                <Grid TItem="Rubvar"
                                                      Data="parent.Rubvars.ToList()"
                                                      AllowPaging="true"
                                                      Responsive="true">
                                                    <GridColumns>
                                                        <GridColumn TItem="Rubvar" HeaderText="No">
                                                            <ChildContent Context="item">
                                                                @item.Scdrub
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Designation">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                {
                                                                    <InputText @bind-Value="draftRub.Liba" />
                                                                }
                                                                else
                                                                {
                                                                    @item.Liba
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Abrege">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                {
                                                            <InputText @bind-Value="draftRub.Abg" />
                                                                }
                                                                else
                                                                {
                                                                    @item.Abg
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Refer">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                { // show draftPln inputs
                                                          <InputText @bind-Value="draftRub.Xcod" class="form-control form-control-sm" />
                                                                }
                                                                else
                                                                { // show item as read-only
                                                                  <input @bind="item.Xcod" class="form-control form-control-sm" disabled />
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                                            <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        { // show draftPln inputs
                                                        <InputSelect @bind-Value="draftRub.Atyp" class="col-md-1" style="width:auto">
                                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                    {
                                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                                    }
                                                                </InputSelect>
                                                        }
                                                        else
                                                        {
                                                            <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto" disabled>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                            }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Eta">
                                                            <ChildContent Context="item">
                                                                @if (EditingRubRowGuid == item.Rowguid)
                                                                { // show draftPln inputs
                                                          <InputSelect @bind-Value="draftRub.Eta" class="col-md-1" style="width:auto">
                                                                      <option class="jchx" value="0">?etat</option>
                                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                        {
                                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                                        }
                                                                    </InputSelect>
                                                                }
                                                                else
                                                                { // show item as read-only
                                                                  <select @bind="item.Eta" class="col-md-1" style="width:auto" disabled>
                                                                      <option class="jchx" value="0">?etat</option>
                                                                        @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                        {
                                                                            <option value="@tob.Elea">@tob.Liba</option>
                                                                        }
                                                                    </select>
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                        <GridColumn TItem="Rubvar" HeaderText="Actions" IsVisible="@(allEnable)" Filterable="false">
                                                            <HeaderContent>
                                                                @if (allEnable)
                                                                {
                                                                        <button class="btn btn-primary btn-sm" @onclick="() => OpenAddRubr()">
                                                                            ➕ Add
                                                                        </button>
                                                                }
                                                            </HeaderContent>
                                                            <ChildContent Context="item">
                                                                @if (IsRubEditing(item))
                                                                {
                                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfEdingRub(draftRub)">
                                                                        💾 Save
                                                                    </button>
                                                                    <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingRub(draftRub)">
                                                                        ❎ Cancel
                                                                    </button>
                                                                }
                                                                else if (ConfirmingDeleteRowGuid == item.Rowguid)
                                                                {
                                                                    <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptRubDelete(item)">
                                                                        🗑️ Delete
                                                                    </button>
                                                                    <button class="btn btn-sm btn-success" @onclick="() => ConfirmRubDelete(item)">
                                                                        ✅ Confirm
                                                                    </button>
                                                                    <button class="btn btn-sm btn-secondary" @onclick="CancelRubDelete">
                                                                        ❌ Cancel
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-sm btn-primary me-1 @(allEnable ? "" : "disabled-action")"
                                                                            disabled="@(EditingRubRowGuid != null)"
                                                                            @onclick="() => PromptRubEdit(item)">
                                                                        ✏️ Edit
                                                                    </button>
                                                                        <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                                disabled="@(EditingRubRowGuid != null)"
                                                                                @onclick="() => PromptRubDelete(item)">
                                                                            🗑️ Delete
                                                                        </button>
                                                                }
                                                            </ChildContent>
                                                        </GridColumn>
                                                    </GridColumns>
                                                </Grid>
                                            </GridDetailView>
                                        </Grid>
                                }
                        </div>
                    </EditForm>
                }
            </div>
           
            <!-- Modal for ADDING Rubvar -->
            <Modal @ref="rubModal" class="modal-wide" Title="@chlTitle">
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Rubvar"
                              Data="@GrubNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Rubvar" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Id</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Liba" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        {
                                            <InputText @bind-Value="item.Abg" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Refer">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        { // show draftPln inputs
                                          <InputText @bind-Value="item.Xcod" class="form-control form-control-sm" />
                                        }
                                        else
                                        { // show item as read-only
                                          <input @bind="item.Xcod" class="form-control form-control-sm" disabled />
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Atyp">
                                    <ChildContent Context="item">
                                        <InputSelect @bind-Value="item.Atyp" class="col-md-1" style="width:auto">
                                            @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 2 && ut.Elea != 0))
                                            {
                                                <option value="@tob.Elea">@tob.Liba</option>
                                            }
                                        </InputSelect>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (AddingRowGuid == item.Rowguid)
                                        { // show draftPln inputs
                                          <InputSelect @bind-Value="item.Eta" class="col-md-1" style="width:auto">
                                              <option class="jchx" value="0">?etat</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        { // show item as read-only
                                          <select @bind="item.Eta" class="col-md-1" style="width:auto">
                                              <option class="jchx" value="0">?etat</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </select>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Rubvar" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (siRubAdding && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludeRubr(item)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="CloseCmodal">Cancel</Button>
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .compact-select {
        height: calc(1.5em + 0.5rem + 2px); /* match input height */
        padding: 0.25rem 0.5rem;
    }

    .modal-wide .modal-dialog {
        max-width: 50vw;
        width: auto;
        margin: auto;
    }
</style>
@code {
    private bool isLoading = true;
    private bool allEnable = false;

    private string Imessage = "", Jmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int ChxMenu { get; set; }
    //private Tiersp gridTier = new Tiersp();
    private Plngen curPlan = new();
    private List<Rubvar> LsRubs = new();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;

    private string _UserId = "", plnDom = "", domDest = "", domTitle = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();
    private List<Gplan> LsPlans = new List<Gplan>();
    private List<Gpfixe> LsFixes = new List<Gpfixe>();
    private List<Gpvar> LsVars = new List<Gpvar>();
    //private List<Gpfixe> LsDoms = new List<Gpfixe>();
    //private List<Gpfixe> LsAtrs = new List<Gpfixe>();

    private int _lgcdu = 0;
    private bool Yames = false;
    private bool isFilteringEnabled = false;
    //private bool isGpeFilteringEnabled = false;

    //Global
    private int IMyPlan = 0;
    private bool siPlnAdding = false, siRubAdding = false;
    private bool siPlnEditing = false, siRubEditing = false;

    private Modal plnModal, rubModal;
    private string patTitle, chlTitle = "";

    //pere-editing/adding/deleting
    //private bool isFixValid = false;
    private Plngen nwPater = new();
    private Guid? AddingPlnRowGuid; //pmodal
    private bool IsFixAdding(Plngen item) => AddingPlnRowGuid == item.Rowguid;
    private bool IsPlnEditing(Plngen item) => EditingPlnRowGuid == item.Rowguid;
    private Guid? EditingPlnRowGuid;
    private Guid? ConfirmingFixDeleteFRowGuid;

    //private Dictionary<Guid, Plngen> _originalFixSnapshots = new();
    Dictionary<int, Plngen> fxparentMapByPseq = new();
    private Dictionary<int, List<Plngen>> gPlnsMap = new();
    private Dictionary<Guid, List<Rubvar>> gRubsMap = new();
    //fils-editing/adding/deleting
    private Rubvar nwChild = new();
    private Guid? AddingRowGuid; //cmodal
    private bool IsAdding(Rubvar item) => AddingRowGuid == item.Rowguid;
    private bool IsRubEditing(Rubvar item) => EditingRubRowGuid == item.Rowguid;
    private Guid? EditingRubRowGuid;
    private Guid? ConfirmingDeleteRowGuid;
    //pere
    private List<Plngen> GplnNewRows => gPlnsMap.TryGetValue(curOrga.Idorg, out var rows)
    ? new List<Plngen>(rows)
    : new List<Plngen>();
    //fils
    private List<Rubvar> GrubNewRows => gRubsMap.TryGetValue(curPlan.Rowguid, out var rows)
    ? new List<Rubvar>(rows)
    : new List<Rubvar>();
    //data
    public List<Plngen> MyDaPlans { get; set; } = new();
    public List<Rubvar> MyDaChilds { get; set; } = new();

    //variables Plan
    Plngen draftPln = new();
    Plngen? editingPln = null;
    //variables Rub
    Rubvar draftRub = new();
    Rubvar? editingRub = null;
    void OnEchRowClick(GridRowEventArgs<Plngen> args)
    {
        Console.WriteLine($"OnPaterRowClick Triggered : {args.Item.Id}");
        MyDaChilds = new List<Rubvar>();
        curPlan = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curPlan.Id}");
        if (curPlan == null || curPlan.Id == 0)
        {
            return;
        }
        Console.WriteLine($"X2seq {curPlan.Id} et gRubsMap : {gRubsMap.Count}");
        var dpris = curPlan.Rubvars.Where(ju => ju.Prowguid == curPlan.Rowguid).ToList();
        Console.WriteLine($"exist parent data {dpris.Count}");
        bool containsKey = gRubsMap.ContainsKey(curPlan.Rowguid);
        Console.WriteLine($"gRubsMap ContainsKey({curPlan.Id}): {containsKey}");
        if (!gRubsMap.TryGetValue(curPlan.Rowguid, out var list))
        {
            return;
        }
        Console.WriteLine($"exist list {list.Count}");
        MyDaChilds = new List<Rubvar>(list);
        Console.WriteLine($"Child elements nb {MyDaChilds.Count}");
        StateHasChanged(); 
    }
    // Plngen FindPater(Rubvar row)
    // {
    //     if (row == null || row.Idpln == 0)
    //         return null;
    //     return fxparentMapByPseq.TryGetValue(row.Idpln, out var parent) ? parent : null;
    // }
    // void OpenAddPlan()
    // {
    //     int parentKey = Convert.ToInt32(curOrga.Idorg);
    //     if (gPlnsMap.ContainsKey(parentKey))
    //     {
    //         gPlnsMap.Remove(parentKey); // Clear previous children for clean modal state
    //     }

    //     PrepareAddPlan();

    //     patTitle = $"{curOrga.Idorg} - {curOrga.Raison} (contenu table en creation)";
    //     plnModal.ShowAsync();
    // }

    void OpenAddRubr()
    {
        Guid parentKey = curPlan.Rowguid;
        if (gRubsMap.ContainsKey(parentKey))
        {
            gRubsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddRubr(curPlan);

        chlTitle = $"{curPlan.Pseq} - {curPlan.Liba} (contenu table en creation)";
        rubModal.ShowAsync();
    } 

    // void PrepareAddPlan()
    // {
    //     //isFixValid = false;
    //     if (IMyDom == 0 || IMyAtr == 0 || !allEnable)
    //     {
    //         Imessage = "REFUS, Domaine et/ou Attribut non choisi";
    //         return;
    //     }
    //     var parentId = curOrga.Idorg;
    //     var ptyp = curPlan.Id;
    //     // Make sure the gPlnsMap has an entry for this parent
    //     if (!gPlnsMap.ContainsKey(parentId))
    //     {
    //         gPlnsMap[parentId] = new List<Plngen>();
    //     }
    //     var existingGsgfixs = curOrga.Plngens.Where(ln => ln.Idorg == parentId) ?? new DataServiceCollection<Plngen>();
    //     var mapGsgfixs = gPlnsMap[parentId];
    //     int maxEleaFromParent = existingGsgfixs.Any() ? (existingGsgfixs.Where(pl=> pl.Ptyp == ptyp).Max(r => r?.Elea) ?? 1) : 1;
    //     int maxEleaFromMap = mapGsgfixs.Any() ? (mapGsgfixs.Where(pl => pl.Ptyp == ptyp).Max(r => r?.Elea) ?? 1) : 1;
    //     int maxElea = Math.Max(1, Math.Max(maxEleaFromParent, maxEleaFromMap));
    //     int nextElea = maxElea + 1;
    //     Console.WriteLine($"current newPoste zone no : {nextElea} et parent act no : {curOrga.Idorg}");
    //     var newPat = CreateNewPlan(nextElea);
    //     gPlnsMap[parentId].Insert(0, newPat);
    //     AddingPlnRowGuid = newPat.Rowguid;
    //     StateHasChanged();
    //     siPlnAdding = true;
    // }

    void PrepareAddRubr(Plngen parent)
    {
        if (parent == null || IMyPlan == 0 || !allEnable)
        {
            Imessage = "REFUS, Groupe et/ou Base non choisi";
            return;
        }
        var parentId = parent.Rowguid;
        // Make sure the gRubsMap has an entry for this parent
        if (!gRubsMap.ContainsKey(parentId))
        {
            gRubsMap[parentId] = new List<Rubvar>();
        }
        var existingRubvars = curPlan.Rubvars.Where(ln => ln.Prowguid == parentId) ?? new DataServiceCollection<Rubvar>();
        var mapRubvars = gRubsMap[parentId];
        int maxIdzonFromParent = existingRubvars.Any() ? (existingRubvars.Max(r => r.Useq) ?? 10) : 10;
        int maxIdzonFromMap = mapRubvars.Any() ? (mapRubvars.Max(r => r.Useq) ?? 1) : 1;
        int maxIdzon = Math.Max(10, Math.Max(maxIdzonFromParent, maxIdzonFromMap));
        int nextZon = maxIdzon + 1;
        Console.WriteLine($"current newPoste zone no : {nextZon} et parent act no : {parent.Id}");
        var newChl = CreateNewRubr(parent, nextZon);
        gRubsMap[parentId].Insert(0, newChl);
        AddingRowGuid = newChl.Rowguid;
        StateHasChanged();
        siRubAdding = true;
    }
    // Plngen CreateNewPlan(int nextSeq)
    // {
    //     if (curOrga == null || IMyDom == 0 || IMyAtr == 0 || allEnable == false)
    //     {
    //         Imessage = "REFUS, Base/Gtiers/Ttiers non choisi";
    //         Yames = true;
    //         return new Plngen();
    //     }
    //     try
    //     {
    //         if (IMyDom == 1 || IMyDom == 2 || IMyDom == 3)
    //         {
    //             return new Plngen()
    //                 {
    //                     Rowguid = Guid.NewGuid(),
    //                     Idorg = curOrga.Idorg,
    //                     Tovers = 1,
    //                     Liba = "",
    //                     Abg = "",
    //                 //--
    //                     Ptyp = IMyDom, //1activites2matieres3grilles
    //                     Totyp = IMyAtr, //1(1tache2grade3notes4echeanc)2(1hard2soft)/3(1categorielle,2 fonction3individu...)
    //                     Styp = 0,
    //                     Idcent = 0,
    //                     Elea = nextSeq,
    //                     Eta = 1, //
    //                     Xadd1 = -1, //newly added
    //                 };
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         //strmeta = _entityManager.strmeta;
    //         Console.WriteLine($"1Probleme EntityManagment : {ex.Message}");
    //     }
    //     Console.WriteLine("1SORTIE");
    //     return new Plngen();
    // }
    Rubvar CreateNewRubr(Plngen parent, int nextSeq)
    {
        return new Rubvar()
            {
                Rowguid = Guid.NewGuid(),
                Prowguid = curPlan.Rowguid,
                Torub = 0,
                Utyp = 1, //services
                Sigrid = 0, //est grille
                Gdact = 1, //declenche (ajt rubriq Echeancier)
                Ustyp = 1, //de base
                Dtperi = 0, //toujours
                Liba = "",
                Abg = "",
                Xcod = "",
                Ddval = 0,
                Dfval = 0,
                Eaut = 0, //supprimable
                Eta = 1,
                Xadd1 = -1, //newly added
            };   
    }
    // void IncludePlan(Plngen mygf)
    // {
    //     // Use parent Idrub as key to gRubsMap dictionary
    //     var parentId = curOrga.Idorg;
    //     if (!curODContext.IsEntityTracked(mygf))
    //     {
    //         mygf.Xadd1 = 0;
    //         curODContext.AddObject("Plngens", mygf);
    //         // Make sure gRubsMap has the parent key initialized
    //         if (!gPlnsMap.ContainsKey(parentId))
    //         {
    //             gPlnsMap[parentId] = new List<Plngen>();
    //         }
    //         // Add only if the poste with same Rowguid not already present
    //         if (!gPlnsMap[parentId].Any(p => p.Rowguid == mygf.Rowguid))
    //         {
    //             gPlnsMap[parentId].Add(mygf);
    //         }
    //         AddingPlnRowGuid = Guid.Empty;
    //         siPlnAdding = false;
    //         StateHasChanged();
    //         Imessage = "Success... parent ajoute";
    //     }
    //     else
    //     {
    //         mygf.Xadd1 = 0;
    //         Imessage = "Deja ajoute";
    //     }

    //     siPlnAdding = false;
    // }
    void IncludeRubr(Rubvar aglne)
    {
        // Use parent Idrub as key to gRubsMap dictionary
        var parentId = curPlan.Rowguid;
        if (!curODContext.IsEntityTracked(aglne))
        {
            aglne.Xadd1 = 0;
            curODContext.AddObject("Rubvars", aglne);
            // Make sure gRubsMap has the parent key initialized
            if (!gRubsMap.ContainsKey(parentId))
            {
                gRubsMap[parentId] = new List<Rubvar>();
            }
            // Add only if the poste with same Rowguid not already present
            if (!gRubsMap[parentId].Any(p => p.Rowguid == aglne.Rowguid))
            {
                gRubsMap[parentId].Add(aglne);
            }
            AddingRowGuid = Guid.Empty;
            siRubAdding = false;
            StateHasChanged();
            Imessage = "Success... poste ajoute";
        }
        else
        {
            aglne.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        siRubAdding = false;
    }
    void ClosePmodal()
    { // RAZ des visions
        patTitle = "";
        plnModal.HideAsync();
    }
    void CloseCmodal()
    { // RAZ des visions
        chlTitle = "";
        rubModal.HideAsync();
    }


    //GTfl -- EDITING
    // void PromptPlnEdit(Plngen mypln)
    // {
    //     mypln.Xedt1 = 0;
    //     editingPln = mypln;
    //     draftPln = new Plngen
    //     {
    //         Rowguid = mypln.Rowguid,
    //         Idorg = mypln.Idorg,
    //         Tovers = mypln.Tovers,
    //         Liba = mypln.Liba,
    //         Abg = mypln.Abg,
    //         //--
    //         Ptyp = mypln.Ptyp, //1activites2matieres3grilles
    //         Totyp = mypln.Totyp, //1(1tache2grade3notes4echeanc)2(1hard2soft)/3(1categorielle,2 fonction3individu...)
    //         Styp = mypln.Styp,
    //         Idcent = mypln.Idcent,
    //         Elea = mypln.Elea,
    //         Eta = mypln.Eta, //
    //         // Copy other fields as necessary
    //     };
    //     //init edition
    //     mypln.Xedt1 = -1;
    //     EditingPlnRowGuid = mypln.Rowguid;
    //     //isEdingMan = true;
    // }
    void PromptRubEdit(Rubvar myrub)
    {
        //init edition
        myrub.Xedt1 = 0;
        editingRub = myrub;
        //isEdingLne = true;
        draftRub = new Rubvar
        {
            Rowguid = myrub.Rowguid,
            Prowguid = myrub.Prowguid,
            Torub = myrub.Torub,
            Utyp = myrub.Utyp, //services
            Sigrid = myrub.Sigrid, //est grille
            Gdact = myrub.Gdact, //declenche (ajt rubriq Actsaie)
            Ustyp = myrub.Ustyp, //de base
            Dtperi = myrub.Dtperi, //toujours
            Liba = myrub.Liba,
            Xcod = myrub.Xcod,
            Abg = myrub.Abg,
            Ddval = myrub.Ddval,
            Dfval = myrub.Dfval,
            Eaut = myrub.Eaut, //supprimable
            Eta = myrub.Eta,
            // Copy other fields as necessary
        };
        //init edition
        myrub.Xedt1 = -1;
        EditingRubRowGuid = myrub.Rowguid;
    }
    // void CancEdingPln(Plngen mypln)
    // {
    //     mypln.Xedt1 = 0;
    //     //isEdingMan = false;
    //     editingPln = new();
    //     draftPln = new();
    //     EditingPlnRowGuid = Guid.Empty;
    // }
    void CancEdingRub(Rubvar myrub)
    {
        myrub.Xedt1 = 0;
        //isEdingMan = false;
        editingRub = null;
        draftRub = null;
        EditingRubRowGuid = Guid.Empty;
    }
    // void ConfEdingPln(Plngen mypln)
    // {
    //     if (editingPln is not null)
    //     {
    //         editingPln.Rowguid = mypln.Rowguid;
    //         editingPln.Idorg = mypln.Idorg;
    //         editingPln.Tovers = mypln.Tovers;
    //         editingPln.Liba = mypln.Liba;
    //         editingPln.Abg = mypln.Abg;
    //         editingPln.Ptyp = mypln.Ptyp; //1activites2matieres3grilles
    //         editingPln.Totyp = mypln.Totyp; //1(1tache2grade3notes4echeanc)2(1hard2soft)/3(1categorielle,2 fonction3individu...)
    //         editingPln.Styp = mypln.Styp;
    //         editingPln.Idcent = mypln.Idcent;
    //         editingPln.Elea = mypln.Elea;
    //         editingPln.Eta = mypln.Eta; //
    //         //editingPln.Xadd1 = mypln.Xadd1; //newly added
    //         if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingPln))
    //         {
    //             curODContext.AttachTo("Plngens", editingPln);
    //         }
    //         curODContext.UpdateObject(editingPln);
    //     }
    //     mypln.Xedt1 = 0;
    //     //isEdingMan = false;
    //     editingPln = null;
    //     EditingPlnRowGuid = Guid.Empty;
    // }
    void ConfEdingRub(Rubvar myrub)
    {
        if (editingRub is not null)
        {
            // Restore all fields
            editingRub.Rowguid = myrub.Rowguid;
            editingRub.Prowguid = myrub.Prowguid;
            editingRub.Torub = myrub.Torub;
            editingRub.Utyp = myrub.Utyp; //services
            editingRub.Sigrid = myrub.Sigrid; //est grille
            editingRub.Gdact = myrub.Gdact; //declenche (ajt rubriq Actsaie)
            editingRub.Ustyp = myrub.Ustyp; //de base
            editingRub.Dtperi = myrub.Dtperi; //toujours
            editingRub.Liba = myrub.Liba;
            editingRub.Xcod = myrub.Xcod;
            editingRub.Abg = myrub.Abg;
            editingRub.Ddval = myrub.Ddval;
            editingRub.Dfval = myrub.Dfval;
            editingRub.Eaut = myrub.Eaut; //supprimable
            editingRub.Eta = myrub.Eta;
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingRub))
            {
                curODContext.AttachTo("Rubvars", editingRub);
            }
            curODContext.UpdateObject(editingRub);
        }
        myrub.Xedt1 = 0;
        //isEdingMan = false;
        editingRub = null;
        EditingRubRowGuid = Guid.Empty;
    }

    private void PromptRubDelete(Rubvar item)
    {
        ConfirmingDeleteRowGuid = item.Rowguid;
    }
    private void CancelRubDelete()
    {
        ConfirmingDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmRubDelete(Rubvar row)
    {
        var parent = curPlan;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Id}");
        if (!gRubsMap.TryGetValue(parent.Rowguid, out var coll))
            return;
        Console.WriteLine($"gRubsMap {gRubsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        curPlan.Rubvars.Where(ln => ln.Prowguid == parent.Rowguid).ToList().Remove(row);             // Remove from tracked collection

        EditingRubRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    // private void RestoreValues(Rubvar target, Rubvar source)
    // {
    //     // Restore all fields
    //     target.Rowguid = source.Rowguid;
    //     target.Idpln = source.Idpln;
    //     target.Torub = source.Torub;
    //     target.Utyp = source.Utyp; //services
    //     target.Sigrid = source.Sigrid; //est grille
    //     target.Gdact = source.Gdact; //declenche (ajt rubriq Actsaie)
    //     target.Ustyp = source.Ustyp; //de base
    //     target.Tperi = source.Tperi; //toujours
    //     target.Liba = source.Liba;
    //     target.Xcod = source.Xcod;
    //     target.Abg = source.Abg;
    //     target.Ddval = source.Ddval;
    //     target.Dfval = source.Dfval;
    //     target.Eaut = source.Eaut; //supprimable
    //     target.Eta = source.Eta;
    //     target.Xadd1 = source.Xadd1; //newly added
    // }
    //ACTIONS - Parents
    // void BeginFixEdit(Plngen item)
    // {
    //     if (!_originalFixSnapshots.ContainsKey(item.Rowguid))
    //         _originalFixSnapshots[item.Rowguid] = FixClone(item);
    //     EditingPlnRowGuid = item.Rowguid;
    // }
    // private void SaveFixEdit(Plngen item)
    // {
    //     if (curODContext.Context.GetEntityDescriptor(item) == null)
    //     {
    //         curODContext.Context.AttachTo("Plngens", item);
    //     }
    //     curODContext.UpdateObject(item); // track update
    //     EditingPlnRowGuid = Guid.Empty;
    //     _originalFixSnapshots.Remove(item.Rowguid);
    // }
    // private void CancelFixEdit(Plngen item)
    // {
    //     if (_originalFixSnapshots.TryGetValue(item.Rowguid, out var original))
    //     {
    //         RestoreFixValues(item, original);
    //         _originalFixSnapshots.Remove(item.Rowguid);
    //         StateHasChanged();  // <-- Ensure UI refresh to show restored values
    //     }
    //     EditingPlnRowGuid = Guid.Empty;
    // }
    private void PromptPlnDelete(Plngen item)
    {
        ConfirmingFixDeleteFRowGuid = item.Rowguid;
    }
    private void CancelPlnDelete()
    {
        ConfirmingFixDeleteFRowGuid = Guid.Empty;
    }
    private void ConfirmPlnDelete(Plngen row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        if (!gPlnsMap.TryGetValue(parent.Idorg, out var coll))
            return;
        Console.WriteLine($"gRubsMap {gPlnsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        curOrga.Plngens.Where(ln => ln.Idorg == parent.Idorg).ToList().Remove(row);             // Remove from tracked collection

        EditingPlnRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    // private Plngen FixClone(Plngen source)
    // {
    //     return new Plngen
    //     {
    //         Rowguid = source.Rowguid,
    //         Idorg = source.Idorg,
    //         Tovers = source.Tovers,
    //         Liba = source.Liba,
    //         Abg = source.Abg,
    //         //--
    //         Ptyp = source.Ptyp, //1activites2matieres3grilles
    //         Totyp = source.Totyp, //1(1tache2grade3notes4echeanc)2(1hard2soft)/3(1categorielle,2 fonction3individu...)
    //         Styp = source.Styp,
    //         Idcent = source.Idcent,
    //         Elea = source.Elea,
    //         Eta = source.Eta, //
    //         Xadd1 = source.Xadd1, //newly added
    //         // Copy other fields as necessary
    //     };
    //}
    // private void RestoreFixValues(Plngen target, Plngen source)
    // {
    //     target.Rowguid = source.Rowguid;
    //     target.Idorg = source.Idorg;
    //     target.Tovers = source.Tovers;
    //     target.Liba = source.Liba;
    //     target.Abg = source.Abg;
    //     //--
    //     target.Ptyp = source.Ptyp; //1activites2matieres3grilles
    //     target.Totyp = source.Totyp; //1(1tache2grade3notes4echeanc)2(1hard2soft)/3(1categorielle,2 fonction3individu...)
    //     target.Styp = source.Styp;
    //     target.Idcent = source.Idcent;
    //     target.Elea = source.Elea;
    //     target.Eta = source.Eta; //
    //     target.Xadd1 = source.Xadd1; //newly added
    // }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (toChild == null)
        {
            Console.WriteLine("TOCHILD IS NULL");
            return;
        }
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        //LsTabls = toChild.LsTabls.ToList();
        LsPlans = toChild.LsPlans.Where(pl => pl.Ptyp == 2).ToList();
  
        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        MyDaPlans = new();
        MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == IMyPlan));
        await LoadTablsAsync();
        await ChargeParentData();
        _navmanager.LocationChanged += OnLocationChanged;
        Imessage = "Donnees Grilles chargees";
        isLoading = false;
    }
   
    private async Task LoadTablsAsync()
    {
        gPlnsMap.Clear();
        gRubsMap.Clear();
        MyDaPlans = new List<Plngen>();
        gPlnsMap[curOrga.Idorg] = new List<Plngen>(curOrga.Plngens.Where(uf => uf.Idorg == curOrga.Idorg));
        foreach (var uta in curOrga.Plngens)
        {
            List<Rubvar> tbcols = uta.Rubvars.Where(ln => ln.Prowguid == uta.Rowguid).ToList();
            gRubsMap[uta.Rowguid] = new List<Rubvar>(tbcols);
            //Console.WriteLine($"Parent Xseq: {uta.Xseq}, Children count: {tbcols.Count}");
        }
    }
    private async Task ChargeParentData()
    {
        domDest = "Domaine";
 
        //MyGplans = curOrga.Plngens.Where(pl => pl.Ptyp == 1).ToList();
        //LsDoms = LsFixes.Where(ut => ut.Gvars == 36 && ut.Itb == 5 && ut.Gp1 == 2 && ut.Elea != 0).ToList();
        //MyDaPlans = new List<Plngen>(curOrga.Plngens.Where(pl => pl.Ptyp == IMyDom && pl.Totyp == IMyAtr));
    }

    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        EditingRubRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        EditingRubRowGuid = Guid.Empty;
        Imessage = "";
    }
    public async Task SavAll()
    {
        Imessage = "Enregistrement Operations, patience...";
        allEnable = false;
        EditingRubRowGuid = Guid.Empty;
        await curODContext.SaveDataAsync();
    }
    //CRUD OPERATIONS
    //--Manage PLANS
   
    private void SelDomPlan(int orig)
    {
      
    }

    private void OnInRubPost(GridRowEventArgs<Rubvar> args)
    {
        var mypst = (Rubvar)args.Item;
        //other code
    }
    // private Rubvar Clone(Rubvar source)
    // {
    //     return new Rubvar
    //     {
    //         Rowguid = source.Rowguid,
    //         Idpln = source.Idpln,
    //         Torub = source.Torub,
    //         Utyp = source.Utyp, //services
    //         Sigrid = source.Sigrid, //est grille
    //         Gdact = source.Gdact, //declenche (ajt rubriq Actsaie)
    //         Ustyp = source.Ustyp, //de base
    //         Tperi = source.Tperi, //toujours
    //         Liba = source.Liba,
    //         Refa = source.Xcod,
    //         Abg = source.Abg,
    //         Ddval = source.Ddval,
    //         Dfval = source.Dfval,
    //         Eaut = source.Eaut, //supprimable
    //         Eta = source.Eta,
    //         Xadd1 = source.Xadd1, //newly added
    //         // Copy other fields as necessary
    //     };
    // }
    bool AreRowsEqual(Rubvar row1, Rubvar row2) =>
        row1.Liba == row2.Liba && row1.Abg == row2.Abg;
    private void ToggleFiltering()
    {
        isFilteringEnabled = !isFilteringEnabled;
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        SaveCurEntities();
    }
    private void SaveCurEntities()
    {
        Console.WriteLine($"Entities SAVED");
        try
        {
            Console.WriteLine("SAVED PLUS");
            curODContext.SaveDataAsync();
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 2 && pl.Totyp == IMyAtr).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            //Alert($"ECHEC Entities not SAVED");
        }
    }
}