@page "/ictgrils"
@layout IagrMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Services
@using GxShared.Sess
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager

<!-- InscTiewComponent.razor -->
<PageTitle>Tables</PageTitle>

@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Schema/Grille Loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
else
{
    <div class="d-flex flex-column">
        <div class="my-container">
            @if (toChild != null)
            {
                @ChildContent
            }
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="AuthContext">
            <div class="row">
                <div class="col-md-12 input-group align-middle">
                    <span><b>Message :</b></span>
                    &nbsp;&nbsp;
                    @if (!String.IsNullOrEmpty(Imessage))
                    {
                        <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                    }
                </div>
            </div>
            <div class="container-fluid-fixed-top">
                @if (curOrga == null)
                {
                    <p style="color:red;">Warning: curOrga is unexpectedly null.</p>
                }
                else
                {
                    <EditForm Context="invform" Model="@curOrga">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="btn btn-group">
                                <label class="me-2">Plan :</label>
                                <InputSelect @bind-Value="IMyPlan" class="me-3" style="width:auto">
                                    <option class="jchx" value="0">?plan</option>
                                    @foreach (var upl in LsPlans)
                                    {
                                        <option value="@upl.Id" @onclick="() => SelDomPlan(upl, 1)">@upl.Liba</option>
                                    }
                                </InputSelect>
                                <label class="fw-bold">@plnDom</label>
                            </div>
                        </div>
                        <div class="row">
                            @if (IMyPlan != 0) //a verifier apres && IMyPlan != 0)
                            {
                                <Grid TItem="Actsaie"
                                      Data="@MyDaActs"
                                      AllowDetailView="true"
                                      AllowPaging="true"
                                      Responsive="true"
                                      OnRowClick="@OnActRowClick"
                                      AllowRowClick="true">
                                    <GridColumns>
                                        <GridColumn TItem="Actsaie" HeaderText="No">
                                            <ChildContent Context="item">@item.Scdrub</ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Actsaie" HeaderText="Designation">
                                            <ChildContent Context="item">@item.Liba</ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Actsaie" HeaderText="abrege">
                                            <ChildContent Context="item">@item.Abg</ChildContent>
                                        </GridColumn>
                                        <GridColumn TItem="Actsaie" HeaderText="actions">
                                            
                                            <ChildContent Context="item">
                                                
                                            </ChildContent>
                                        </GridColumn>
                                    </GridColumns>
                                    <GridDetailView TItem="Actsaie" Context="parent">
                                        <Grid TItem="Actdet"
                                              Data="@GetPostes(parent)"
                                              AllowPaging="true"
                                              Responsive="true">
                                            <GridColumns>
                                                <GridColumn TItem="Actdet" HeaderText="No">
                                                    <ChildContent Context="item">
                                                        <div @key="item.Rowguid">@item.Iele</div>
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Actdet" HeaderText="Inferieur">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <InputText @bind-Value="draftRub.Dstr" placeholder="debut" />
                                                        }
                                                        else
                                                        {
                                                            @item.Dstr
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Actdet" HeaderText="Superieur">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == draftRub.Rowguid)
                                                        {
                                                            <InputText @bind-Value="item.Fstr" placeholder="fin" />
                                                        }
                                                        else
                                                        {
                                                            @item.Fstr
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Actdet" HeaderText="Valeur">
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <InputText @bind-Value="draftRub.Svala" placeholder="valeur" />
                                                        }
                                                        else
                                                        {
                                                            @item.Svala
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Actdet" HeaderText="Eta">
                                                    <HeaderContent>
                                                        @if (allEnable)
                                                        {
                                                            <button class="btn btn-primary btn-sm" @onclick="() => OpenPstmodal(curActa)">
                                                                ➕ Add
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-info btn-sm" @onclick="ToggleFiltering">
                                                                @(isFilteringEnabled ? "🚫 Out Filter" : "🔍 In Filter")
                                                            </button>
                                                        }
                                                    </HeaderContent>
                                                    <ChildContent Context="item">
                                                        @if (EditingRubRowGuid == item.Rowguid)
                                                        {
                                                            <InputSelect @bind-Value="draftRub.Eta">
                                                                <option class="jchx" value="0">?choisir</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                        else
                                                        {
                                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                                <option class="jchx" value="0">?choisir</option>
                                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                                {
                                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                                }
                                                            </InputSelect>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                                <GridColumn TItem="Actdet" HeaderText="Actions" IsVisible="@(allEnable)" Filterable="false">
                                                    <ChildContent Context="item">
                                                        @if (siRubEditing)
                                                        {
                                                            <button class="btn btn-sm btn-success" @onclick="() => ConfEdingRub(draftRub)">
                                                                💾 Save
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary" @onclick="() => CancEdingRub(draftRub)">
                                                                ❎ Cancel
                                                            </button>
                                                        }
                                                        else if (ConfirmingDeleteRowGuid == item.Rowguid)
                                                        {
                                                            <button class="btn btn-sm btn-outline-danger" @onclick="() => PromptRubDelete(item)">
                                                                🗑️ Delete
                                                            </button>
                                                            <button class="btn btn-sm btn-success" @onclick="() => ConfirmRubDelete(item)">
                                                                ✅ Confirm
                                                            </button>
                                                            <button class="btn btn-sm btn-secondary" @onclick="CancelRubDelete">
                                                                ❌ Cancel
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-sm btn-primary me-1 @(allEnable ? "" : "disabled-action")"
                                                                    disabled="@(EditingRubRowGuid != null)"
                                                                    @onclick="() => PromptRubEdit(item)">
                                                                ✏️ Edit
                                                            </button>
                                                            <button class="btn btn-sm btn-outline-danger @(allEnable ? "" : "disabled-action")"
                                                                    disabled="@(EditingRubRowGuid != null)"
                                                                    @onclick="() => PromptRubDelete(item)">
                                                                🗑️ Delete
                                                            </button>
                                                        }
                                                    </ChildContent>
                                                </GridColumn>
                                            </GridColumns>
                                        </Grid>
                                    </GridDetailView>
                                </Grid>
                            }
                        </div>
                    </EditForm>
                }
            </div>
            <!-- Modal for ADDING Actdet -->
            <Modal @ref="adtModal" class="modal-wide" Title="@adtTitle">
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Actdet"
                              Data="@GrubNewRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Actdet" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Iele</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Actdet" HeaderText="Inferieur">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputText @bind-Value="item.Dstr" placeholder="debut" />
                                        }
                                        else
                                        {
                                            @item.Dstr
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Actdet" HeaderText="Superieur">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputText @bind-Value="item.Fstr" placeholder="fin" />
                                        }
                                        else
                                        {
                                            @item.Fstr
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Actdet" HeaderText="Valeur">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputText @bind-Value="item.Svala" placeholder="valeur" />
                                        }
                                        else
                                        {
                                            @item.Svala
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Actdet" HeaderText="Eta">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputSelect @bind-Value="item.Eta">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                        else
                                        {
                                            <InputSelect @bind-Value="item.Eta" disabled="true">
                                                <option class="jchx" value="0">?choisir</option>
                                                @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                {
                                                    <option value="@tob.Elea">@tob.Liba</option>
                                                }
                                            </InputSelect>
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Actdet">
                                    <HeaderContent>
                                        @if (allEnable)
                                        {
                                            @if (!siAdtAdding)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => PreparePoste(curActa)">
                                                    <span class="me-1">+</span> Ajout
                                                </button>
                                            }
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Actdet" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (siAdtAdding && item.Xadd1 == -1)
                                            {
                                                <button class="btn btn-sm btn-success d-flex align-items-center" @onclick="() => IncludeAdet(item)">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="ClosePmodal">Cancel</Button>
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .compact-select {
        height: calc(1.5em + 0.5rem + 2px); /* match input height */
        padding: 0.25rem 0.5rem;
    }

    .modal-wide .modal-dialog {
        max-width: 55vw;
        width: auto;
        margin: auto;
    }
</style>
@code {
    private bool isLoading = true;
    private bool allEnable = false;

    private string Imessage = "", Jmessage = "";

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; } = new();
    [Parameter]
    public MyShareVars toChild { get; set; }
    [Parameter]
    public int toMenu { get; set; }
    //private Tiersp gridTier = new Tiersp();
    //private Rubvar curRub = new Rubvar();
    //private Actsaie curActa = new Actsaie();
    //private Plngen curPlan = new();
    private Actsaie curActa = new();
    private List<Rubvar> LsRubs = new();

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;

    private string _UserId = "", plnDom = "";
    private int _UorgId = 0;
    private Userbag _usrBag = new Userbag();

    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();

    //private IEnumerable<Gpvar> LsTabls = new List<Gpvar>();

    private List<Gplan> LsPlans = new List<Gplan>();
    private List<Gpfixe> LsFixes = new List<Gpfixe>();
    private List<Gpvar> LsVars = new List<Gpvar>();

    private int _lgcdu = 0;
    private bool isFilteringEnabled = false;
    //private bool isGpeFilteringEnabled = false;

    private int IMyPlan = 0;

    //List<Rubvar> allRubvars;
    //Dictionary<Guid, Rubvar> rubvarMap = new();private Guid? EditingRubRowGid;
    //private bool IsRubEditing(Actdet item) => EditingRubRowGuid == item.Rowguid;
    private Guid? EditingRubRowGuid;
    private Guid? AddingAdtRowGuid; //cmodal
    //private bool IsEditing(Actdet item) => EditingRubRowGid == item.Rowguid;
    //private Guid? EditingRubRowGid;

    private Guid? ConfirmingDeleteRowGuid;


    private bool siAdtAdding = false;
    private bool siPlnAdding = false, siRubAdding = false;
    private bool siPlnEditing = false, siRubEditing = false;

    private Modal adtModal;
    private string adtTitle = "";
    private Dictionary<int, Actsaie> actsaieMapByIdact = new();
    private Dictionary<int, Actdet> _originalSnapshots = new();
    private List<Actsaie> MyDaActs { get; set; } = new();
    private Dictionary<int, List<Actdet>> gActsMap = new();
    private List<Actdet> GrubNewRows => gActsMap.TryGetValue(curActa.Id, out var rows)
    ? new List<Actdet>(rows)
    : new List<Actdet>();

    private bool isPstValid = false;
    //private Actdet nwPoste = new();
    //private Actsaie curParent = new();
    private Tiersp gridTier = new();

    //variables Rub
    Actdet draftRub = new();
    Actdet? editingRub = null;

    void OnActRowClick(GridRowEventArgs<Actsaie> args)
    {
        Console.WriteLine($"OnActRowClick Triggered : {args.Item.Id}");
        curActa = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curActa.Id}");
        if (curActa == null || curActa.Id == 0)
        {
            return;
        }
        StateHasChanged();
    }
    void BuildActsaieMap()
    {
        actsaieMapByIdact.Clear();
        foreach (var act in MyDaActs)
        {
            actsaieMapByIdact[act.Id] = act;
        }
    }
    void OpenPstmodal(Actsaie myact)
    {
        curActa = myact;
        if (!GrubNewRows.Any())
        {
            PreparePoste(myact);
        }
        else
        {
            foreach (var ucr in curActa.Actdets)
            {
                Console.WriteLine($"detached row : {ucr.Rowguid}");
                curActa.Actdets.Remove(ucr);
            }
        }
        adtTitle = myact.Scdrub + "- " + myact.Liba + " (postes en creation)";
        adtModal.ShowAsync();
    }
    void ClosePmodal()
    { // RAZ des visions
        adtTitle = "";
        adtModal.HideAsync();
    }
    void PreparePoste(Actsaie parent)
    {
        isPstValid = false;
        if (parent == null || IMyPlan == 0 || !allEnable)
        {
            Imessage = "REFUS, Plan non choisi";
            return;
        }
        var parentId = parent.Id;
        // Make sure the gActsMap has an entry for this parent
        if (!gActsMap.ContainsKey(parentId))
        {
            gActsMap[parentId] = new List<Actdet>();
        }
        var existingActdets = parent.Actdets ?? new DataServiceCollection<Actdet>();
        var mapActdets = gActsMap[parentId];
        int maxIdseqFromParent = existingActdets.Any() ? (existingActdets.Max(r => r.Iele) ?? 1) : 1;
        int maxIdseqFromMap = mapActdets.Any() ? (mapActdets.Max(r => r.Iele) ?? 1) : 1;
        int maxIdseq = Math.Max(1, Math.Max(maxIdseqFromParent, maxIdseqFromMap));
        int nextSeq = maxIdseq + 1;
        Console.WriteLine($"current newPoste zone no : {nextSeq} et parent act no : {parent.Id}");
        var newPoste = CreateNewPoste(parent, nextSeq);
        if (newPoste != null)
        {
            gActsMap[parentId].Insert(0, newPoste);
            Console.WriteLine($"Actual NewRows nb {GrubNewRows.Count}");
            GrubNewRows.Insert(0, newPoste);
            //GplnNewRows = GplnNewRows.ToList();
            Console.WriteLine($"After Insert NewRows nb {GrubNewRows.Count}");
            AddingAdtRowGuid = newPoste.Rowguid;
        }
        siAdtAdding = true;
        StateHasChanged();
    }

    Actdet CreateNewPoste(Actsaie parent, int nextSeq)
    {
        return new Actdet
        {
            //Rowguid = Guid.NewGuid(),
            Iact = parent.Id,
            //Irub = parent.Id,
            //Itie = parent.Id,
            Froac = 3, //de grille
            Dstr = "",
            Fstr = "",
            Ddval = DateTime.Now,
            Dfval = DateTime.Now,
            Svala = "",
            Iele = nextSeq, //child seq
            Pirub = parent.Irub,
            Pscdrub = parent.Scdrub, //parent scdrub
            Acdrub = $"{parent.Scdrub}Z{nextSeq.ToString()}",
            Eta = 1, //1actif
            Xadd1 = -1 //newly added
        };
    }
    void IncludeAdet(Actdet myadet)
    {
        var parentId = curActa.Id;
        //bool YaChild = IsChildValid(aglne); // Make sure this returns true if aglne is valid to add
        if (!curODContext.IsEntityTracked(myadet)) // && YaChild)
        {
            try
            {
                myadet.Xadd1 = -2;  // Mark as being added

                if (!curODContext.IsEntityTracked(curActa))
                {
                    curODContext.AttachTo("Actsaies", curActa);
                }

                curODContext.AddRelatedObject(curActa, "Actdets", myadet);

                if (!gActsMap.ContainsKey(parentId))
                {
                    gActsMap[parentId] = new List<Actdet>();
                }

                if (!gActsMap[parentId].Any(p => p.Id == myadet.Id))
                {
                    gActsMap[parentId].Add(myadet);
                }
                curActa.Actdets.Add(myadet);

                AddingAdtRowGuid = Guid.Empty;
                siAdtAdding = true;
                Imessage = "Success... Rubrique ajoutee";
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
            }
            StateHasChanged();
        }
        else
        {
            myadet.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }

        //isAdetCodeValid = false;
        siAdtAdding = false; // Consider moving this flag reset based on your UI state management needs
    }

    // void IncludeAdet(Actdet myadet)
    // {
    //     var parentId = curActa.Idact;
    //     //bool YaChild = IsChildValid(aglne); // Make sure this returns true if aglne is valid to add
    //     if (!curODContext.IsEntityTracked(myadet)) // && YaChild)
    //     {
    //         try
    //         {
    //             myadet.Xadd1 = -2;  // Mark as being added

    //             if (!curODContext.IsEntityTracked(curActa))
    //             {
    //                 curODContext.AttachTo("Actsaies", curActa);
    //             }

    //             curODContext.AddRelatedObject(curActa, "Actdets", myadet);

    //             if (!gActsMap.ContainsKey(parentId))
    //             {
    //                 gActsMap[parentId] = new List<Actdet>();
    //             }

    //             if (!gActsMap[parentId].Any(p => p.Idact == myadet.Idact))
    //             {
    //                 gActsMap[parentId].Add(myadet);
    //             }
    //             curActa.Actdets.Add(myadet);

    //             AddingAdtRowGuid = Guid.Empty;
    //             siAdtAdding = true;
    //             Imessage = "Success... Rubrique ajoutee";
    //         }
    //         catch (Exception ex)
    //         {
    //             Console.WriteLine($"Erreur addrelatedobject : {ex.Message}");
    //         }
    //         StateHasChanged();
    //     }
    //     else
    //     {
    //         myadet.Xadd1 = 0;
    //         Imessage = "Deja ajoute";
    //     }

    //     //isAdetCodeValid = false;
    //     siAdtAdding = false; // Consider moving this flag reset based on your UI state management needs
    // }

    // void IncludeAdet(Actsaie myact, Actdet myadet)
    // {
    //     // Use parent Idrub as key to gActsMap dictionary
    //     var parentId = myact.Idact;

    //     if (!curODContext.IsEntityTracked(myadet) && isPstValid)
    //     {
    //         myadet.Xadd1 = 0;
    //         curODContext.AddObject("Actdets", myadet);
    //         // Make sure gActsMap has the parent key initialized
    //         if (!gActsMap.ContainsKey(parentId))
    //         {
    //             gActsMap[parentId] = new List<Actdet>();
    //         }
    //         // Add only if the poste with same Rowguid not already present
    //         if (!gActsMap[parentId].Any(p => p.Rowguid == myadet.Rowguid))
    //         {
    //             gActsMap[parentId].Add(myadet);
    //         }
    //         siAdtAdding = false;
    //         StateHasChanged();
    //         Imessage = "Success... poste ajoute";
    //     }
    //     else
    //     {
    //         myadet.Xadd1 = 0;
    //         Imessage = "Deja ajoute";
    //     }
    //     siAdtAdding = false;
    // }
    private List<Actdet> GetPostes(Actsaie parent)
    {
        if (parent == null) return new List<Actdet>();

        if (!gActsMap.TryGetValue(parent.Id, out var list))
            return new List<Actdet>();

        // Filter duplicates by Rowguid
        var uniqueList = list
            .GroupBy(p => p.Rowguid)
            .Select(g => g.First())
            .ToList();
        return new List<Actdet>(uniqueList);
    }

    void PromptRubEdit(Actdet myrub)
    {
        //init edition
        myrub.Xedt1 = 0;
        editingRub = myrub;
        //isEdingLne = true;
        draftRub = new Actdet
        {
            Rowguid = myrub.Rowguid,
            Iact = myrub.Id,
            //Irub = myrub.Irub,
            //Itie = myrub.Itie,
            Froac = myrub.Froac, //de grille
            Dstr = myrub.Dstr,
            Fstr = myrub.Fstr,
            Ddval = myrub.Ddval,
            Dfval = myrub.Dfval,
            Acdrub = myrub.Acdrub, //parent scdrub
            Iele = myrub.Iele, //child seq
            Pirub = myrub.Pirub,
            Pscdrub = myrub.Pscdrub, //parent scdrub

            Eta = myrub.Eta, //1actif 
            // Copy other fields as necessary
        };
        //init edition
        myrub.Xedt1 = -1;
        EditingRubRowGuid = myrub.Rowguid;
        siRubEditing = true;
    }
    void CancEdingRub(Actdet myrub)
    {
        myrub.Xedt1 = 0;
        //isEdingMan = false;
        editingRub = null;
        draftRub = null;
        EditingRubRowGuid = Guid.Empty;
        siRubEditing = false;
    }
    void ConfEdingRub(Actdet myrub)
    {
        if (editingRub is not null)
        {
            editingRub.Rowguid = myrub.Rowguid;
            editingRub.Iact = myrub.Id;
            //editingRub.Irub = myrub.Irub;
            //editingRub.Itie = myrub.Itie;
            editingRub.Froac = myrub.Froac; //de grille
            editingRub.Dstr = myrub.Dstr;
            editingRub.Fstr = myrub.Fstr;
            editingRub.Ddval = myrub.Ddval;
            editingRub.Dfval = myrub.Dfval;
            editingRub.Svala = myrub.Svala;
            editingRub.Acdrub = myrub.Acdrub; //parent scdrub
            editingRub.Iele = myrub.Iele; //child seq
            editingRub.Pirub = myrub.Pirub;
            editingRub.Pscdrub = myrub.Pscdrub; //parent scdrub

            editingRub.Eta = myrub.Eta; //1actif
            if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingRub))
            {
                curODContext.AttachTo("Actdets", editingRub);
            }
            curODContext.UpdateObject(editingRub);
        }
        myrub.Xedt1 = 0;
        editingRub = null;
        EditingRubRowGuid = Guid.Empty;
        siRubEditing = false;
    }

    private void PromptRubDelete(Actdet item)
    {
        ConfirmingDeleteRowGuid = item.Rowguid;
    }
    private void CancelRubDelete()
    {
        ConfirmingDeleteRowGuid = Guid.Empty;
    }
    private void ConfirmRubDelete(Actdet row)
    {
        var parent = curActa;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Liba} and row id : {parent.Id}");
        if (!gActsMap.TryGetValue(parent.Id, out var coll))
            return;
        Console.WriteLine($"gActsMap {gActsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if(curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        parent.Actdets.Remove(row);             // Remove from tracked collection

        EditingRubRowGuid = Guid.Empty;
        StateHasChanged(); // Notify UI about changes
    }
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (toChild == null)
        {
            Console.WriteLine("TOCHILD IS NULL");
            return;
        }
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;
        //LsTabls = toChild.LsTabls.ToList();
        LsPlans = toChild.LsPlans.Where(pl => pl.Ptyp == 3).ToList();
        Console.WriteLine($" nb PLANS GRILLE : {LsPlans.Count}");
       
        _lgcdu = 3;
        var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;

        // MyGRubs = curOrga.Plngens.Where(pl => pl.Ptyp == 3).ToList();
        // if (MyGRubs.Any())
        // {
        //     Console.WriteLine($"3nb. Plans : {MyGRubs.Count()}");
        //     curPlan = MyGRubs.Where(pl => pl.Idpln == IMyPlan).FirstOrDefault();
        // }

        await LoadgActsAsync();
        await ChargeParentData();
        _navmanager.LocationChanged += OnLocationChanged;
        // ActdetContext = GridContextFactory.Create(
        //             MyDaPosts.ToList(),
        //             item => item.Rowguid,
        //             item => item.Xadd1 == -1
        //         );
        //rubpstActions = ActdetContext.Actions;
        // foreach (var item in MyDaPosts)
        // {
        //     ActdetContext.RowManager.Add(item);
        // }
        BuildActsaieMap();
        isLoading = false;
    }
    private async Task ChargeParentData()
    {
        //domTitle = "Postes";
        Imessage = "Donnees Grilles chargees";
    }
    private async Task LoadgActsAsync()
    {
        int pisa = 2;
        try
        {
            var expand = "Actsaies,Actsaies($expand=Actdets)";
            var dxties = await curODContext.LoadFilteredAsync<Tiersp>(expand: expand);
            pisa = 3;
            var inTiers = dxties.Where(ut => ut.Sigrid == 1).ToList(); //tiers Actsaie-Actdet
            if (inTiers.Any())
            {
                gridTier = inTiers.FirstOrDefault();
                if (gridTier == null)
                {
                    Console.WriteLine("No tiers found for the current user.");
                    return;
                }
                pisa = 4;
                MyDaActs = new List<Actsaie>(gridTier.Actsaies);
                Console.WriteLine($"nb.acts wl {MyDaActs.Count()}");
            }
            else
            {
                Console.WriteLine("No tiers found for the current user.");
            }
            //MyGrubs = inPlan.Rubhies.ToList();
            Console.WriteLine($"nb t recu : {pisa} et {inTiers.Count()}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"stack trace : {ex.StackTrace} place : {pisa} ex-mess : {ex.Message} and also in-mess: {ex.InnerException}");
        }
    }
    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        EditingRubRowGuid = Guid.Empty;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        EditingRubRowGuid = Guid.Empty;
        Imessage = "";
    }
    public async Task SavAll()
    {
        Imessage = "Enregistrement Operations, patience...";
        allEnable = false;
        EditingRubRowGuid = Guid.Empty;
        await curODContext.SaveDataAsync();
    }
    private void SelDomPlan(Gplan mypln, int orig)
    {
        Console.WriteLine("Denier Feterdah");
        try
        {
            plnDom = "";
            if (IMyPlan != 0) // && MyDaActs.Any())
            {
                var inPln = curOrga.Plngens.Where(pl => pl.Id == mypln.Id).FirstOrDefault();
                //parent = MyDaActs.Where(  pl => pl.Idpln == IMyPlan).FirstOrDefault();
                if (inPln != null)
                {
                    var pdoms = LsFixes.Where(uf => uf.Gvars == 36 && uf.Itb == 1 && uf.Gp1 == 3 && uf.Elea == inPln.Toatr).ToList();
                    if (pdoms.Any())
                    {
                        plnDom = "(" + pdoms.FirstOrDefault().Liba + ")";
                    }
                    LsRubs = inPln.Rubvars.ToList();
                    MyDaActs = new List<Actsaie>(gridTier.Actsaies.Where(ac =>ac.IrubNavigation.Ipln == inPln.Id).ToList());
                    foreach (var act in MyDaActs)
                    {
                        var wrub = LsRubs.Where(ur => ur.Ipln == inPln.Id).FirstOrDefault();
                        if (wrub != null)
                        {
                            act.Liba = wrub.Liba;
                            act.Abg = wrub.Abg;
                        }
                    }
                }
            }
            else
            {
                plnDom = "";
                curActa = new();
                MyDaActs = new();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Posts exception {ex.Message} et trace {ex.StackTrace}");
        }
    }
    private void OnInRubPost(GridRowEventArgs<Actdet> args)
    {
        var mypst = (Actdet)args.Item;
        //other code
    }
    bool AreRowsEqual(Actdet row1, Actdet row2) =>
        row1.Dstr == row2.Dstr && row1.Fstr == row2.Fstr;
    private void ToggleFiltering()
    {
        isFilteringEnabled = !isFilteringEnabled;
    }
    private string GetStyle(int? itemId)
    {
        int oId = Convert.ToInt32(itemId);
        Console.WriteLine($" style state : {oId}");
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing
        ? "background-color:yellow;"
        : "";
    }
    private string GetButton(int itemId)
    {
        int oId = Convert.ToInt32(itemId);
        return EdState.TryGetValue(oId, out bool onEditing) && onEditing ? "Confirm" : "Edit";
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        SaveCurEntities();
    }
    private void SaveCurEntities()
    {
        Console.WriteLine($"Entities SAVED");
        try
        {
            Console.WriteLine("SAVED PLUS");
            curODContext.SaveDataAsync();
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            //Alert($"ECHEC Entities not SAVED");
        }
    }
}
