@page "/accauth"
@layout AccsMenu

@using System
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Linq.Expressions
@using System.Net.Http.Headers
@using System.Reflection
@using System.Security.Claims
@using System.Web
@using BlazorBootstrap
@using Blazored.LocalStorage
@using GxAdm.ClieModels
@using GxAdm.Helpers.Mform
@using GxAdm.Services
@using GxShared.GlobModels
@using GxWapi.DaModels
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.OData.Client
@using Newtonsoft.Json

@inject ILocalStorageService _localStorage
@inject NavigationManager _navmanager
@inject HttpClientService _cliemanager
@inject IODataContextFactory _contextFactory

<!-- InscTiewComponent.razor -->
<PageTitle>Institution</PageTitle>
@* <h3>AOrgas</h3> *@
@if (isLoading)
{
    <Progress class="progress mb-3">
        <ProgressBar Width="30" Label="Astreintes/Constante loading..." Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Primary" />
    </Progress>
}
<div>
    @Imessage
</div>
<div>
    @Ierror
</div>
@if (!isLoading)
{
    <AuthorizeView>
        <Authorized>
            <EditForm Context="edOrgContext" Model="@curOrga">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col-md-12 input-group align-middle">
                        <span><b>Message :</b></span>
                        &nbsp;&nbsp;
                        @if (!String.IsNullOrEmpty(Imessage))
                        {
                            <span class="bg-info bg-opacity-10" style="font-style:italic;color:red">&nbsp;--> @Imessage</span>
                        }
                    </div>
                </div>
                <div class="container-fluid-fixed-top">

                    <ul class="nav nav- flex-nowrap" id="ogtabs" role="tablist">
                        <li class="nav-item" role="tab">
                            <a class="nav-link" id="gpe" data-bs-toggle="tab"
                               href="#nav-groups" role="tab" aria-controls="nav-groups"
                               aria-selected="false">
                                Groupes
                            </a>
                        </li>
                        <li class="nav-item" role="tab">
                            <a class="nav-link" id="ope" data-bs-toggle="tab"
                               href="#nav-opers" role="tab" aria-controls="nav-opers"
                               aria-selected="false">
                                Operateurs
                            </a>
                        </li>
                        <li class="nav-item" role="tab">
                            <a class="nav-link" id="rol" data-bs-toggle="tab"
                               href="#nav-roles" role="tab" aria-controls="nav-roles"
                               aria-selected="false">
                                Roles
                            </a>
                        </li>
                        <li class="nav-item" role="tab">
                            <a class="nav-link" id="ses" data-bs-toggle="tab"
                               href="#nav-sesis" role="tab" aria-controls="nav-sesis"
                               aria-selected="false">
                                Sessions
                            </a>
                        </li>
                    </ul>
                    @* <div class="row"> *@
                    <div class="tab-content" id="tab-contenu">
                        <!--GROUPES-->
                        <div class="tab-pane fade show active" id="nav-groups" role="tabpanel" aria-labelledby="gpe">
                            <div class="row align-items-center">
                                <div class="row align-items-center">
                                    <Grid TItem="Grole"
                                          Data="@LsDaRoles"
                                          AllowRowClick="true"
                                          OnRowClick="@OnRoleRowClick"
                                          AllowDetailView="true"
                                          Responsive="true">
                                        <GridColumns>
                                            <GridColumn TItem="Grole" HeadterText="No">
                                                <ChildContent Context="item">
                                                    @item.Level
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Grole" HeaderText="Nom">
                                                <ChildContent Context="item">
                                                      <label>@item.Name</label>
                                                </ChildContent>
                                            </GridColumn>
                                            <GridColumn TItem="Grole" HeaderText="Description">
                                                <ChildContent Context="item">
                                                    <label>@item.Description</label>
                                                </ChildContent>
                                            </GridColumn>
                                        </GridColumns>
                                        <GridDetailView TItem="Grole" Context="parent">
                                            <Grid TItem="Gsauth"
                                                  Data="@LsDaAuths"
                                                  AllowPaging="true"
                                                  Responsive="true">
                                                <GridColumns>
                                                    <GridColumn TItem="Gsauth" HeaderText="No">
                                                        <ChildContent Context="item">
                                                            <label>@item.Elea</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Description">
                                                        <ChildContent Context="item">
                                                            <label>@item.Liba</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Abrege">
                                                        <ChildContent Context="item">
                                                            <label>@item.Abg</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Tout">
                                                        <ChildContent Context="item">
                                                            <label>@item.Tout</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Lect">
                                                        <ChildContent Context="item">
                                                            <label>@item.Aread</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Ecrit">
                                                        <ChildContent Context="item">
                                                            <label>@item.Awrite</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Modif">
                                                        <ChildContent Context="item">
                                                            <label>@item.Aupd</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Supr">
                                                        <ChildContent Context="item">
                                                            <label>@item.Adele</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                    <GridColumn TItem="Gsauth" HeaderText="Actions">
                                                        <ChildContent Context="item">
                                                            <label>suppri</label>
                                                        </ChildContent>
                                                    </GridColumn>
                                                </GridColumns>
                                            </Grid>
                                        </GridDetailView>
                                    </Grid>
                                </div>                            
                            </div>
                        </div>
                        <!--OPERATEURS-->
                        <div class="tab-pane fade show active" id="nav-opers" role="tabpanel" aria-labelledby="ope">
                        </div>
                        <!--ROLES-->
                        <div class="tab-pane" id="nav-roles" role="tabpanel" aria-labelledby="rol">

                        </div>
                        <!--SESSIONS-->
                        <div class="tab-pane" id="nav-sesis" role="tabpanel" aria-labelledby="ses">
                            <EditForm Context="edSesContext" Model="@curOrga">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="row">
                                    <label class="col-md-6" style="font-weight:bold">Groupe Sessions :</label>
                                </div>
                                <div class="row row-cols-3" style="font-style :italic;font-weight:bold">
                                    <div class="col-1 text-center">no</div>
                                    <div class="col-1">designation</div>
                                    <div class="col-1">methode</div> <!--auto/manu/exo-->
                                    <div class="col-1">frequence</div> <!--an/mois/jour/heure-->
                                    @* <div class="col-1" style="min-width: 140px;">du</div> <!--auto(ymd)//manu(du au)//exo(0)-->
                                    <div class="col-1" style="min-width: 140px;">au</div> *@
                                    @* <div class="col-md-1">nbre</div> *@
                                    <div class="col-1 ms-1">eta</div>
                                    @if (allEnable)
                                    {
                                        <div class="col-2">Actions</div>
                                    }
                                </div>
                                @foreach (var ses in @LsCtData)
                                {
                                    <div class="row row-cols-3">
                                        <div class="col-1 text-center">@ses.Elea</div>
                                        <label class="col-1">@ses.Liba</label>
                                        <div class="col-1">
                                            @if (EditingFixRowGuid == ses.Rowguid)
                                            {
                                                <InputSelect id="ntadm" @bind-Value="draftSes.Ityp">
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 33 && ut.Itb == 8 && ut.Gp1 == 1 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                            else
                                            {
                                                <InputSelect id="ntadm" @bind-Value="ses.Ityp" disabled>
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 33 && ut.Itb == 8 && ut.Gp1 == 1 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                        </div>
                                        <div class="col-1">
                                            @if (EditingFixRowGuid == ses.Rowguid)
                                            {
                                                <InputSelect id="ntadm" @bind-Value="draftSes.Jtyp">
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 33 && ut.Itb == 8 && ut.Gp1 == 2 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                            else
                                            {
                                                <InputSelect id="ntadm" @bind-Value="ses.Jtyp" disabled>
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 33 && ut.Itb == 8 && ut.Gp1 == 2 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                        </div>
                                        @* <div class="col-1" style="min-width: 140px;">
                                            @if (EditingFixRowGuid == ses.Rowguid)
                                            {
                                                <InputDate @bind-Value="draftSes.Dval" />
                                            }
                                            else
                                            {
                                                <span>@ses.Dval?.ToString("d")</span>
                                            }
                                        </div>
                                        <div class="col-1" style="min-width: 140px;">
                                            @if (EditingFixRowGuid == ses.Rowguid)
                                            {
                                                <InputDate @bind-Value="draftSes.Fval" />
                                            } else
                                            {
                                                <span>@ses.Fval?.ToString("d")</span>
                                            }
                                        </div> *@
                                        @* <div class="col-md-1">
                                        <InputNumber class="my-input" @bind-Value="ses.Ivala"
                                                     style="width:60px" readonly="@(allEnable ? null: "readonly")" />
                                    </div> *@
                                        <div class="col-1 ms-1">
                                            @if (EditingFixRowGuid == ses.Rowguid)
                                            {
                                                <InputSelect @bind-Value="draftSes.Eta">
                                                    <option class="jchx" value="0">?choisir</option>
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                            else
                                            {
                                                <InputSelect @bind-Value="ses.Eta" disabled>
                                                    <option class="jchx" value="0">?choisir</option>
                                                    @foreach (var tob in LsFixes.Where(ut => ut.Gvars == 32 && ut.Itb == 1 && ut.Elea != 0))
                                                    {
                                                        <option value="@tob.Elea">@tob.Liba</option>
                                                    }
                                                </InputSelect>
                                            }
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-between">
                                            @if (allEnable)
                                            {
                                                <button class="btn btn-sm btn-primary d-flex align-items-center gap-1 me-1 @(allEnable ? "" : "disabled-action")"
                                                        disabled="@(EditingFixRowGuid != null)"
                                                        @onclick="() => PromptGenEdit(ses, 3)">
                                                    <span>✏️</span>
                                                    <span>Edit</span>
                                                </button>
                                                @if (IsFixEditing(ses))
                                                {
                                                    <button class="btn btn-sm btn-success d-flex align-items-center gap-1 me-1" @onclick="() => ConfEdingGen(draftSes, 3)">
                                                        <span>💾</span>
                                                        <span>Save</span>
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary d-flex align-items-center gap-1 me-1" @onclick="() => CancEdingGen(draftSes, 3)">
                                                        <span>❎</span>
                                                        <span>Cancel</span>
                                                    </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </EditForm>
                        </div>
                    </div>
                    @* </div> *@
                </div>
            </EditForm>
            <!-- Modal for ADDING Doc(S/P) -->
            <Modal @ref="patModal" class="modal-wide" Title="@patTitle">
                <BodyTemplate>
                    <div class="p-0">
                        <Grid TItem="Gsgfix"
                              Data="@PaterRows"
                              AllowPaging="false"
                              Responsive="true"
                              AllowRowClick="false">
                            <GridColumns>
                                <GridColumn TItem="Gsgfix" HeaderText="No">
                                    <ChildContent Context="item">
                                        <div @key="item.Rowguid">@item.Elea</div>
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Designation">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputText @bind-Value="item.Liba" placeholder="Designation" />
                                        }
                                        else
                                        {
                                            @item.Liba
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Abrege">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputText @bind-Value="item.Abg" placeholder="abrege" />
                                        }
                                        else
                                        {
                                            @item.Abg
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="Taille">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            <InputNumber @bind-Value="item.Ivala" style="width:60px" placeholder="taille" />
                                        }
                                        else
                                        {
                                            @item.Ivala
                                        }
                                    </ChildContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix">
                                    <HeaderContent>
                                        @if (allEnable)
                                        {
                                            @if (!sinwPater)
                                            {
                                                @* @onclick="() => PreparePoste(curParent)" *@
                                                <button class="btn btn-sm btn-success d-flex align-items-center">
                                                    <span class="me-1">+</span> Ajout
                                                </button>
                                            }
                                        }
                                    </HeaderContent>
                                </GridColumn>
                                <GridColumn TItem="Gsgfix" HeaderText="">
                                    <ChildContent Context="item">
                                        @if (allEnable)
                                        {
                                            @if (sinwPater && item.Xadd1 == -1)
                                            {
                                                @* @onclick="() => IncludePoste(curParent, item)" *@
                                                <button class="btn btn-sm btn-success d-flex align-items-center">
                                                    <span class="me-1">💾</span> Inclure
                                                </button>
                                            }
                                        }
                                    </ChildContent>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                </BodyTemplate>
                <FooterTemplate>
                    <Button class="btn btn-secondary" @onclick="ClosePmodal">Cancel</Button>
                </FooterTemplate>
            </Modal>
        </Authorized>
    </AuthorizeView>
}
<style>
    .my-input::placeholder {
        font-family: 'Courier New', Courrier, monospace;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        color: #ff6600;
    }

    .padding-0 {
        padding-right: 0;
        padding-left: 0;
    }

    .table {
        border: 1px yellow;
        font-size: 15px;
        border-collapse: collapse;
        border-spacing: 0;
    }

        .table tr {
            height: 40px;
            padding: 0px;
            margin-top: -5px;
            border-left: 1px solid;
            border-bottom: 1px solid;
        }

        .table thead tr {
            height: 30px;
            font-weight: bold;
            font-style: italic;
        }

    .chkinput {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .chklabel {
        display: block;
    }

    .input-group-text {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .row-cols-7 > * {
        flex: 0 0 auto;
        width: 14.2857142857%; /* 100/7 */
    }

    .row-cols-8 > * {
        flex: 0 0 auto;
        width: 12.25%; /* 100/8 */
    }

    .btnhz {
        display: flex;
        justify-content: center;
    }

    .btsml {
        size: 15px;
        font-size: xx-small;
    }

    .btzi {
        display: inline-block;
    }

    .ermes {
        color: rgb(255, 127, 127);
    }
</style>
@code {
    private bool isLoading = true;
    private bool allEnable = false;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public int Chxmenu { get; set; }
    [Parameter]
    public MyODataContext curODContext { get; set; }
    [Parameter]
    public Gxorga curOrga { get; set; }
    [Parameter]
    public MyShareVars toChild { get; set; }

    private bool sEditing = false;
    private bool isDeleting = false;
    private bool isAdding = false;

    private EditContext edOrgContext;
    private EditContext edSesContext;
    private bool isDocEditing = false;

    public string Title { get; set; }
    public string _UserId = "";
    public int _UorgId = 0;
    private Userbag usrBag = new Userbag();
    //initialisat

    private ClaimsPrincipal authUser;
    private bool isAuthenticated = false;
    private bool isOwner = false;

    private List<Grole> LsDaRoles = new();
    private List<Gsauth> LsDaAuths = new();

    private Grole curRole = new();
    private Dictionary<int, bool> EdState = new Dictionary<int, bool>();
    private IEnumerable<Gxorga> LsOrgas = new List<Gxorga>();
    private List<Gsgfix> LsTbData = new();
    private List<Gsgfix> LsDsData = new();
    private List<Gsgfix> LsDpData = new();
    private List<Gsgfix> LsCtData = new();

    private List<Gpfixe> LsFixes = new();
    private List<Gpfixe> LsTgpes = new();
    private List<Gpvar> LsVars = new();
    //public List<Gpvar> TbElems { get; set; }

    private int Selfic = 0;
    private int selTyp = 0;
    private int IBastyp = 0;
    private int IDestyp = 0;

    //pere-editing/adding/deleting
    private bool isFixValid = false;
    private Gsgfix nwPater = new();
    private Guid? AddingFixRowGuid; //pmodal
    private bool IsFixAdding(Gsgfix item) => AddingFixRowGuid == item.Rowguid;
    private bool IsFixEditing(Gsgfix item) => EditingFixRowGuid == item.Rowguid;
    private Guid? EditingFixRowGuid;
    private Guid? ConfirmingFixDeleteRowGuid;
    //private Dictionary<Guid, Gsgfix> _originalFixSnapshots = new();
    Dictionary<int, Gsgfix> fxparentMapByPseq = new();
    private Dictionary<int, ObservableCollection<Gsgfix>> gfixsMap = new();
    //pere
    private ObservableCollection<Gsgfix> PaterRows => gfixsMap.TryGetValue(curOrga.Idorg, out var rows)
    ? new ObservableCollection<Gsgfix>(rows)
    : new ObservableCollection<Gsgfix>();
    //data
    public ObservableCollection<Gsgfix> MyDaRubrs { get; set; } = new();
    public ObservableCollection<Gsglne> MyDaChilds { get; set; } = new();

    private bool sinwPater = false;
    private Modal patModal;
    private string patTitle = "";

    private ProgressBar progressBar;
    private bool isSFilteringEnabled = false;
    private bool isPFilteringEnabled = false;
    private bool isAFilteringEnabled = false;
    private string Imessage = "", Ierror = "";
    private bool chkAll = false;

    private Userbag _usrBag = new Userbag();

    private int? Siphone = 0;

    private bool isDisabled = true;
    private bool selDisabled => allEnable ? false : true;
    private bool hasbeenModified = false;
    private string DisabledClass => isDisabled ? "disabled" : "";

    private List<MyRolTable> _inRoles = new List<MyRolTable>();
    private List<Apirole> _invRoles = new List<Apirole>();

    //variables Man
    Gsgfix draftMan = new();
    Gsgfix? editingMan = null;
    //variables Lne
    Gsgfix draftLne = new();
    Gsgfix? editingLne = null;
    //variables Ses
    Gsgfix draftSes = new();
    Gsgfix? editingSes = null;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        isAuthenticated = toChild.isAuthenticated;
        authUser = toChild.authUser;
        if (!isAuthenticated)
        {
            Imessage = "Erreur, Utilisateur non authentifie";
            return;
        }
        LsVars = toChild.LsVars;
        LsFixes = toChild.LsFixes;

        //LsPlans = toChild.LsPlans;
        //LsTabls = toChild.LsTabls.ToList();
        //LsSites = toChild.LsSites;
        //_lgcdu = 3;
        //var noslims = LsVars.Where(uv => uv.Idhie == 0 && uv.Gvars == 21 && uv.Itb == 1 && uv.Elea == 1);
        //if (noslims.Any()) _lgcdu = noslims.FirstOrDefault().Ivala;
        await ChargeParentData();
        _navmanager.LocationChanged += OnLocationChanged;
        Console.WriteLine("Authentication ENTREE");
        isLoading = false;
    }
    private async Task ChargeParentData()
    {
        if (curOrga != null)
        {
            Console.WriteLine("curOrga charge");
            var json = await _cliemanager.SendRequestAsync("AUTHClient", HttpMethod.Get, "lgauth/allroles");
            var result = JsonConvert.DeserializeObject<List<Grole>>(json);
            if (result.Any())
            {
                Console.WriteLine($"Nb Roles : {result.Count}");
                // LsDaRoles = result.OrderBy(uv => uv.Level).ToList();
                LsDaRoles = result.ToList();
            }
            else
            {
                Console.WriteLine("Nb Roles : null");
                LsDaRoles = new();
            }
            //LsDsData = curOrga.Gsgfixes.Where(uv => uv.Gvars == 3 && uv.Itb == 1 && uv.Elea >= 1).ToList();
            //LsDpData = curOrga.Gsgfixes.Where(uv => uv.Gvars == 3 && uv.Itb == 2 && uv.Elea >= 1).ToList();
            //LsCtData = curOrga.Gsgfixes.Where(uv => uv.Gvars == 37 && uv.Itb == 1 && uv.Elea != 0).ToList();
            //Console.WriteLine($"nb gfixes : {curOrga.Gsgfixes.Count}");
            //Console.WriteLine($"nb struct : {LsDsData.Count}");
            //Console.WriteLine($"nb pieces : {LsDpData.Count}");
            //edSesContext = new EditContext(curOrga);
            //edSesContext.OnFieldChanged += HandleFieldChanged;
        }
    }
    void OnRoleRowClick(GridRowEventArgs<Grole> args)
    {
        Console.WriteLine($"OnPlanRowClick Triggered : {args.Item.Elea}");
        curRole = args.Item; //get gRubsMap
        Console.WriteLine($"X1seq {curRole.Elea}");
        if (curRole == null || curRole.Elea == 0)
        {
            return;
        }
        StateHasChanged();
    }
    //manage SAVING
    public async Task EdtAll()
    {
        allEnable = true;
        isDocEditing = false;
        EditingFixRowGuid = null;
    }
    public async Task CncAll()
    { //reload to annul AddObject/UpdateObject/DeleteObjet
        Imessage = "Annulation Operations, patience...";
        allEnable = false;
        isDocEditing = false;
        EditingFixRowGuid = null;
        Imessage = "";
    }
    // public async Task SavAll()
    // {
    //     Imessage = "Enregistrement Operations, patience...";
    //     if (isDocEditing)
    //     {
    //         curODContext.UpdateObject<Gxorga>(curOrga);
    //         isDocEditing = false;
    //     }
    //     allEnable = false;
    //     EditingFixRowGuid = null;
    //     await curODContext.SaveDataAsync();
    // }
    void OpenAddPater(int tydoc)
    {
        int parentKey = Convert.ToInt32(curOrga.Idorg);
        if (gfixsMap.ContainsKey(parentKey))
        {
            gfixsMap.Remove(parentKey); // Clear previous children for clean modal state
        }

        PrepareAddPater(tydoc);

        patTitle = $"{curOrga.Idorg} - {curOrga.Raison} (contenu table en creation)";
        patModal.ShowAsync();
    }
    void PrepareAddPater(int tydoc)
    {
        isFixValid = false;
        if (!allEnable)
        {
            Imessage = "REFUS, modification inacceptable";
            return;
        }
        var parentId = curOrga.Idorg;
        // Make sure the gfixsMap has an entry for this parent
        if (!gfixsMap.ContainsKey(parentId))
        {
            gfixsMap[parentId] = new ObservableCollection<Gsgfix>();
        }
        var existingGsgfixs = curOrga.Gsgfixes.Where(ln => ln.Idorg == parentId && ln.Gvars == 3 && ln.Itb == tydoc && ln.Elea != 0) ?? new DataServiceCollection<Gsgfix>();
        var mapGsgfixs = gfixsMap[parentId];
        int maxEleaFromParent = existingGsgfixs.Any() ? (existingGsgfixs.Max(r => r?.Elea) ?? 10) : 10;
        int maxEleaFromMap = mapGsgfixs.Any() ? (mapGsgfixs.Max(r => r?.Elea) ?? 10) : 10;
        int maxElea = Math.Max(10, Math.Max(maxEleaFromParent, maxEleaFromMap));
        int nextElea = maxElea + 1;
        Console.WriteLine($"current newPoste zone no : {nextElea} et parent act no : {curOrga.Idorg}");
        var newPat = CreateNewPater(nextElea, tydoc);
        gfixsMap[parentId].Insert(0, newPat);
        AddingFixRowGuid = newPat.Rowguid;
        StateHasChanged();
        sinwPater = true;
    }

    Gsgfix CreateNewPater(int nextSeq, int tydoc)
    {
        if (tydoc == 1)
        {//docS
            return new Gsgfix
            {
                Rowguid = Guid.NewGuid(),
                Idorg = curOrga.Idorg,
                Gvars = 3,
                Itb = 1,
                Gtyp = 1,
                Etyp = 1,
                Elea = nextSeq,
                Eta = 1,
                Xadd1 = -1
            };
        }
        else if (tydoc == 2)
        {//docP
            return new Gsgfix
            {
                Rowguid = Guid.NewGuid(),
                Idorg = curOrga.Idorg,
                Gvars = 3,
                Itb = 2,
                Gtyp = 2,
                Etyp = 1,
                Elea = nextSeq,
                Eta = 1,
                Xadd1 = -1
            };
        }
        else
        {
            return new Gsgfix();
        }
    }

    void IncludePater(Gsgfix mygf)
    {
        // Use parent Idrub as key to glnesMap dictionary
        var parentId = curOrga.Idorg;
        if (!curODContext.IsEntityTracked(mygf) && isFixValid)
        {
            mygf.Xadd1 = 0;
            curODContext.AddObject("Gsgfixes", mygf);
            if (!hasbeenModified) hasbeenModified = true;
            // Make  glnesMap has the parent key initialized
            if (!gfixsMap.ContainsKey(parentId))
            {
                gfixsMap[parentId] = new ObservableCollection<Gsgfix>();
            }
            // Add only if the poste with same Rowguid not already present
            if (!gfixsMap[parentId].Any(p => p.Rowguid == mygf.Rowguid))
            {
                gfixsMap[parentId].Add(mygf);
            }
            sinwPater = false;
            AddingFixRowGuid = null;
            StateHasChanged();
            Imessage = "Success... parent ajoute";
        }
        else
        {
            mygf.Xadd1 = 0;
            Imessage = "Deja ajoute";
        }
        sinwPater = false;
    }

    void ClosePmodal()
    { // RAZ des visions
        patTitle = "";
        patModal.HideAsync();
    }
    //ACTIONS - Parents

    //GTfl -- EDITING
    void PromptGenEdit(Gsgfix myafil, int orig)
    {
        myafil.Xedt1 = 0;
        if (orig == 1)
        {
            editingMan = myafil;
            draftMan = new Gsgfix
            {
                Rowguid = myafil.Rowguid,
                Idorg = myafil.Idorg,
                Gvars = myafil.Gvars,
                Itb = myafil.Itb,
                Liba = myafil.Liba,
                Abg = myafil.Abg,
                Ivala = myafil.Ivala,
                Gtyp = myafil.Gtyp,
                Etyp = myafil.Etyp,
                Elea = myafil.Elea,
                Eta = myafil.Eta,
                //Xadd1 = myafil.Xadd1
            };
            //init edition
            myafil.Xedt1 = -1;
            EditingFixRowGuid = myafil.Rowguid;
            //isEdingMan = true;
        }
        else if (orig == 2)
        {
            editingLne = myafil;
            draftLne = new Gsgfix
            {
                Rowguid = myafil.Rowguid,
                Idorg = myafil.Idorg,
                Gvars = myafil.Gvars,
                Itb = myafil.Itb,
                Liba = myafil.Liba,
                Abg = myafil.Abg,
                Ivala = myafil.Ivala,
                Gtyp = myafil.Gtyp,
                Etyp = myafil.Etyp,
                Totyp = myafil.Totyp,
                Elea = myafil.Elea,
                Eta = myafil.Eta
            };
            //init edition
            myafil.Xedt1 = -1;
            EditingFixRowGuid = myafil.Rowguid;
        }
        else if (orig == 3)
        {
            editingSes = myafil;
            draftSes = new Gsgfix
            {
                Rowguid = myafil.Rowguid,
                Idorg = myafil.Idorg,
                Gvars = myafil.Gvars,
                Itb = myafil.Itb,
                Liba = myafil.Liba,
                Abg = myafil.Abg,
                Ityp = myafil.Ityp,
                Jtyp = myafil.Jtyp,
                Dval = myafil.Dval,
                Fval = myafil.Fval,
                Ivala = myafil.Ivala,
                Gtyp = myafil.Gtyp,
                Etyp = myafil.Etyp,
                Totyp = myafil.Totyp,
                Elea = myafil.Elea,
                Eta = myafil.Eta
            };
            //init edition
            myafil.Xedt1 = -1;
            EditingFixRowGuid = myafil.Rowguid;
        }
    }
    void CancEdingGen(Gsgfix myafil, int orig)
    {
        myafil.Xedt1 = 0;
        if (orig == 1)
        {
            //isEdingMan = false;
            editingMan = null;
            draftMan = null;
        }
        else if (orig == 2)
        {
            //isEdingLne = false;
            editingLne = null;
            draftLne = null;
        }
        else if (orig == 3)
        {
            //isEdingLne = false;
            editingSes = null;
            draftSes = null;
        }
        EditingFixRowGuid = null;
    }
    void ConfEdingGen(Gsgfix myafil, int orig)
    {
        if (orig == 1)
        {
            if (editingMan is not null)
            {
                editingMan.Rowguid = myafil.Rowguid;
                editingMan.Idorg = myafil.Idorg;
                editingMan.Gvars = myafil.Gvars;
                editingMan.Itb = myafil.Itb;
                editingMan.Liba = myafil.Liba;
                editingMan.Abg = myafil.Abg;
                editingMan.Ivala = myafil.Ivala;
                editingMan.Gtyp = myafil.Gtyp;
                editingMan.Etyp = myafil.Etyp;
                editingMan.Elea = myafil.Elea;
                editingMan.Eta = myafil.Eta;
                if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingMan))
                {
                    curODContext.AttachTo("Gsgfixes", editingMan);
                }
                curODContext.UpdateObject(editingMan);
                if (!hasbeenModified) hasbeenModified = true;
            }
            myafil.Xedt1 = 0;
            //isEdingMan = false;
            editingMan = null;
        }
        else if (orig == 2)
        {
            if (editingLne is not null)
            {
                editingLne.Rowguid = myafil.Rowguid;
                editingLne.Idorg = myafil.Idorg;
                editingLne.Gvars = myafil.Gvars;
                editingLne.Itb = myafil.Itb;
                editingLne.Liba = myafil.Liba;
                editingLne.Abg = myafil.Abg;
                editingLne.Ivala = myafil.Ivala;
                editingLne.Gtyp = myafil.Gtyp;
                editingLne.Etyp = myafil.Etyp;
                editingLne.Totyp = myafil.Totyp;
                editingLne.Elea = myafil.Elea;
                editingLne.Eta = myafil.Eta;
                if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingLne))
                {
                    curODContext.AttachTo("Gsgfixes", editingLne);
                }
                curODContext.UpdateObject(editingLne);
                if (!hasbeenModified) hasbeenModified = true;
            }
            myafil.Xedt1 = 0;
            //isEdingLne = false;
            editingLne = null;
        }
        else if (orig == 3)
        {
            Console.WriteLine($"PRET POUR ENREGISTREMENT : {editingSes}");
            if (editingSes is not null)
            {
                Console.WriteLine("ENTREE DANS EDITINGSES");
                editingSes.Rowguid = myafil.Rowguid;
                editingSes.Idorg = myafil.Idorg;
                editingSes.Gvars = myafil.Gvars;
                editingSes.Itb = myafil.Itb;
                editingSes.Liba = myafil.Liba;
                editingSes.Abg = myafil.Abg;
                editingSes.Ityp = myafil.Ityp;
                editingSes.Jtyp = myafil.Jtyp;
                editingSes.Dval = myafil.Dval;
                editingSes.Fval = myafil.Fval;
                editingSes.Ivala = myafil.Ivala;
                editingSes.Gtyp = myafil.Gtyp;
                editingSes.Etyp = myafil.Etyp;
                editingSes.Totyp = myafil.Totyp;
                editingSes.Elea = myafil.Elea;
                editingSes.Eta = myafil.Eta;
                if (!curODContext.GetAllTrackedEntities().Any(e => e.Entity == editingSes))
                {
                    curODContext.AttachTo("Gsgfixes", editingSes);
                }
                curODContext.UpdateObject(editingSes);
                Console.WriteLine($"SESSIONS ENTITY SAVED by UpdateObject");
                //LsCtData = new(LsCtData); //reloaded data
                if (!hasbeenModified) hasbeenModified = true;
            }
            myafil.Xedt1 = 0;
            //isEdingMan = false;
            editingSes = null;
        }
        if (orig == 1 || orig == 2 || orig == 3)
        {

        }
        EditingFixRowGuid = null;
    }

    private void PromptFixDelete(Gsgfix item)
    {
        ConfirmingFixDeleteRowGuid = item.Rowguid;
    }
    private void CancelFixDelete()
    {
        ConfirmingFixDeleteRowGuid = null;
    }
    private void ConfirmFixDelete(Gsgfix row)
    {
        var parent = curOrga;
        if (parent == null)
            return;
        Console.WriteLine($"del parent {parent.Raison} and row id : {parent.Idorg}");
        if (!gfixsMap.TryGetValue(parent.Idorg, out var coll))
            return;
        Console.WriteLine($"glnesMap {gfixsMap.Count}");
        // For existing rows: mark for OData deletion and remove locally
        if (curODContext.IsEntityTracked(row))
        {
            curODContext.DeleteObject(row); // Mark for deletion in OData context
            if (!hasbeenModified) hasbeenModified = true;
        }
        else
        {
            curODContext.Detach(row); // Mark for deletion in OData context
        }
        coll.Remove(row);                       // Remove for UI update
        curOrga.Gsgfixes.Where(ln => ln.Idorg == parent.Idorg).ToList().Remove(row);             // Remove from tracked collection

        EditingFixRowGuid = null;
        StateHasChanged(); // Notify UI about changes
    }

    private void ToggleSFiltering()
    {
        isSFilteringEnabled = !isSFilteringEnabled;
    }
    private void TogglePFiltering()
    {
        isPFilteringEnabled = !isPFilteringEnabled;
    }
    private void ToggleAFiltering()
    {
        isAFilteringEnabled = !isAFilteringEnabled;
    }
    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        isDocEditing = true;
        Console.WriteLine($"Field edited: {e.FieldIdentifier.FieldName}");
        // Place your logic here when a field is edited
    }

    private void Chx1bas(int uba)
    {
        int uGvu = 0;
        if (uba == 6) //tiers
        {
            uGvu = 4;
        }
        if (uba == 7) //produit
        {
            uGvu = 14;
        }
        // Imessage = uGvu.ToString();
        LsTbData = curOrga.Gsgfixes.Where(ug => ug.Gvars == uGvu && ug.Itb == 1 && ug.Gtyp == selTyp && ug.Xseq >= 1).ToList();
    }
    private void OnSelficChanged(int newValue)
    {
        Selfic = newValue;
        Selafil(1); // Or whatever logic you want
    }
    private void Selafil(int axh)
    {

    }
    private void OnCheckboxChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e, Gsglne scol, string propertyName)
    {
        // Example: toggle the property based on the checkbox value
        bool isChecked = e.Value is bool value && value;
        switch (propertyName)
        {
            case nameof(scol.Jtyp):
                scol.Jtyp = isChecked ? 1 : 0;
                break;
            case nameof(scol.Ktyp):
                scol.Ktyp = isChecked ? 1 : 0;
                break;
                // Add cases for other properties as needed
        }
        // Optionally, trigger any additional logic or state updates here
    }
    private void On2CheckboxChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e, Gsgfix scol, string propertyName)
    {
        // Example: toggle the property based on the checkbox value
        bool isChecked = e.Value is bool value && value;
        switch (propertyName)
        {
            case nameof(scol.Jtyp):
                scol.Jtyp = isChecked ? 1 : 0;
                break;
            case nameof(scol.Ktyp):
                scol.Ktyp = isChecked ? 1 : 0;
                break;
                // Add cases for other properties as needed
        }
        // Optionally, trigger any additional logic or state updates here
    }
    void HandleChecked(Gsgfix scol)
    {
        // Additional logic here

    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        allEnable = false;
        bool reussi = SaveCurEntities().Result;
        Console.WriteLine($"Success... SAVED SESSIONS");
    }
    public async Task<bool> SaveCurEntities()
    {
        try
        {
            if (hasbeenModified)
            {
                await curODContext.SaveDataAsync();
                Console.WriteLine("Saved SUCCESS");
            }
            //var wrkplns = curOrga.Plngens.Where(pl => pl.Ptyp == 3 && pl.Totyp == IMyAtr && pl.Tovers == 1).ToList();
            //MyDaPlans = wrkplns;
            StateHasChanged();
            return true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Saved ISSUE {ex.Message}");
            //Alert($"ECHEC Entities not SAVED");
            return false;
        }
    }
}
